Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Rename some templates for consistency
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/Brinstar.json
  randovania/games/zero_mission/logic_database/Brinstar.txt
  randovania/games/zero_mission/logic_database/Chozodia.json
  randovania/games/zero_mission/logic_database/Chozodia.txt
  randovania/games/zero_mission/logic_database/Crateria.json
  randovania/games/zero_mission/logic_database/Crateria.txt
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/Norfair.json
  randovania/games/zero_mission/logic_database/Norfair.txt
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
  randovania/games/zero_mission/logic_database/Tourian.json
  randovania/games/zero_mission/logic_database/Tourian.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

remove zm fixtures from global conftest
  test/conftest.py
Owners: none

add fixme marker to game export dialog
  randovania/games/zero_mission/gui/dialog/game_export_dialog.py
Owners: none

simplify reading file for mzm validator
  randovania/games/zero_mission/gui/dialog/game_export_dialog.py
Owners: none

fix more template usage
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/Brinstar.json
  randovania/games/zero_mission/logic_database/Brinstar.txt
  randovania/games/zero_mission/logic_database/Chozodia.json
  randovania/games/zero_mission/logic_database/Chozodia.txt
  randovania/games/zero_mission/logic_database/Crateria.json
  randovania/games/zero_mission/logic_database/Crateria.txt
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/Norfair.json
  randovania/games/zero_mission/logic_database/Norfair.txt
  randovania/games/zero_mission/logic_database/Ridley.txt
  randovania/games/zero_mission/logic_database/Tourian.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

Update exporter
  randovania/games/prime_hunters/exporter/game_exporter.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
  test/games/prime_hunters/exporter/test_prime_hunters_game_exporter.py
  test/games/prime_hunters/gui/test_prime_hunters_game_export_dialog.py
Owners: none

Update `item_type` for Missile Launcher and fix tests
  randovania/games/prime_hunters/logic_database/header.json
  randovania/games/prime_hunters/pickup_database/pickup-database.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Generator: Fix generated pickups not being considered for logical placement
  CHANGELOG.md
  randovania/resolver/bootstrap.py
Owners: none

Fix types
  randovania/resolver/bootstrap.py
Owners: none

Use the exit portal data for High Ground -> Magma Drop
  randovania/games/prime_hunters/logic_database/Alinos.json
  randovania/games/prime_hunters/logic_database/Alinos.txt
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Bump OPHR to 0.6.0
  pyproject.toml
  uv.lock
Owners: none

Dread: Randomizer specific save slots
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/gui/generated/dread_cosmetic_patches_dialog_ui.py
  randovania/games/dread/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/games/dread/layout/dread_cosmetic_patches.py
Owners: none

Improve formatting of hints
  randovania/games/prime_hunters/exporter/hint_namer.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Remove mention of Guardians from color shuffle
  randovania/games/prime_hunters/gui/generated/prime_hunters_cosmetic_patches_dialog_ui.py
  randovania/games/prime_hunters/gui/ui_files/prime_hunters_cosmetic_patches_dialog.ui
Owners: none

Bump OPHR to 0.7.0
  pyproject.toml
  uv.lock
Owners: none

fix starting supers and add hash words to title
  randovania/games/zero_mission/exporter/patch_data_factory.py
  randovania/games/zero_mission/logic_database/header.json
  test/test_files/patcher_data/zero_mission/zero_mission/starter_preset/world_1.json
Owners: none

add room names to pdf
  randovania/games/zero_mission/exporter/patch_data_factory.py
  randovania/games/zero_mission/logic_database/Chozodia.json
  randovania/games/zero_mission/logic_database/Chozodia.txt
  test/test_files/patcher_data/zero_mission/zero_mission/starter_preset/world_1.json
Owners: none

Update game_export_dialog.py
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
Owners: none

add credits text to pdf
  randovania/games/zero_mission/exporter/patch_data_factory.py
  test/test_files/patcher_data/zero_mission/zero_mission/starter_preset/world_1.json
Owners: none

hab deck update tricks
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

update changelog
  CHANGELOG.md
Owners: none

use appropriate numerical types in binary_data.py
  randovania/cli/database.py
  randovania/game_description/binary_data.py
  randovania/games/default_data.py
  randovania/games/prime2/logic_database/header.json
  test/game_description/test_binary_data.py
  test/test_files/prime_data_as_binary.bin
Owners: none

fix mypy
  pyproject.toml
  randovania/game_description/binary_data.py
Owners: none

Bump patcher
  pyproject.toml
  uv.lock
Owners: none

Add even more revision support
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
Owners: none

Comment
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
Owners: none

Bump OPHR to v0.8.0
  pyproject.toml
  uv.lock
Owners: none

Update Changelog
  CHANGELOG.md
Owners: none

Fixed logic in MSR Area 6 Poisonous Tunnel accidentally using "or" instead of "and"
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
Owners: @randovania/metroid-samus-returns-db

Echoes: Add Dark and Light Ammo Expansions to dark- and light-aligned
  CHANGELOG.md
  randovania/games/prime2/game_data.py
  randovania/games/prime2/pickup_database/pickup-database.json
Owners: none

Dread: Fix overrides for Shutter Gates
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Dread: Update expected seed hash
  randovania/games/dread/game_data.py
Owners: none

Dread: Add connection back to event at end of chain reaction
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

- bumped ODR, MSRR, MEDS to latest releases - Changed option name to "Unique Save Slots" - Changed option text to (hopefully) better explain - updated tests
  CHANGELOG.md
  pyproject.toml
  randovania/games/dread/gui/generated/dread_cosmetic_patches_dialog_ui.py
  randovania/games/dread/gui/ui_files/dread_cosmetic_patches_dialog.ui
  test/test_files/patcher_data/dread/dread/all_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/cosmetic_2.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
  uv.lock
Owners: none

title_screen_text
  randovania/games/prime2/exporter/game_exporter.py
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Title
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Don't extract ISO
  randovania/games/prime2/exporter/game_exporter.py
Owners: none

wip
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

wip
  randovania/games/prime2/exporter/game_exporter.py
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

bumped py-tegra-swizzle
  uv.lock
Owners: none
