Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Minor improvements
  randovania/generator/old_generator_reach.py
Owners: none

Adjust chozo ghost requirements
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

Fix type
  randovania/generator/old_generator_reach.py
Owners: none

Fix ValidatorWidgetResolverLogger for world graph
  randovania/resolver/logging.py
  test/gui/widgets/test_game_validator_widget.py
Owners: none

Swap to set.update
  randovania/generator/old_generator_reach.py
Owners: none

World Graph: cache patched requirements
  randovania/graph/world_graph.py
Owners: none

Address reviews
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

Revise with some things i've forgotten
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Totem Access: Add requirements for plazmites
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Prime: Add wallboost escape to alcove.
  CHANGELOG.md
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Owners: @randovania/metroid-prime-db

Planets (Zebeth): Update patch_data_factory to reflect changes from v1.0.1
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Owners: none

Dread: Adjust some logic to make actions less dangerous
  CHANGELOG.md
  randovania/games/dread/game_data.py
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Address toaster review
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

fix tests
  randovania/games/prime1/game_data.py
Owners: none

Add beginner combat health for elite pirates
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

address some reviews
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Am2R: guardian test
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
Owners: @randovania/am2r-db

Update dependency planets-yapr to v1.0.1
  pyproject.toml
  uv.lock
Owners: none

Add Create New Preset button to preset selection UI
  randovania/gui/generated/select_preset_widget_ui.py
  randovania/gui/ui_files/select_preset_widget.ui
  randovania/gui/widgets/select_preset_widget.py
Owners: none

change + symbol
  randovania/gui/generated/select_preset_widget_ui.py
  randovania/gui/ui_files/select_preset_widget.ui
Owners: none

added non check to make sure preset is available
  randovania/gui/widgets/select_preset_widget.py
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Add type annotations and None check for preset customization
  randovania/gui/widgets/select_preset_widget.py
Owners: none

typing
  randovania/gui/widgets/select_preset_widget.py
Owners: none

borrowed logic from _on_customize_preset instead of duplicating it
  randovania/gui/widgets/select_preset_widget.py
Owners: none

made button open customize menu, added + to button
  randovania/gui/generated/select_preset_widget_ui.py
  randovania/gui/ui_files/select_preset_widget.ui
  randovania/gui/widgets/select_preset_widget.py
Owners: none

fixed changelog
  CHANGELOG.md
Owners: none

add expression to show parent_uuid can be None
  randovania/gui/widgets/select_preset_widget.py
Owners: none

Adress more reviews
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

add typting without redeclaring variable
  randovania/gui/widgets/select_preset_widget.py
Owners: none

Planets (Zebeth): Cosmetic patches support (+ fix of existing ones)
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/planets_zebeth/gui/generated/planets_zebeth_cosmetic_patches_dialog_ui.py
  randovania/games/planets_zebeth/gui/ui_files/planets_zebeth_cosmetic_patches_dialog.ui
  randovania/games/planets_zebeth/layout/planets_zebeth_cosmetic_patches.py
Owners: none

Planets (Zebeth): Fix uic test
  randovania/games/planets_zebeth/gui/generated/planets_zebeth_cosmetic_patches_dialog_ui.py
Owners: none

Planets (Zebeth): Make use of set_combo_with_value
  randovania/games/planets_zebeth/gui/dialog/cosmetic_patches_dialog.py
Owners: none

Planets (Zebeth): Remove PlanetsZebethRoomGuiType.get_index
  randovania/games/planets_zebeth/layout/planets_zebeth_cosmetic_patches.py
Owners: none

Watery Hall: Redo connection to missile pickup
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Update prime1 seed hash
  randovania/games/prime1/game_data.py
Owners: none

Planets (Zebeth): QoL patches support
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/generator/bootstrap.py
  randovania/games/planets_zebeth/gui/generated/preset_planets_zebeth_patches_ui.py
  randovania/games/planets_zebeth/gui/preset_settings/planets_zebeth_patches_tab.py
  randovania/games/planets_zebeth/gui/ui_files/preset_planets_zebeth_patches.ui
  randovania/games/planets_zebeth/layout/planets_zebeth_configuration.py
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.txt
  randovania/games/planets_zebeth/presets/starter_preset.rdvpreset
  randovania/games/planets_zebeth/presets/starter_preset_shuffle_keys.rdvpreset
  test/test_files/log_files/planets_zebeth/starter_preset.rdvgame
  test/test_files/log_files/planets_zebeth/starter_preset_shuffle_keys.rdvgame
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Owners: none

Remove support for non-world-graph
  pyproject.toml
  randovania/game_description/game_description.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/action.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/filler_logging.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/generator_reach.py
  randovania/generator/hint_distributor.py
  randovania/generator/hint_state.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
  randovania/graph/state.py
  randovania/gui/qt.py
  randovania/gui/tracker_window.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/layout/base/available_locations.py
  randovania/resolver/bootstrap.py
  randovania/resolver/damage_state.py
  randovania/resolver/energy_tank_damage_state.py
  randovania/resolver/hint_state.py
  randovania/resolver/logging.py
  randovania/resolver/logic.py
  randovania/resolver/no_op_damage_state.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  test/conftest.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_player_state.py
  test/generator/filler/test_retcon.py
  test/generator/filler/test_runner.py
  test/generator/test_generator_reach.py
  test/generator/test_retcon_filler_integration.py
  test/resolver/test_logging.py
  test/resolver/test_state.py
  tools/bulk_move_nodes.py
Owners: none

Improve _progressive_chain_info for WorldGraph
  randovania/resolver/resolver.py
Owners: none

Remove use_world_graph argument
  randovania/cli/commands/batch_distribute.py
  randovania/cli/commands/benchmark.py
  randovania/cli/commands/expected_seed_hash.py
  randovania/cli/commands/generate.py
  randovania/cli/commands/validate.py
  randovania/discord_bot/preset_lookup.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/gui/game_details/game_details_window.py
  randovania/gui/generated/main_window_ui.py
  randovania/gui/main_window.py
  randovania/gui/tracker_window.py
  randovania/gui/ui_files/main_window.ui
  randovania/gui/widgets/game_validator_widget.py
  randovania/interface_common/generator_frontend.py
  randovania/interface_common/options.py
  randovania/resolver/bootstrap.py
  randovania/resolver/resolver.py
  test/cli/commands/test_batch_distribute.py
  test/cli/commands/test_benchmark.py
  test/cli/commands/test_generate_cli.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_runner.py
  test/generator/test_generator.py
  test/generator/test_generator_reach.py
  test/gui/widgets/test_game_validator_widget.py
  test/interface_common/test_generator_frontend.py
  test/layout/test_game_patches_serializer.py
  test/resolver/test_bootstrap.py
  test/resolver/test_logging.py
  test/resolver/test_resolver.py
Owners: none
