Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

kraid trickless requirements
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
Owners: none

Create test_editor.py
  test/gui/dialog/connections_editor/test_editor.py
Owners: none

Avoid name collision during test collection
  test/gui/dialog/connections_editor/test_requirement_editor.py
Owners: none

Rename templates to start with verb
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

Add Fight (X) template comments
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

Fusion: Enable OpenHatchLockRando misc resource
  CHANGELOG.md
  randovania/games/fusion/generator/bootstrap.py
Owners: none

Add test case
  test/games/fusion/generator/test_fusion_bootstrap.py
Owners: none

remove print, remove duplication
  test/games/fusion/generator/test_fusion_bootstrap.py
Owners: none

Fix windows installer version
  .github/workflows/build-test-publish.yml
Owners: none

Bump OPHR to 0.13.1
  pyproject.toml
  uv.lock
Owners: none

Change Nintendont executor to API 2
  randovania/game_connection/executor/nintendont_executor.py
Owners: none

fix tests
  test/game_connection/executor/test_nintendont_executor.py
Owners: none

Fix fake_nintendont_server
  tools/fake_nintendont_server.py
Owners: none

randovania development update-committed
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/logic_database/header.json
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
Owners: none

fix changelog
  CHANGELOG.md
Owners: none

Dread: Change other side of Sensor Locks to new Door type
  randovania/games/dread/assets/migration_data.json
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
  randovania/layout/description_migration.py
Owners: @randovania/metroid-dread-db

Dread: Add door types to indirect_change_from
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Owners: @randovania/metroid-dread-db

MSR: Add door types to indirect_change_from
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Owners: @randovania/metroid-samus-returns-db

Add integrity check verifying two sided change from are documented
  randovania/game_description/integrity_check.py
Owners: none

Door Rando: Add field for dock types being indirectly changed from
  randovania/game_description/binary_data.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock.py
  randovania/game_description/pretty_print.py
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/blank/logic_database/header.json
  randovania/games/blank/logic_database/header.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
  randovania/games/prime2/logic_database/header.json
  randovania/games/prime2/logic_database/header.txt
  randovania/games/prime2_opr/logic_database/header.json
  randovania/games/prime2_opr/logic_database/header.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
Owners: @randovania/am2r-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-samus-returns-db

Generator: Use indirect_change_from to check if front of node is needed
  randovania/game_description/db/dock.py
Owners: none

Add changelog entries
  CHANGELOG.md
Owners: none

Bump to new nintendont version
  tools/create_release.py
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Update to nintendont v10
  tools/create_release.py
Owners: none

Don't connect to HBC when connection gets refused
  CHANGELOG.md
  randovania/game_connection/executor/nintendont_executor.py
Owners: none

Better handle invalid user trackers.json
  randovania/gui/item_tracker/auto_tracker_window.py
Owners: none

Planets (Zebeth): Added test for creating pickups in PatchDataFactory
  test/games/planets_zebeth/exporter/test_planets_zebeth_patch_data_factory.py
Owners: none

Planets (Zebeth): Fixed PDF error about pickup quantity
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Planets (Zebeth): Removed PDF test + added a preset with Nothing to tests
  test/games/planets_zebeth/exporter/test_planets_zebeth_patch_data_factory.py
  test/test_files/log_files/planets_zebeth/starter_preset_with_nothing.rdvgame
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_with_nothing/world_1.json
Owners: none

Planets (Zebeth): Updated test
  test/games/planets_zebeth/exporter/test_planets_zebeth_patch_data_factory.py
Owners: none

Planets (Zebeth): Forgot to update conftest and the patcher data of new preset
  test/conftest.py
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_with_nothing/world_1.json
Owners: none

Planets (Zebeth): Updated patcher data for starter_preset_with_nothing
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_with_nothing/world_1.json
Owners: none

serialize_single_world_only: always creates a world_index=0 result
  randovania/game_connection/builder/abandoned_world_connector_builder.py
  randovania/game_connection/connector/abandoned_world_remote_connector.py
  randovania/layout/game_patches_serializer.py
  randovania/server/multiplayer/world_api.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
  test/server/multiplayer/test_world_api.py
Owners: none

Remove State.received_pickups
  randovania/graph/state.py
Owners: none

Fix stuff oops
  randovania/resolver/bootstrap.py
  test/game_connection/builder/test_abandoned_world_connector_builder.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
  test/generator/filler/test_pickup_list.py
  test/generator/test_generator_reach.py
  test/resolver/test_state.py
Owners: none

Zebeth: don't add region to area's map_names
  randovania/games/planets_zebeth/logic_database/Brinstar.json
  randovania/games/planets_zebeth/logic_database/Brinstar.txt
  randovania/games/planets_zebeth/logic_database/Kraid.json
  randovania/games/planets_zebeth/logic_database/Kraid.txt
  randovania/games/planets_zebeth/logic_database/Norfair.json
  randovania/games/planets_zebeth/logic_database/Norfair.txt
  randovania/games/planets_zebeth/logic_database/Ridley.json
  randovania/games/planets_zebeth/logic_database/Ridley.txt
  randovania/games/planets_zebeth/logic_database/Tourian.json
  randovania/games/planets_zebeth/logic_database/Tourian.txt
Owners: none

Changes from review
  randovania/game_description/db/dock.py
  randovania/game_description/integrity_check.py
Owners: none

Fix docstring placement
  randovania/game_description/db/dock.py
Owners: none

Update path.py with docstrings
  randovania/gui/dialog/connections_editor/path.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
