Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Create BaseWorldGraphNode
  randovania/graph/world_graph.pxd
  randovania/graph/world_graph.py
  randovania/resolver/resolver_native.py
  setup.py
Owners: none

Use our own implementation of graph
  randovania/generator/generator_native.pxd
  randovania/generator/generator_native.py
  randovania/generator/generator_native_helper.py
  randovania/generator/old_generator_reach.py
  randovania/graph/world_graph.py
  randovania/lib/cython_helper.py
  randovania/resolver/damage_state.py
  randovania/resolver/energy_tank_damage_state.py
  randovania/resolver/no_op_damage_state.py
  test/generator/test_generator_reach.py
  test/generator/test_retcon_filler_integration.py
  test/resolver/test_resolver_reach.py
Owners: none

Create world_graph_factory.py
  randovania/generator/dock_weakness_distributor.py
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  randovania/resolver/bootstrap.py
  test/conftest.py
  test/generator/test_generator_reach.py
  test/graph/test_world_graph.py
Owners: none

Special case trivial requirement set
  randovania/graph/graph_requirement.py
  randovania/graph/requirement_converter.py
Owners: none

Add slots back to WorldGraphNode
  randovania/graph/world_graph.pxd
  randovania/graph/world_graph.py
Owners: none

Converter: cache by id first
  randovania/graph/requirement_converter.py
Owners: none

_create_dock_connection: cache friendlier conversion
  randovania/graph/world_graph_factory.py
Owners: none

Don't put Requirement in requirement_to_collect
  randovania/graph/world_graph_factory.py
Owners: none

Improving WorldGraphNode constructor
  randovania/graph/world_graph.py
Owners: none

Use vectors in GraphRequirementList
  randovania/graph/graph_requirement.pxd
  randovania/graph/graph_requirement.py
  randovania/lib/cython_helper.py
  test/graph/test_graph_requirement.py
Owners: none

Speedup is-event checks
  randovania/graph/world_graph.py
  randovania/resolver/resolver.py
Owners: none

Fix cython import
  randovania/graph/world_graph.py
Owners: none

Minor things
  randovania/generator/generator_native.py
  randovania/resolver/resolver.py
Owners: none

More trivial special cases for build_satisfiable_requirements
  randovania/resolver/resolver_native.py
Owners: none

Minor things
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
Owners: none

Nodes keep track of their dangerous resources
  randovania/game_connection/connector/debug_remote_connector.py
  randovania/game_description/game_database_view.py
  randovania/game_description/resources/resource_database.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/filler_logging.py
  randovania/graph/world_graph.pxd
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  randovania/resolver/resolver.py
  test/graph/test_world_graph.py
Owners: none

Improve graph_precache
  randovania/generator/old_generator_reach.py
  randovania/graph/graph_requirement.py
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
Owners: none

Don't use dataclass for WorldGraphNode
  randovania/graph/world_graph.py
Owners: none

build_satisfiable_requirements: optimize when additional is trivial
  randovania/resolver/resolver_native.py
Owners: none

Fix mypy
  randovania/generator/generator_native.py
  randovania/generator/generator_native_helper.py
  randovania/graph/graph_requirement.py
  randovania/lib/cython_helper.py
Owners: none

Improve ResourceCollection.duplicate
  randovania/game_description/resources/resource_collection.pxd
  randovania/game_description/resources/resource_collection.py
Owners: none

Avoid len
  randovania/graph/graph_requirement.py
Owners: none

Simplify graph requirement tests
  test/graph/test_graph_requirement.py
Owners: none

Fixes
  randovania/graph/graph_requirement.py
  randovania/graph/world_graph.py
Owners: none

Dread: Remove Diffusion Abuse trick to push Wide Block Purple EMMI Arena
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Fusion: fix requirement to collect nav-rooms with specific hints.
  CHANGELOG.md
  randovania/games/fusion/logic_database/Main Deck.json
Owners: none

Fix Map View in Map Tracker not working
  randovania/gui/tracker_window.py
Owners: none

Add elaboration to changelog
  CHANGELOG.md
Owners: none

Add pdb files to gitignore
  .gitignore
Owners: none

Less disgusting resource mapping
  randovania/game_description/resources/resource_collection.py
  randovania/graph/graph_requirement.py
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  test/graph/test_requirement_converter.py
Owners: none

Fix coverage measurement with Cython
  .coveragerc
  .github/workflows/build-test-publish.yml
  setup.py
  tools/prepare_virtual_env.py
Owners: none

Improve things
  setup.py
  test/graph/test_graph_requirement.py
Owners: none

Prime 1: Bump Watery Hall bomb jump back to beginner
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Disable -n auto
  .github/workflows/build-test-publish.yml
Owners: none

BDG: Document the intended setups more
  randovania/games/blank/logic_database/Intro.json
  randovania/games/blank/logic_database/Intro.txt
Owners: none

Changes from review
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

Address review pt 2
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

forgot changelog for review addressing
  CHANGELOG.md
Owners: none

Initial RemoteActivationNode
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/remote_activation_node.py
  randovania/game_description/game_migration.py
  randovania/games/binary_data.py
  randovania/generator/filler/retcon.py
  randovania/graph/world_graph.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/generated/node_details_popup_ui.py
  randovania/gui/ui_files/node_details_popup.ui
Owners: none

Implement into BDG + fix gen errors
  randovania/game_description/db/remote_activation_node.py
  randovania/game_description/editor.py
  randovania/game_description/integrity_check.py
  randovania/games/blank/logic_database/Intro.json
  randovania/games/blank/logic_database/Intro.txt
  randovania/games/blank/logic_database/header.json
  randovania/generator/filler/player_state.py
  randovania/graph/world_graph.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
