Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Almost there for support of DLR per type
  randovania/games/am2r/game_data.py
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/blank/game_data.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/game_data.py
  randovania/games/dread/generator/bootstrap.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/__init__.py
  randovania/games/fusion/gui/fusion_door_lock_rando_details_tab.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/game_details/dock_weakness_distribution_details_tab.py
  randovania/gui/game_details/door_lock_rando_details_tab.py
  randovania/gui/game_details/game_details_window.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/layout/base/dock_rando_configuration.py
  randovania/layout/preset_describer.py
  test/game_description/test_binary_data.py
Owners: none

Refactor _distribute_mode_weakness
  randovania/generator/dock_weakness_distributor.py
Owners: none

Renaming and adjusting dock weakness distributor configuration
  randovania/cli/commands/new_game.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock.py
  randovania/game_description/game_description_migration.py
  randovania/game_description/pretty_print.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/generator.py
  randovania/graph/world_graph_factory.py
  randovania/gui/preset_settings/dock_rando_tab.py
  randovania/layout/base/dock_rando_configuration.py
  test/generator/test_dock_weakness_distributor.py
  test/generator/test_generator_reach.py
Owners: none

Fix tests
  test/game_description/test_binary_data.py
  test/generator/test_generator_reach.py
Owners: none

Add ui_label to WeaknessDistributorSettings
  randovania/game_description/binary_data.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock.py
  randovania/game_description/game_description_migration.py
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/gui/__init__.py
  randovania/games/fusion/gui/fusion_door_lock_rando_details_tab.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/gui/game_details/dock_weakness_distribution_details_tab.py
  randovania/gui/game_details/door_lock_rando_details_tab.py
  randovania/gui/game_details/game_details_window.py
Owners: none

Renaming things
  randovania/cli/commands/new_game.py
  randovania/game_description/binary_data.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock.py
  randovania/game_description/derived_nodes.py
  randovania/game_description/game_database_view.py
  randovania/game_description/game_description.py
  randovania/game_description/game_description_migration.py
  randovania/game_description/integrity_check.py
  randovania/game_description/pretty_print.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/game_exporter.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/player_state.py
  randovania/graph/world_graph_factory.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/game_details/teleporter_details_tab.py
  randovania/gui/preset_settings/dock_rando_tab.py
  randovania/gui/preset_settings/preset_teleporter_tab.py
  randovania/gui/tracker_window.py
  randovania/layout/base/dock_rando_configuration.py
  randovania/layout/game_patches_serializer.py
  randovania/layout/lib/teleporters.py
  test/game_description/test_node_search.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/generator/test_base_patches_factory.py
  test/generator/test_dock_weakness_distributor.py
  test/generator/test_generator_reach.py
  test/generator/test_teleporter_distributor.py
Owners: none

Properly making DLR per type
  randovania/games/am2r/generator/base_patches_factory.py
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/blank/gui/preset_settings/__init__.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/generator/bootstrap.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/echoes_patches_tab.py
  randovania/games/prime2_opr/gui/preset_settings/__init__.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/zero_mission/gui/preset_settings/__init__.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/gui/game_details/dock_weakness_distribution_details_tab.py
  randovania/gui/preset_settings/dock_weakness_distributor_tab.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/interface_common/generator_frontend.py
  randovania/interface_common/preset_editor.py
  randovania/layout/base/base_configuration.py
  randovania/layout/base/dock_weakness_distributor_configuration.py
  randovania/layout/preset_describer.py
  randovania/layout/preset_migration.py
  test/generator/test_dock_weakness_distributor.py
  test/layout/test_dock_weakness_distributor_configuration.py
Owners: none

Renaming and improving the tabs
  randovania/game_description/data_reader.py
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_dock_weakness_distributor_tab.py
  randovania/games/blank/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/fusion/gui/preset_settings/fusion_dock_weakness_distributor_tab.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime1/gui/preset_settings/prime_dock_weakness_distributor_tab.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/echoes_dock_weakness_distributor_tab.py
  randovania/games/prime2_opr/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/zero_mission/gui/preset_settings/__init__.py
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/generated/preset_dock_rando_ui.py
  randovania/gui/preset_settings/dock_weakness_distributor_tab.py
  randovania/gui/ui_files/preset_dock_rando.ui
  randovania/layout/base/dock_weakness_distributor_configuration.py
Owners: none

Refactoring DockWeaknessDistributorConfiguration
  randovania/bitpacking/bitpacking.py
  randovania/cli/commands/new_game.py
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/prime1/gui/preset_settings/prime_dock_rando_tab.py
  randovania/games/prime2/gui/preset_settings/echoes_dock_rando_tab.py
  randovania/games/prime2/gui/preset_settings/echoes_patches_tab.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/hint_distributor.py
  randovania/gui/game_details/dock_weakness_distribution_details_tab.py
  randovania/gui/game_details/game_details_tab.py
  randovania/gui/game_details/game_details_window.py
  randovania/gui/preset_settings/dock_rando_tab.py
  randovania/interface_common/generator_frontend.py
  randovania/interface_common/preset_editor.py
  randovania/layout/base/base_configuration.py
  randovania/layout/base/dock_weakness_distributor_configuration.py
  randovania/layout/preset.py
  test/generator/test_dock_weakness_distributor.py
  test/layout/test_dock_weakness_distributor_configuration.py
  test/layout/test_echoes_configuration.py
Owners: none

Fixes
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/prime2/gui/preset_settings/echoes_patches_tab.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/layout/base/dock_weakness_distributor_configuration.py
  randovania/layout/preset_migration.py
  test/games/prime1/exporter/test_prime_dangerous_settings.py
  test/generator/test_dock_weakness_distributor.py
  test/layout/test_dock_weakness_distributor_configuration.py
  test/layout/test_echoes_configuration.py
Owners: none

Add unsafe_target_in_distributor_wtw
  randovania/game_description/binary_data.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock.py
  randovania/game_description/game_description_migration.py
  randovania/game_description/integrity_check.py
  randovania/gui/preset_settings/dock_weakness_distributor_tab.py
  randovania/layout/base/dock_weakness_distributor_configuration.py
Owners: none

Update dbs and test files
  randovania/games/am2r/logic_database/header.json
  randovania/games/blank/logic_database/header.json
  randovania/games/cave_story/logic_database/header.json
  randovania/games/dread/logic_database/header.json
  randovania/games/factorio/logic_database/header.json
  randovania/games/fusion/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime2/logic_database/header.json
  randovania/games/prime2_opr/logic_database/header.json
  randovania/games/prime_hunters/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.json
  test/test_files/prime2_small.json
  test/test_files/prime_data_as_binary.bin
  test/test_files/prime_data_as_json.json
Owners: none

Using unsafe_target_in_distributor_wtw
  randovania/game_description/pretty_print.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/blank/logic_database/header.txt
  randovania/games/dread/logic_database/header.txt
  randovania/games/fusion/logic_database/header.txt
  randovania/games/planets_zebeth/logic_database/header.txt
  randovania/games/prime1/logic_database/header.txt
  randovania/games/prime2/logic_database/header.txt
  randovania/games/prime2_opr/logic_database/header.txt
  randovania/games/samus_returns/logic_database/header.txt
  test/games/prime1/exporter/test_prime_dangerous_settings.py
Owners: @randovania/am2r-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-samus-returns-db

Remake all test rdvgames and fix preset describer test
  test/conftest.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/prime_hunters/layout/test_prime_hunters_describer.py
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/log_files/prime_hunters/starter_preset.rdvgame
  test/test_files/log_files/prime_hunters/starting_energy_and_artifacts.rdvgame
  test/test_files/log_files/prime_hunters/starting_items_and_energy_with_nothings.rdvgame
  test/test_files/log_files/prime_hunters/two_way_unchecked_portal_shuffle.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_energy_and_artifacts/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_and_energy_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Bump to 0.11.2
  pyproject.toml
  uv.lock
Owners: none

Fix bootstrap tests
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
Owners: none

Update hash
  randovania/games/prime_hunters/game_data.py
Owners: none

Remove more unused events
  randovania/games/prime_hunters/logic_database/header.json
Owners: none

Fix new game
  randovania/cli/commands/new_game.py
Owners: none

Typing?
  randovania/games/fusion/gui/preset_settings/__init__.py
Owners: none

Add updated rdvgames to exporter test
  test/games/prime_hunters/exporter/test_prime_hunters_game_exporter.py
Owners: none

Add comment, remove L0 requirement
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Owners: @randovania/metroid-fusion-db

Remove #
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Owners: @randovania/metroid-fusion-db

Fix room name error, fix pretty print error
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/layout/description_migration.py
Owners: @randovania/metroid-fusion-db

Update to new MSR version
  CHANGELOG.md
  pyproject.toml
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/generated/preset_msr_patches_ui.py
  randovania/games/samus_returns/gui/ui_files/preset_msr_patches.ui
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/layout/description_migration.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_7.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/non_required_mains/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/queen_boss_custom_required_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
  uv.lock
Owners: @randovania/metroid-samus-returns-db

Changelog
  CHANGELOG.md
Owners: none

Planets (Zebeth) DB: Replaced AND statements with Can Break Floor Blocks
  randovania/games/planets_zebeth/logic_database/Brinstar.json
  randovania/games/planets_zebeth/logic_database/Brinstar.txt
  randovania/games/planets_zebeth/logic_database/Kraid.json
  randovania/games/planets_zebeth/logic_database/Kraid.txt
  randovania/games/planets_zebeth/logic_database/Norfair.json
  randovania/games/planets_zebeth/logic_database/Norfair.txt
  randovania/games/planets_zebeth/logic_database/Ridley.json
  randovania/games/planets_zebeth/logic_database/Ridley.txt
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.txt
Owners: none

Remove "Knowledge (Beginner)" to open a charge door when using buff option
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Owners: @randovania/metroid-samus-returns-db

Change default game behaviour in tracker_window
  CHANGELOG.md
  randovania/gui/auto_tracker_window.py
  test/gui/test_auto_tracker_window.py
Owners: none

The message "Not currently connected to any games" displayed consistently
  CHANGELOG.md
  randovania/gui/auto_tracker_window.py
Owners: none

Fix for DLR in Samus Returns
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Fix small typo in Changelog
  CHANGELOG.md
Owners: none

Show required mains again for MSR
  randovania/games/samus_returns/pickup_database/pickup-database.json
Owners: none

Fix for DLR in Samus Returns
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Fix small typo in Changelog
  CHANGELOG.md
Owners: none

Show required mains again for MSR
  randovania/games/samus_returns/pickup_database/pickup-database.json
Owners: none

Move some game connection logging to debug
  randovania/game_connection/game_connection.py
Owners: none

Add logs around nintendont uploading
  randovania/gui/widgets/game_connection_window.py
Owners: none

Dread: Have the Ferenia Twin Robot fight live from the start
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Swap things to use `randovania.org` domains primarily
  tools/create_release.py
  tools/deploy_server.py
  tools/server-docker/docker-compose.yml
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
