Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Skip recency bias for inert pickups
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weighted_locations.py
Owners: none

changelog
  CHANGELOG.md
Owners: none

optimize out redundant work
  randovania/generator/filler/retcon.py
Owners: none

fixes
  randovania/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1-vanilla/world_1.json
  test/test_files/patcher_data/prime1/prime1/damage-check/world_1.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Owners: none

Save Station Mines A gate changes
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/header.json
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1/damage-check/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Owners: @randovania/metroid-prime-db

Revert "Merge pull request #9415 from Tyranisaur/generator/fixReachableViaLockNode"
  CHANGELOG.md
  randovania/games/samus_returns/game_data.py
  randovania/generator/generator_native.py
  test/generator/test_generator_reach.py
Owners: none

Generator: Fix missing Front of Door with forced two way lock
  CHANGELOG.md
  randovania/graph/world_graph_factory.py
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Fix knowledge typo
  randovania/games/fusion/logic_database/header.json
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Standardize how acceptance tests are written and maintained
  README.md
  docs/Testing.md
  pytest.ini
  randovania/cli/commands/update_committed.py
  randovania/cli/development.py
  test/conftest.py
  test/game_description/test_binary_data.py
  test/game_description/test_data_writer.py
  test/game_description/test_integrity_check.py
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/games/cave_story/exporter/test_caver_patcher.py
  test/games/fusion/exporter/test_fusion_patch_data_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/games/test_log_file_export.py
Owners: none

Add vscode task for update-committed
  .vscode/tasks.json
Owners: none

refresh stale database/test JSON
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/prime2_opr/pickup_database/pickup-database.json
  randovania/games/prime_hunters/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/zero_mission/pickup_database/pickup-database.json
  test/test_files/integrity_check_invalid_db.json
Owners: none

Add `update-expected-seed-hash` support
  randovania/cli/commands/update_committed.py
Owners: none

Move pipe because it doesn't work on PS 5.1 otherwise
  tools/create_signing_certificate.ps1
Owners: none

Revert "Merge pull request #9431 from toasterparty/tol-bias"
  CHANGELOG.md
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weighted_locations.py
Owners: none

automatically apply pytest mark to tests which request acceptance_test fixture
  docs/Testing.md
  test/conftest.py
  test/game_description/test_binary_data.py
  test/game_description/test_data_writer.py
  test/game_description/test_integrity_check.py
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/games/cave_story/exporter/test_caver_patcher.py
  test/games/fusion/exporter/test_fusion_patch_data_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/games/test_log_file_export.py
Owners: none

Reapply "Merge pull request #9431 from toasterparty/tol-bias"
  CHANGELOG.md
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weighted_locations.py
Owners: none

Revert "Update changelog"
  CHANGELOG.md
Owners: none

Update changelog
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fusion: Fix Southeast Stabilizer Logic
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Owners: @randovania/metroid-fusion-db

Make timestamp optional for lockFileMaintenance
  .github/renovate.json
Owners: none

Fix seg fault crash when editing QLineEdit
  randovania/gui/dialog/connections_editor/editor.py
Owners: none

Improve clarity for negate checkbox
  randovania/gui/dialog/connections_editor/editor.py
Owners: none

Add custom delegate for drawing array requirements
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Remove unused mypy error codes
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Revert "Merge pull request #9415 from Tyranisaur/generator/fixReachableViaLockNode"
  CHANGELOG.md
  randovania/games/samus_returns/game_data.py
  randovania/generator/generator_native.py
  test/generator/test_generator_reach.py
Owners: none

Remove empty space for combo box items
  randovania/gui/dialog/connections_editor/editor.py
  randovania/gui/generated/connections_editor_ui.py
  randovania/gui/ui_files/connections_editor.ui
Owners: none

Add standalone command for updating just acceptance-tests
  docs/Testing.md
  randovania/cli/commands/update_committed.py
  randovania/cli/development.py
Owners: none

beams and grapple no longer require visors to operate; rename templates
  randovania/games/prime1/db_integrity.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

update logic to accomodate new beam/visor behavior
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

Add missing trivial fight requirements
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Owners: @randovania/metroid-prime-db

update CHANGELOG.md
  CHANGELOG.md
Owners: none

schema conformance
  randovania/games/prime1/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1-vanilla/world_1.json
  test/test_files/patcher_data/prime1/prime1/damage-check/world_1.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Owners: none

Abbreviate individual words on saveName rather than truncate entire string
  randovania/games/prime1/exporter/patch_data_factory.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
Owners: none

Bump patcher
  pyproject.toml
  uv.lock
Owners: none

PR feedback
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
Owners: @randovania/metroid-prime-db

optimize check_for_resources_to_use_together
  randovania/game_description/integrity_check.py
Owners: none

Kraid south/east
  randovania/games/zero_mission/logic_database/Crateria.txt
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
  randovania/games/zero_mission/logic_database/header.json
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
