Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Fusion Implement environmental damage
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/generated/preset_fusion_patches_ui.py
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
  randovania/layout/preset_migration.py
  test/games/fusion/gui/preset_settings/test_fusion_game_patches.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/lots_of_random_starting_items/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

Fix grammar
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

Fix guest user login
  randovania/network_client/network_client.py
  randovania/server/user_session.py
  test/network_client/test_network_client.py
  test/server/test_user_session.py
Owners: none

Fix mypy errors
  randovania/server/user_session.py
Owners: none

Make sid required for session creation
  randovania/server/user_session.py
Owners: none

Fix initial session save with guest user
  randovania/server/user_session.py
  test/server/test_user_session.py
Owners: none

Fix breakage called by bad mock
  test/server/test_user_session.py
Owners: none

Make sid required and make session editing more concise
  randovania/server/user_session.py
  test/server/test_user_session.py
Owners: none

cleanup _persist_spin_boxes, add changelog
  CHANGELOG.md
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
Owners: none

ugly stuff
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Fix converting prime 2 models that created by modifying assets
  randovania/patching/prime/asset_conversion.py
Owners: none

Move changelog entry to new version
  CHANGELOG.md
Owners: none

Change function back to private
  randovania/generator/pickup_pool/standard_pickup.py
Owners: none

Echoes: Restore generator safety to Aerie
  CHANGELOG.md
  randovania/games/prime2/game_data.py
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
Owners: @randovania/metroid-prime-2-db

Logic updates 5-'26: SRX and NOC
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

actually replace damage_reductions, add test
  randovania/games/fusion/generator/bootstrap.py
  test/games/fusion/generator/test_fusion_bootstrap.py
Owners: none

Dread: Add trick to get Space Jump Room Missile Pickup with Normal Bomb
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Added short boosts and ADC tricks
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Updated Floor Clip above Screw Attack to be highly dangerous logic and require the missile pickup.
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

Updated the Artaria Central Unit Access floor clip video link to more clearly demonstrate the trick can be done without opening the door to the White Emmi Arena.
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

Changed required Flash Shift to Can Short Boost template and added an alternative speed booster upgrade which would make the trick possible without Short Boost.
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

Added Can Slide template to a Floor Clip which can be used to avoid the Wide Beam block near the Dairon transport in Cataris.
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Removed Gravity / Lava Button requirements on SSC logic as that is already handled elsewhere.
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Moved youtube link in Event - Speed Blocks Destroyed in the Cataris Underlava Puzzle Room 2.
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Removed redundant Short Boost trick in Dairon top of Yellow TP.
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Owners: @randovania/metroid-dread-db

Added notes to changelog
  CHANGELOG.md
Owners: none

Added more notes to changelog
  CHANGELOG.md
Owners: none

msr changelog
  CHANGELOG.md
Owners: none

Lock the version of RDS used
  pyproject.toml
  uv.lock
Owners: none

Fix typing
  randovania/game_connection/executor/am2r_executor.py
  randovania/game_connection/executor/dread_executor.py
  randovania/game_connection/executor/msr_executor.py
Owners: none

bump mars to 0.14.1
  pyproject.toml
  randovania/games/fusion/exporter/game_exporter.py
  randovania/games/fusion/exporter/hint_namer.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/pickup_database/pickup-database.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/lots_of_random_starting_items/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Owners: @randovania/metroid-fusion-db

fix type checking for MarsschemamfStartingItems
  randovania/games/fusion/exporter/patch_data_factory.py
Owners: none

fix colorspace longname
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/lots_of_random_starting_items/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

update test files for shiny tests
  test/test_files/patcher_data/fusion/shiny_pickups_dict_from_starter_preset.json
Owners: none

casing updates for door types
  randovania/games/fusion/logic_database/header.txt
Owners: @randovania/metroid-fusion-db

update changelog after release
  CHANGELOG.md
Owners: none

update casing to align with mars 0.14.0
  randovania/games/zero_mission/exporter/game_exporter.py
  randovania/games/zero_mission/exporter/patch_data_factory.py
  test/test_files/patcher_data/zero_mission/zero_mission/starter_preset/world_1.json
Owners: none

Revert most of the formatting changes from before
  randovania/games/prime_hunters/exporter/hint_namer.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
Owners: none

Updated the logic for a floor clip into Blue TP in Cataris to fix some logic issues as well as future proof the logic for possible heat/cold runs
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Made the changelog less verbose.
  CHANGELOG.md
Owners: none
