Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

bring back old specific hint categories in echoes
  randovania/games/prime2/pickup_database/pickup-database.json
Owners: none

fix tests
  randovania/generator/hint_distributor.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/generator/test_hint_distributor.py
Owners: none

Clean oops
  randovania/graph/world_graph.py
Owners: none

Avoid calling patch_requirements twice
  randovania/resolver/bootstrap.py
  randovania/resolver/resolver.py
Owners: none

Restore flatten_to_set_on_patch in WorldGraph
  randovania/graph/world_graph.py
  randovania/resolver/bootstrap.py
  test/graph/test_world_graph.py
Owners: none

Typing
  randovania/resolver/resolver.py
Owners: none

Better match output of old and new resolver
  randovania/game_description/resources/node_resource_info.py
  randovania/resolver/logic.py
Owners: none

Resolver: properly detect lock actions for WorldGraphNode
  randovania/graph/world_graph.py
  randovania/resolver/resolver.py
Owners: none

shuffle feature order
  randovania/generator/hint_distributor.py
Owners: none

MSR: rename movement to jump upgrade
  randovania/games/samus_returns/pickup_database/pickup-database.json
Owners: none

changelog for matching precision fix
  CHANGELOG.md
Owners: none

Fixing prints
  randovania/resolver/logic.py
Owners: none

Print ActionPriority in log_checking_satisfiable_actions
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
Owners: none

Fix unlocking locks from the back
  randovania/graph/world_graph.py
Owners: none

Catch KeyboardError for cli
  randovania/cli/__init__.py
Owners: none

Move matching resolver output
  randovania/game_description/db/dock_lock_node.py
  randovania/game_description/resources/node_resource_info.py
  randovania/resolver/logic.py
Owners: none

Fusion logic: Namihe's Lair Spark
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Owners: @randovania/metroid-fusion-db

Changelog
  CHANGELOG.md
Owners: none

Fusion Logic: Changelog update
  CHANGELOG.md
Owners: none

Add giant comment
  tools/bundle_macos_universal_wheels.py
Owners: none

Bleh mypy
  tools/bundle_macos_universal_wheels.py
Owners: none

Fix typing
  randovania/resolver/resolver.py
Owners: none

Make _combine_leave not an iterator
  randovania/resolver/resolver_reach.py
Owners: none

HACK: sort nodes for resolver
  randovania/resolver/resolver.py
Owners: none

World Graph: simplify dock requirements
  randovania/graph/world_graph.py
Owners: none

Admin Panel: Provide toggling admin status of a Member
  randovania/server/multiplayer/web_api.py
  randovania/server/templates/web_api/session.html.jinja
  test/server/multiplayer/test_web_api.py
Owners: none

Admin Panel: Provide toggling admin status of a Member
  randovania/server/multiplayer/web_api.py
  randovania/server/templates/web_api/session.html.jinja
  test/server/multiplayer/test_web_api.py
Owners: none

Fusion Logic: Last of the requested changes
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Owners: @randovania/metroid-fusion-db

reword bsl hint
  randovania/games/fusion/logic_database/header.json
Owners: none

Handle performance migrations that don't currently exist
  randovania/server/database_migration.py
Owners: none

require dark beam for Security Station B
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/header.json
Owners: @randovania/metroid-prime-2-db

remove dangerous Emperor Ing
  CHANGELOG.md
  randovania/games/prime2/logic_database/Sky Temple Grounds.json
  randovania/games/prime2/logic_database/Sky Temple Grounds.txt
Owners: @randovania/metroid-prime-2-db

remove reference to Dark Samus1 Appereance
  randovania/games/prime2/generator/bootstrap.py
Owners: none

Add audit log to session
  randovania/server/multiplayer/web_api.py
  test/server/multiplayer/test_web_api.py
Owners: none

Add a comment explaining multiple ways to gate behind admin
  randovania/server/multiplayer/web_api.py
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix node placement in rooms
  randovania/games/prime_hunters/logic_database/Alinos.json
  randovania/games/prime_hunters/logic_database/Celestial Archives.json
  randovania/games/prime_hunters/logic_database/Celestial Archives.txt
Owners: none

Fix tests
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/log_files/prime_hunters/starter_preset.rdvgame
  test/test_files/log_files/prime_hunters/starting_items_with_nothings.rdvgame
  test/test_files/log_files/prime_hunters/two_way_unchecked_portal_shuffle.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Fix more tests
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
Owners: none

Pickup Hint Features, Differences, Game Page
  randovania/games/prime_hunters/game_data.py
  randovania/games/prime_hunters/gui/generated/games_tab_prime_hunters_widget_ui.py
  randovania/games/prime_hunters/gui/ui_files/games_tab_prime_hunters_widget.ui
  randovania/games/prime_hunters/pickup_database/pickup-database.json
Owners: none
