Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Planets (Zebeth): Required mains support
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/gui/preset_settings/__init__.py
  randovania/games/planets_zebeth/gui/preset_settings/planets_zebeth_pool_tab.py
  randovania/games/planets_zebeth/layout/preset_describer.py
  randovania/games/planets_zebeth/pickup_database/item_data.json
  test/games/planets_zebeth/layout/test_planets_zebeth_describer.py
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Owners: none

Update planets-yapr to 1.0.2
  pyproject.toml
  uv.lock
Owners: none

Planets (Zebeth): Don't require separate field anymore for Missile Launcher
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Planets (Zebeth): Required message is now global instead of per pickup
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Create new options version due to new dread cosmetics
  randovania/interface_common/persisted_options.py
Owners: none

Planets (Zebeth): Required amount of Tourian keys is now stated in config
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Update randovania/interface_common/persisted_options.py
  randovania/interface_common/persisted_options.py
Owners: none

Planets (Zebeth): fix types for _create_game_config_dict function
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Planets (Zebeth): Fixed tests and a typo for locked item text header
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Owners: none

Drogyga HBJ
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Owners: @randovania/metroid-dread-db

changes
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

upped to ludicrous because it's a one shot without spider
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Owners: @randovania/metroid-dread-db

ty's change
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Move Racetime Browser _SUPPORTED_GAME_URLS in GameData
  CHANGELOG.md
  randovania/game/data.py
  randovania/games/am2r/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/gui/dialog/racetime_browser_dialog.py
Owners: none

When spring ball is enabled, show message for it when collecting bombs
  randovania/games/prime1/exporter/patch_data_factory.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
Owners: none

fix: couple implementation with the springBallItem configuration
  randovania/games/prime1/exporter/patch_data_factory.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
Owners: none

Fusion: update mars-patcher to 0.12.0
  pyproject.toml
  uv.lock
Owners: none

Dread: fix ui wrapping for async setting
  randovania/games/dread/gui/generated/preset_dread_patches_ui.py
  randovania/games/dread/gui/ui_files/preset_dread_patches.ui
Owners: none

Dread: fix ui part 2
  randovania/games/dread/gui/generated/preset_dread_patches_ui.py
  randovania/games/dread/gui/ui_files/preset_dread_patches.ui
Owners: none

Update changelog for 10.5.0
  CHANGELOG.md
Owners: none

fix tzpo
  CHANGELOG.md
Owners: none

fix typo pt 2
  CHANGELOG.md
Owners: none

fix typos pt 3
  CHANGELOG.md
Owners: none

fix typo pt 4
  CHANGELOG.md
Owners: none

fix typo pt 5
  CHANGELOG.md
Owners: none

Add Jump to Slope Jump comments
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

fix: update message and changelog
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
Owners: none

Remove version from ui files
  tools/uic_wrapper.py
Owners: none

Fix warning with updated pyjwt
  pyproject.toml
  test/server/test_user_session.py
  uv.lock
Owners: none

Fix for updated py-cord
  test/discord_bot/test_database_command.py
Owners: none

Support doing new patcher only for Echoes
  randovania/games/prime2/exporter/game_exporter.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/generator/bootstrap.py
  randovania/games/prime2/gui/dialog/game_export_dialog.py
  randovania/games/prime2/gui/preset_settings/echoes_patches_tab.py
  randovania/games/prime2/layout/echoes_configuration.py
  randovania/games/prime2/layout/preset_describer.py
  randovania/layout/preset_migration.py
  test/games/prime2/exporter/test_echoes_game_exporter.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/layout/test_echoes_configuration.py
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/world_2.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
  test/test_files/patcher_data/prime2/prime1_and_2_multi/world_2.json
  test/test_files/patcher_data/prime2/prime2/door_lock_rando/world_1.json
  test/test_files/patcher_data/prime2/prime2/launcher_and_negative_expansions/world_1.json
  test/test_files/patcher_data/prime2/prime2/starts_with_cannon_ball/world_1.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_only_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Owners: none

Fixes for new PySide6
  test/games/dread/gui/test_dread_game_export_dialog.py
  test/gui/dialog/test_background_process_dialog.py
  test/gui/test_auto_tracker_window.py
  test/gui/test_main_window.py
Owners: none

Fix UI files
  randovania/gui/generated/game_details_window_ui.py
  randovania/gui/generated/main_window_ui.py
  randovania/gui/generated/multiplayer_session_ui.py
Owners: none

Use RdvSignal in BackgroundTaskMixin
  randovania/gui/lib/background_task_mixin.py
  randovania/gui/main_window.py
  randovania/gui/multiplayer_session_window.py
Owners: none

remove changelog entry
  CHANGELOG.md
Owners: none

Use REST api for Login
  randovania/gui/dialog/login_prompt_dialog.py
  randovania/gui/lib/qt_network_client.py
  randovania/gui/main_online_interaction.py
  randovania/gui/multiplayer_session_window.py
  randovania/network_client/network_client.py
  randovania/network_common/authentication.py
  randovania/network_common/configuration.py
  randovania/server/server_app.py
  randovania/server/user_session.py
  test/gui/dialog/test_login_prompt_dialog.py
  test/gui/lib/test_qt_network_client.py
  test/network_client/test_network_client.py
  test/server/conftest.py
  test/server/test_lifespans.py
  test/server/test_server_app.py
  test/server/test_user_session.py
  tools/create_release.py
  tools/prepare_dev_server_config.py
Owners: none

Server: REST api for creating session
  randovania/network_client/network_client.py
  randovania/server/multiplayer/session_api.py
  randovania/server/server_app.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_session_api.py
Owners: none

mypy for test/network_client/test_network_client.py
  pyproject.toml
  test/network_client/test_network_client.py
Owners: none

Fix discord login flow
  randovania/server/server_app.py
Owners: none

Fix crashes when exporting due to thread safety
  randovania/gui/lib/background_task_mixin.py
Owners: none
