Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Dread: Move base requirement to go through shutter gates to template
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Owners: @randovania/metroid-dread-db

Dread: Add lock overrides for shutter gates
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Start adding damage to rdv side
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
Owners: none

Revert "Start adding damage to rdv side"
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
Owners: none

Reapply "Start adding damage to rdv side"
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
Owners: none

Remove "per second", add /s
  randovania/games/fusion/layout/preset_describer.py
Owners: none

removed game-specific text in preset editor header
  CHANGELOG.md
  randovania/data/gui_assets/tracker/prime2-game-tall.json
  randovania/data/gui_assets/tracker/prime2-pixel-tall.json
  randovania/gui/generated/preset_item_pool_ui.py
  randovania/gui/generated/preset_trick_level_ui.py
  randovania/gui/ui_files/preset_trick_level.ui
Owners: none

Habitation Deck Elevator Rename
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  test/test_files/log_files/fusion/starting_items.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: @randovania/metroid-fusion-db

addressed reviews
  randovania/data/gui_assets/tracker/prime2-game-tall.json
  randovania/data/gui_assets/tracker/prime2-pixel-tall.json
  randovania/gui/generated/preset_item_pool_ui.py
Owners: none

thanks changelog
  CHANGELOG.md
Owners: none

rest of main deck elevators
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/log_files/fusion/starting_items.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: @randovania/metroid-fusion-db

bureaucracy is dumb
  randovania/gui/generated/preset_trick_level_ui.py
Owners: none

sec entrance elev rename
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: @randovania/metroid-fusion-db

revert rdv-game changes
  test/test_files/log_files/fusion/starting_items.rdvgame
Owners: none

improve Phendrana comments
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

fix bomb guardian with charged dark
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Owners: @randovania/metroid-prime-2-db

description migration
  randovania/games/fusion/assets/migration_data.json
  randovania/layout/description_migration.py
Owners: none

update fusion game_data hash
  randovania/games/fusion/game_data.py
Owners: none

add comment for UWSJ in hunter cave
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

update changelog
  CHANGELOG.md
Owners: none

Changelog conflicts
  CHANGELOG.md
Owners: none

Changelog conflicts part 2
  CHANGELOG.md
Owners: none

change log conflict resolved
  CHANGELOG.md
Owners: none

Dread: Change capitialization in template name
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Owners: @randovania/metroid-dread-db

fix typo and record vid for frozen pike standable
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

fix dark ammo req and document SA method
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Owners: @randovania/metroid-prime-2-db

Echoes: DLR Tab New Patcher Warning
  randovania/games/prime2/gui/preset_settings/echoes_dock_rando_tab.py
  randovania/gui/generated/preset_dock_rando_ui.py
  randovania/gui/ui_files/preset_dock_rando.ui
Owners: none

changelog
  CHANGELOG.md
Owners: none

pr comments
  CHANGELOG.md
  randovania/games/prime2/gui/preset_settings/echoes_dock_rando_tab.py
Owners: none

elevator rename review changes
  CHANGELOG.md
  randovania/games/fusion/assets/migration_data.json
  randovania/games/fusion/game_data.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: @randovania/metroid-fusion-db

Make S6: Nocturnal Shaft -> Glass Tube only require Screw Attack
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Revert "Make S6: Nocturnal Shaft -> Glass Tube only require Screw Attack"
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Make S6: Nocturnal Shaft -> Glass Tube only require Screw Attack
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Amend through database, and amend changelog
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 6 NOC.json
Owners: none

Make changelog easier to read and follow capitalisation convention
  CHANGELOG.md
Owners: none

Make it make sense
  CHANGELOG.md
Owners: none

OSH Preset Typo
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
Owners: none

Add to changelog
  CHANGELOG.md
Owners: none

Revert "Merge remote-tracking branch 'upstream/main'"
  .github/workflows/arm-python.yml
  .github/workflows/benchmark.yml
  .github/workflows/build-test-publish.yml
  .github/workflows/linter.yml
  .github/workflows/trick-documentation-report.yml
  .github/workflows/uic.yml
  CHANGELOG.md
  randovania/games/fusion/assets/migration_data.json
  randovania/games/fusion/game_data.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/gui/generated/preset_trick_level_ui.py
  randovania/gui/ui_files/preset_trick_level.ui
  randovania/layout/description_migration.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Owners: @randovania/metroid-fusion-db

Reapply "Merge remote-tracking branch 'upstream/main'"
  .github/workflows/arm-python.yml
  .github/workflows/benchmark.yml
  .github/workflows/build-test-publish.yml
  .github/workflows/linter.yml
  .github/workflows/trick-documentation-report.yml
  .github/workflows/uic.yml
  CHANGELOG.md
  randovania/games/fusion/assets/migration_data.json
  randovania/games/fusion/game_data.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/gui/generated/preset_trick_level_ui.py
  randovania/gui/ui_files/preset_trick_level.ui
  randovania/layout/description_migration.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Owners: @randovania/metroid-fusion-db
