Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Change the resolver cap message to an info part and debug part
  randovania/game_connection/connector/bot_remote_connector.py
Owners: none

Alternative naming for "client"
  randovania/game_connection/connector/bot_remote_connector.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/widgets/multiplayer_session_users_widget.py
Owners: none

Rename "Bot" internally
  CHANGELOG.md
  randovania/game_connection/builder/abandoned_world_connector_builder.py
  randovania/game_connection/builder/connector_builder_option.py
  randovania/game_connection/connector/abandoned_world_remote_connector.py
  randovania/game_connection/connector_builder_choice.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/widgets/game_connection_window.py
  randovania/gui/widgets/multiplayer_session_users_widget.py
  randovania/network_client/network_client.py
  randovania/server/multiplayer/world_api.py
  test/game_connection/builder/test_abandoned_world_connector_builder.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
  test/server/multiplayer/test_world_api.py
Owners: none

Fix button style and make text shorter
  randovania/gui/widgets/multiplayer_session_users_widget.py
Owners: none

Reduce renovate PR frequency
  .github/renovate.json
Owners: none

Fix some review comments
  randovania/game_connection/connector/abandoned_world_remote_connector.py
Owners: none

Abandoned world has to be claimed to use the AbandonedWorldConnector
  randovania/game_connection/builder/abandoned_world_connector_builder.py
  randovania/game_connection/builder/connector_builder.py
  randovania/game_connection/connector/abandoned_world_remote_connector.py
  randovania/game_connection/connector/remote_connector.py
  randovania/game_connection/game_connection.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/multiworld_client.py
  randovania/gui/widgets/multiplayer_session_users_widget.py
  randovania/network_client/network_client.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/multiplayer/world_api.py
  test/game_connection/builder/test_abandoned_world_connector_builder.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
  test/game_connection/test_game_connection.py
  test/gui/test_multiworld_client.py
  test/gui/widgets/test_multiplayer_session_users_widget.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_session_admin.py
  test/server/multiplayer/test_world_api.py
Owners: none

Initial version of a multiworld resolver
  randovania/cli/commands/validate.py
  randovania/graph/state.py
  randovania/resolver/bootstrap.py
  randovania/resolver/logging.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  test/generator/filler/test_pickup_list.py
  test/generator/test_generator_reach.py
  test/resolver/test_state.py
Owners: none

Add setting for "Allow abandoning worlds"
  randovania/gui/generated/multiplayer_session_ui.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/ui_files/multiplayer_session.ui
  randovania/gui/widgets/multiplayer_session_users_widget.py
  randovania/network_common/admin_actions.py
  randovania/network_common/multiplayer_session.py
  randovania/server/database.py
  randovania/server/database_migration.py
  randovania/server/multiplayer/session_admin.py
Owners: none

Add WorldAction for all pickups, even for the same world without coop
  randovania/server/multiplayer/world_api.py
Owners: none

Fix tests
  test/gui/test_multiplayer_session_window.py
  test/gui/widgets/test_multiplayer_session_users_widget.py
  test/server/multiplayer/test_session_admin.py
  test/server/multiplayer/test_session_api.py
  test/server/multiplayer/test_session_common.py
  test/server/multiplayer/test_world_api.py
  test/server/test_database.py
  test/server/test_migration.py
Owners: none

Just run the full resolver every time there's new pickups.
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
Owners: none

Bump patcher to 0.12.0
  pyproject.toml
  uv.lock
Owners: none

Fix exporting without Octoliths
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  test/conftest.py
  test/games/prime_hunters/exporter/test_prime_hunters_game_exporter.py
  test/test_files/log_files/prime_hunters/no_shuffled_octoliths.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/no_shuffled_octoliths/world_1.json
Owners: none

Better handling of all supported versions when exporting
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
Owners: none

Order regions by internal region order
  randovania/games/prime_hunters/logic_database/header.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/no_shuffled_octoliths/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_extra_locations_and_skip_planet_intros/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_and_energy_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Swap Judicator and Missile Expansion extra data in Ice Hive
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
  randovania/games/prime_hunters/logic_database/header.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/no_shuffled_octoliths/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_extra_locations_and_skip_planet_intros/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_and_energy_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Added **Major** to changelog, added tests, changed to only disable abandoned worlds when there is no world already abandoned
  CHANGELOG.md
  randovania/server/multiplayer/session_admin.py
  test/server/multiplayer/test_session_admin.py
Owners: none

get_abandoned_world_data: handle world not existing
  randovania/server/multiplayer/world_api.py
Owners: none

Use 403 instead and add test
  randovania/server/multiplayer/world_api.py
  test/server/multiplayer/test_world_api.py
Owners: none

Emit inventory even when nothing new was collected
  randovania/game_connection/connector/abandoned_world_remote_connector.py
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Review and tests
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/game_data.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/prime_hunters/layout/test_force_field_configuration.py
Owners: none

Brighten Dread's Super Missile icon in Auto Tracker
  randovania/data/gui_assets/tracker/game-images/dread/Super Missile.png
Owners: none

Increase coverage and reorder starter preset force field config
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
  test/test_files/log_files/prime_hunters/shuffled_extra_locations_and_skip_planet_intros.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_extra_locations_and_skip_planet_intros/world_1.json
Owners: none

Dread: Better understand when Grav Suit Tower Break Floor is safe
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Put quotes around "By Type" in human readable db
  randovania/game_description/pretty_print.py
  randovania/games/am2r/logic_database/header.txt
  randovania/games/blank/logic_database/header.txt
  randovania/games/dread/logic_database/header.txt
  randovania/games/fusion/logic_database/header.txt
  randovania/games/planets_zebeth/logic_database/header.txt
  randovania/games/prime1/logic_database/header.txt
  randovania/games/prime2/logic_database/header.txt
  randovania/games/prime2_opr/logic_database/header.txt
  randovania/games/samus_returns/logic_database/header.txt
Owners: @randovania/am2r-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-samus-returns-db

Fix is_any_type_mode
  randovania/layout/base/dock_weakness_distributor_configuration.py
  test/layout/test_dock_weakness_distributor_configuration.py
Owners: none

Adjusted anti-aliasing to retain original detail
  randovania/data/gui_assets/tracker/game-images/dread/Super Missile.png
Owners: none

Add missing changelog entries
  CHANGELOG.md
Owners: none

Bump OPHR to 0.12.1
  pyproject.toml
  uv.lock
Owners: none

Generator: Fix reachable nodes not pathing via lock nodes
  CHANGELOG.md
  randovania/games/samus_returns/game_data.py
  randovania/generator/generator_native.py
  test/generator/test_generator_reach.py
Owners: none

Apply fix on both versions of the code
  randovania/generator/generator_native.py
Owners: none

Add discord_client_lifespan and ServerApp.discord_client
  randovania/server/discord_auth.py
  randovania/server/server_app.py
Owners: none

OPHR 0.12.2
  pyproject.toml
  uv.lock
Owners: none

Add pickup node to test
  test/generator/test_generator_reach.py
Owners: none

Planets (Zebeth): Fixed PDF error about pickup quantity
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
Owners: none

Remove NodeProvider in State, cleanup _determine_valid_weaknesses
  randovania/generator/dock_weakness_distributor.py
  randovania/graph/state.py
  randovania/resolver/bootstrap.py
  test/generator/filler/test_pickup_list.py
  test/generator/test_generator_reach.py
  test/resolver/test_state.py
Owners: none

Dread: Fix door to Cataris And Dairon Central Units being randomized
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Owners: @randovania/metroid-dread-db

Dread: Add migration
  randovania/layout/description_migration.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
