Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Revise tuple methods to use generics
  randovania/gui/dialog/connections_editor/requirement_tree.py
Owners: none

Simplify recursive case in `replace_at_path`
  randovania/gui/dialog/connections_editor/requirement_tree.py
Owners: none

Address review for requirement_tree.py
  randovania/gui/dialog/connections_editor/requirement_tree.py
Owners: none

Renamed Command to RequirementEditCommand
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/controller.py
Owners: none

Renamed Path to RequirementTreePath
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/connections_editor.py
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/model.py
  randovania/gui/dialog/connections_editor/path.py
  randovania/gui/dialog/connections_editor/requirement_tree.py
  randovania/gui/dialog/connections_editor/view.py
  test/gui/dialog/connections_editor/test_connections_editor.py
  test/gui/dialog/connections_editor/test_controller.py
  test/gui/dialog/connections_editor/test_model.py
  test/gui/dialog/connections_editor/test_path.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

Use absolute imports instead of relative
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/connections_editor.py
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/editor.py
  randovania/gui/dialog/connections_editor/model.py
  randovania/gui/dialog/connections_editor/requirement_tree.py
  randovania/gui/dialog/connections_editor/view.py
Owners: none

fusion lava lake logic update
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Owners: @randovania/metroid-fusion-db

More docstring coverage
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/connections_editor.py
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/editor.py
  randovania/gui/dialog/connections_editor/model.py
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Move fixtures out of root conftest.py
  test/conftest.py
  test/gui/dialog/connections_editor/conftest.py
Owners: none

Update tests with new fixtures
  test/gui/dialog/connections_editor/test_controller.py
  test/gui/dialog/connections_editor/test_model.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

randomprime v1.33.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Add tests for auto-tracker I forgor to commit
  test/gui/item_tracker/test_tracker_data_integrity.py
  test/gui/item_tracker/test_tracker_theme.py
Owners: none

Add command for converting images to webp
  randovania/cli/commands/database_images.py
  randovania/cli/development.py
Owners: none

Gravity Suit logic is always safe
  CHANGELOG.md
  randovania/games/prime1/game_data.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/gui/generated/preset_trick_level_ui.py
  randovania/gui/preset_settings/trick_level_tab.py
  randovania/gui/ui_files/preset_trick_level.ui
  randovania/layout/preset_migration.py
  test/games/prime1/exporter/test_prime_dangerous_settings.py
Owners: @randovania/metroid-prime-db

Make use of extra saveName length
  randovania/games/prime1/exporter/patch_data_factory.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
Owners: none

Better test coverage
  test/gui/dialog/connections_editor/test_controller.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

Update test_requirement_tree.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

Fix merge conflict resolution
  randovania/interface_common/persisted_options.py
Owners: none

Try to fix flaky tests
  test/network_client/test_network_client.py
  test/server/async_race/test_room_api.py
Owners: none

update FAQ
  randovania/games/prime1/game_data.py
Owners: none

allow items to be placed in bulk
  randovania/game_description/pickup/pickup_definition/base_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/generator/filler/retcon.py
  randovania/generator/pickup_pool/pickup_creator.py
Owners: none

Bump patcher
  pyproject.toml
  uv.lock
Owners: none

rename to bulk placement, remove staggered pickup option
  randovania/game_description/pickup/pickup_definition/base_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/retcon.py
  randovania/generator/pickup_pool/pickup_creator.py
  randovania/layout/base/base_configuration.py
  randovania/layout/preset_migration.py
  test/generator/conftest.py
Owners: none

update expected seed hashes
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
Owners: none

update expected bytes for tests
  test/layout/test_echoes_configuration.py
  test/layout/test_generator_parameters.py
Owners: none

Prime: Fix Mines Security Station always being a dangerous action
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
Owners: @randovania/metroid-prime-db

Update expected seed hash
  randovania/games/prime1/game_data.py
Owners: none

Reword changelog entry
  CHANGELOG.md
Owners: none

lava lake review
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Owners: @randovania/metroid-fusion-db

update changelog
  CHANGELOG.md
Owners: none

WIP scan_tips.py
  randovania/games/prime1/exporter/scan_tips.py
Owners: none

MultiplayerSessionWindow: don't show messagebox on closeEvent
  randovania/gui/multiplayer_session_window.py
Owners: none

MultiplayerSessionWindow: make closeEvent sync
  randovania/gui/multiplayer_session_window.py
  randovania/network_client/network_client.py
  test/gui/test_multiplayer_session_window.py
  test/network_client/test_network_client.py
Owners: none

Fix expected label in test_pack_array_element_missing
  test/bitpacking/test_bitpacking.py
Owners: none

Use Python 3.14
  .python-version
  Dockerfile.server
  pyproject.toml
Owners: none

Fix mypy ignores for py3.14
  randovania/lib/construct_lib.py
Owners: none

Use old coverage gathering to support Cython
  .coveragerc
Owners: none

Just ignore SyntaxWarning
  pytest.ini
Owners: none

Pivot from STRG patches to SCAN patches
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/scan_tips.py
Owners: none

Do app cleanup in aboutToQuit
  randovania/gui/qt.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
