Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

fix a crash in the data editor
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

Add test file for elevator/dl/portal rando. Fixes for portal
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  test/conftest.py
  test/test_files/log_files/prime2_opr/dlr-elevator-portal-rando.rdvgame
  test/test_files/patcher_data/prime2_opr/prime2_opr/dlr-elevator-portal-rando/world_1.json
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
Owners: none

rename temple grounds to gt elevator maps
  randovania/games/prime2_opr/assets/maps/Temple Transport A.png
  randovania/games/prime2_opr/assets/maps/Temple Transport B.png
  randovania/games/prime2_opr/assets/maps/Torvus Quadrant.png
  randovania/games/prime2_opr/logic_database/Temple Grounds.json
  randovania/games/prime2_opr/logic_database/Temple Grounds.txt
Owners: none

missed files in commit
  randovania/games/prime2_opr/assets/maps/Agon Quadrant.png
  randovania/games/prime2_opr/assets/maps/Sanctuary Quadrant.png
Owners: none

review
  pyproject.toml
  randovania/exporter/item_names.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/echoes_pickup_pool_tab.py
  randovania/games/prime2_opr/gui/preset_settings/prime2_opr_pickup_pool_tab.py
  randovania/gui/preset_settings/pickup_pool_tab.py
  randovania/gui/preset_settings/progressive_item_widget.py
  randovania/gui/preset_settings/split_ammo_widget.py
  randovania/gui/preset_settings/standard_pickup_widget.py
  randovania/gui/widgets/scroll_protected.py
Owners: none

great temple maps
  randovania/games/prime2_opr/assets/maps/Controller Transport.png
  randovania/games/prime2_opr/assets/maps/Main Energy Controller.png
  randovania/games/prime2_opr/assets/maps/Temple Sanctuary.png
  randovania/games/prime2_opr/assets/maps/Temple Transport A.png
  randovania/games/prime2_opr/assets/maps/Temple Transport B.png
  randovania/games/prime2_opr/assets/maps/Temple Transport C.png
  randovania/games/prime2_opr/assets/maps/Transport A Access.png
  randovania/games/prime2_opr/assets/maps/Transport B Access.png
  randovania/games/prime2_opr/assets/maps/Transport C Access.png
  randovania/games/prime2_opr/logic_database/Great Temple.json
  randovania/games/prime2_opr/logic_database/Great Temple.txt
Owners: none

add sky temple maps
  randovania/games/prime2_opr/assets/maps/Sanctum Access.png
  randovania/games/prime2_opr/assets/maps/Sanctum.png
  randovania/games/prime2_opr/assets/maps/Sky Temple Energy Controller.png
  randovania/games/prime2_opr/logic_database/Sky Temple.json
  randovania/games/prime2_opr/logic_database/Sky Temple.txt
Owners: none

rename transport maps
  randovania/games/prime2_opr/assets/maps/Amber Gate Transport.png
  randovania/games/prime2_opr/assets/maps/Emerald Gate Transport.png
  randovania/games/prime2_opr/assets/maps/Violet Gate Transport.png
  randovania/games/prime2_opr/logic_database/Great Temple.json
  randovania/games/prime2_opr/logic_database/Great Temple.txt
Owners: none

Fix files
  test/test_files/log_files/prime2_opr/dlr-elevator-portal-rando.rdvgame
  test/test_files/patcher_data/prime2_opr/prime2_opr/dlr-elevator-portal-rando/world_1.json
Owners: none

OPR: stg maps
  randovania/games/prime2_opr/assets/maps/Abandoned Base.png
  randovania/games/prime2_opr/assets/maps/Accursed Lake.png
  randovania/games/prime2_opr/assets/maps/Base Access.png
  randovania/games/prime2_opr/assets/maps/Defiled Shrine.png
  randovania/games/prime2_opr/assets/maps/Gateway Access.png
  randovania/games/prime2_opr/assets/maps/Ing Reliquary.png
  randovania/games/prime2_opr/assets/maps/Ing Reliquary.png.projection.json
  randovania/games/prime2_opr/assets/maps/Ing Windchamber.png
  randovania/games/prime2_opr/assets/maps/Lake Access.png
  randovania/games/prime2_opr/assets/maps/Phazon Grounds.png
  randovania/games/prime2_opr/assets/maps/Phazon Pit.png
  randovania/games/prime2_opr/assets/maps/Plain of Dark Worship.png
  randovania/games/prime2_opr/assets/maps/Profane Path.png
  randovania/games/prime2_opr/assets/maps/Reliquary Access.png
  randovania/games/prime2_opr/assets/maps/Reliquary Grounds.png
  randovania/games/prime2_opr/assets/maps/Shrine Access.png
  randovania/games/prime2_opr/assets/maps/Sky Temple Gateway.png
  randovania/games/prime2_opr/assets/maps/War Ritual Grounds.png
  randovania/games/prime2_opr/logic_database/Sky Temple Grounds.json
  randovania/games/prime2_opr/logic_database/Sky Temple Grounds.txt
Owners: none

remove projection json file
  randovania/games/prime2_opr/assets/maps/Ing Reliquary.png.projection.json
Owners: none

ing hive maps
  randovania/games/prime2_opr/assets/maps/Aerial Training Site.png
  randovania/games/prime2_opr/assets/maps/Central Hive East Transport.png
  randovania/games/prime2_opr/assets/maps/Central Hive West Transport.png
  randovania/games/prime2_opr/assets/maps/Culling Chamber.png
  randovania/games/prime2_opr/assets/maps/Entrance Defense Hall.png
  randovania/games/prime2_opr/assets/maps/Hazing Cliff.png
  randovania/games/prime2_opr/assets/maps/Hive Ammo Station.png
  randovania/games/prime2_opr/assets/maps/Hive Cache 1.png
  randovania/games/prime2_opr/assets/maps/Hive Cache 3.png
  randovania/games/prime2_opr/assets/maps/Hive Controller Access.png
  randovania/games/prime2_opr/assets/maps/Hive Dynamo Access.png
  randovania/games/prime2_opr/assets/maps/Hive Dynamo Works.png
  randovania/games/prime2_opr/assets/maps/Hive Energy Controller.png
  randovania/games/prime2_opr/assets/maps/Hive Entrance.png
  randovania/games/prime2_opr/assets/maps/Hive Gyro Access.png
  randovania/games/prime2_opr/assets/maps/Hive Gyro Chamber.png
  randovania/games/prime2_opr/assets/maps/Hive Portal Chamber.png
  randovania/games/prime2_opr/assets/maps/Hive Reactor Access.png
  randovania/games/prime2_opr/assets/maps/Hive Reactor.png
  randovania/games/prime2_opr/assets/maps/Hive Save Station 1.png
  randovania/games/prime2_opr/assets/maps/Hive Save Station 2.png
  randovania/games/prime2_opr/assets/maps/Hive Summit.png
  randovania/games/prime2_opr/assets/maps/Hive Temple Access.png
  randovania/games/prime2_opr/assets/maps/Hive Temple.png
  randovania/games/prime2_opr/assets/maps/Judgment Drop.png
  randovania/games/prime2_opr/assets/maps/Staging Area.png
  randovania/games/prime2_opr/assets/maps/Temple Security Access.png
  randovania/games/prime2_opr/assets/maps/Unseen Way.png
  randovania/games/prime2_opr/assets/maps/Vault Attack Portal.png
  randovania/games/prime2_opr/logic_database/Ing Hive.json
  randovania/games/prime2_opr/logic_database/Ing Hive.txt
Owners: none

Logically make all portals two-way in portal rando
  randovania/game_description/game_patches.py
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  randovania/games/prime2_opr/generator/base_patches_factory.py
  randovania/gui/game_details/dock_lock_details_tab.py
  test/test_files/log_files/prime2_opr/dlr-elevator-portal-rando.rdvgame
  test/test_files/patcher_data/prime2_opr/prime2_opr/dlr-elevator-portal-rando/world_1.json
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
Owners: none

OPR gui additions
  randovania/games/common/prime_family/gui/prime_trilogy_teleporter_details_tab.py
  randovania/games/prime2/gui/portal_details_tab.py
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime2_opr/gui/generated/games_tab_prime2_opr_widget_ui.py
  randovania/games/prime2_opr/gui/generated/preset_prime2_opr_patches_ui.py
  randovania/games/prime2_opr/gui/preset_settings/prime2_opr_patches_tab.py
  randovania/games/prime2_opr/gui/ui_files/games_tab_prime2_opr_widget.ui
  randovania/games/prime2_opr/gui/ui_files/preset_prime2_opr_patches.ui
  randovania/games/prime2_opr/layout/preset_describer.py
Owners: none

clean up portal details tab a bit
  randovania/games/prime2/gui/portal_details_tab.py
Owners: none

Only implement for fusion
  randovania/layout/preset_migration.py
Owners: none

static typing for calling server event handlers from the client
  pyproject.toml
  randovania/bitpacking/json_dataclass.py
  randovania/game_description/hint.py
  randovania/games/dread/gui/preset_settings/dread_lights_tab.py
  randovania/gui/async_race_room_window.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/lib/qt_network_client.py
  randovania/network_client/network_client.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/multiplayer/session_api.py
  randovania/server/multiplayer/world_api.py
  randovania/server/server_app.py
  randovania/server/socketio.py
  randovania/server/user_session.py
  test/bitpacking/test_json_dataclass.py
  test/bitpacking/test_json_dataclass_future_import.py
  test/gui/lib/test_multiplayer_session_api.py
  test/gui/lib/test_qt_network_client.py
  test/gui/test_multiplayer_session_window.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_world_api.py
  test/server/test_socketio.py
Owners: none

Primes: Read inventory array in bulk
  randovania/game_connection/connector/echoes_remote_connector.py
  randovania/game_connection/connector/prime1_remote_connector.py
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Fix missing implementations for some base methods
  randovania/game_connection/connector/echoes_remote_connector.py
  randovania/game_connection/connector/prime1_remote_connector.py
Owners: none

static typing for emitting client signals from the server
  randovania/network_client/network_client.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_common.py
  randovania/server/multiplayer/world_api.py
  randovania/server/socketio.py
  randovania/server/user_session.py
Owners: none

better way
  randovania/network_client/network_client.py
  randovania/network_common/signals.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_common.py
  randovania/server/multiplayer/world_api.py
  randovania/server/socketio.py
  randovania/server/user_session.py
  test/gui/lib/test_multiplayer_session_api.py
  test/gui/test_multiplayer_session_window.py
  test/network_client/test_network_client.py
  test/server/async_race/test_room_api.py
  test/server/multiplayer/test_session_admin.py
  test/server/multiplayer/test_session_common.py
  test/server/multiplayer/test_world_api.py
  test/server/test_user_session.py
Owners: none

even better
  randovania/server/socketio.py
  test/server/test_socketio.py
Owners: none

type network_common, too
  pyproject.toml
  randovania/network_client/network_client.py
  randovania/network_common/__init__.py
  randovania/network_common/error.py
  randovania/network_common/multiplayer_session.py
  randovania/network_common/pickup_serializer.py
  randovania/network_common/user.py
  randovania/server/multiplayer/session_admin.py
  test/layout/test_game_patches_serializer.py
Owners: none

hopefully fix executables
  randovania/network_common/signals.py
  randovania/server/multiplayer/session_common.py
  randovania/server/socketio.py
Owners: none

remove leftover code
  randovania/server/multiplayer/session_common.py
Owners: none

rework iterating items slightly to be cleaner
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Remove shinespark as already in logic. Remove DLR-exclusion from existing trick.
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Owners: @randovania/metroid-fusion-db

Fix tests
  randovania/game_connection/connector/prime_remote_connector.py
  test/game_connection/connector/test_echoes_remote_connector.py
Owners: none

fix mypy
  test/game_connection/connector/test_echoes_remote_connector.py
Owners: none

a better way?
  randovania/gui/async_race_room_window.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/lib/qt_network_client.py
  randovania/network_client/network_client.py
  randovania/network_common/client_signals.py
  randovania/network_common/server_signals.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/multiplayer/session_api.py
  randovania/server/multiplayer/session_common.py
  randovania/server/multiplayer/world_api.py
  randovania/server/server_app.py
  randovania/server/socketio.py
  randovania/server/user_session.py
  test/server/test_socketio.py
Owners: none

style and more typing
  randovania/network_client/network_client.py
  randovania/network_common/client_signals.py
  randovania/network_common/multiplayer_session.py
  randovania/network_common/remote_pickup.py
  randovania/network_common/server_signals.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_common.py
  randovania/server/multiplayer/world_api.py
  randovania/server/user_session.py
Owners: none

reorganize into dedicated module
  randovania/gui/async_race_room_window.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/lib/qt_network_client.py
  randovania/network_client/network_client.py
  randovania/network_common/multiplayer_session.py
  randovania/network_common/remote_pickup.py
  randovania/network_common/signals/__init__.py
  randovania/network_common/signals/client_signals.py
  randovania/network_common/signals/common.py
  randovania/network_common/signals/server_signals.py
  randovania/server/async_race/room_api.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/multiplayer/session_api.py
  randovania/server/multiplayer/session_common.py
  randovania/server/multiplayer/world_api.py
  randovania/server/server_app.py
  randovania/server/user_session.py
  test/network_client/test_network_client.py
  test/server/test_socketio.py
Owners: none

Dread: Remove knowledge trick from pb limitations disabled logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Owners: @randovania/metroid-dread-db

Fix for games with region images
  randovania/gui/widgets/data_editor_canvas.py
  test/gui/lib/test_data_editor_canvas.py
Owners: none

review, rename, and add tests
  randovania/network_common/signals/client_signals.py
  randovania/network_common/signals/server_signals.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/server_app.py
  test/network_common/test_signals.py
  test/server/test_socketio.py
Owners: none

god dammit
  test/network_common/test_signals.py
Owners: none

Use unpack_from instead of manually changing format to ignore stuff
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Add changelog entry
  CHANGELOG.md
Owners: none

Nintendont: Better error messages when nintendont is invalid
  CHANGELOG.md
  randovania/game_connection/executor/nintendont_executor.py
  test/game_connection/executor/test_nintendont_executor.py
Owners: none

Stream friendly themes: don't hardcode white text
  CHANGELOG.md
  randovania/data/gui_assets/tracker/am2r-game-weekly.json
  randovania/data/gui_assets/tracker/prime1-pixel-tournament.json
  randovania/data/gui_assets/tracker/prime2-pixel-tournament.json
Owners: none
