Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Update _pickup_assignment_to_pickup_locations
  randovania/layout/game_patches_serializer.py
Owners: none

Update find_invalid_strongly_connected_components
  randovania/game_description/integrity_check.py
Owners: none

Remove most ResourceNode methods
  randovania/game_description/db/event_node.py
  randovania/game_description/db/event_pickup.py
  randovania/game_description/db/hint_node.py
  randovania/game_description/db/pickup_node.py
  randovania/game_description/db/resource_node.py
  randovania/game_description/db/teleporter_network_node.py
  randovania/game_description/trick_documentation.py
Owners: none

Fix test
  test/resolver/test_resolver_reach.py
Owners: none

Update check_for_items_to_be_replaced_by_templates
  randovania/game_description/integrity_check.py
Owners: none

TrackerMap: don't use connections_from
  randovania/gui/widgets/tracker_map.py
Owners: none

Delete potential_nodes_from
  randovania/game_description/db/node_provider.py
  randovania/game_description/db/region_list.py
  randovania/game_description/game_description.py
Owners: none

Remove Node.connections_from
  randovania/game_description/db/dock_node.py
  randovania/game_description/db/node.py
  randovania/game_description/db/teleporter_network_node.py
  randovania/generator/dock_weakness_distributor.py
Owners: none

Restore blast shield test
  randovania/game_description/db/event_node.py
  test/graph/test_world_graph.py
Owners: none

mypy
  randovania/game_description/integrity_check.py
Owners: none

mypy 2
  randovania/gui/game_details/dock_lock_details_tab.py
Owners: none

Fusion: Add animal event back
  CHANGELOG.md
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

Fix State creation to not be weird
  randovania/game_description/game_database_view.py
  randovania/game_description/resources/resource_database.py
  randovania/resolver/bootstrap.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_player_state.py
  test/generator/test_generator_reach.py
Owners: none

More cleanup
  randovania/game_description/db/event_node.py
  randovania/game_description/db/event_pickup.py
  randovania/game_description/db/hint_node.py
  randovania/game_description/db/pickup_node.py
  randovania/game_description/db/resource_node.py
  randovania/game_description/db/teleporter_network_node.py
  test/resolver/test_state.py
Owners: none

mypy
  pyproject.toml
  randovania/resolver/bootstrap.py
Owners: none

more mypy
  pyproject.toml
  randovania/resolver/debug.py
  randovania/resolver/exceptions.py
  randovania/resolver/hint_state.py
Owners: none

Fixing errors, perhaps?
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Owners: @randovania/metroid-fusion-db

check for negate requirement with resources
  randovania/game_description/integrity_check.py
Owners: none

Minimize test_client usage, use in-memory db without test_client
  test/server/conftest.py
  test/server/multiplayer/conftest.py
  test/server/multiplayer/test_web_api.py
Owners: none

Fusion: Remove generator hack going down clogged cavern
  CHANGELOG.md
  randovania/games/fusion/game_data.py
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Fusion: Remove beginner movement from easy S6 climbs
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

No need for fancy special cases for test_client
  randovania/server/database.py
  test/server/async_race/test_room_api.py
  test/server/conftest.py
  test/server/multiplayer/conftest.py
  test/server/multiplayer/test_web_api.py
  test/server/test_lifespans.py
  test/server/test_user_session.py
Owners: none

Remove NodeContext usage from WorldGraphNode
  randovania/generator/filler/pickup_list.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
  randovania/graph/state.py
  randovania/graph/world_graph.py
  randovania/gui/tracker_window.py
  randovania/resolver/logging.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  test/graph/test_world_graph.py
  test/resolver/test_resolver_reach.py
Owners: none

Add Bitmask
  .gitignore
  pyproject.toml
  randovania.spec
  randovania/_native.py
  randovania/_native_helper.py
  randovania/lib/bitmask.py
  setup.py
  test/lib/test_bitmask.py
  tools/bundle_macos_universal_wheels.py
  uv.lock
Owners: none

Add native ResourceCollection
  randovania/_native.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/resources/resource_collection.py
  randovania/graph/world_graph.py
  randovania/resolver/resolver.py
  test/game_description/resources/test_resource_collection.py
  test/game_description/resources/test_resource_info.py
  test/game_description/test_requirements.py
  test/game_description/test_resources.py
Owners: none

Add Caltrops as damage for Blank game
  randovania/games/blank/logic_database/header.json
Owners: none

Prime 1: Sunchamber and co rework
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

fix defeated typo
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

Add Bitmask
  .gitignore
  pyproject.toml
  randovania.spec
  randovania/_native.py
  randovania/_native_helper.py
  randovania/lib/bitmask.py
  setup.py
  test/lib/test_bitmask.py
  tools/bundle_macos_universal_wheels.py
  uv.lock
Owners: none

Add native ResourceCollection
  randovania/_native.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/resources/resource_collection.py
  randovania/graph/world_graph.py
  randovania/resolver/resolver.py
  test/game_description/resources/test_resource_collection.py
  test/game_description/resources/test_resource_info.py
  test/game_description/test_requirements.py
  test/game_description/test_resources.py
Owners: none

GraphRequirement
  pyproject.toml
  randovania/_native.py
  randovania/graph/graph_requirement.py
  randovania/graph/requirement_converter.py
  test/game_description/test_requirements.py
  test/graph/test_graph_requirement.py
  test/graph/test_requirement_converter.py
Owners: none

Initial GraphRequirement usage
  randovania/game_description/game_description.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/requirements/requirement_set.py
  randovania/graph/state.py
  randovania/graph/world_graph.py
  randovania/resolver/bootstrap.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  test/conftest.py
  test/game_description/test_requirements.py
  test/graph/test_world_graph.py
Owners: none

from_graph_requirement_list: duplicate requirement as single
  randovania/game_description/requirements/requirement_list.py
  randovania/generator/filler/pickup_list.py
  test/generator/filler/test_pickup_list.py
Owners: none

Use GraphRequirement
  randovania/game_description/game_description.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/generator/generator_reach.py
  randovania/generator/graph.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
  randovania/graph/world_graph.py
  randovania/gui/tracker_window.py
  randovania/resolver/logging.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  test/conftest.py
  test/game_description/test_resources.py
  test/generator/filler/test_pickup_list.py
  test/generator/test_graph.py
  test/resolver/test_resolver_reach.py
Owners: none

Tweaks in _expand_graph
  randovania/generator/old_generator_reach.py
Owners: none

Pre-calculate GeneratorReach's extra_requirement
  randovania/generator/old_generator_reach.py
  randovania/graph/world_graph.py
Owners: none

pickups_to_solve_list with better initial collection size
  randovania/generator/filler/pickup_list.py
Owners: none

Update expected seed hash for Fusion
  randovania/games/fusion/game_data.py
Owners: none

Move simplify_requirement_list to native
  randovania/_native.py
  randovania/resolver/resolver.py
Owners: none

Delay merging requirements_excluding_leaving_by_node
  randovania/resolver/resolver_reach.py
Owners: none
