Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Fusion: Mark cathedral to save access doors as excluded from DLR
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Owners: @randovania/metroid-fusion-db

Fusion: Rename more rooms to remove sector references
  CHANGELOG.md
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/layout/description_migration.py
Owners: @randovania/metroid-fusion-db

fix tests
  randovania/layout/description_migration.py
  test/games/test_log_file_export.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Owners: none

Fix some old rdvgames with nothing hints not migrating
  CHANGELOG.md
  randovania/layout/description_migration.py
Owners: none

revert accidental uncommit
  test/games/test_log_file_export.py
Owners: none

fix tests
  CHANGELOG.md
  randovania/games/fusion/assets/migration_data.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

fix tests x2
  randovania/games/fusion/game_data.py
Owners: none

unsafe ruff fixes
  randovania/bitpacking/bitpacking.py
  randovania/bitpacking/construct_pack.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/generator/filler/filler_library.py
  randovania/gui/dialog/async_race_admin_dialog.py
  randovania/gui/preset_settings/pickup_pool_tab.py
  randovania/interface_common/options.py
  randovania/layout/base/standard_pickup_configuration.py
  randovania/lib/container_lib.py
  randovania/lib/enum_lib.py
  randovania/lib/random_lib.py
  randovania/resolver/logging.py
  test/gui/widgets/test_game_connection_window.py
  tools/factorio/create_nodes.py
Owners: none

This lambda is actually needed
  randovania/interface_common/options.py
Owners: none

Fix typing. Bad auto-fix from ruff :O
  randovania/game_description/data_writer.py
Owners: none

Add test rdvgame
  randovania/layout/description_migration.py
  test/conftest.py
  test/test_files/log_files/multi-old-echoes-with-owner-precision.rdvgame
  test/test_files/patcher_data/prime2/multi-old-echoes-with-owner-precision/world_1.json
  test/test_files/patcher_data/prime2/multi-old-echoes-with-owner-precision/world_2.json
Owners: none

fix changelog
  CHANGELOG.md
Owners: none

Bring back nothing as a deprecated precision for compatibility
  randovania/exporter/hints/pickup_hint.py
  randovania/game_description/hint.py
  randovania/layout/description_migration.py
Owners: none

fix tests again
  test/test_files/patcher_data/prime2/multi-old-echoes-with-owner-precision/world_1.json
  test/test_files/patcher_data/prime2/multi-old-echoes-with-owner-precision/world_2.json
Owners: none

Echoes: Add HoCM ludicrous bsj+instant morph
  CHANGELOG.md
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
Owners: @randovania/metroid-prime-2-db

Update odr version
  pyproject.toml
  uv.lock
Owners: none

Fusion: Rename more rooms with unofficial names/sector reference
  CHANGELOG.md
  randovania/games/fusion/exporter/joke_hints.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/gui/generated/games_tab_fusion_widget_ui.py
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
  randovania/games/fusion/hash_words.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/layout/description_migration.py
  test/gui/lib/test_data_editor_links.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: @randovania/metroid-fusion-db

Add an "Other" preset option for Dread to skip popups after picking up an item (added/fixed tests too)
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/generated/preset_dread_patches_ui.py
  randovania/games/dread/gui/preset_settings/dread_patches_tab.py
  randovania/games/dread/gui/ui_files/preset_dread_patches.ui
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/preset_describer.py
  randovania/layout/preset_migration.py
  test/test_files/log_files/dread/all_settings.rdvgame
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
Owners: none

Dread: Fix low power bomb requirements in Hanubia
  CHANGELOG.md
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
Owners: @randovania/metroid-dread-db

Dread: Fix expected hash
  randovania/games/dread/game_data.py
Owners: none

Dread: Add comment
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
Owners: @randovania/metroid-dread-db

fix text representation again
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Owners: @randovania/metroid-fusion-db

Fix tests
  test/test_files/patcher_data/dread/dread/all_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
Owners: none

Add cosmetic toggle for showing DNA in HUD (in same panel as Death Counter, if enabled)
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/gui/generated/dread_cosmetic_patches_dialog_ui.py
  randovania/games/dread/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/games/dread/layout/dread_cosmetic_patches.py
Owners: none

Use any() function instead of loops for FSU/SBU item logic
  randovania/games/dread/exporter/patch_data_factory.py
Owners: none

Fix wrong declarations
  randovania/games/dread/exporter/patch_data_factory.py
Owners: none

Include patcher config values for whether or not Flash Shift Upgrades and/or Speed Booster Upgrades are present in the item pool
  randovania/games/dread/exporter/patch_data_factory.py
Owners: none

Added changelog entries for everything (and moved the entries for my last two merged PRs into the correct section of the changelog)
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update mars-py to 0.11.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Owners: none

Dread: Automatically adjust testing patcher data
  test/test_files/patcher_data/dread/dread/all_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/cosmetic_2.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
Owners: none

Add damage type "Blue-X Damage", replace s6 cold damage with blue-x damage
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

Fix missing damage type change
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Add Varia Suit as a BlueXDamage damage reduction
  randovania/games/fusion/logic_database/header.json
Owners: none

Add damage split and singular logic change to CHANGELOG
  CHANGELOG.md
Owners: none

bump to charged dark intermediate
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Owners: @randovania/metroid-prime-2-db

consolidate charged dark beam fight changelog
  CHANGELOG.md
Owners: none

Fix typo in changelog
  CHANGELOG.md
Owners: none

Update ruff linting configuration
  pyproject.toml
Owners: none

Planets (Zebeth): Fix mypy
  randovania/games/planets_zebeth/gui/preset_settings/planets_zebeth_pool_tab.py
Owners: none
