Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Connections editor: dont change checkbox label
  randovania/gui/dialog/connections_editor/editor.py
Owners: none

Add `grants_on_collect` ressources to bitmask Move `grants_on_collect` to always be last.
  randovania/game_description/data_reader.py
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  test/graph/test_world_graph.py
Owners: none

Fix Starting Ammo Values
  CHANGELOG.md
  pyproject.toml
  randovania/games/prime_hunters/logic_database/header.json
  uv.lock
Owners: none

Fix flaky test `test_persist_logical_pickup_placement`
  test/gui/preset_settings/test_generation_tab.py
Owners: none

Fusion: Unlock some more doors that lead directly to save
  CHANGELOG.md
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

Fix tests on stable because Blank Dev is not avaialble in game sessions
  test/gui/dialog/test_async_race_creation_dialog.py
Owners: none

update changelog for new version
  CHANGELOG.md
Owners: none

Fix check_if_beatable for multiworld
  CHANGELOG.md
  randovania/generator/generator.py
Owners: none

Dread: Add missing requirement on disabled Door Rando for Shinespark
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Move call to the format string
  randovania/game_description/pretty_print.py
Owners: none

Fix check_if_beatable for multiworld
  CHANGELOG.md
  randovania/generator/generator.py
Owners: none

Using Baubles at Lonka requires the Noisemaker
  randovania/games/yokus_island_express/logic_database/Hub.json
  randovania/games/yokus_island_express/logic_database/Hub.txt
Owners: none

Rename Event because it starts the Quest not finish it
  randovania/games/yokus_island_express/logic_database/Jungle.json
  randovania/games/yokus_island_express/logic_database/Jungle.txt
  randovania/games/yokus_island_express/logic_database/header.json
Owners: none

Update ubuntu runner for arm workflow
  .github/workflows/arm-python.yml
Owners: none

flatpak: add rdv desktop action
  CHANGELOG.md
  randovania/data/xdg_assets/io.github.randovania.Randovania.desktop
Owners: none

- Add path via trapdoor by talking to Krax - Remove connection from initial import - Change Pickup (Wl. 62: Underbelly I Left) to trivial
  randovania/games/yokus_island_express/logic_database/Spring.json
  randovania/games/yokus_island_express/logic_database/Spring.txt
Owners: none

Add dark mode colors based on browser color scheme
  randovania/server/static/style.css
Owners: none

Fix easter egg shiny chances
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
Owners: none

changelog
  CHANGELOG.md
Owners: none

Fix /guest_login via browser Fixes #9638
  randovania/server/user_session.py
  test/server/test_user_session.py
Owners: none

Add missing Hook requirement (Only Vaccum is annoying, maybe behind a trick)
  randovania/games/yokus_island_express/logic_database/Spring.json
  randovania/games/yokus_island_express/logic_database/Spring.txt
Owners: none

Add alternative requirements for Nim's Pickup
  randovania/games/yokus_island_express/logic_database/Hub.json
  randovania/games/yokus_island_express/logic_database/Hub.txt
Owners: none

Move Bitmask to a pure C++ value, for less GC pressure
  randovania/graph/graph_requirement.pxd
  randovania/graph/graph_requirement.py
  randovania/lib/bitmask.pxd
  randovania/lib/bitmask.py
  randovania/lib/native/bitmask.hpp
Owners: none

Avoid allocating/deallocating memory all the time
  randovania/game_description/resources/resource_collection.pxd
  randovania/game_description/resources/resource_collection.py
  randovania/generator/generator_native.py
  randovania/lib/cython_helper.py
  randovania/resolver/logic.py
  randovania/resolver/process_nodes_state.py
  randovania/resolver/resolver_native.pxd
  randovania/resolver/resolver_native.py
Owners: none

Create native struct for holding resolver results
  randovania/resolver/resolver_native.pxd
  randovania/resolver/resolver_native.py
  randovania/resolver/resolver_reach.py
  test/resolver/test_resolver_reach.py
Owners: none

Change requirements to travel to the final area
  randovania/games/yokus_island_express/logic_database/Hub.json
  randovania/games/yokus_island_express/logic_database/Hub.txt
Owners: none

Update expected seed hash
  randovania/games/yokus_island_express/game_data.py
Owners: none

Fix missing action entry in desktop file
  randovania/data/xdg_assets/io.github.randovania.Randovania.desktop
Owners: none

Make jinja auto escape our templates
  randovania/server/server_app.py
Owners: none

Add FAQ
  randovania/games/yokus_island_express/game_data.py
Owners: none

Mypy fix
  test/games/yokus_island_express/gui/test_yoku_game_export_dialog.py
Owners: none

Use alternative goal as second built-in preset
  randovania/games/yokus_island_express/presets/beacon_hunt.rdvpreset
Owners: none

Add Noisemaker to Wickerling from Pitch
  randovania/games/yokus_island_express/logic_database/Cave.json
  randovania/games/yokus_island_express/logic_database/Cave.txt
Owners: none

Add Yoku exporter
  pyproject.toml
  randovania/games/yokus_island_express/exporter/game_exporter.py
  test/games/yokus_island_express/exporter/test_yoku_game_exporter.py
  uv.lock
Owners: none

Add tests
  test/conftest.py
  test/game_connection/builder/test_yoku_connector_builder.py
  test/game_connection/connector/test_yoku_remote_connector.py
  test/game_connection/executor/test_yoku_executor.py
  test/games/yokus_island_express/exporter/test_yoku_patch_data_factory.py
  test/gui/widgets/test_game_connection_window.py
  test/test_files/log_files/multi-dread+msr+yoku.rdvgame
  test/test_files/patcher_data/dread/multi-dread+msr+yoku/world_1.json
  test/test_files/patcher_data/samus_returns/multi-dread+msr+yoku/world_2.json
  test/test_files/patcher_data/yokus_island_express/multi-dread+msr+yoku/world_3.json
Owners: none

Fix mypy
  test/game_connection/connector/test_yoku_remote_connector.py
  test/game_connection/executor/test_yoku_executor.py
Owners: none

Add light-dark colors for other elements
  randovania/server/static/style.css
Owners: none
