Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

small fixes after discussions
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
Owners: none

Fixing some more comments
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
Owners: none

Dread: Add trick to get Space Jump Room Missile with Speed Booster
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Owners: @randovania/metroid-dread-db

Add requirements for eye door
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
Owners: none

brinstar logic pass, include hints and save starting data
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/Brinstar.json
  randovania/games/zero_mission/logic_database/Brinstar.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

remove can use missiles template
  randovania/games/zero_mission/logic_database/Brinstar.json
  randovania/games/zero_mission/logic_database/Brinstar.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

remove can use missiles template from Ri'day
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
Owners: none

update randomprime (again)
  pyproject.toml
  uv.lock
Owners: none

use ballspark template and address minor comments
  randovania/games/zero_mission/logic_database/Brinstar.json
  randovania/games/zero_mission/logic_database/Brinstar.txt
Owners: none

update expected seed hash
  randovania/games/zero_mission/game_data.py
Owners: none

Reduce wavebuster: base cost: 10->8
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1-vanilla/world_1.json
  test/test_files/patcher_data/prime1/prime1/damage-check/world_1.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Owners: @randovania/metroid-prime-db

Add hashes for Korean prime and prime practice mod
  randovania/games/common/prime_family/exporter/good_hashes.py
Owners: none

Changelog
  CHANGELOG.md
Owners: none

Trickless for Kraid pt1
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

Dark Stairwell <-> Central Nexus Connection Fixes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

Undo Morph Requirement in the connection, as the Dock requires Morph
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Owners: @randovania/metroid-fusion-db

Add to changelog
  CHANGELOG.md
Owners: none

Fix erroneous Knowledge level downgrade
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Owners: @randovania/metroid-fusion-db

Add intermediate walljump as an alternative to
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Owners: @randovania/metroid-fusion-db

Update Mid-Air Morph to advanced
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Owners: @randovania/metroid-fusion-db

Fix typos in Knowledge description and twin caverns save room name
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Owners: @randovania/metroid-fusion-db

ZM: use MetroidPresetPickupPool
  randovania/games/zero_mission/gui/preset_settings/__init__.py
Owners: none

changes
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

fixes from merging
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
Owners: none

Zipline Activation implemented
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/pickup_database/pickup-database.json
  randovania/games/zero_mission/presets/starter_preset.rdvpreset
Owners: none

Kraid attic logic
  randovania/games/zero_mission/game_data.py
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
  test/games/zero_mission/layout/test_zero_mission_describer.py
Owners: none

changes
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/header.json
  randovania/games/zero_mission/logic_database/header.txt
  randovania/games/zero_mission/pickup_database/pickup-database.json
Owners: none

Planets (Zebeth): Implemented Breakable Blocks with Screw Attack option
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/gui/generated/preset_planets_zebeth_patches_ui.py
  randovania/games/planets_zebeth/gui/preset_settings/planets_zebeth_patches_tab.py
  randovania/games/planets_zebeth/gui/ui_files/preset_planets_zebeth_patches.ui
  randovania/games/planets_zebeth/layout/planets_zebeth_configuration.py
  randovania/games/planets_zebeth/presets/starter_preset.rdvpreset
  randovania/games/planets_zebeth/presets/starter_preset_shuffle_keys.rdvpreset
  test/test_files/log_files/planets_zebeth/starter_preset.rdvgame
  test/test_files/log_files/planets_zebeth/starter_preset_shuffle_keys.rdvgame
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Owners: none

Update Dread Artaria logic database
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

updated change log
  CHANGELOG.md
Owners: none

add Ziplines as StartingItemCategory, enable a few patcher options
  randovania/games/zero_mission/exporter/patch_data_factory.py
  randovania/games/zero_mission/layout/zero_mission_configuration.py
  randovania/games/zero_mission/presets/starter_preset.rdvpreset
  test/test_files/log_files/zero_mission/starter_preset.rdvgame
  test/test_files/patcher_data/zero_mission/zero_mission/starter_preset/world_1.json
Owners: none

changes
  randovania/games/zero_mission/logic_database/Kraid.json
  randovania/games/zero_mission/logic_database/Kraid.txt
  randovania/games/zero_mission/logic_database/header.json
Owners: none

Update Tournament winners for Mentor/Coop tournament
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Update patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Revert "Update patch_data_factory.py"
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

create new game
  randovania/game/game_enum.py
  randovania/games/prime_2_echoes/__init__.py
  randovania/games/prime_2_echoes/assets/cover.png
  randovania/games/prime_2_echoes/assets/migration_data.json
  randovania/games/prime_2_echoes/exporter/__init__.py
  randovania/games/prime_2_echoes/exporter/game_exporter.py
  randovania/games/prime_2_echoes/exporter/hint_namer.py
  randovania/games/prime_2_echoes/exporter/options.py
  randovania/games/prime_2_echoes/exporter/patch_data_factory.py
  randovania/games/prime_2_echoes/game_data.py
  randovania/games/prime_2_echoes/generator/__init__.py
  randovania/games/prime_2_echoes/generator/base_patches_factory.py
  randovania/games/prime_2_echoes/generator/bootstrap.py
  randovania/games/prime_2_echoes/generator/hint_distributor.py
  randovania/games/prime_2_echoes/generator/pool_creator.py
  randovania/games/prime_2_echoes/gui/__init__.py
  randovania/games/prime_2_echoes/gui/dialog/__init__.py
  randovania/games/prime_2_echoes/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/prime_2_echoes/gui/dialog/game_export_dialog.py
  randovania/games/prime_2_echoes/gui/generated/__init__.py
  randovania/games/prime_2_echoes/gui/generated/games_tab_prime_2_echoes_widget_ui.py
  randovania/games/prime_2_echoes/gui/generated/prime_2_echoes_cosmetic_patches_dialog_ui.py
  randovania/games/prime_2_echoes/gui/preset_settings/__init__.py
  randovania/games/prime_2_echoes/gui/preset_settings/prime_2_echoes_patches_tab.py
  randovania/games/prime_2_echoes/gui/prime_2_echoes_game_tab.py
  randovania/games/prime_2_echoes/gui/ui_files/.gitignore
  randovania/games/prime_2_echoes/gui/ui_files/games_tab_prime_2_echoes_widget.ui
  randovania/games/prime_2_echoes/gui/ui_files/prime_2_echoes_cosmetic_patches_dialog.ui
  randovania/games/prime_2_echoes/hash_words.py
  randovania/games/prime_2_echoes/layout/__init__.py
  randovania/games/prime_2_echoes/layout/prime_2_echoes_configuration.py
  randovania/games/prime_2_echoes/layout/prime_2_echoes_cosmetic_patches.py
  randovania/games/prime_2_echoes/layout/progressive_items.py
  randovania/games/prime_2_echoes/logic_database/Main.json
  randovania/games/prime_2_echoes/logic_database/Main.txt
  randovania/games/prime_2_echoes/logic_database/header.json
  randovania/games/prime_2_echoes/logic_database/header.txt
  randovania/games/prime_2_echoes/pickup_database/pickup-database.json
  randovania/games/prime_2_echoes/presets/starter_preset.rdvpreset
Owners: none

Prime 1 MW: Don't read invalid CPlayer at title screen
  CHANGELOG.md
  randovania/game_connection/connector/prime1_remote_connector.py
Owners: none

Update tourney winners
  randovania/games/prime2/exporter/patch_data_factory.py
Owners: none

Corrected formating and Fixed tests
  randovania/games/prime2/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/world_2.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
  test/test_files/patcher_data/prime2/prime1_and_2_multi/world_2.json
  test/test_files/patcher_data/prime2/prime2/door_lock_rando/world_1.json
  test/test_files/patcher_data/prime2/prime2/launcher_and_negative_expansions/world_1.json
  test/test_files/patcher_data/prime2/prime2/starts_with_cannon_ball/world_1.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_only_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_seed_b/world_1.json
  test/test_files/patcher_data/prime2/seed_a/world_1.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Owners: none

fix tests
  randovania/games/prime2_dev/game_data.py
  randovania/games/prime2_dev/gui/preset_settings/echoes_patches_tab.py
  randovania/games/prime2_dev/presets/starter_preset.rdvpreset
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
