Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

FillerResults: has a list of FillerPlayerResult instead of a dict
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
Owners: none

Dread: Adjust dangerous actions without Gravity Suit in Burenia and Dairon
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Owners: @randovania/metroid-dread-db

Rename PickupTarget.player
  randovania/exporter/hints/credits_spoiler.py
  randovania/exporter/hints/guaranteed_item_hint.py
  randovania/exporter/hints/pickup_hint.py
  randovania/exporter/pickup_exporter.py
  randovania/game_description/assignment.py
  randovania/games/am2r/generator/hint_distributor.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/generator/hint_distributor.py
  randovania/games/fusion/generator/hint_distributor.py
  randovania/games/prime1/hint_distributor.py
  randovania/games/prime2/generator/hint_distributor.py
  randovania/games/prime_hunters/generator/hint_distributor.py
  randovania/games/samus_returns/generator/hint_distributor.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/graph/world_graph_factory.py
  randovania/gui/game_details/hint_details_tab.py
  randovania/gui/game_details/pickup_details_tab.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/layout/game_patches_serializer.py
  randovania/log_analyzer/log_analyzer.py
  randovania/server/multiplayer/world_api.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
  test/games/fusion/generator/test_fusion_hint_distributor.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/gui/widgets/test_game_validator_widget.py
  test/server/multiplayer/test_world_api.py
Owners: none

More renames
  randovania/generator/generator.py
Owners: none

Fix changelog typos
  CHANGELOG.md
Owners: none

Fix the log analyzer and add a basic test
  randovania/cli/analyze.py
  randovania/log_analyzer/log_analyzer.py
  test/log_analyzer/test_log_analyzer.py
Owners: none

UV exclude packages newer than 7 days
  pyproject.toml
  uv.lock
Owners: none

Adjusting resolver to support multiworld
  randovania/cli/commands/validate.py
  randovania/game_connection/connector/abandoned_world_remote_connector.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/graph/state.py
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  randovania/gui/tracker_window.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/resolver/bootstrap.py
  randovania/resolver/hint_state.py
  randovania/resolver/logging.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_native.py
  randovania/resolver/resolver_reach.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_player_state.py
  test/generator/test_generator_reach.py
  test/gui/widgets/test_game_validator_widget.py
  test/resolver/test_logging.py
  test/resolver/test_resolver.py
  test/resolver/test_resolver_reach.py
  test/resolver/test_state.py
Owners: none

Roll back difficulty changes
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Owners: @randovania/metroid-dread-db

Add minimum version for UV
  pyproject.toml
Owners: none

Update UV version and setup workflow
  .github/workflows/arm-python.yml
  .github/workflows/benchmark.yml
  .github/workflows/build-test-publish.yml
  .github/workflows/linter.yml
  .github/workflows/trick-documentation-report.yml
  .github/workflows/uic.yml
Owners: none

Checkout v9.0.0 setup-uv by hash
  .github/workflows/arm-python.yml
  .github/workflows/benchmark.yml
  .github/workflows/build-test-publish.yml
  .github/workflows/linter.yml
  .github/workflows/trick-documentation-report.yml
  .github/workflows/uic.yml
Owners: none

Use `resolution-strategy: "lowest"` uv version in CI
  .github/workflows/arm-python.yml
  .github/workflows/benchmark.yml
  .github/workflows/build-test-publish.yml
  .github/workflows/linter.yml
  .github/workflows/trick-documentation-report.yml
  .github/workflows/uic.yml
Owners: none

Add setup-uv to daily-generate job
  .github/workflows/daily-generate.yml
Owners: none

Fix abandoned world, include the long giant multi test as a benchmark
  randovania/game_connection/connector/abandoned_world_remote_connector.py
  randovania/layout/game_patches_serializer.py
  test/game_connection/connector/test_abandoned_world_remote_connector.py
Owners: none

It works!! Hardcoded implementation for now, will try to work it into an actual setting soon
  README.md
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/generator.py
Owners: none

Fix AM2R generation without nest pipes
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  test/games/am2r/generator/test_am2r_bootstrap.py
Owners: @randovania/am2r-db

Validate dock layers in integrity checks
  randovania/game_description/integrity_check.py
  test/game_description/test_integrity_check.py
  test/games/am2r/generator/test_am2r_bootstrap.py
  test/test_files/integrity_check_invalid_db.json
Owners: none

Rewrite connections editor using MVC framework
  randovania/gui/dialog/connections_editor.py
  randovania/gui/generated/connections_editor_ui.py
  randovania/gui/ui_files/connections_editor.ui
  test/gui/dialog/test_connections_editor.py
Owners: none

Split connections_editor.py into its own package
  randovania/gui/dialog/connections_editor.py
  randovania/gui/dialog/connections_editor/__init__.py
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/connections_editor.py
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/editor.py
  randovania/gui/dialog/connections_editor/model.py
  randovania/gui/dialog/connections_editor/view.py
  test/gui/dialog/test_connections_editor.py
Owners: none

Hopefully improve clarity on controller operations
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/model.py
  test/gui/dialog/test_connections_editor.py
Owners: none

Create test_path.py
  test/gui/dialog/connections_editor/test_path.py
Owners: none

Preserve previous selection path for undo
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/controller.py
Owners: none

Better keyboard support
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/connections_editor.py
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Create test_model.py
  test/gui/dialog/connections_editor/test_model.py
Owners: none

Remove NodeSelectorWidget
  pyproject.toml
  randovania/gui/widgets/node_selector_widget.py
  test/gui/widgets/test_node_selector_widget.py
Owners: none

Extract requirement tree math to dedicated module
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/requirement_tree.py
Owners: none

Fix array requirement immutability oversight
  randovania/gui/dialog/connections_editor/controller.py
Owners: none

Extract path operations to dedicated Path class
  randovania/gui/dialog/connections_editor/command.py
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/model.py
  randovania/gui/dialog/connections_editor/path.py
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Add fixtures for requirement testing
  test/conftest.py
  test/gui/dialog/connections_editor/test_model.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

Create test_requirement_tree.py
  test/gui/dialog/connections_editor/test_requirement_tree.py
Owners: none

Update test_connections_editor.py
  pyproject.toml
  randovania/gui/dialog/connections_editor/requirement_tree.py
  test/gui/dialog/connections_editor/test_connections_editor.py
  test/gui/dialog/test_connections_editor.py
Owners: none

Create test_controller.py
  test/gui/dialog/connections_editor/test_controller.py
Owners: none

Remove redundant deleteLater functions
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/view.py
Owners: none

Fix changelog typo
  CHANGELOG.md
Owners: none

Select layout and theme separately
  randovania/data/gui_assets/tracker/trackers.json
  randovania/gui/item_tracker/auto_tracker_window.py
  randovania/gui/item_tracker/tracker_assets.py
  randovania/gui/multiplayer_session_window.py
  randovania/interface_common/options.py
  randovania/interface_common/persisted_options.py
  test/gui/test_auto_tracker_window.py
Owners: none

fixes
  test/gui/widgets/test_item_tracker_popup_window.py
  test/gui/widgets/test_item_tracker_widget.py
Owners: none

allow items to be placed in bulk
  randovania/game_description/pickup/pickup_definition/base_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/generator/filler/retcon.py
  randovania/generator/pickup_pool/pickup_creator.py
Owners: none

Fix NodeEditor not signaling changes
  randovania/gui/dialog/connections_editor/editor.py
Owners: none

Select root after initial build
  randovania/gui/dialog/connections_editor/connections_editor.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
