Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Docs: remove GCN references
  randovania/game_connection/executor/memory_operation.py
Owners: none

Add docstrings for max_input and max_output
  randovania/game_connection/executor/memory_operation.py
Owners: none

Put SRX spark videos on higher level
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Owners: @randovania/metroid-fusion-db

added logic videos and 2 new traveral options
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

addressed comments, updated expected seed hash for dread
  CHANGELOG.md
  randovania/games/dread/game_data.py
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

separated the regular ballspark and speedbooster conservation
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

typo
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

updated comments to match adjusted trick levels
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

moved changes in CHANGELOG.md to new version
  CHANGELOG.md
Owners: none

misnamed trick for missiles above broken emmi
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

fixed changelog and addressed comments from PR review
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

cleaning up broken emmi missile pack bomb jumps
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

remove redundant logic for ballspark
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

remove spider guardian req
  randovania/games/prime2_opr/logic_database/Sanctuary Fortress.json
  randovania/games/prime2_opr/logic_database/Sanctuary Fortress.txt
Owners: none

OPR preset fix hive access tunnel gate to be violet
  randovania/games/prime2_opr/game_data.py
  randovania/games/prime2_opr/presets/starter_preset.rdvpreset
Owners: none

Updated CHANGELOG, raised SRX Sparks to Ludicrous
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Owners: @randovania/metroid-fusion-db

support projecting 3d world-space nodes onto screenshots
  randovania/games/prime2_opr/assets/maps/Hydrodynamo Station.png
  randovania/games/prime2_opr/logic_database/Torvus Bog.json
  randovania/games/prime2_opr/logic_database/Torvus Bog.txt
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

Echoes: Rework Sacrificial Chamber + add trick videos to both
  CHANGELOG.md
  randovania/games/prime2/logic_database/Dark Torvus Bog.json
  randovania/games/prime2/logic_database/Dark Torvus Bog.txt
  randovania/games/prime2_opr/logic_database/Dark Torvus Bog.json
  randovania/games/prime2_opr/logic_database/Dark Torvus Bog.txt
Owners: @randovania/metroid-prime-2-db

review
  pyproject.toml
  test/gui/lib/test_data_editor_canvas.py
  uv.lock
Owners: none

Move Prime changelog entry to proper place
  CHANGELOG.md
Owners: none

Update video link for Advanced BSJ
  randovania/games/prime2/logic_database/Dark Torvus Bog.json
  randovania/games/prime2/logic_database/Dark Torvus Bog.txt
  randovania/games/prime2_opr/logic_database/Dark Torvus Bog.json
  randovania/games/prime2_opr/logic_database/Dark Torvus Bog.txt
Owners: @randovania/metroid-prime-2-db

Update Screw Attack to require Beginner Knowledge, add Beginner Shinespark as an option
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Owners: @randovania/metroid-fusion-db

Primes MW: Don't proceed on empty inventories
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Primes MW: Better handle errors not related to sending/receiving MemOps
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Changelog entry
  CHANGELOG.md
Owners: none

Fix tests
  test/game_connection/connector/test_echoes_remote_connector.py
  test/game_connection/connector/test_prime1_remote_connector.py
Owners: none

Make last_inv an Inventory | None
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

script to automate opr node coords
  tools/automate_echoes_node_coords.py
Owners: none

add node coordinates for ~75% of nodes in OPR
  randovania/games/prime2_opr/logic_database/Agon Wastes.json
  randovania/games/prime2_opr/logic_database/Dark Agon Wastes.json
  randovania/games/prime2_opr/logic_database/Dark Torvus Bog.json
  randovania/games/prime2_opr/logic_database/Great Temple.json
  randovania/games/prime2_opr/logic_database/Ing Hive.json
  randovania/games/prime2_opr/logic_database/Sanctuary Fortress.json
  randovania/games/prime2_opr/logic_database/Sky Temple Grounds.json
  randovania/games/prime2_opr/logic_database/Sky Temple.json
  randovania/games/prime2_opr/logic_database/Temple Grounds.json
  randovania/games/prime2_opr/logic_database/Torvus Bog.json
Owners: none

update expected hash
  randovania/games/prime2_opr/game_data.py
Owners: none

add elevator rando results to the OPR patch data factory
  pyproject.toml
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2_opr/exporter/game_exporter.py
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
  uv.lock
Owners: none

cosmetic settings for OPR
  randovania/games/prime2/gui/dialog/echoes_cosmetic_patches_dialog.py
  randovania/games/prime2/gui/generated/echoes_cosmetic_patches_dialog_ui.py
  randovania/games/prime2/gui/ui_files/echoes_cosmetic_patches_dialog.ui
  randovania/games/prime2/layout/echoes_cosmetic_patches.py
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  randovania/games/prime2_opr/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/prime2_opr/gui/generated/prime2_opr_cosmetic_patches_dialog_ui.py
  randovania/games/prime2_opr/gui/ui_files/prime2_opr_cosmetic_patches_dialog.ui
  randovania/games/prime2_opr/layout/prime2_opr_cosmetic_patches.py
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/cosmetic_2.json
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
Owners: none

Add support for portal rando in echoes opr
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  randovania/games/prime2_opr/generator/base_patches_factory.py
  randovania/games/prime2_opr/layout/prime2_opr_configuration.py
  randovania/games/prime2_opr/presets/starter_preset.rdvpreset
  test/test_files/log_files/prime2_opr/opr-starter-preset.rdvgame
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
Owners: none

Swap to httpx2, lock fastapi to <0.137
  pyproject.toml
  uv.lock
Owners: none

Lock cryptography
  pyproject.toml
  uv.lock
Owners: none

Swap hide_requires_main to show_requires_main
  CHANGELOG.md
  randovania/game_description/pickup/pickup_definition/ammo_pickup.py
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/prime2_opr/pickup_database/pickup-database.json
  randovania/games/prime_hunters/pickup_database/pickup-database.json
  randovania/games/zero_mission/pickup_database/pickup-database.json
  randovania/gui/preset_settings/pickup_pool_tab.py
Owners: none

compress hydrodynamo station map
  randovania/games/prime2_opr/assets/maps/Hydrodynamo Station.png
Owners: none

OPR custom pickups
  randovania/exporter/item_names.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/echoes_item_pool_tab.py
  randovania/games/prime2_opr/exporter/patch_data_factory.py
  randovania/games/prime2_opr/gui/preset_settings/__init__.py
  randovania/games/prime2_opr/gui/preset_settings/prime2_opr_pickup_pool_tab.py
  randovania/games/prime2_opr/layout/prime2_opr_configuration.py
  randovania/games/prime2_opr/logic_database/header.json
  randovania/games/prime2_opr/pickup_database/pickup-database.json
  randovania/games/prime2_opr/presets/starter_preset.rdvpreset
  randovania/gui/preset_settings/pickup_pool_tab.py
  randovania/gui/widgets/scroll_protected.py
Owners: none

fix tests
  randovania/games/prime2_opr/game_data.py
  test/test_files/log_files/prime2_opr/opr-starter-preset.rdvgame
  test/test_files/patcher_data/prime2_opr/prime2_opr/opr-starter-preset/world_1.json
Owners: none

rename generic transport room maps
  randovania/games/prime2_opr/assets/maps/Agon Gate.png
  randovania/games/prime2_opr/assets/maps/Sanctuary Gate.png
  randovania/games/prime2_opr/assets/maps/Torvus Gate.png
  randovania/games/prime2_opr/logic_database/Temple Grounds.json
  randovania/games/prime2_opr/logic_database/Temple Grounds.txt
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
