Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

Seperate the generic_credits function into backend and a string-formatted one
  randovania/exporter/hints/credits_spoiler.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
Owners: none

Removing some of the direct usage of Area.connections
  randovania/cli/commands/export_db_videos.py
  randovania/cli/database.py
  randovania/discord_bot/database_command.py
  randovania/game_connection/game_connection.py
  randovania/game_description/db/area.py
  randovania/game_description/db/region_list.py
Owners: none

Be lazy decoding requirements
  randovania/game_connection/game_connection.py
  randovania/game_description/data_reader.py
  randovania/game_description/db/area.py
  randovania/game_description/derived_nodes.py
Owners: none

PARANOID
  randovania/game_description/db/area.py
Owners: none

Use generic credits function for fusion
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

Using qt's event loop
  randovania/gui/qt.py
Owners: none

Add hacks around aiofiles
  randovania/layout/versioned_preset.py
  randovania/lib/json_lib.py
Owners: none

wip
  randovania/game_connection/executor/nintendont_executor.py
  randovania/gui/main_window.py
  randovania/interface_common/github_releases_data.py
Owners: none

Add workflow for commenting on PRs that change uv.lock
  .github/workflows/uv-lock-report.yml
Owners: none

Make mypy happy
  randovania/exporter/hints/credits_spoiler.py
  randovania/games/fusion/exporter/patch_data_factory.py
Owners: none

Don't show minor random starting pickups in credits
  CHANGELOG.md
  randovania/exporter/hints/credits_spoiler.py
Owners: none

fix tests
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
Owners: none

AM2R: Force two-way
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
Owners: none

Debug Window: Provide way to beat the game
  randovania/gui/debug_backend_window.py
  randovania/gui/generated/debug_connector_window_ui.py
  randovania/gui/ui_files/debug_connector_window.ui
Owners: none

Clear beaten status when clearing a generated game
  randovania/server/multiplayer/session_admin.py
  test/server/multiplayer/test_session_admin.py
Owners: none

Optimize World Creation on layout import
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/multiplayer_session_window.py
  randovania/server/multiplayer/session_admin.py
Owners: none

Hint Exporter: get game view for owner, instead of filtering again
  randovania/exporter/hints/hint_exporter.py
  randovania/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/hints.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/gui/game_details/hint_details_tab.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/games/prime2/patcher/test_patch_data_generator.py
Owners: none

test_layout_patch_data_export: Mock sentry upload
  randovania/exporter/patch_data_factory.py
  test/games/test_log_file_export.py
Owners: none

Logic Additions and Fixes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Owners: @randovania/metroid-fusion-db

Redo Pickup Hint Features
  CHANGELOG.md
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/layout/description_migration.py
Owners: none

Remove old `hint_features` from pickup_database
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
Owners: none

Optimize World Creation on layout import
  CHANGELOG.md
  randovania/gui/multiplayer_session_window.py
  tools/old_data.db
Owners: none

WIP: Mercury Steam: support game beaten
  randovania/game_connection/connector/mercury_remote_connector.py
  randovania/games/samus_returns/assets/lua/bootstrap_part_3.lua
Owners: none

test
  randovania/network_common/__init__.py
Owners: none

test
  randovania/network_common/__init__.py
Owners: none

test2
  randovania/games/samus_returns/assets/lua/bootstrap_part_3.lua
Owners: none

Am2R: rename beam category to beam
  CHANGELOG.md
  randovania/games/am2r/pickup_database/pickup-database.json
Owners: none

MSR: dont hint reserve tanks
  CHANGELOG.md
  randovania/games/samus_returns/generator/hint_distributor.py
Owners: none

upped to ludicrous because it's a one shot without spider
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Owners: @randovania/metroid-dread-db

Drogyga HBJ
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Owners: @randovania/metroid-dread-db

changes
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Use arm64 runners but run under rosetta
  .github/workflows/build-test-publish.yml
Owners: none

Add job for testing the executable on intel
  .github/workflows/build-test-publish.yml
Owners: none

fix
  .github/workflows/build-test-publish.yml
Owners: none

fix typo
  CHANGELOG.md
Owners: none

--python-platform instead
  .github/workflows/build-test-publish.yml
Owners: none

Use certifi as HTTPS certificate source everywhere
  CHANGELOG.md
  pyproject.toml
  randovania/games/factorio/exporter/game_exporter.py
  randovania/gui/dialog/racetime_browser_dialog.py
  randovania/gui/widgets/changelog_widget.py
  randovania/interface_common/github_releases_data.py
  randovania/lib/http_lib.py
  randovania/server/discord_auth.py
  tools/create_release.py
  uv.lock
Owners: none

one more
  .github/workflows/build-test-publish.yml
Owners: none

Address comments
  randovania/exporter/hints/credits_spoiler.py
  randovania/games/fusion/exporter/patch_data_factory.py
Owners: none

fix test files again
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none
