Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Fix build on Linux
  randovania/lib/cython_helper.pxd
Owners: none

Move Bitmask to a pure C++ value, for less GC pressure
  randovania/graph/graph_requirement.pxd
  randovania/graph/graph_requirement.py
  randovania/lib/bitmask.pxd
  randovania/lib/bitmask.py
  randovania/lib/native/bitmask.hpp
Owners: none

Avoid allocating/deallocating memory all the time
  randovania/game_description/resources/resource_collection.pxd
  randovania/game_description/resources/resource_collection.py
  randovania/generator/generator_native.py
  randovania/lib/cython_helper.py
  randovania/resolver/logic.py
  randovania/resolver/process_nodes_state.py
  randovania/resolver/resolver_native.pxd
  randovania/resolver/resolver_native.py
Owners: none

Create native struct for holding resolver results
  randovania/resolver/resolver_native.pxd
  randovania/resolver/resolver_native.py
  randovania/resolver/resolver_reach.py
  test/resolver/test_resolver_reach.py
Owners: none

Nintendont: simplify splitting ops
  randovania/game_connection/executor/nintendont_executor.py
Owners: none

Fix tests
  randovania/game_connection/executor/nintendont_executor.py
Owners: none

Bump OPHR to 0.13.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Add more Wall Clip tricks
  CHANGELOG.md
  randovania/games/prime_hunters/logic_database/Alinos.json
  randovania/games/prime_hunters/logic_database/Alinos.txt
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.json
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.txt
  randovania/games/prime_hunters/logic_database/header.json
  randovania/games/prime_hunters/logic_database/header.txt
Owners: none

Move Sic Transit clip to exit to different node
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
Owners: none

Require the Sic Transit key from the inside if clipped in
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
Owners: none

Fix Multiworld bug in MSR / Update patcher
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Add support for shuffling Octoliths anywhere
  CHANGELOG.md
  pyproject.toml
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/prime_hunters/generator/bootstrap.py
  randovania/games/prime_hunters/gui/generated/preset_prime_hunters_goal_ui.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_goal_tab.py
  randovania/games/prime_hunters/gui/ui_files/preset_prime_hunters_goal.ui
  randovania/games/prime_hunters/layout/preset_describer.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/layout/preset_migration.py
  test/conftest.py
  test/games/prime_hunters/exporter/test_prime_hunters_game_exporter.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/prime_hunters/generator/test_prime_hunters_pool_creator.py
  test/games/prime_hunters/gui/preset_settings/test_prime_hunters_goal_tab.py
  test/games/prime_hunters/layout/test_prime_hunters_describer.py
  test/test_files/log_files/prime_hunters/octoliths_anywhere.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/octoliths_anywhere/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_extra_locations_and_skip_planet_intros/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_and_energy_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
  uv.lock
Owners: none

Bump OPHR to 0.14.2
  pyproject.toml
  uv.lock
Owners: none

Fix early return in bootstrap for pre placed octoliths
  randovania/games/prime_hunters/generator/bootstrap.py
Owners: none

Dread: Remove unintended open override from sensor lock in Cataris
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Owners: @randovania/metroid-dread-db

Remove `prefer_anywhere` option and fix all tests
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/generator/bootstrap.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_goal_tab.py
  randovania/games/prime_hunters/layout/preset_describer.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/layout/preset_migration.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/prime_hunters/generator/test_prime_hunters_pool_creator.py
  test/games/prime_hunters/layout/test_prime_hunters_describer.py
  test/test_files/log_files/prime_hunters/octoliths_anywhere.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/octoliths_anywhere/world_1.json
Owners: none

Update changelog and fix bootstrap test
  CHANGELOG.md
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
Owners: none

Several updates
  pyproject.toml
  randovania/games/prime_origins/exporter/patch_data_factory.py
  randovania/games/prime_origins/generator/bootstrap.py
  randovania/games/prime_origins/generator/pool_creator.py
  randovania/games/prime_origins/gui/generated/preset_prime_origins_goal_ui.py
  randovania/games/prime_origins/gui/preset_settings/__init__.py
  randovania/games/prime_origins/gui/preset_settings/prime_origins_goal_tab.py
  randovania/games/prime_origins/gui/preset_settings/prime_origins_patches_tab.py
  randovania/games/prime_origins/gui/ui_files/preset_prime_origins_goal.ui
  randovania/games/prime_origins/layout/artifact_mode.py
  randovania/games/prime_origins/layout/prime_origins_configuration.py
  randovania/games/prime_origins/logic_database/Chozo Ruins.json
  randovania/games/prime_origins/logic_database/Chozo Ruins.txt
  randovania/games/prime_origins/logic_database/Phazon Mines.json
  randovania/games/prime_origins/logic_database/Phazon Mines.txt
  randovania/games/prime_origins/logic_database/Phendrana Drifts.json
  randovania/games/prime_origins/logic_database/Phendrana Drifts.txt
  randovania/games/prime_origins/logic_database/Tallon Overworld.json
  randovania/games/prime_origins/logic_database/Tallon Overworld.txt
  randovania/games/prime_origins/logic_database/header.json
  randovania/games/prime_origins/pickup_database/pickup-database.json
  randovania/games/prime_origins/presets/starter_preset.rdvpreset
  uv.lock
Owners: none

added FAQ entries
  randovania/games/prime_origins/game_data.py
Owners: none

Update preset_describer.py
  randovania/games/prime_hunters/layout/preset_describer.py
Owners: none

Address review
  randovania/gui/dialog/connections_editor/controller.py
  randovania/gui/dialog/connections_editor/editor.py
Owners: none

second pass norfair
  randovania/games/planets_zebeth/logic_database/Norfair.json
  randovania/games/planets_zebeth/logic_database/Norfair.txt
  randovania/games/planets_zebeth/logic_database/header.json
Owners: none

Ridley second pass
  randovania/games/planets_zebeth/game_data.py
  randovania/games/planets_zebeth/logic_database/Ridley.json
  randovania/games/planets_zebeth/logic_database/Ridley.txt
  randovania/games/planets_zebeth/logic_database/header.json
Owners: none

tourian second pass
  randovania/games/planets_zebeth/game_data.py
  randovania/games/planets_zebeth/logic_database/Tourian.json
  randovania/games/planets_zebeth/logic_database/Tourian.txt
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.txt
Owners: none

Use INVALID_UUID for Dread and MSR in solo games
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/non_required_mains/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/queen_boss_custom_required_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Owners: none

Improve phrasing on prime specific error
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Fix error from merge
  randovania/server/multiplayer/world_api.py
Owners: none

refine jokes
  randovania/exporter/hints/joke_hints.py
  randovania/games/fusion/exporter/joke_hints.py
  randovania/games/prime2/exporter/joke_hints.py
Owners: none

Prime 1: Add more missing internal coordinates
  randovania/games/prime1/db_integrity.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Owners: @randovania/metroid-prime-db

Prime 1: Ice Ruins West Changes
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/header.json
Owners: @randovania/metroid-prime-db

fix tests, change movement to slope jump
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

fix crystallite comment and it only appearing before research core
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

Add BSJ in HOTE to Activate Bomb Slots NSJ
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Owners: @randovania/metroid-prime-db

fix updated nintendont changelog entry
  CHANGELOG.md
Owners: none

Update mars to 0.16.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Owners: none

Address reviews
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

Data Editor: better handle converting impossible as no connection
  randovania/game_description/editor.py
  randovania/gui/data_editor.py
  test/game_description/test_editor.py
Owners: none

restructured escape
  randovania/games/planets_zebeth/logic_database/Tourian.json
  randovania/games/planets_zebeth/logic_database/Tourian.txt
Owners: none

ran update-committed to fix tests
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/pickup_database/pickup-database.json
  test/test_files/log_files/planets_zebeth/starter_preset.rdvgame
  test/test_files/log_files/planets_zebeth/starter_preset_shuffle_keys.rdvgame
  test/test_files/log_files/planets_zebeth/starter_preset_with_nothing.rdvgame
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_with_nothing/world_1.json
Owners: none

fix curly not being in logic
  CHANGELOG.md
  randovania/games/cave_story/logic_database/Labyrinth.json
  randovania/games/cave_story/logic_database/Labyrinth.txt
Owners: @randovania/cave-story-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
