Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Fix get_inventory using mismatched inventory list
  randovania/game_connection/connector/prime_remote_connector.py
Owners: none

Removing direct game.resource_database usage
  randovania/discord_bot/database_command.py
  randovania/exporter/patch_data_factory.py
  randovania/exporter/pickup_exporter.py
  randovania/game_connection/connector/am2r_remote_connector.py
  randovania/game_connection/connector/cs_remote_connector.py
  randovania/game_connection/connector/debug_remote_connector.py
  randovania/game_connection/connector/echoes_remote_connector.py
  randovania/game_connection/connector/mercury_remote_connector.py
  randovania/game_connection/connector/prime1_remote_connector.py
  randovania/game_connection/connector/prime_remote_connector.py
  randovania/game_connection/executor/dread_executor.py
  randovania/game_connection/executor/msr_executor.py
  randovania/game_description/pretty_print.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/dread_generation_tab.py
  randovania/games/dread/gui/preset_settings/dread_pickup_pool_tab.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/factorio/generator/bootstrap.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/generator/bootstrap.py
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/games/fusion/exporter/test_fusion_patch_data_factory.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
  test/games/prime2/patcher/test_patch_data_generator.py
Owners: none

Added separate trick levels for Artaria Central Unit floor clip for Door Lock rando and not Door Lock rando due to a door shield reducing the leniency on the clip.
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Owners: @randovania/metroid-dread-db

fix damage reductions multipliers above 1.0
  CHANGELOG.md
  randovania/game_description/resources/resource_database.py
  randovania/games/fusion/generator/bootstrap.py
  test/games/fusion/generator/test_fusion_bootstrap.py
Owners: none

add test rdvgame for DR multiplier
  test/conftest.py
  test/test_files/log_files/fusion/high_lava_dmg.rdvgame
  test/test_files/patcher_data/fusion/fusion/high_lava_dmg/world_1.json
Owners: none

improve accuracy for lava with varia DR
  randovania/games/fusion/generator/bootstrap.py
  test/games/fusion/generator/test_fusion_bootstrap.py
Owners: none

Bump patcher
  pyproject.toml
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
  uv.lock
Owners: none

Fixes
  randovania/discord_bot/database_command.py
  randovania/games/dread/gui/preset_settings/dread_generation_tab.py
  randovania/gui/data_editor.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
Owners: none

Echoes: Cleanup Aerie
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/header.json
Owners: @randovania/metroid-prime-2-db

Echoes: More changelog
  CHANGELOG.md
Owners: none

Added new Cataris EMMI Slide Tunnel to allow floor clip logic.
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Owners: @randovania/metroid-dread-db

Reduced heat run difficulty in cataris blue tp floor clip
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
Owners: @randovania/metroid-dread-db

Add Energy tab
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/gui/generated/preset_prime_hunters_energy_ui.py
  randovania/games/prime_hunters/gui/preset_settings/__init__.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_energy_tab.py
  randovania/games/prime_hunters/gui/ui_files/preset_prime_hunters_energy.ui
Owners: none

Add starting artifacts
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/generator/pool_creator.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
Owners: none

Bump to 0.9.1 and fix PDF
  pyproject.toml
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  uv.lock
Owners: none

Remove artifact config and update tests
  randovania/games/prime_hunters/generator/pool_creator.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
  test/conftest.py
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/log_files/prime_hunters/starting_energy_and_artifacts.rdvgame
  test/test_files/log_files/prime_hunters/starting_items_with_nothings.rdvgame
  test/test_files/log_files/prime_hunters/two_way_unchecked_portal_shuffle.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_energy_and_artifacts/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Update preset describer
  randovania/games/prime_hunters/layout/preset_describer.py
Owners: none

Mypy
  randovania/games/prime_hunters/exporter/patch_data_factory.py
Owners: none

bump mars to 0.14.2
  pyproject.toml
  uv.lock
Owners: none

Fix GameValidatorWidget when first action is hidden
  CHANGELOG.md
  randovania/gui/widgets/game_validator_widget.py
Owners: none

Fix exporting of ammo sizes
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/log_files/prime_hunters/starter_preset.rdvgame
  test/test_files/log_files/prime_hunters/starting_items_with_nothings.rdvgame
  test/test_files/log_files/prime_hunters/two_way_unchecked_portal_shuffle.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/two_way_unchecked_portal_shuffle/world_1.json
Owners: none

Dread: Fix leaving Ghav EMMI Zone without killing Ice EMMI
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Owners: @randovania/metroid-dread-db

Dread: Adjust tricks in Dairon Entrance
  CHANGELOG.md
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Owners: @randovania/metroid-dread-db

Dread: Improve resolver safety of Ghavoran Chozo-X
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Owners: @randovania/metroid-dread-db

Fix new rdvgame and test
  test/test_files/log_files/prime_hunters/starting_energy_and_artifacts.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_energy_and_artifacts/world_1.json
Owners: none

Add test for changing energy
  randovania/games/prime_hunters/generator/bootstrap.py
  test/games/prime_hunters/gui/dialog/test_prime_hunters_cosmetic_patches_dialog.py
  test/games/prime_hunters/gui/dialog/test_prime_hunters_game_export_dialog.py
  test/games/prime_hunters/gui/preset_settings/test_prime_hunters_energy_tab.py
Owners: none

Make mypy mandatory for the whole games folder
  pyproject.toml
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/common/prime_family/exporter/hint_namer.py
  randovania/games/common/prime_family/gui/export_validator.py
  randovania/games/default_data.py
  randovania/games/dread/exporter/game_exporter.py
  randovania/games/dread/exporter/options.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/preset_describer.py
  randovania/games/factorio/data_importer/data_parser.py
  randovania/games/factorio/exporter/game_exporter.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/generator/base_patches_factory.py
  randovania/games/factorio/generator/bootstrap.py
  randovania/games/factorio/generator/recipes.py
  randovania/games/planets_zebeth/exporter/game_exporter.py
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/gui/dialog/game_export_dialog.py
  randovania/lib/pyeasyga.py
Owners: none

Pipe stuff
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/planets_zebeth/exporter/game_exporter.py
Owners: none

Add as_resource_gain_of_type
  randovania/exporter/hints/guaranteed_item_hint.py
  randovania/game_connection/connector/echoes_remote_connector.py
  randovania/game_connection/connector/prime1_remote_connector.py
  randovania/game_description/resources/resource_collection.py
  randovania/game_description/resources/resource_info.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/factorio/generator/base_patches_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/graph/state.py
  randovania/resolver/bootstrap.py
Owners: none

fix mypy, add comments to pdf
  randovania/games/zero_mission/exporter/patch_data_factory.py
Owners: none

Fix expected label in test_pack_array_element_missing
  test/bitpacking/test_bitpacking.py
Owners: none

Use Python 3.14
  .python-version
  Dockerfile.server
  pyproject.toml
Owners: none

Fix mypy ignores for py3.14
  randovania/lib/construct_lib.py
Owners: none

Use old coverage gathering to support Cython
  .coveragerc
Owners: none

Just ignore SyntaxWarning
  pytest.ini
Owners: none

Update dependency planets-yapr to v1.0.3
  pyproject.toml
  uv.lock
Owners: none

ttms climb rework
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

improve ttms climb comments
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

Ridley Trickless Logic
  randovania/games/zero_mission/logic_database/Ridley.json
  randovania/games/zero_mission/logic_database/Ridley.txt
Owners: none

update randomprime
  pyproject.toml
  uv.lock
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
