Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

Be slightly more fancy
  randovania/generator/filler/filler_library.py
  randovania/graph/state.py
  randovania/graph/state_native.py
Owners: none

Improve UncollectedState creation
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/retcon.py
  randovania/graph/state.py
Owners: none

Use collected_pickup_indices instead of creating collected_pickups
  randovania/generator/filler/filler_library.py
  randovania/graph/state.py
  randovania/graph/state_native.py
  test/generator/test_generator_reach.py
  test/resolver/test_state.py
Owners: none

Fix as_set for NodeRequirement
  randovania/game_description/requirements/fast_as_set.py
Owners: none

Fusion: Update to mars-patcher 0.10.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/gui/generated/preset_fusion_patches_ui.py
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  uv.lock
Owners: @randovania/metroid-fusion-db

fix test files
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

Fix cosmetic patch dialog tests so they pass options
  test/games/am2r/gui/test_am2r_cosmetic_patches_dialog.py
  test/games/blank/gui/dialog/test_blank_cosmetic_patches_dialog.py
  test/games/cave_story/gui/test_cs_cosmetic_patches_dialog.py
  test/games/dread/gui/test_dread_cosmetic_patches_dialog.py
  test/games/fusion/gui/test_fusion_cosmetic_patches_dialog.py
  test/games/prime1/gui/dialog/test_prime_cosmetic_patches_dialog.py
  test/games/prime2/gui/dialog/test_echoes_cosmetic_patches_dialog.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
Owners: none

Pass "Options" to cosmetic patches dialogs (e.g. for cosmetic options hidden behind Experimental settings)
  randovania/games/am2r/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/blank/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/cave_story/gui/dialog/cs_cosmetic_patches_dialog.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/planets_zebeth/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/prime1/gui/dialog/prime_cosmetic_patches_dialog.py
  randovania/games/prime2/gui/dialog/echoes_cosmetic_patches_dialog.py
  randovania/games/prime_hunters/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/gui/dialog/base_cosmetic_patches_dialog.py
  randovania/gui/game_specific_gui.py
Owners: none

Phendrana comments part 2
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

address miepees PR part 1 comments
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

Fusion: Fix not all save/recharge doors unlocking
  randovania/games/fusion/generator/base_patches_factory.py
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Owners: @randovania/metroid-fusion-db

Fusion: Exclude Hornoad Housing in non-ER on open save setting
  randovania/games/fusion/generator/base_patches_factory.py
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Owners: @randovania/metroid-fusion-db

update fusion hash
  randovania/games/fusion/game_data.py
Owners: none

Fusion: Mention vanilla gerons in preset describer
  randovania/games/fusion/layout/preset_describer.py
Owners: none

Echoes: Add SA bonk to traverse Sacred Bridge in reverse
  CHANGELOG.md
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
Owners: @randovania/metroid-prime-2-db

Remove generated files as cache keys for UV
  pyproject.toml
Owners: none

Improve changelog regarding how faster it got
  CHANGELOG.md
Owners: none

Fix uv not reinstall rdv in daily-generate. Enable Cython there
  .github/workflows/daily-generate.yml
  pyproject.toml
  setup.cfg
Owners: none

Fix decoding permalink with available locations configuration
  randovania/layout/base/available_locations.py
Owners: none

ResolverReach: use ProcessNodesResponse in constructor
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/tracker_window.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_native.py
  randovania/resolver/resolver_reach.py
  test/resolver/test_resolver_reach.py
Owners: none

Rename node_in_reach
  randovania/generator/dock_weakness_distributor.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
Owners: none

Add a Dread cosmetic option that is hidden behind experimental settings to enable "Game.LogWarn" debug logs (via ODR exlaunch)
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/gui/generated/dread_cosmetic_patches_dialog_ui.py
  randovania/games/dread/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/games/dread/layout/dread_cosmetic_patches.py
  test/games/dread/gui/test_dread_cosmetic_patches_dialog.py
Owners: none

Changelog entry
  CHANGELOG.md
Owners: none

Fix patcher data tests (all_settings enables the cosmetic option, the rest do not)
  test/test_files/patcher_data/dread/dread/all_settings/cosmetic_1.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread/vanilla/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
Owners: none

Add support for `from_layout_description` argument in preset migrations
  randovania/discord_bot/preset_lookup.py
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/game_description_migration.py
  randovania/games/binary_data.py
  randovania/layout/layout_description.py
  randovania/layout/preset_migration.py
  randovania/layout/versioned_preset.py
  randovania/lib/migration_lib.py
  test/game_description/test_schema_migration.py
  test/games/test_prime_binary_decoder.py
  test/gui/dialog/test_preset_history_dialog.py
  test/gui/widgets/test_select_preset_widget.py
Owners: none

Update test files for fusion
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Owners: none

Make from_layout_description mandatory for all preset migrations
  randovania/layout/preset_migration.py
  randovania/lib/migration_lib.py
Owners: none

Adjust logic in _migrate_v110
  randovania/layout/preset_migration.py
Owners: none

Fix missing kw-only
  randovania/layout/preset_migration.py
Owners: none

fix
  randovania/layout/versioned_preset.py
Owners: none

Changelog dates
  CHANGELOG.md
Owners: none

Lock pyjwt version
  pyproject.toml
  uv.lock
Owners: none

Fix MSR options migration
  CHANGELOG.md
  test/interface_common/test_options.py
Owners: none

Add the actual fix
  randovania/interface_common/persisted_options.py
Owners: none

Fix wrong declarations
  randovania/games/dread/exporter/patch_data_factory.py
Owners: none

Use any() function instead of loops for FSU/SBU item logic
  randovania/games/dread/exporter/patch_data_factory.py
Owners: none

Workaround crash with pyside update
  randovania/games/dread/gui/dialog/game_export_dialog.py
  test/games/dread/gui/test_dread_game_export_dialog.py
Owners: none

Remove version from ui files
  tools/uic_wrapper.py
Owners: none

Fix the mock in the other test
  test/games/dread/gui/test_dread_game_export_dialog.py
Owners: none

Use RdvSignal in BackgroundTaskMixin
  randovania/gui/lib/background_task_mixin.py
  randovania/gui/main_window.py
  randovania/gui/multiplayer_session_window.py
Owners: none

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db
