Repository randovania/randovania, changes with the owners that .github/CODEOWNERS names for each.
All owners: @randovania/core, @randovania/am2r-db, @randovania/cave-story-db, @randovania/metroid-dread-db, @randovania/metroid-fusion-db, @randovania/metroid-prime-db, @randovania/metroid-prime-2-db, @randovania/metroid-prime-3-db, @randovania/metroid-samus-returns-db, @randovania/super-metroid-db

.github/CODEOWNERS:

/.github/CODEOWNERS @randovania/core

/randovania/games/am2r/logic_database/*.txt @randovania/am2r-db
/randovania/games/cave_story/logic_database/*.txt @randovania/cave-story-db
/randovania/games/dread/logic_database/*.txt @randovania/metroid-dread-db
/randovania/games/fusion/logic_database/*.txt @randovania/metroid-fusion-db
/randovania/games/prime1/logic_database/*.txt @randovania/metroid-prime-db
/randovania/games/prime2/logic_database/*.txt @randovania/metroid-prime-2-db
/randovania/games/prime3/logic_database/*.txt @randovania/metroid-prime-3-db
/randovania/games/samus_returns/logic_database/*.txt @randovania/metroid-samus-returns-db
/randovania/games/super_metroid/logic_database/*.txt @randovania/super-metroid-db

revert accidental debug change
  randovania/generator/filler/retcon.py
Owners: none

update seed hashes?
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/samus_returns/game_data.py
Owners: none

Bot: Add more logs to database commands
  randovania/discord_bot/database_command.py
Owners: none

Refresh database
  randovania/games/cave_story/logic_database/Last Cave.json
  randovania/games/cave_story/logic_database/Last Cave.txt
  randovania/games/cave_story/logic_database/Outer Wall.json
  randovania/games/cave_story/logic_database/Outer Wall.txt
Owners: @randovania/cave-story-db

Remove Requirement as_set, satisfied, isolate_damage_requirement, damage
  randovania/game_description/game_description.py
  randovania/game_description/integrity_check.py
  randovania/game_description/requirements/array_base.py
  randovania/game_description/requirements/base.py
  randovania/game_description/requirements/fast_as_set.py
  randovania/game_description/requirements/node_requirement.py
  randovania/game_description/requirements/requirement_and.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/requirements/requirement_or.py
  randovania/game_description/requirements/requirement_set.py
  randovania/game_description/requirements/requirement_template.py
  randovania/game_description/requirements/resource_requirement.py
  randovania/game_description/resources/node_resource_info.py
  randovania/games/cave_story/logic_database/Last Cave.json
  randovania/games/cave_story/logic_database/Outer Wall.json
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/graph/world_graph.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/trick_usage_popup.py
  test/game_description/test_requirements.py
  test/graph/test_graph_requirement_list.py
  test/graph/test_graph_requirement_set.py
  test/resolver/test_logging.py
Owners: none

Fix DataEditorCanvas
  randovania/gui/tracker_window.py
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

Fix as_set typing
  randovania/game_description/requirements/fast_as_set.py
Owners: none

Fusion: Update for Patcher 0.9.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/gui/generated/fusion_cosmetic_patches_dialog_ui.py
  randovania/games/fusion/gui/generated/preset_fusion_patches_ui.py
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/interface_common/persisted_options.py
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Owners: @randovania/metroid-fusion-db

Fix knowledge beginner rdvgame
  test/test_files/log_files/fusion/starting_items.rdvgame
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

Impact Crater comments
  CHANGELOG.md
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Owners: @randovania/metroid-prime-db

typo in comment
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Owners: @randovania/metroid-prime-db

remove filler and changelog
  CHANGELOG.md
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Owners: @randovania/metroid-prime-db

Change iterate_resource_requirements to not use Context
  randovania/cli/database.py
  randovania/game_description/game_description.py
  randovania/game_description/integrity_check.py
  randovania/game_description/requirements/array_base.py
  randovania/game_description/requirements/base.py
  randovania/game_description/requirements/node_requirement.py
  randovania/game_description/requirements/requirement_template.py
  randovania/game_description/requirements/resource_requirement.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/trick_details_popup.py
  test/game_description/test_editor.py
  test/gui/test_data_editor.py
Owners: none

Delete NodeContext
  randovania/game_description/db/node.py
  randovania/game_description/game_description.py
  randovania/game_description/integrity_check.py
  randovania/game_description/requirements/node_requirement.py
  randovania/game_description/resources/node_resource_info.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/generator/generator_reach.py
  randovania/graph/state.py
  randovania/gui/dialog/trick_details_popup.py
  randovania/gui/tracker_window.py
  randovania/resolver/resolver.py
  test/game_description/test_resources.py
  test/generator/filler/test_pickup_list.py
  test/graph/test_world_graph.py
  test/gui/test_data_editor.py
  test/resolver/test_state.py
Owners: none

Fusion: Fix geron weakness logic+migration
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/layout/preset_migration.py
  test/test_files/log_files/fusion/starting_items.rdvgame
Owners: @randovania/metroid-fusion-db

fix tests
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Owners: none

Use ResourceDatabaseView in State
  randovania/game_description/game_database_view.py
  randovania/game_description/game_description.py
  randovania/game_description/resources/resource_database.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/old_generator_reach.py
  randovania/graph/state.py
Owners: none

Don't update py-cord
  pyproject.toml
  uv.lock
Owners: none

Fix
  randovania/graph/world_graph_factory.py
Owners: none

Fixes
  randovania/game_description/game_database_view.py
  randovania/game_description/game_description.py
  randovania/game_description/resources/resource_database.py
  randovania/generator/old_generator_reach.py
Owners: none

get_all_damage -> get_all_damage_resources
  randovania/game_description/game_database_view.py
  randovania/game_description/resources/resource_database.py
  randovania/generator/old_generator_reach.py
Owners: none

miepee impact crater comments
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Owners: @randovania/metroid-prime-db

Use ResourceDatabaseProxy in WorldGraph for node resource info
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
  randovania/resolver/bootstrap.py
  test/graph/test_requirement_converter.py
  test/graph/test_world_graph.py
Owners: none

Creating ResourceCollection from proxy references the proxy
  randovania/game_description/game_database_view.py
  randovania/game_description/resources/resource_database.py
  randovania/graph/world_graph_factory.py
Owners: none

Reorganize _is_dangerous_event
  randovania/resolver/resolver.py
Owners: none

Fix not being a vector
  randovania/lib/bitmask.py
Owners: none

improve trick comments
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Owners: @randovania/metroid-prime-db

That's a list not a vector
  randovania/lib/bitmask.py
  randovania/resolver/resolver.py
Owners: none

Fix prepare_virtual_env building too much
  tools/prepare_virtual_env.bat
  tools/prepare_virtual_env.py
  tools/prepare_virtual_env.sh
Owners: none

fix conflicts pt 1
  randovania/games/blank/logic_database/Intro.txt
Owners: none

fix conflict pt2 + add proper resources when RAN is having a docknode
  randovania/graph/world_graph.py
  randovania/graph/world_graph_factory.py
Owners: none

rename to remote collection node
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/remote_activation_node.py
  randovania/game_description/editor.py
  randovania/game_description/game_migration.py
  randovania/game_description/integrity_check.py
  randovania/generator/filler/player_state.py
  randovania/graph/world_graph_factory.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

rename pt 2
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/remote_collection_node.py
  randovania/game_description/editor.py
  randovania/game_description/integrity_check.py
  randovania/generator/filler/player_state.py
  randovania/graph/world_graph_factory.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/generated/node_details_popup_ui.py
  randovania/gui/ui_files/node_details_popup.ui
  randovania/gui/widgets/data_editor_canvas.py
Owners: none

add known todos for me and reviewers
  randovania/game_description/db/remote_collection_node.py
  randovania/game_description/editor.py
  randovania/graph/world_graph.py
Owners: none

rename pt 3
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/games/binary_data.py
  randovania/games/blank/logic_database/Intro.json
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/generated/node_details_popup_ui.py
  randovania/gui/ui_files/node_details_popup.ui
Owners: none

upgrade all db schemas
  randovania/games/am2r/logic_database/header.json
  randovania/games/blank/logic_database/Intro.json
  randovania/games/cave_story/logic_database/header.json
  randovania/games/dread/logic_database/header.json
  randovania/games/factorio/logic_database/header.json
  randovania/games/fusion/logic_database/header.json
  randovania/games/planets_zebeth/logic_database/header.json
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime2/logic_database/header.json
  randovania/games/prime_hunters/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.json
Owners: none

Phendrana comments part 1
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Owners: @randovania/metroid-prime-db

Optimize WeightedLocations.can_fit
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weighted_locations.py
  test/generator/filler/test_player_state.py
Owners: none

type
  randovania/generator/filler/weighted_locations.py
Owners: none

Add sizewatcher to CI
  .github/workflows/build-test-publish.yml
  .sizewatcher.yml
Owners: none
