Repository randovania/randovania, pull requests merged in 2021-11, with the labels that each got.

#2391 Database - Bombless Tricks
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Impact Crater.json
  randovania/games/prime1/json_data/Impact Crater.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
  randovania/games/prime1/json_data/header.json
Labels: requirements, Prime 1

#2383 Database - Bomb Jumps + Chozo Hypermode Dash
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
Labels: requirements, Prime 1

#2372 Dread Logic: Hanubia + Artaria
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
  randovania/games/dread/presets/starter_preset.rdvpreset
Labels: requirements, Metroid Dread

#2399 Dread elevators
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/patcher/open_dread_patcher.py
  randovania/gui/preset_settings/elevators_tab.py
  requirements-small.txt
  requirements.txt
  setup.cfg
Labels: enhancement, Metroid Dread
