Repository randovania/randovania, pull requests merged in 2022-01, with the labels that each got.

#2516 Added video comments for six more rooms in Magmoor.
  CHANGELOG.md
  randovania/games/prime1/json_data/Magmoor Caverns.json
  randovania/games/prime1/json_data/Magmoor Caverns.txt
Labels: requirements, Prime 1

#2498 Prime 1 - Shuffle Combat Visor/Power Beam
  CHANGELOG.md
  randovania/games/dread/item_database/item-database.json
  randovania/games/prime1/item_database/item-database.json
  randovania/games/prime1/json_data/header.json
  randovania/games/prime1/json_data/header.txt
  randovania/games/prime1/patcher/randomprime_patcher.py
  setup.cfg
Labels: Prime 1

#2529 Video comments for early Phendrana and Ice Ruins West logic update.
  CHANGELOG.md
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
Labels: requirements, Prime 1

#2530 Added more Tallon videos, and changed some logic in the database
  CHANGELOG.md
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
Labels: requirements, Prime 1

#2532 Prime - Item Position Rando
  CHANGELOG.md
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/gui/preset_settings/prime_patches_tab.py
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime1/patcher/randomprime_patcher.py
  randovania/gui/ui_files/preset_prime_patches.ui
  randovania/layout/base/base_configuration.py
  randovania/layout/preset_migration.py
  test/test_files/randomprime_expected_data.json
Labels: Prime 1

#2484 Implement initial logic for Ghavoran
  randovania/games/dread/item_database/item-database.json
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
  test/games/dread/patcher/test_open_dread_patcher.py
Labels: requirements, Metroid Dread

#2497 Implement initial logic for Burenia (rebased on the Ghavoran Branch)
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: requirements, Metroid Dread

#2556 Enforce Required Python Version before writing venv
  tools/prepare_virtual_env.bat
  tools/prepare_virtual_env.sh
  tools/test_py_version.py
Labels: python

#2535 Added some videos to chozo tricks, changed some logic
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
Labels: requirements, Prime 1

#2539 Elite Control logic overhaul. Small Ore Processing logic changes.
  CHANGELOG.md
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/header.json
Labels: requirements, Prime 1

#2540 Prime - Changes Needed for Scan Visor Start Logic
  randovania/games/dread/json_data/header.json
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Frigate Orpheon.json
  randovania/games/prime1/json_data/Frigate Orpheon.txt
  randovania/games/prime1/json_data/Impact Crater.json
  randovania/games/prime1/json_data/Impact Crater.txt
  randovania/games/prime1/json_data/Magmoor Caverns.json
  randovania/games/prime1/json_data/Magmoor Caverns.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
  randovania/games/prime1/json_data/header.json
  randovania/games/prime1/json_data/header.txt
Labels: requirements, Prime 1

#2586 Prime Presets
  CHANGELOG.md
  randovania/games/prime1/game_data.py
  randovania/games/prime1/json_data/header.json
  randovania/games/prime1/presets/moderate_challenge.rdvpreset
  randovania/games/prime1/presets/starter_preset.rdvpreset
Labels: Prime 1

#2585 Grapple Logically requires non-scan Visor
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Frigate Orpheon.json
  randovania/games/prime1/json_data/Frigate Orpheon.txt
  randovania/games/prime1/json_data/Magmoor Caverns.json
  randovania/games/prime1/json_data/Magmoor Caverns.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
  randovania/games/prime1/json_data/header.json
  randovania/games/prime1/json_data/header.txt
Labels: requirements, Prime 1

#2542 Prime Tricks
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Frigate Orpheon.json
  randovania/games/prime1/json_data/Frigate Orpheon.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
Labels: requirements, Prime 1

#2587 last changes to make CS non experimental
  randovania/game_description/world/world_list.py
  randovania/games/cave_story/game_data.py
  randovania/games/cave_story/gui/preset_settings/__init__.py
  randovania/games/cave_story/gui/preset_settings/cs_goal_tab.py
  randovania/games/cave_story/gui/preset_settings/cs_starting_area_tab.py
  randovania/games/cave_story/json_data/Egg Corridor.json
  randovania/games/cave_story/json_data/Egg Corridor.txt
  randovania/games/cave_story/json_data/Grasstown.json
  randovania/games/cave_story/json_data/Grasstown.txt
  randovania/games/cave_story/json_data/Labyrinth.json
  randovania/games/cave_story/json_data/Labyrinth.txt
  randovania/games/cave_story/json_data/Last Cave.json
  randovania/games/cave_story/json_data/Last Cave.txt
  randovania/games/cave_story/json_data/Mimiga Village.json
  randovania/games/cave_story/json_data/Mimiga Village.txt
  randovania/games/cave_story/json_data/Ruined Egg Corridor.json
  randovania/games/cave_story/json_data/Ruined Egg Corridor.txt
  randovania/games/cave_story/json_data/Sand Zone.json
  randovania/games/cave_story/json_data/Sand Zone.txt
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime3/gui/preset_settings/__init__.py
  randovania/games/super_metroid/gui/preset_settings/__init__.py
  randovania/gui/preset_settings/starting_area_tab.py
  randovania/gui/ui_files/preset_cs_objective.ui
  randovania/gui/ui_files/preset_starting_area.ui
  test/gui/preset_settings/test_starting_area.py
Labels: Cave Story

#2611 fixes a database error in burenia preventing generation/patching
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
Labels: requirements, Metroid Dread

#2614 Create Morph Ball Launcher Dock and adjust logic to use it
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: Metroid Dread

#2639 last CS touchups before 4.0
  CHANGELOG.md
  randovania/games/cave_story/json_data/Sand Zone.json
  randovania/games/cave_story/json_data/Sand Zone.txt
  randovania/games/cave_story/patcher/caver_patcher.py
  requirements-small.txt
  requirements.txt
  setup.cfg
  test/test_files/caver_expected_data/arthur.json
  test/test_files/caver_expected_data/camp.json
  test/test_files/caver_expected_data/chaos.json
  test/test_files/caver_expected_data/random.json
  test/test_files/caver_expected_data/shuffle.json
  test/test_files/caver_expected_data/start.json
  test/test_files/caver_expected_data/starting.json
Labels: game: Cave Story

#2652 Update Artaria & Elun Logic. Add some boss logic.
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread

#2690 Add and support EMMI Tunnel dock types
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread
