Repository randovania/randovania, pull requests merged in 2022-09, with the labels that each got.

#3665 Dread: Rest of Ferenia revision (E.M.M.I. Zone and Escue Area)
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3695 Dread: Some small Dairon tweaks
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#3669 Dread: Burenia Logic Revision Part 2
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3666 Dread: Final Artaria revision
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3716 Dread: Revise the Freezer to make it less dangerous
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3705 Dread: Final Burenia Revision
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3721 Dread: Cataris Revision, West Side
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3723 Dread: Final Ferenia revision
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3727 Dread: Final Itorash revision
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3726 Dread: Final Hanubia revision
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3725 Dread: Final Elun revision
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3724 Dread: Final Dairon revision
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3722 Dread: Fix up the logic around getting the Thermal Device item without Morph
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3718 Dread: Add Ghavoran Orange backdoor into logic
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3729 Dread: Cataris Revision Part 2
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3731 Dread: Rename the remaining events in Cataris and Ghavoran
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3732 Dread: Fix Lay Cross Bomb typo and add Ghavoran Chozo-X
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3734 Dread: Final Trickless Cataris Revision
  CHANGELOG.md
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3772 Dread: Add FAQ entry for Wide Beam door in Dairon
  CHANGELOG.md
  randovania/games/dread/game_data.py
Labels: game: Metroid Dread

#3776 Add trick for Short Boost
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3786 Add trick for ADC and adjust SSC trick description
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3789 Dread: Fix Purple EMMI Arena logic to climb the tower.
  CHANGELOG.md
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#3784 Dread: Add Diffusion Abuse trick
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3802 Dread: Add Intermediate Knowledge to shooting occluded objects
  CHANGELOG.md
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3803 Dread: Add logic to getting Cross Bomb Puzzle Room item
  CHANGELOG.md
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#3787 Add dialog for viewing past versions of a preset
  CHANGELOG.md
  randovania/gui/dialog/preset_history_dialog.py
  randovania/gui/lib/file_prompts.py
  randovania/gui/ui_files/preset_history_dialog.ui
  randovania/gui/widgets/generate_game_widget.py
  randovania/interface_common/preset_manager.py
  randovania/layout/preset.py
  randovania/layout/versioned_preset.py
  test/gui/dialog/test_preset_history_dialog.py
  test/gui/widgets/test_generate_game_widget.py
  test/interface_common/test_preset_manager.py
Labels: enhancement, feature: GUI

#3812 Dread: Add the remaining Wide Block Diffusion Abuse tricks
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: feature: Database, game: Metroid Dread
