Repository randovania/randovania, pull requests merged in 2022-02, with the labels that each got.

#2698 Dread logic fix
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: game: Metroid Dread

#2701 Integrity Check: Test if database is strongly connected
  .idea/runConfigurations/Data_Editor.xml
  .idea/runConfigurations/Update_prime1_txt.xml
  .idea/runConfigurations/Update_prime2_txt.xml
  .idea/runConfigurations/Update_prime3_txt.xml
  .idea/runConfigurations/Update_super_metroid_txt.xml
  CHANGELOG.md
  randovania/game_description/integrity_check.py
  randovania/games/cave_story/json_data/Labyrinth.json
  randovania/games/cave_story/json_data/Labyrinth.txt
  randovania/games/cave_story/json_data/Last Cave.json
  randovania/games/cave_story/json_data/Last Cave.txt
  randovania/games/cave_story/json_data/Mimiga Village.json
  randovania/games/cave_story/json_data/Mimiga Village.txt
  randovania/games/cave_story/json_data/Ruined Egg Corridor.json
  randovania/games/cave_story/json_data/Ruined Egg Corridor.txt
  randovania/games/cave_story/json_data/Sand Zone.json
  randovania/games/cave_story/json_data/Sand Zone.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/prime1/json_data/End of Game.json
  randovania/games/prime1/json_data/End of Game.txt
  randovania/games/prime1/json_data/Frigate Orpheon.json
  randovania/games/prime1/json_data/Frigate Orpheon.txt
  randovania/games/prime1/json_data/Impact Crater.json
  randovania/games/prime1/json_data/Impact Crater.txt
  randovania/games/prime1/json_data/header.json
  randovania/games/prime1/json_data/header.txt
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
  randovania/games/prime3/json_data/GFS Olympus.json
  randovania/games/prime3/json_data/GFS Olympus.txt
  randovania/games/prime3/json_data/GFS Valhalla.json
  randovania/games/prime3/json_data/GFS Valhalla.txt
  randovania/games/prime3/json_data/Norion.json
  randovania/games/prime3/json_data/Norion.txt
  randovania/games/prime3/json_data/Phaaze.json
  randovania/games/prime3/json_data/Phaaze.txt
  randovania/games/super_metroid/json_data/Maridia.json
  randovania/games/super_metroid/json_data/Maridia.txt
  randovania/gui/data_editor.py
  test/game_description/test_integrity_check.py
  test/gui/test_data_editor.py
Labels: enhancement

#2696 Documentation Improvements
  docs/DATABASE_FORMAT.md
  docs/GLOSSARY.md
Labels: documentation

#2724 Dread patcher updates
  randovania/games/dread/item_database/item-database.json
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/layout/preset_describer.py
  randovania/games/dread/patcher/open_dread_patcher.py
  randovania/patching/prime/patcher_file_lib/pickup_exporter.py
  requirements-small.txt
  requirements.txt
  setup.cfg
  setup.py
  test/games/patchers/test_randomprime_patcher.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
  test/games/prime/test_patcher_file.py
Labels: feature: Patcher, game: Metroid Dread

#2734 Minor logic fixes and renaming after darkszero's fun test stream
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread

#2753 Fix logic for artaria wide beam block room
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: game: Metroid Dread

#2758 Add basic Dairon's transport to Artaria heat logic. Fix Ferenia screw attack node
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: game: Metroid Dread

#2759 Remove tile groups that detract from some dread puzzles (Ferenia and Dairon)
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: game: Metroid Dread

#2766 Feature/dread patch update
  randovania/games/dread/patcher/open_dread_patcher.py
  requirements-small.txt
  requirements.txt
  setup.cfg
Labels: game: Metroid Dread

#2798 Add Artaria Starting Points for all rooms
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: game: Metroid Dread

#2805 Fixes + Elun Starts Added
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: game: Metroid Dread

#2807 Minor Ghavoran Updates
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: game: Metroid Dread

#2808 Logic fixes and additions
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#2806 Minor logic updates in dairon/ferenia
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: game: Metroid Dread

#2810 Restrict control of who can access frozen builds
  randovania/__init__.py
  randovania/gui/lib/qt_network_client.py
  randovania/gui/main_online_interaction.py
  randovania/gui/qt.py
  randovania/network_common/error.py
  randovania/server/app.py
  randovania/server/discord/preset_lookup.py
  randovania/server/server_app.py
  randovania/server/user_session.py
  test/server/discord/test_preset_lookup.py
  test/server/test_server_app.py
  tools/create_release.py
Labels: feature: Server, feature: GUI

#2841 Increase strictness with database checks.
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  test/game_description/test_integrity_check.py
  test/generator/test_generator_reach.py
Labels: feature: Database, game: Metroid Dread

#2819 Reworked logic for Artaria
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#2829 Various logic fixes and additions
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread
