Repository randovania/randovania, pull requests merged in 2022-07, with the labels that each got.

#3402 Dread: Remove Speed Blocks in Hanubia
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3424 Updating Escape Sequence Logic
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
Labels: feature: Database, game: Metroid Dread

#3477 Randomprime v1.9.0
  requirements.txt
  setup.cfg
Labels: Patcher, game: Prime 1

#3441 Updated Ferenia/Energy recharge station (gate)
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#3401 Dread: Revise logic for Freezer and those related
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#3405 Prime 1: Some Phazon Mines logic fixes
  CHANGELOG.md
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
Labels: feature: Database, game: Prime 1

#3504 Dread: Remove Speed Blocks in Dairon
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3486 added missing logic to Northwest area of Artaria
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#3508 Dread: Revise logic for Spin Boost Tower
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread
