Repository randovania/randovania, pull requests merged in 2022-10, with the labels that each got.

#3822 Dread: Add new setting for Highly Dangerous Logic
  CHANGELOG.md
  randovania/games/blank/presets/starter_preset.rdvpreset
  randovania/games/cave_story/presets/classic.rdvpreset
  randovania/games/cave_story/presets/starter_preset.rdvpreset
  randovania/games/dread/generator/bootstrap.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/dread_generation_tab.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/preset_describer.py
  randovania/games/dread/presets/starter_preset.rdvpreset
  randovania/games/prime1/presets/april_fools_2022.rdvpreset
  randovania/games/prime1/presets/moderate_challenge.rdvpreset
  randovania/games/prime1/presets/starter_preset.rdvpreset
  randovania/games/prime2/presets/darkszero_deluxe.rdvpreset
  randovania/games/prime2/presets/fewest_changes.rdvpreset
  randovania/games/prime2/presets/starter_preset.rdvpreset
  randovania/games/prime3/presets/starter_preset.rdvpreset
  randovania/games/super_metroid/presets/starter_preset.rdvpreset
  randovania/gui/preset_settings/generation_tab.py
  randovania/layout/preset_migration.py
  test/games/dread/gui/preset_settings/test_dread_generation_tab.py
  test/gui/preset_settings/test_generation_tab.py
Labels: game: Metroid Dread, feature: Configuration

#3870 Dread: Add Cross Bomb alternative for Flash Gates
  CHANGELOG.md
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3819 add an option for all save station doors to be blue in prime 1
  CHANGELOG.md
  randovania/game_description/game_patches.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/gui/preset_settings/prime_patches_tab.py
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/ui_files/preset_prime_patches.ui
  randovania/layout/preset_migration.py
  test/generator/test_base_patches_factory.py
  test/test_files/log_files/prime1_crazy_seed.rdvgame
  test/test_files/randomprime_expected_data.json
  test/test_files/randomprime_expected_data_crazy.json
  test/test_files/randomprime_expected_data_one_way_door.json
Labels: game: Prime 1
