Repository randovania/randovania, pull requests merged in 2022-12, with the labels that each got.

#3964 Add missing bomb path on map in Burenia Energy Recharge South
  randovania/games/dread/assets/maps/Burenia.png
  randovania/games/dread/json_data/Burenia.json
Labels: feature: Database, game: Metroid Dread

#3954 Dread: Two more Dock Rando exclusion fixes
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3963 Dread: Remove softlock check in EMMI Zone Exit Northwest from logic
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#3971 Dread: Exclude one-way save station doors
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3974 Samus Returns - Add tricks through Area 3
  randovania/games/samus_returns/assets/maps/Area 3 - Exterior.png
  randovania/games/samus_returns/assets/maps/Area 3 - Interior (East).png
  randovania/games/samus_returns/assets/maps/Area 3 - Interior (West).png
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: game: Metroid: Samus Returns

#3976 Samus Returns - Add Tricks to Area 4 + other fixes
  randovania/games/samus_returns/assets/maps/Area 4 - East.png
  randovania/games/samus_returns/assets/maps/Area 4 - West.png
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
Labels: game: Metroid: Samus Returns

#3987 Prime 3: Fix connections in Zipline Station Bravo
  randovania/games/prime3/json_data/SkyTown Elysia - Main.json
  randovania/games/prime3/json_data/SkyTown Elysia - Main.txt
Labels: feature: Database, game: Prime 3

#3990 MSR - Area 5 Trick Updates
  randovania/games/samus_returns/assets/maps/Area 5 - Entrance.png
  randovania/games/samus_returns/assets/maps/Area 5 - Exterior.png
  randovania/games/samus_returns/assets/maps/Area 5 - Interior.png
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/header.json
Labels: game: Metroid: Samus Returns

#3991 SR - Add Remaining Initial Tricks
  randovania/games/samus_returns/assets/maps/Area 6.png
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/assets/maps/Area 8.png
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
Labels: game: Metroid: Samus Returns

#3998 Samus Returns - Update extra fields of relevant nodes for random start
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#4007 Update Spider Ball Model for Auto Tracker
  CHANGELOG.md
  randovania/data/gui_assets/tracker/game-images/mp2/spider_ball.gif
Labels: game: Prime 2, feature: GUI

#4008 Corruption: Add tricks and some videos to database
  randovania/games/prime3/json_data/Bryyo - Fire.json
  randovania/games/prime3/json_data/Bryyo - Fire.txt
  randovania/games/prime3/json_data/Bryyo - Reptilicus.json
  randovania/games/prime3/json_data/Bryyo - Reptilicus.txt
  randovania/games/prime3/json_data/GFS Valhalla.json
  randovania/games/prime3/json_data/GFS Valhalla.txt
  randovania/games/prime3/json_data/Norion.json
  randovania/games/prime3/json_data/Norion.txt
  randovania/games/prime3/json_data/Pirate Homeworld - Command.json
  randovania/games/prime3/json_data/Pirate Homeworld - Command.txt
  randovania/games/prime3/json_data/Pirate Homeworld - Research.json
  randovania/games/prime3/json_data/Pirate Homeworld - Research.txt
  randovania/games/prime3/json_data/Pirate Homeworld - Seed.json
  randovania/games/prime3/json_data/Pirate Homeworld - Seed.txt
  randovania/games/prime3/json_data/SkyTown Elysia - Main.json
  randovania/games/prime3/json_data/SkyTown Elysia - Main.txt
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.json
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.txt
Labels: feature: Database, game: Prime 3

#4013 Samus Returns Database Updates
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#4015 Echoes - Minor Updates
  CHANGELOG.md
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
Labels: feature: Database, game: Prime 2

#4018 Prime 3 - Fix broken Xenoresearch logic
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.json
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.txt
Labels: feature: Database, game: Prime 3

#4019 Prime 3 - Minor Database Changes
  randovania/games/prime3/json_data/Bryyo - Fire.json
  randovania/games/prime3/json_data/Bryyo - Fire.txt
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.json
  randovania/games/prime3/json_data/SkyTown Elysia - Pod.txt
Labels: feature: Database, game: Prime 3
