Repository randovania/randovania, pull requests merged in 2022-04, with the labels that each got.

#2984 Adjust logic involving the Pulse Radar Enky
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3026 Dread: Fix logic for Hot Cataris Shortcut
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#2966 Implement correct tracking of door locks
  CHANGELOG.md
  randovania/game_description/derived_nodes.py
  randovania/game_description/editor.py
  randovania/game_description/integrity_check.py
  randovania/game_description/requirements.py
  randovania/game_description/world/dock.py
  randovania/game_description/world/dock_lock_node.py
  randovania/game_description/world/dock_node.py
  randovania/game_description/world/event_node.py
  randovania/game_description/world/logbook_node.py
  randovania/game_description/world/node.py
  randovania/game_description/world/pickup_node.py
  randovania/game_description/world/player_ship_node.py
  randovania/game_description/world/resource_node.py
  randovania/game_description/world/world_list.py
  randovania/games/blank/assets/maps/Square.png
  randovania/games/blank/item_database/item-database.json
  randovania/games/blank/json_data/Intro.json
  randovania/games/blank/json_data/Intro.txt
  randovania/games/blank/json_data/header.json
  randovania/games/blank/json_data/header.txt
  randovania/games/blank/presets/starter_preset.rdvpreset
  randovania/generator/filler/player_state.py
  randovania/generator/generator.py
  randovania/generator/old_generator_reach.py
  randovania/resolver/event_pickup.py
  randovania/resolver/resolver.py
  test/game_description/test_requirements.py
  test/game_description/world/test_world_list.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/generator/filler/test_player_state.py
  test/generator/test_generator_reach.py
  test/resolver/test_resolver.py
  test/test_files/log_files/prime2_seed_b.rdvgame
Labels: enhancement, feature: Core

#3030 Implement exporting Dread games via FTP
  randovania/cli/__init__.py
  randovania/games/dread/exporter/game_exporter.py
  randovania/games/dread/gui/dialog/ftp_uploader.py
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/dread_game_export_dialog.ui
  requirements.txt
  setup.cfg
  test/games/dread/gui/test_dread_game_export_dialog.py
  test/games/dread/gui/test_ftp_uploader.py
Labels: game: Metroid Dread, feature: GUI

#3076 some small changes to dread
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/dread_cosmetic_patches.py
  randovania/games/dread/layout/preset_describer.py
  randovania/games/dread/presets/starter_preset.rdvpreset
  randovania/gui/preset_settings/patcher_energy_tab.py
  randovania/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/gui/ui_files/preset_patcher_energy.ui
  randovania/layout/preset_migration.py
  requirements.txt
  setup.cfg
Labels: game: Metroid Dread

#3093 Fix being able to collect `Destroy Post Chain Reaction Debris` before…
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#3090 Properly implement David Jaffe charge beam door.
  randovania/game_description/integrity_check.py
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3103 Dread: Properly account for Access Closed doors
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3110 Dread: redo logic for Artaria - First Tutorial
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3111 Dread: Fix grapple events for Ghavoran
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3116 Dread: Redo logic for Melee Tutorial Room
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread
