Repository randovania/randovania, pull requests merged in 2022-08, with the labels that each got.

#3509 Dread: Finalize Ghavoran logic revision
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3528 Dread: Change PBs opening Charge Doors to Beginner Knowledge
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3511 Dread: Begin Dairon logic revision
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#3366 Dread: Added a Linear Damage Runs option.
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/dread_energy_tab.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/preset_describer.py
  randovania/gui/ui_files/preset_dread_energy.ui
  randovania/layout/preset_migration.py
  test/test_files/dread_expected_data.json
Labels: enhancement, game: Metroid Dread

#3545 Dread: Fix Pulse Radar and Dairon Freezer
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#3398 Dread: Revise logic for the Screw Attack area and some more East
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#3551 Dread: Revise logic for the right half of Artaria EMMI Zone
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3563 Dread: Add Misc. Resource for Door Lock Rando
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3552 Dread: Revise logic for the middle section of Dairon
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3554 Cataris logic changes
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#3572 [Echoes] Revamp Main Research logic and add an extra node.
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
Labels: feature: Database, game: Prime 2

#3611 Dread: Begin Burenia Logic Revision
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3636 Dread: Adjust the trick database a bit
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3546 Dread: Revise Elun logic
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
Labels: feature: Database, game: Metroid Dread

#3649 Dread: Adjust lava damage and boss energy requirements
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3575 Dread: Final Dairon revision
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#3663 Storage Depot A logic fix
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
Labels: feature: Database, game: Prime 1

#3677 Dread: Add templates for fighting the Chozo mini-bosses
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread
