Repository randovania/randovania, pull requests merged in 2023-09, with the labels that each got.

#5185 AM2R: Fix crystal corridors east/west mixup
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Database, game: AM2R

#5153 Dread: Adjust boss fight logic to account for Split Beams
  CHANGELOG.md
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#5159 Prime1: Logic Update
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
  randovania/games/prime1/json_data/header.json
Labels: feature: Database, game: Metroid Prime 1

#5182 Generator: if all actions have weight 0, use reachable node count as …
  CHANGELOG.md
  randovania/generator/filler/action.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/retcon.py
Labels: feature: Generator, waiting-next-release

#5166 Fix mypy errors in EchoesPatchDataFactory
  pyproject.toml
  randovania/game_description/resources/node_resource_info.py
  randovania/games/prime2/exporter/patch_data_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
Labels: waiting-next-release

#5183 AM2R: Main Caves Logic
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
Labels: feature: Database, game: AM2R

#5194 Bump am2r-yams to 0.0.23
  requirements.txt
  setup.cfg
Labels: dependencies

#5179 AM2R: Add seperate option to skip save cutscenes
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/no_ammo.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Configuration, game: AM2R

#5167 AM2R: Use special sprite for hidden model.
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#5193 AM2R: Fix most mypy errors in exporter
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/am2r/exporter/hint_namer.py
  randovania/games/am2r/exporter/options.py
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#5195 AM2R: Add joke hints
  randovania/games/am2r/exporter/joke_hints.py
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5191 AM2R: Add A5 4 tile docks
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5190 AM2R: Add 4 tiles to area 4
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#5192 AM2R: Add 4 tile docks to A6
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
Labels: feature: Database, game: AM2R

#5187 AM2R: More area renames
  randovania/games/am2r/game_data.py
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Depths.json
  randovania/games/am2r/json_data/The Depths.txt
  randovania/games/am2r/json_data/header.json
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/no_ammo.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Database, game: AM2R

#5196 Dread: Fix a Dock Type in Ghavoran
  CHANGELOG.md
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5212 AM2R: fix hint crash
  randovania/games/am2r/exporter/joke_hints.py
Labels: game: AM2R

#5221 Bump am2r-yams to 0.0.25
  requirements.txt
Labels: dependencies

#5234 AM2R: Add extra data to area transitions
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Depths.json
  randovania/games/am2r/json_data/The Depths.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#5238 AM2R: Get rid of dangerous items
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#5002 Dread: Some updates to make connections no longer "dangerous", or only "dangerous" when using certain settings
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#5243 AM2R: Fix logic bug going from a5 -> tower
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
Labels: feature: Database, game: AM2R

#5244 Videos added to Dread logic database.
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#4836 Don't install server extras when preparing to create an installer
  .github/workflows/build-test-publish.yml
  randovania/cli/commands/render_regions.py
  randovania/cli/database.py
  randovania/cli/development.py
  test/cli/commands/test_database_cli.py
  test/cli/commands/test_render_regions.py
Labels: waiting-next-release

#5254 Prime: Fix broken MQA logic
  CHANGELOG.md
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
Labels: feature: Database, game: Metroid Prime 1

#5272 AM2R: Add missing logical patches
  randovania/games/am2r/generator/bootstrap.py
Labels: feature: Configuration, game: AM2R

#5273 SM: exclude beginner shinespark instead of specific items.
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Norfair.json
  randovania/games/super_metroid/json_data/Norfair.txt
  randovania/games/super_metroid/json_data/header.json
  test/generator/test_generator_reach.py
Labels: game: Super Metroid

#5291 MSR: Update grapple block names in header + add new grapple event in area 6
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/header.json
Labels: game: Metroid: Samus Returns

#5271 Generator: Fix not wanting to place etanks, when damage req would be just high enough to kill player
  CHANGELOG.md
  randovania/generator/filler/pickup_list.py
Labels: feature: Generator, feature: Core

#5277 Generator: handle negative requirements a little better
  CHANGELOG.md
  randovania/generator/filler/pickup_list.py
Labels: feature: Generator, feature: Core

#5266 Samus Returns: Fix Diggernaut logic breaking nearly every seed + other minor DB things
  randovania/games/samus_returns/assets/maps/Area 2 - Interior.png
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: game: Metroid: Samus Returns

#5312 Super: Make tourian not locked behind you
  randovania/games/super_metroid/json_data/Tourian.json
  randovania/games/super_metroid/json_data/Tourian.txt
Labels: feature: Database, game: Super Metroid

#5317 (MP3) Command Courtyard video
  randovania/games/prime3/json_data/Pirate Homeworld - Command.json
  randovania/games/prime3/json_data/Pirate Homeworld - Command.txt
Labels: feature: Database, game: Metroid Prime 3

#5318 Resolver: Fix bug where nested requirements were combined wrongly
  CHANGELOG.md
  randovania/game_description/requirements/fast_as_set.py
  test/game_description/test_requirements.py
Labels: feature: Generator

#5134 Preset patch for nerfing power bombs
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/dread_patches_tab.py
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
  randovania/games/dread/layout/dread_configuration.py
  randovania/gui/ui_files/preset_dread_patches.ui
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: enhancement, feature: Database, game: Metroid Dread

#5334 MP3 - Fix Creche Transit -> Metroid Processing incorrect door type
  randovania/games/prime3/json_data/Pirate Homeworld - Research.json
  randovania/games/prime3/json_data/Pirate Homeworld - Research.txt
Labels: feature: Database, game: Metroid Prime 3

#5337 AM2R: Fix incorrect major/minor locations
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: game: AM2R

#5327 Echoes: Logic Updates and Video Upload
  CHANGELOG.md
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
  randovania/games/prime2/json_data/Torvus Bog.json
  randovania/games/prime2/json_data/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2

#5336 Dread: Ghavoran Eyedoor changes
  CHANGELOG.md
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#5354 AM2R: Add FAQ Question about goal/mains
  randovania/games/am2r/game_data.py
Labels: game: AM2R

#5344 Echoes: Change suitless trick to include dark atmosphere and other changes
  CHANGELOG.md
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
  randovania/games/prime2/json_data/Torvus Bog.json
  randovania/games/prime2/json_data/Torvus Bog.txt
  randovania/games/prime2/json_data/header.json
Labels: feature: Database, game: Metroid Prime 2

#5356 AM2R: Rename event nodes
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/GFS Thoth.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Database, game: AM2R

#5297 Samus Returns - Patcher Prep Work #2
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/gui/__init__.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/pickup_database/__init__.py
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_patches.ui
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: Patcher, game: Metroid: Samus Returns

#5360 AM2R: Misc logic changes
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Depths.json
  randovania/games/am2r/json_data/The Depths.txt
Labels: feature: Database, game: AM2R

#5361 AM2R: Workaround for a5 zeta
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5362 Update am2r-yams to 0.1.0
  requirements.txt
  setup.cfg
Labels: dependencies

#5341 SM: Update logic in crateria
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/header.json
Labels: feature: Database, game: Super Metroid

#5363 Samus Returns - Header updates
  randovania/games/samus_returns/assets/maps/Area 1.png
  randovania/games/samus_returns/assets/maps/Area 2 - Entrance.png
  randovania/games/samus_returns/assets/maps/Area 2 - Interior.png
  randovania/games/samus_returns/assets/maps/Area 3 - Exterior.png
  randovania/games/samus_returns/assets/maps/Area 4 - East.png
  randovania/games/samus_returns/assets/maps/Area 4 - West.png
  randovania/games/samus_returns/assets/maps/Area 5 - Entrance.png
  randovania/games/samus_returns/assets/maps/Area 5 - Interior.png
  randovania/games/samus_returns/assets/maps/Area 6.png
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/assets/maps/Surface - East.png
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5372 Samus Returns - Support Crumble Block Removal Misc Resources
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_patches.ui
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5369 AM2R: Make *both* ways for first omega behind a trick for traversal
  randovania/games/am2r/json_data/The Depths.json
  randovania/games/am2r/json_data/The Depths.txt
Labels: feature: Database, game: AM2R

#5357 Fix Exo Logic and Adjust Sun Tower Sessamoharu Bomb Jump Logic
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Impact Crater.json
  randovania/games/prime1/json_data/Impact Crater.txt
Labels: feature: Database, game: Metroid Prime 1

#5374 AM2R: Make super Omegas/zetas not trickless
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5371 Samus Returns - Door Updates
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5378 AM2R: Fix metroid fanfare not being shuffled.
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#5367 SM: Revise Crateria Logic even more
  randovania/games/super_metroid/json_data/Ceres Station.json
  randovania/games/super_metroid/json_data/Ceres Station.txt
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/header.json
  randovania/games/super_metroid/json_data/header.txt
  randovania/games/super_metroid/presets/starter_preset.rdvpreset
Labels: feature: Database, game: Super Metroid

#5315 SM: implement patches into logic
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Norfair.json
  randovania/games/super_metroid/json_data/Norfair.txt
  randovania/games/super_metroid/json_data/Tourian.json
  randovania/games/super_metroid/json_data/Tourian.txt
Labels: feature: Database, game: Super Metroid

#5376 SM: Update Ceres room names to be according to wiki
  randovania/games/super_metroid/json_data/Ceres Station.json
  randovania/games/super_metroid/json_data/Ceres Station.txt
Labels: feature: Database, game: Super Metroid

#5379 SM: rename brinstar rooms
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Maridia.json
  randovania/games/super_metroid/json_data/Maridia.txt
  test/test_files/sdm_test_game.rdvgame
Labels: feature: Database, game: Super Metroid

#5377 SM: Rename Crateria rooms according to wiki
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Tourian.json
  randovania/games/super_metroid/json_data/Tourian.txt
  randovania/games/super_metroid/json_data/Wrecked Ship.json
  randovania/games/super_metroid/json_data/Wrecked Ship.txt
  test/test_files/sdm_test_game.rdvgame
Labels: feature: Database, game: Super Metroid
