Repository randovania/randovania, pull requests merged in 2023-04, with the labels that each got.

#4208 Dread: Add Random Starting Locations
  CHANGELOG.md
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/layout/dread_configuration.py
  randovania/gui/preset_settings/starting_area_tab.py
  test/games/dread/layout/test_dread_configuration.py
  test/gui/preset_settings/test_starting_area.py
  test/test_files/log_files/dread_1.rdvgame
  test/test_files/log_files/dread_2.rdvgame
Labels: game: Metroid Dread, feature: Configuration

#4239 Added ice missile and diffusion beam shields
  CHANGELOG.md
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread, feature: Configuration

#4227 [DREAD] Added cosmetic option to show room names
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/layout/dread_cosmetic_patches.py
  randovania/gui/ui_files/dread_cosmetic_patches_dialog.ui
  test/games/dread/gui/test_dread_cosmetic_patches_dialog.py
  test/test_files/dread_expected_data.json
Labels: enhancement, game: Metroid Dread

#4304 Database Updates for Major/Minor
  CHANGELOG.md
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
  randovania/games/prime2/item_database/item-database.json
Labels: feature: Database

#4301 Rename "lounge" to "Lounge" in Cave Story database
  CHANGELOG.md
  randovania/data/migration_data.json
  randovania/games/cave_story/json_data/Plantation.json
  randovania/games/cave_story/json_data/Plantation.txt
  test/test_files/caver_expected_data/arthur.json
  test/test_files/caver_expected_data/camp.json
  test/test_files/caver_expected_data/chaos.json
  test/test_files/caver_expected_data/random.json
  test/test_files/caver_expected_data/shuffle.json
  test/test_files/caver_expected_data/start.json
  test/test_files/caver_expected_data/starting.json
Labels: game: Cave Story

#4315 Dread: Remove Itorash doors from Door Lock Rando
  CHANGELOG.md
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
Labels: game: Metroid Dread

#4308 Database updates by Masier
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
  randovania/games/prime2/json_data/Torvus Bog.json
  randovania/games/prime2/json_data/Torvus Bog.txt
  randovania/games/prime3/json_data/Bryyo - Fire.json
  randovania/games/prime3/json_data/Bryyo - Fire.txt
  randovania/games/prime3/json_data/Bryyo - Reptilicus.json
  randovania/games/prime3/json_data/Bryyo - Reptilicus.txt
  randovania/games/prime3/json_data/GFS Valhalla.json
  randovania/games/prime3/json_data/GFS Valhalla.txt
  randovania/games/prime3/json_data/Pirate Homeworld - Research.json
  randovania/games/prime3/json_data/Pirate Homeworld - Research.txt
Labels: game: Prime 2, game: Prime 3, game: Metroid Dread

#4270 Dread/burenia shinesparks
  CHANGELOG.md
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/header.json
Labels: game: Metroid Dread

#4334 Echoes: Two Sanctuary Additions
  CHANGELOG.md
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
Labels: feature: Database, game: Prime 2
