Repository randovania/randovania, pull requests merged in 2023-08, with the labels that each got.

#4955 Super Metroid: Fix Elevators after teleporter refactor
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Ceres Station.json
  randovania/games/super_metroid/json_data/Ceres Station.txt
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Maridia.json
  randovania/games/super_metroid/json_data/Maridia.txt
  randovania/games/super_metroid/json_data/Norfair.json
  randovania/games/super_metroid/json_data/Norfair.txt
  randovania/games/super_metroid/json_data/Tourian.json
  randovania/games/super_metroid/json_data/Tourian.txt
Labels: feature: Database, game: Super Metroid

#4954 Super Metroid: Add vanilla locations
  randovania/games/super_metroid/pickup_database/pickup-database.json
Labels: game: Super Metroid

#4953 Super Metroid: Add enable moonwalk by default + redo cosmetic window
  randovania/games/super_metroid/gui/dialog/super_cosmetic_patches_dialog.py
  randovania/games/super_metroid/layout/super_metroid_cosmetic_patches.py
  randovania/gui/ui_files/super_cosmetic_patches_dialog.ui
  test/test_files/sdm_expected_result.json
Labels: game: Super Metroid, feature: Configuration, feature: GUI

#4947 Slightly improve SM patcher page
  randovania/gui/ui_files/preset_patcher_super_patches.ui
Labels: game: Super Metroid, feature: GUI

#4946 Super Metroid: Add DB options for (map) tweaks
  randovania/games/super_metroid/game_data.py
  randovania/games/super_metroid/generator/bootstrap.py
  randovania/games/super_metroid/json_data/header.json
  randovania/games/super_metroid/json_data/header.txt
  randovania/games/super_metroid/layout/super_metroid_configuration.py
  randovania/games/super_metroid/layout/super_metroid_patch_configuration.py
  randovania/games/super_metroid/presets/starter_preset.rdvpreset
  test/test_files/presets/super_test_preset.rdvpreset
  test/test_files/sdm_expected_result.json
  test/test_files/sdm_test_game.rdvgame
Labels: game: Super Metroid

#4942 Mock all usages of asyncio.run in tests
  test/cli/commands/test_batch_distribute.py
  test/cli/commands/test_cli_patcher_data.py
  test/cli/commands/test_generate_cli.py
  test/games/dread/gui/test_ftp_uploader.py
  test/games/patchers/test_csharp_subprocess.py
  test/gui/test_multiplayer_session_window.py
  test/network_client/test_network_client.py
Labels: feature: Core

#4949 Add offworld models to super metroid pickup db
  randovania/games/super_metroid/pickup_database/pickup-database.json
Labels: game: Super Metroid, feature: Configuration

#4888 Dread: Diagonal Bomb Jump in Ferenia - Speedboost Slopes Maze
  CHANGELOG.md
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: game: Metroid Dread

#4895 Dread: Add bomb jump at Burenia - Main Hub Tower Top
  CHANGELOG.md
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
Labels: game: Metroid Dread

#4963 Add Dread to Racetime Search
  CHANGELOG.md
  randovania/gui/dialog/racetime_browser_dialog.py
Labels: feature: GUI

#4925 Dread/make connections not dangerous
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
Labels: game: Metroid Dread

#4990 AM2R: Add internal numbers as extra data for areas
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Tower.json
Labels: game: AM2R

#4993 AM2R: Some minor GT improvements
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
Labels: feature: Database, game: AM2R

#4985 AM2R: Tower (A4) Database Updates
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#4998 AM2R: Logic updates for Genetics Lab and GFS Thoth
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/GFS Thoth.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
Labels: feature: Database, game: AM2R

#4881 AM2R: Add Patcher
  randovania/games/am2r/exporter/game_exporter.py
  requirements.txt
  setup.cfg
  test/games/am2r/exporter/test_am2r_game_exporter.py
Labels: game: AM2R

#5013 AM2R: Clarify where to find 1.5.5
  randovania/gui/ui_files/am2r_game_export_dialog.ui
Labels: feature: GUI, game: AM2R

#5008 AM2R: Add region names to patch data json
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5009 AM2R: Add option to skip item cutscenes
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
Labels: feature: Configuration, game: AM2R

#4796 Dread - Fix room typo
  CHANGELOG.md
  randovania/games/dread/assets/migration_data.json
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/layout/description_migration.py
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: feature: Database, game: Metroid Dread

#4915 Adds elevator/shuttle rando for dread in dev builds
  CHANGELOG.md
  randovania/games/common/prime_family/gui/elevators_tab_prime1.py
  randovania/games/common/prime_family/gui/elevators_tab_prime2.py
  randovania/games/common/prime_family/layout/lib/prime_trilogy_teleporters.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/generator/base_patches_factory.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/dread_elevators_tab.py
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/dread_teleporters.py
  randovania/games/dread/layout/preset_describer.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime2/generator/base_patches_factory.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/layout/echoes_configuration.py
  randovania/generator/base_patches_factory.py
  randovania/generator/elevator_distributor.py
  randovania/gui/ui_files/preset_elevators_dread.ui
  randovania/gui/ui_files/preset_elevators_prime1.ui
  randovania/gui/ui_files/preset_elevators_prime2.ui
  randovania/layout/lib/teleporters.py
  randovania/layout/preset_migration.py
  test/games/dread/exporter/test_dread_patch_data_factory.py
  test/games/prime2/generator/test_echoes_base_patches_factory.py
  test/games/prime2/generator/test_echoes_bootstrap.py
  test/generator/test_base_patches_factory.py
  test/gui/preset_settings/test_preset_elevator.py
  test/layout/test_echoes_configuration.py
  test/layout/test_teleporters.py
  test/test_files/log_files/dread/elevator_rando.rdvgame
  test/test_files/patcher_data/dread/elevator_rando.json
Labels: game: Metroid Dread

#5026 Bump Yams
  requirements.txt
Labels: dependencies

#5027 AM2R: Include extra data for teleporter pipes
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5023 AM2R: Change names of torture room + a3 emp reward
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Database, game: AM2R

#5022 AM2R: Add option for supers to not work on missile doors
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
Labels: feature: Database, feature: Configuration, game: AM2R

#5031 [DREAD] Excluded door in Artaria
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: bug, feature: Database, game: Metroid Dread

#5030 AM2R: Fix new patches not being in patch data factory
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#4992 AM2R: Auto Tracker templates
  randovania/data/gui_assets/tracker/am2r-game-3x7.json
  randovania/data/gui_assets/tracker/am2r-game-4x5.json
  randovania/data/gui_assets/tracker/game-images/am2r/CC-BY-SA-4.0-License.txt
  randovania/data/gui_assets/tracker/game-images/am2r/charge_beam.png
  randovania/data/gui_assets/tracker/game-images/am2r/credits.txt
  randovania/data/gui_assets/tracker/game-images/am2r/dna.png
  randovania/data/gui_assets/tracker/game-images/am2r/energy_tank.png
  randovania/data/gui_assets/tracker/game-images/am2r/gravity_suit.png
  randovania/data/gui_assets/tracker/game-images/am2r/hi_jump_boots.png
  randovania/data/gui_assets/tracker/game-images/am2r/ice_beam.png
  randovania/data/gui_assets/tracker/game-images/am2r/missile.png
  randovania/data/gui_assets/tracker/game-images/am2r/morph_ball.png
  randovania/data/gui_assets/tracker/game-images/am2r/morph_ball_bomb.png
  randovania/data/gui_assets/tracker/game-images/am2r/plasma_beam.png
  randovania/data/gui_assets/tracker/game-images/am2r/power_bomb.png
  randovania/data/gui_assets/tracker/game-images/am2r/power_grip.png
  randovania/data/gui_assets/tracker/game-images/am2r/screw_attack.png
  randovania/data/gui_assets/tracker/game-images/am2r/space_jump.png
  randovania/data/gui_assets/tracker/game-images/am2r/spazer_beam.png
  randovania/data/gui_assets/tracker/game-images/am2r/speed_booster.png
  randovania/data/gui_assets/tracker/game-images/am2r/spider_ball.png
  randovania/data/gui_assets/tracker/game-images/am2r/spring_ball.png
  randovania/data/gui_assets/tracker/game-images/am2r/super_missile.png
  randovania/data/gui_assets/tracker/game-images/am2r/varia_suit.png
  randovania/data/gui_assets/tracker/game-images/am2r/wave_beam.png
  randovania/data/gui_assets/tracker/trackers.json
Labels: feature: GUI, game: AM2R

#5005 AM2R: revise hint faq question.
  randovania/games/am2r/game_data.py
Labels: feature: GUI, game: AM2R

#5036 AM2R: more extra data for pipes
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#5035 AM2R: Logic updates for the Nest
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
Labels: feature: Database, game: AM2R

#5034 AM2R: rename gawron tunnel to gawron gangway
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Database, game: AM2R

#4258 Update pyside6 to 6.5.2
  .github/workflows/build-test-publish.yml
  requirements.txt
  setup.cfg
  test/conftest.py
Labels: dependencies

#5046 Update example Data Visualizer image in Help tab
  randovania/data/gui_assets/database-example.png
Labels: feature: GUI

#4941 Echoes: Workers Path Updates
  CHANGELOG.md
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
Labels: feature: Database, game: Metroid Prime 2

#5043 AM2R: Add some more logic to GT
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5056 AM2R: redo am2r hints
  randovania/games/am2r/exporter/hint_namer.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/generator/bootstrap.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5042 MSR: Fix some dock inconsistencies in A1 and A7
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
Labels: game: Metroid: Samus Returns

#4967 Echoes: Logic Updates and Video Upload
  CHANGELOG.md
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
  randovania/games/prime2/json_data/Great Temple.json
  randovania/games/prime2/json_data/Great Temple.txt
  randovania/games/prime2/json_data/Sanctuary Fortress.json
  randovania/games/prime2/json_data/Sanctuary Fortress.txt
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
  randovania/games/prime2/json_data/Torvus Bog.json
  randovania/games/prime2/json_data/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2

#5070 Improvements to minimap for elevator rando
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  requirements.txt
  setup.cfg
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: feature: Database, Patcher, game: Metroid Dread

#5059 AM2R: Add patch for sabre skippy
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Configuration, game: AM2R

#5065 AM2R: Add more emp doors to door lock rando
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: game: AM2R

#5066 AM2R: Provide unique text for lockeed ammo
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/pickup_database/item_data.json
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5069 Samus Returns - Database Cleanup #1
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
  test/game_description/test_integrity_check.py
Labels: feature: Database, game: Metroid: Samus Returns

#5091 MSR: Fix progressives being shown properly
  randovania/games/samus_returns/game_data.py
Labels: feature: Configuration, feature: GUI, game: Metroid: Samus Returns

#5084 Samus Returns - Database Update #2
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5076 AM2R: Add option for room names on hud
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/am2r/layout/am2r_cosmetic_patches.py
  randovania/gui/ui_files/am2r_cosmetic_patches_dialog.ui
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5072 AM2R: Facility Storage Logic Update
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5071 AM2R: Energy Distribution Logic
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5082 Dread: Add more original start locations for existing items
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread, feature: Configuration

#5081 SM: Get rid of pants room right
  randovania/games/super_metroid/json_data/Maridia.json
  randovania/games/super_metroid/json_data/Maridia.txt
  randovania/games/super_metroid/json_data/header.json
  test/game_description/test_integrity_check.py
Labels: feature: Database, game: Super Metroid

#5096 Bump am2r-yams to 0.0.15
  requirements.txt
  setup.cfg
Labels: dependencies

#5012 AM2R: Check if dotnet is in path before trying to export
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/prime2/patcher/claris_randomizer.py
  randovania/gui/lib/error_message_box.py
  randovania/gui/lib/game_exporter.py
  randovania/patching/patchers/exceptions.py
  test/games/am2r/exporter/test_am2r_game_exporter.py
  test/games/patchers/test_claris_randomizer.py
Labels: feature: GUI, game: AM2R

#5089 AM2R: Add minimap data for all relevant rooms
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/GFS Thoth.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
Labels: feature: Database, game: AM2R

#5095 AM2R: Add preset describer
  randovania/games/am2r/game_data.py
  randovania/games/am2r/layout/__init__.py
  randovania/games/am2r/layout/preset_describer.py
  test/games/am2r/layout/test_am2r_describer.py
Labels: feature: GUI, game: AM2R

#5101 Add AM2R to racetime search
  randovania/gui/dialog/racetime_browser_dialog.py
Labels: feature: GUI, game: AM2R

#5039 AM2R: Introduce Area Transition Docks
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5093 SM: Expose no_ln_chozo_inventory_check in GUI
  randovania/gui/ui_files/preset_patcher_super_patches.ui
Labels: game: Super Metroid, feature: GUI

#5104 Check for dotnet --info instead of --help
  randovania/games/am2r/exporter/game_exporter.py
Labels: game: AM2R

#5109 AM2R: Handle when trying to call dotnet, but it doesn't exist
  randovania/games/am2r/exporter/game_exporter.py
  test/games/am2r/exporter/test_am2r_game_exporter.py
Labels: game: AM2R

#5108 AM2R. Fix some starting items having invalid data for patcher
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#5110 AM2R: start refactoring docks in DB for GT
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5107 AM2R: Fix crashes with "hide model with nothing"
  randovania/games/am2r/pickup_database/item_data.json
Labels: game: AM2R

#5028 Base for a further rewrite of Teleporter stuff
  randovania/game_description/db/dock_node.py
  randovania/game_description/game_patches.py
  randovania/game_description/node_search.py
  randovania/games/common/prime_family/gui/elevators_tab_prime1.py
  randovania/games/common/prime_family/gui/elevators_tab_prime2.py
  randovania/games/common/prime_family/gui/teleporter_details_tab.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/generator/base_patches_factory.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/dread_elevators_tab.py
  randovania/games/dread/gui/preset_settings/dread_teleporters_tab.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/dread_teleporters.py
  randovania/games/dread/layout/preset_describer.py
  randovania/games/game.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime1/gui/preset_settings/prime_teleporters_tab.py
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/generator/base_patches_factory.py
  randovania/games/prime2/generator/bootstrap.py
  randovania/games/prime2/generator/teleporter_distributor.py
  randovania/games/prime2/gui/preset_settings/__init__.py
  randovania/games/prime2/gui/preset_settings/echoes_teleporters_tab.py
  randovania/games/prime2/layout/echoes_configuration.py
  randovania/games/prime2/layout/preset_describer.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/generator/base_patches_factory.py
  randovania/generator/elevator_distributor.py
  randovania/generator/teleporter_distributor.py
  randovania/gui/preset_settings/preset_teleporter_tab.py
  randovania/gui/tracker_window.py
  randovania/gui/ui_files/preset_elevators_dread.ui
  randovania/gui/ui_files/preset_teleporters_dread.ui
  randovania/gui/ui_files/preset_teleporters_prime1.ui
  randovania/gui/ui_files/preset_teleporters_prime2.ui
  randovania/gui/ui_files/tracker_window.ui
  randovania/interface_common/preset_editor.py
  randovania/layout/description_migration.py
  randovania/layout/lib/teleporters.py
  randovania/layout/preset_migration.py
  test/games/prime1/exporter/test_prime_dangerous_settings.py
  test/games/prime2/exporter/test_echoes_patch_data_factory.py
  test/games/prime2/generator/test_echoes_base_patches_factory.py
  test/games/prime2/generator/test_echoes_bootstrap.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/generator/test_base_patches_factory.py
  test/generator/test_teleporter_distributor.py
  test/gui/preset_settings/test_preset_teleporter.py
  test/gui/test_tracker_window.py
  test/layout/test_echoes_configuration.py
  test/layout/test_teleporters.py
Labels: feature: Core

#5094 Dread: Revise logic for fighting Corpius
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#4897 Dread: Add ledge warps to release X faster
  CHANGELOG.md
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  randovania/games/dread/json_data/header.json
Labels: game: Metroid Dread

#5120 AM2R: Gravity Area door lock rando fixes
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/header.json
Labels: feature: Database, game: AM2R

#5126 Bump gamma health req + fix omega super
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5128 AM2R: Make DB changes for the A2 Water Turbine
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/GFS Thoth.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5100 Dread/move victory to after raven beak
  CHANGELOG.md
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/Itorash.json
  randovania/games/dread/json_data/Itorash.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#5129 Dread: Stricter Kraid and Chozo-X requirements
  CHANGELOG.md
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: feature: Database, game: Metroid Dread

#5102 AM2R: Pass minimap data in patch data factory
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Configuration, game: AM2R

#5124 AM2R: Don't redirect stdout/-err for dotnet check
  randovania/games/am2r/exporter/game_exporter.py
Labels: game: AM2R

#5150 Bump am2r-yams to 0.0.21
  requirements.txt
Labels: dependencies

#5125 Fix am2r and prime getting invalid ETM model
  CHANGELOG.md
  randovania/exporter/pickup_exporter.py
  randovania/game_description/default_database.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/pickup_database/memo_data.json
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/super_metroid/exporter/patch_data_factory.py
  randovania/generator/pickup_pool/pickup_creator.py
  test/game_description/test_game_patches.py
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
Labels: game: Metroid Prime 1, game: AM2R

#5164 MSR: Rename "Destroy Missile Block" to "Shoot Any Missile"
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5165 MSR: Rename "Destroy Bomb Block" to "Lay Any Bomb"
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5157 Bump am2r-yams to 0.0.22
  requirements.txt
Labels: dependencies

#5161 Dread: Fix conditions for fighting Kraid from behind
  CHANGELOG.md
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#5158 Exclude A2 Water Turbines from Metroids Larva Rooms
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
Labels: feature: Database, game: AM2R

#5123 Improve instructions for new games, add rules and expectations
  docs/Glossary.md
  docs/New Game.md
  randovania/exporter/patch_data_factory.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/blank/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/game.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime3/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/super_metroid/exporter/patch_data_factory.py
  randovania/layout/base/cosmetic_patches.py
  test/games/test_game.py
Labels: documentation

#5127 AM2R: Add 4 tile docks to A3
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#5162 AM2R: Some A3 logic fixes
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/header.json
Labels: feature: Database, game: AM2R, waiting-next-release

#5152 AM2R: Distribution Facility Logic
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/header.json
Labels: feature: Database, game: AM2R

#5171 AM2R: Dual Gamma Logic Update
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#5163 AM2R: Some Main caves logic fixup
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
Labels: feature: Database, game: AM2R, waiting-next-release

#5003 Super Metroid: Fix up PR #3814
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Wrecked Ship.txt
  randovania/games/super_metroid/json_data/header.json
  randovania/games/super_metroid/json_data/header.txt
Labels: feature: Database, game: Super Metroid

#5160 AM2R: Some hydro station logic cleanup
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
Labels: feature: Database, game: AM2R

#5178 AM2R: Fix locked PB clipping in 4:3
  randovania/games/am2r/pickup_database/item_data.json
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#5156 Add common Mono Mac paths for echoes exporting
  CHANGELOG.md
  randovania/games/prime2/patcher/csharp_subprocess.py
  test/games/patchers/test_csharp_subprocess.py
Labels: game: Metroid Prime 2

#5147 Echoes: Use UnableToExportError, delete internal data on failure
  CHANGELOG.md
  randovania/games/prime2/exporter/game_exporter.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/gui/dialog/game_export_dialog.py
  randovania/games/prime2/patcher/claris_randomizer.py
  randovania/gui/dialog/game_export_dialog.py
  randovania/gui/lib/game_exporter.py
  test/games/patchers/test_claris_randomizer.py
  test/games/prime2/exporter/test_echoes_game_exporter.py
  test/games/prime2/gui/test_echoes_game_export_dialog.py
  test/games/prime2/patcher/test_patch_data_generator.py
Labels: game: Metroid Prime 2

#5184 AM2R: Fix patch data factory for multiple players
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R
