Repository randovania/randovania, pull requests merged in 2023-12, with the labels that each got.

#5646 Item Tracker tooltip fixes
  CHANGELOG.md
  randovania/gui/lib/tracker_item_image.py
  randovania/gui/widgets/item_tracker_widget.py
Labels: feature: GUI

#5658 Add (disabled) export functionality for MSR
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/games/samus_returns/exporter/options.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/msr_game_export_dialog.ui
  randovania/lib/windows_drives.py
  test/games/samus_returns/exporter/test_msr_game_exporter.py
  test/games/samus_returns/exporter/test_msr_options.py
  test/games/samus_returns/gui/test_msr_game_export_dialog.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5687 MSR - Add support for Reserve Tanks
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_reserves_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_aeion.ui
  randovania/gui/ui_files/preset_msr_reserves.ui
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#5704 MSR - Update FAQ, Update some text
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: game: Metroid: Samus Returns

#5697 Echoes: Amorbis Logic Revision
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#5708 MSR - Teleporter updates A1-A4
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
Labels: game: Metroid: Samus Returns

#5606 SM Logic Upate
  randovania/games/super_metroid/logic_database/Maridia.json
  randovania/games/super_metroid/logic_database/Maridia.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5715 Add vertical dock information
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#5680 Dread/pseudo additions
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#5688 Fix Burenia fan item logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#5712 MSR - Update A6 Trickless Logic
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: game: Metroid: Samus Returns

#5719 MSR - Update all Metroid fight templates
  randovania/games/samus_returns/logic_database/Area 5 - Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: game: Metroid: Samus Returns

#5720 MSR - Surface West Trickless Update
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: game: Metroid: Samus Returns

#5647 Space Jump Room Videos + Logic Changes
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#5713 MSR - A7 Trickless Update
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: game: Metroid: Samus Returns

#5718 Dread: Change Movement trick in Burenia - Main Hub Tower Middle to Advanced
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#5721 MSR - Update Area 8 Trickless logic
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
Labels: game: Metroid: Samus Returns

#5723 AM2R: add extra data to 4-tile docks to a5
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5726 MSR - Add hint tab to generated game window
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/__init__.py
  randovania/games/samus_returns/gui/hint_details_tab.py
Labels: game: Metroid: Samus Returns

#5732 MSR - Update UI
  randovania/games/samus_returns/game_data.py
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: game: Metroid: Samus Returns

#5722 AM2R: Add extra data for transitions in GT
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
Labels: feature: Database, game: AM2R

#5730 AM2R: extra data for tower docks
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#5733 MSR - Fix A2 Exterior item and climb requirements
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.txt
Labels: game: Metroid: Samus Returns

#5734 MSR - Add tricks to all missing spidersparks
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 5 - Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Interior.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
Labels: game: Metroid: Samus Returns

#5736 MSR - Add OSRR version number to file select screen
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5737 Bump OSRR to 1.0.2
  pyproject.toml
  requirements.txt
Labels: game: Metroid: Samus Returns

#5729 SM Logic A108-110
  randovania/games/super_metroid/logic_database/Maridia.json
  randovania/games/super_metroid/logic_database/Maridia.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5743 AM2R: extra data to 4-high labs docks
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
Labels: feature: Database, game: AM2R

#5744 AM2R: extra data depths 4 docks
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
Labels: feature: Database, game: AM2R

#5750 Surface, Area 1, and Area 4 logic additions
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5751 Randomprime v1.21.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: Patcher, dependencies, game: Metroid Prime 1

#5752 Dread: Add missing Morph Ball Requirement in Golzuna Tower
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5565 AM2R: Add option to place DNA anywhere
  CHANGELOG.md
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/generator/pool_creator.py
  randovania/games/am2r/gui/preset_settings/am2r_goal_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/layout/preset_describer.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_goal.ui
  randovania/layout/preset_migration.py
  test/games/am2r/generator/test_am2r_bootstrap.py
  test/games/am2r/generator/test_am2r_pool_creator.py
  test/games/am2r/gui/preset_settings/test_preset_am2r_goal.py
  test/games/am2r/layout/test_am2r_describer.py
Labels: feature: Configuration, game: AM2R

#5760 AM2R: Queen logic revisit
  CHANGELOG.md
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
Labels: feature: Database, game: AM2R

#5762 AM2R: Update Arachnus and Tester reqs
  CHANGELOG.md
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#5764 AM2R: change for new softlock prevention in EMP emergency route
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5765 Am2R: extra data to A2 4 tile docks
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
Labels: feature: Database, game: AM2R

#5767 AM2R: extra data to main caves 4 docks
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R

#5769 OSRR 1.0.3
  pyproject.toml
  requirements.txt
Labels: game: Metroid: Samus Returns

#5773 AM2R: finish 4 tile extra data in A3
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#5774 AM2R: slight logic adjustments for 2 a3 rooms
  CHANGELOG.md
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#5776 AM2R: add support for research site hatch
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Configuration, game: AM2R

#5778 AM2R: add extra data for blue lab doors
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
Labels: feature: Database, game: AM2R

#5763 Dread: Changes to opening Door next to Orange TP in Ghavoran
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5768 AM2R: Add Unlocked save station option.
  CHANGELOG.md
  randovania/games/am2r/generator/base_patches_factory.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/gui/ui_files/preset_am2r_patches.ui
  randovania/layout/preset_migration.py
  test/games/am2r/generator/test_am2r_base_patches.py
Labels: feature: Configuration, game: AM2R

#5783 AM2R: add option to unlock lab doors
  CHANGELOG.md
  randovania/games/am2r/generator/base_patches_factory.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/gui/ui_files/preset_am2r_patches.ui
  randovania/layout/preset_migration.py
  test/games/am2r/generator/test_am2r_base_patches.py
Labels: feature: Configuration, game: AM2R

#5784 Bump am2r_yams to 1.1.0
  CHANGELOG.md
  requirements.txt
Labels: dependencies

#5791 AM2R: fix research site not being shuffleable
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: game: AM2R

#5793 Bump yams to 1.1.1
  requirements.txt
Labels: dependencies

#5789 MSR - Minor DB adjustments
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: feature: Database, game: Metroid: Samus Returns

#5794 bump am2r yams to 1.1.2
  requirements.txt
Labels: dependencies

#5792 AM2R: Fix missing extra data for RS hatches
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R
