Repository randovania/randovania, pull requests merged in 2023-10, with the labels that each got.

#5383 SM: Rename tourian rooms
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/Tourian.json
  randovania/games/super_metroid/json_data/Tourian.txt
Labels: feature: Database, game: Super Metroid

#5368 SM: some slight wrecked ship cleanage
  randovania/games/super_metroid/json_data/Wrecked Ship.json
  randovania/games/super_metroid/json_data/Wrecked Ship.txt
  randovania/games/super_metroid/json_data/header.json
Labels: feature: Database, game: Super Metroid

#5385 SM: Rename wrecekd ship rooms
  randovania/games/super_metroid/json_data/Wrecked Ship.json
  randovania/games/super_metroid/json_data/Wrecked Ship.txt
Labels: feature: Database, game: Super Metroid

#5386 SM: Rename Norfair rooms
  randovania/games/super_metroid/json_data/Norfair.json
  randovania/games/super_metroid/json_data/Norfair.txt
  test/test_files/sdm_test_game.rdvgame
Labels: feature: Database, game: Super Metroid

#5338 Built in Change Log Improvements
  CHANGELOG.md
  randovania/gui/main_window.py
  randovania/gui/widgets/changelog_widget.py
  randovania/interface_common/update_checker.py
  test/gui/widgets/test_changelog_widget.py
  test/interface_common/test_update_checker.py
Labels: enhancement, feature: GUI, waiting-next-release

#5347 Dread: Add Spin Boost to climb tunnel in Gravity Suit Tower
  CHANGELOG.md
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#5350 Dread: Add ledge warp out after Diffusion Beam
  CHANGELOG.md
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#5389 Samus Returns - Add pickups to all metroids
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/json_data/Area 1.json
  randovania/games/samus_returns/json_data/Area 1.txt
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 2 - Interior.json
  randovania/games/samus_returns/json_data/Area 2 - Interior.txt
  randovania/games/samus_returns/json_data/Area 3 - Exterior.json
  randovania/games/samus_returns/json_data/Area 3 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior East.json
  randovania/games/samus_returns/json_data/Area 3 - Interior East.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, Patcher, game: Metroid: Samus Returns

#5331 Dread: Exclude some connections from trickless
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
  randovania/games/dread/json_data/Cataris.json
  randovania/games/dread/json_data/Cataris.txt
  randovania/games/dread/json_data/Dairon.json
  randovania/games/dread/json_data/Dairon.txt
  randovania/games/dread/json_data/Elun.json
  randovania/games/dread/json_data/Elun.txt
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/Ghavoran.json
  randovania/games/dread/json_data/Ghavoran.txt
  test/generator/test_generator_reach.py
Labels: feature: Database, game: Metroid Dread

#5395 MSR: Add Goal Tab+ Code for the DNA
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_goal.ui
  test/conftest.py
  test/games/samus_returns/conftest.py
  test/games/samus_returns/generator/test_msr_bootstrap.py
  test/games/samus_returns/generator/test_msr_pool_creator.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: game: Metroid: Samus Returns

#5399 Samus Returns - Connect both Surfaces together in the DB
  randovania/games/samus_returns/assets/maps/Surface - East.png
  randovania/games/samus_returns/json_data/Surface - East.json
  randovania/games/samus_returns/json_data/Surface - East.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5375 Resolver/fix damage logic
  CHANGELOG.md
  randovania/game_description/game_description.py
  randovania/game_description/requirements/requirement_and.py
  randovania/game_description/resources/resource_database.py
  randovania/games/prime1/json_data/header.json
  test/game_description/test_requirements.py
  test/game_description/test_resources.py
Labels: feature: Generator

#5404 MSR: Change Power Bomb and Super Missile item_id's to rando locked iems
  randovania/games/samus_returns/json_data/header.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5403 Dread: actually apply nerf PB option
  CHANGELOG.md
  randovania/games/dread/generator/bootstrap.py
Labels: game: Metroid Dread

#5366 Resolver/debug enhancements
  CHANGELOG.md
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
Labels: feature: Generator

#5321 Dread: Added Damage boost to Ferenia logic
  CHANGELOG.md
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
  randovania/games/dread/json_data/header.json
Labels: feature: Database, game: Metroid Dread

#5398 SM: Rename Maridia rooms
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Maridia.json
  randovania/games/super_metroid/json_data/Maridia.txt
  test/test_files/sdm_test_game.rdvgame
Labels: feature: Database, game: Super Metroid

#5409 SM: Fix Trick Names and Descriptions
  randovania/games/super_metroid/json_data/header.json
Labels: feature: Database, game: Super Metroid

#5408 Workaround for when ammo does not have other items
  randovania/gui/preset_settings/item_pool_tab.py
Labels: feature: Core

#5413 SM: Minor Crateria Logic Fix
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/header.json
Labels: feature: Database, game: Super Metroid

#5417 SM: More crateria revisions
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
  randovania/games/super_metroid/json_data/header.json
Labels: feature: Database, game: Super Metroid

#5422 Bugfix/mouse wheel on tricks
  CHANGELOG.md
  randovania/gui/preset_settings/trick_level_tab.py
Labels: bug, feature: Configuration, feature: GUI

#5426 Samus Returns - Fix certain Metroids being assigned wrong Spawn Group
  randovania/games/samus_returns/json_data/Area 4 - East.json
  randovania/games/samus_returns/json_data/Area 4 - East.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5427 Samus Returns - Fix lingering connections bypassing DNA Check
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/json_data/header.txt
Labels: game: Metroid: Samus Returns

#5419 Samus Returns - Add Basic Boss Logic
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 6.json
  randovania/games/samus_returns/json_data/Area 6.txt
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/Surface - West.json
  randovania/games/samus_returns/json_data/Surface - West.txt
  randovania/games/samus_returns/json_data/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#5429 Samus Returns - Major/Minor Updates
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/json_data/Area 2 - Entrance.json
  randovania/games/samus_returns/json_data/Area 2 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 2 - Exterior.json
  randovania/games/samus_returns/json_data/Area 2 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 3 - Interior West.json
  randovania/games/samus_returns/json_data/Area 3 - Interior West.txt
  randovania/games/samus_returns/json_data/Area 4 - West.json
  randovania/games/samus_returns/json_data/Area 4 - West.txt
  randovania/games/samus_returns/json_data/Area 5 - Entrance.json
  randovania/games/samus_returns/json_data/Area 5 - Entrance.txt
  randovania/games/samus_returns/json_data/Area 5 - Exterior.json
  randovania/games/samus_returns/json_data/Area 5 - Exterior.txt
  randovania/games/samus_returns/json_data/Area 5 - Interior.json
  randovania/games/samus_returns/json_data/Area 5 - Interior.txt
  randovania/games/samus_returns/json_data/Area 7.json
  randovania/games/samus_returns/json_data/Area 7.txt
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: feature: Database, feature: Configuration, game: Metroid: Samus Returns

#5303 Even more typing
  pyproject.toml
  randovania/game_description/pickup/standard_pickup.py
  randovania/game_description/requirements/array_base.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/requirements/requirement_template.py
  randovania/game_description/requirements/resource_requirement.py
  randovania/games/cave_story/generator/hint_distributor.py
  randovania/games/dread/generator/hint_distributor.py
  randovania/games/game.py
  randovania/games/prime1/hint_distributor.py
  randovania/games/prime2/generator/hint_distributor.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/filler_logging.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/runner.py
  randovania/generator/filler/weighted_locations.py
  randovania/generator/generator.py
  randovania/generator/generator_reach.py
  randovania/generator/graph.py
  randovania/generator/hint_distributor.py
  randovania/generator/old_generator_reach.py
  randovania/generator/pickup_pool/__init__.py
  randovania/generator/pickup_pool/pickup_creator.py
  randovania/generator/pickup_pool/pool_creator.py
  randovania/generator/pickup_pool/standard_pickup.py
  randovania/generator/pre_fill_params.py
  randovania/generator/reach_lib.py
  randovania/generator/teleporter_distributor.py
  randovania/lib/random_lib.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  requirements.txt
  setup.cfg
  test/game_description/test_requirements.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_player_state.py
  test/generator/filler/test_retcon.py
  test/generator/filler/test_runner.py
  test/generator/pickup_pool/test_pickup_creator.py
  test/generator/test_base_patches_factory.py
  test/generator/test_generator.py
  test/generator/test_generator_reach.py
  test/generator/test_teleporter_distributor.py
Labels: enhancement, feature: Core

#5436 Sync export with MSR patcher
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/msr_aeion_tab.py
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_aeion.ui
  test/games/samus_returns/gui/test_msr_aeion_tab.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#5455 MSR - Actually use baby model for baby
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5453 Dread: Proto EMMI Item Shinespark
  CHANGELOG.md
  randovania/games/dread/json_data/Artaria.json
  randovania/games/dread/json_data/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#5454 MSR - Update A8 to support queen wall removal
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/json_data/Area 8.json
  randovania/games/samus_returns/json_data/Area 8.txt
  randovania/games/samus_returns/json_data/header.json
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_patches.ui
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, feature: Configuration, game: Metroid: Samus Returns

#5451 SM Logic: A2-A10
  randovania/games/super_metroid/json_data/Brinstar.json
  randovania/games/super_metroid/json_data/Brinstar.txt
  randovania/games/super_metroid/json_data/Crateria.json
  randovania/games/super_metroid/json_data/Crateria.txt
Labels: feature: Database, game: Super Metroid

#5420 Dread: Change Charge Beam door weakness to use proper template
  CHANGELOG.md
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread

#5452 Corruption: Scrapworks Logic Refinement
  randovania/games/prime3/json_data/Pirate Homeworld - Research.json
  randovania/games/prime3/json_data/Pirate Homeworld - Research.txt
  randovania/games/prime3/json_data/header.json
Labels: feature: Database, game: Metroid Prime 3 Corruption

#5470 MSR - Minor Fixes
  randovania/games/samus_returns/assets/maps/Area 2 - Entrance.png
  randovania/games/samus_returns/assets/maps/Area 2 - Exterior.png
  randovania/games/samus_returns/assets/maps/Area 3 - Interior (East).png
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5485 Added gradient to boost icons
  randovania/data/gui_assets/tracker/pixel-icons/mp1/boost_ball_alt.png
  randovania/data/gui_assets/tracker/pixel-icons/mp2/boost_ball_alt.png
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, feature: GUI

#5465 SM Logic A11-A30
  randovania/games/super_metroid/logic_database/Brinstar.json
  randovania/games/super_metroid/logic_database/Brinstar.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5438 Allow ammo to be standalone in their category
  randovania/gui/preset_settings/item_pool_tab.py
Labels: feature: GUI

#5502 Bump am2r-yams to 0.2.0
  requirements.txt
Labels: dependencies

#5498 AM2R: Add more filler items
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/pickup_database/item_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/presets/starter_preset.rdvpreset
  test/games/am2r/layout/test_am2r_describer.py
Labels: feature: Configuration, game: AM2R

#5499 AM2R: add credits spoiler log to game
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: feature: Configuration, game: AM2R

#5508 Am2r: fix dumb name+amount errors
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/pickup_database/item_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/presets/starter_preset.rdvpreset
  test/games/am2r/layout/test_am2r_describer.py
Labels: game: AM2R

#5509 Am3r fix wrong model names
  randovania/games/am2r/pickup_database/pickup-database.json
Labels: game: AM2R

#5512 AM2R: Add damage requirement to western cave and omega nest
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/header.json
Labels: feature: Database, game: AM2R

#5510 Resolver: Fix adding additional requirement on list of damage requirements
  randovania/resolver/resolver.py
Labels: feature: Generator

#5513 AM2R: fix spoiler log in credits being broken
  randovania/games/am2r/exporter/patch_data_factory.py
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/test_files/log_files/am2r/progressive_items.rdvgame
  test/test_files/patcher_data/am2r/progressive_items.json
Labels: game: AM2R

#5530 Bump am2r-yams to 0.2.3
  requirements.txt
Labels: dependencies

#5529 AM2R: Add better input validation
  randovania/games/am2r/gui/dialog/game_export_dialog.py
  test/games/am2r/gui/test_am2r_game_export_dialog.py
Labels: feature: GUI, game: AM2R

#5557 MSR - Fix two logical issues in A2
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.txt
Labels: game: Metroid: Samus Returns

#5521 MSR - Surface DB Update
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#5550 Dread: Artaria EMMI Zone First Entrance logic change
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#5511 MSR - Add additional DNA placement goals
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_goal.ui
  test/games/samus_returns/generator/test_msr_bootstrap.py
  test/games/samus_returns/generator/test_msr_pool_creator.py
  test/games/samus_returns/gui/preset_settings/test_msr_goal_tab.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: feature: Configuration, game: Metroid: Samus Returns

#5490 SM Logic A31-A55
  randovania/games/super_metroid/logic_database/Brinstar.json
  randovania/games/super_metroid/logic_database/Brinstar.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5563 SM Logic Update A56 through A82
  randovania/games/super_metroid/logic_database/Crateria.json
  randovania/games/super_metroid/logic_database/Crateria.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5564 MSR - Update Differences Tab
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: feature: GUI, game: Metroid: Samus Returns
