Repository randovania/randovania, pull requests merged in 2023-11, with the labels that each got.

#5571 Area 1 logic updates and videos
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5566 SM Logic Update A83 to A95
  randovania/games/super_metroid/logic_database/Crateria.json
  randovania/games/super_metroid/logic_database/Crateria.txt
  randovania/games/super_metroid/logic_database/header.json
Labels: feature: Database, game: Super Metroid

#5522 Echoes: Make sure event nodes are reachable
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes, waiting-next-release

#5583 Dread: Fix missing check on PB limitations to reach Orange Teleportal
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5582 Dread: Golzuna logic update
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5580 Prime1: Fix broad category for missile launcher
  randovania/games/prime1/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1, feature: Configuration

#5595 Dread: Add Power Bomb Limitations to Preset Summary
  CHANGELOG.md
  randovania/games/dread/layout/preset_describer.py
  test/games/dread/layout/test_dread_describer.py
Labels: game: Metroid Dread, feature: Configuration

#5572 [Dread] Update to Underlava Puzzle Room 2 logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#5605 Dread/screw attack room additions
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#5619 MSR - Door type changes to match patcher
  randovania/games/samus_returns/assets/maps/Area 4 - East.png
  randovania/games/samus_returns/assets/maps/Area 6.png
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: game: Metroid: Samus Returns

#5636 Autotracker: Progressive Suit bug fix
  CHANGELOG.md
  randovania/data/gui_assets/tracker/am2r-game-4x5.json
  randovania/data/gui_assets/tracker/prime2-game-eight-lines.json
  randovania/data/gui_assets/tracker/prime2-game-three-lines.json
  randovania/data/gui_assets/tracker/prime2-game-two-lines.json
  randovania/data/gui_assets/tracker/prime2-pixel-eight-lines.json
  randovania/data/gui_assets/tracker/prime2-pixel-three-lines.json
  randovania/data/gui_assets/tracker/prime2-pixel-two-lines.json
Labels: bug, game: Metroid Prime 2 Echoes, game: AM2R

#5635 AM2R: Zeta/Omega rebalances
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#5618 MSR - Fix minor incorrect logic + invalid start point
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 5 - Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Interior.txt
Labels: game: Metroid: Samus Returns

#5650 Dread/highly dangerous lower burenia
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#5653 MSR - Simplify Surface West
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: game: Metroid: Samus Returns

#5654 MSR - Update UI and related changes
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#5655 MSR - Support exporting seed hash
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5642 Dread: Add Water Space Jump in Purple EMMI Arena
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#5651 Dread: Various changes in Artaria EMMI Zone Hub
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#5623 MSR - Add Diggernaut Chase Sequence reward as boss location
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/gui/ui_files/preset_msr_goal.ui
  test/games/samus_returns/generator/test_msr_bootstrap.py
  test/games/samus_returns/gui/preset_settings/test_msr_goal_tab.py
Labels: game: Metroid: Samus Returns

#5665 Use export id for starting inventory
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/games/samus_returns/exporter/test_msr_patch_data_factory.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
Labels: game: Metroid: Samus Returns

#5671 MSR - Add missing New Game GUI for seed hash
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns
