Repository randovania/randovania, pull requests merged in 2023-07, with the labels that each got.

#4660 AM2R: Add option for screw attack pipe blocks
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
Labels: game: AM2R

#4679 Samus Returns - Patcher Prep
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/games/samus_returns/exporter/test_msr_patch_data_factory.py
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: Patcher, game: Metroid: Samus Returns

#4575 [Echoes] Various Tweaks to Bioenergy Production Logic
  CHANGELOG.md
  randovania/games/prime2/json_data/Agon Wastes.json
  randovania/games/prime2/json_data/Agon Wastes.txt
Labels: feature: Database, game: Metroid Prime 2

#4649 Dread: Convert the Morph Ball Tunnel after Hanubia Red Chozo to EMMI …
  CHANGELOG.md
  randovania/games/dread/json_data/Hanubia.json
  randovania/games/dread/json_data/Hanubia.txt
  randovania/games/dread/json_data/header.json
  randovania/games/dread/json_data/header.txt
Labels: game: Metroid Dread

#4680 Dread: Add Wide Beam to Burenia Hub to Dairon Pseudo Beam
  CHANGELOG.md
  randovania/games/dread/json_data/Burenia.json
  randovania/games/dread/json_data/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#4739 AM2R Starter preset improvements
  randovania/games/am2r/presets/starter_preset.rdvpreset
  test/games/am2r/generator/test_am2r_pool_creator.py
Labels: feature: Configuration, game: AM2R

#4740 AM2R: Rename Doors to be clearer
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#4751 AM2R reorganize events
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/GFS Thoth.json
  randovania/games/am2r/json_data/GFS Thoth.txt
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#4765 AM2R: Fixes Hi-Jump name
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/presets/starter_preset.rdvpreset
Labels: game: AM2R

#4721 AM2R: hints preperation
  randovania/games/am2r/exporter/hint_namer.py
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_hints_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/layout/hint_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_hints.ui
Labels: game: AM2R

#4786 Dread - Ferenia Bomb Tricks
  CHANGELOG.md
  randovania/games/dread/json_data/Ferenia.json
  randovania/games/dread/json_data/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#4801 AM2R: add offworld models
  randovania/games/am2r/pickup_database/pickup-database.json
Labels: bug, game: AM2R

#4802 Adds AM2R offworld models to primes/dread
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
Labels: game: AM2R

#4803 AM2R: Get rid of "dynamically change level design" option
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
Labels: game: AM2R

#4804 AM2R: Change some wording on patches page
  randovania/gui/ui_files/preset_am2r_patches.ui
Labels: game: AM2R

#4511 Add basic exporter for AM2R
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/generator/pool_creator.py
  randovania/games/am2r/gui/dialog/game_export_dialog.py
  randovania/games/am2r/pickup_database/item_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/gui/ui_files/am2r_game_export_dialog.ui
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/shiny_pickups_dict_from_starter_preset.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#4862 AM2R: Export dialog prep work
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/am2r/exporter/options.py
  randovania/games/am2r/game_data.py
  randovania/games/am2r/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/am2r_game_export_dialog.ui
  requirements.txt
  setup.cfg
  test/games/am2r/gui/test_am2r_game_export_dialog.py
Labels: game: AM2R

#4863 AM2R Database Updates
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
Labels: feature: Database, game: AM2R

#4870 AM2R: Add introduction description
  randovania/gui/ui_files/games_tab_am2r_widget.ui
Labels: feature: GUI, game: AM2R

#4864 AM2R: Implement cosmetic options
  randovania/games/am2r/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/am2r/layout/am2r_cosmetic_patches.py
  randovania/gui/ui_files/am2r_cosmetic_patches_dialog.ui
  test/games/am2r/gui/test_am2r_cosmetic_patches_dialog.py
Labels: game: AM2R

#4860 Prime Database Updates
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#4874 Added Quarantine Cave Scan Dash to Q-Mon Tunnel
  CHANGELOG.md
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#4885 AM2R: Industrial Complex Database Updates
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#4867 AM2R: Add queen doors
  randovania/games/am2r/json_data/Genetics Laboratory.json
  randovania/games/am2r/json_data/Genetics Laboratory.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: game: AM2R

#4891 Remove unexplored map from preset settings
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/gui/preset_settings/am2r_patches_tab.py
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_am2r_patches.ui
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#4890 AM2R: Add missile-less fight to differences
  randovania/gui/ui_files/games_tab_am2r_widget.ui
Labels: feature: GUI, game: AM2R

#4896 AM2R: Add new trick for missile less metroid fights
  randovania/games/am2r/json_data/Distribution Center.json
  randovania/games/am2r/json_data/Distribution Center.txt
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
  randovania/games/am2r/json_data/Hydro Station.json
  randovania/games/am2r/json_data/Hydro Station.txt
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/Main Caves.json
  randovania/games/am2r/json_data/Main Caves.txt
  randovania/games/am2r/json_data/The Nest.json
  randovania/games/am2r/json_data/The Nest.txt
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#4588 Prime 1: Hall of the Elders logic changes
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#4894 AM2R: Add cosmetic patches in patchdata factory
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R

#4882 Prime1 - Logic Update
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#4907 Prime1: Bulk Database Video Upload
  CHANGELOG.md
  randovania/games/prime1/json_data/Chozo Ruins.json
  randovania/games/prime1/json_data/Chozo Ruins.txt
  randovania/games/prime1/json_data/Magmoor Caverns.json
  randovania/games/prime1/json_data/Magmoor Caverns.txt
  randovania/games/prime1/json_data/Phazon Mines.json
  randovania/games/prime1/json_data/Phazon Mines.txt
  randovania/games/prime1/json_data/Phendrana Drifts.json
  randovania/games/prime1/json_data/Phendrana Drifts.txt
  randovania/games/prime1/json_data/Tallon Overworld.json
  randovania/games/prime1/json_data/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#4916 Echoes: Add Videos to Database
  CHANGELOG.md
  randovania/games/prime2/json_data/Temple Grounds.json
  randovania/games/prime2/json_data/Temple Grounds.txt
Labels: feature: Database, game: Metroid Prime 2

#4924 Multiple fixes for the SelectPresetWidget
  CHANGELOG.md
  randovania/gui/dialog/preset_history_dialog.py
  randovania/gui/widgets/select_preset_widget.py
  test/gui/dialog/test_preset_history_dialog.py
  test/gui/widgets/test_select_preset_widget.py
Labels: feature: GUI

#4930 AM2R: Some slight GT logic improvements
  randovania/games/am2r/json_data/Golden Temple.json
  randovania/games/am2r/json_data/Golden Temple.txt
Labels: feature: Database, game: AM2R

#4933 Add Phazon Suit Hint location to Hints page
  CHANGELOG.md
  randovania/gui/ui_files/games_tab_prime_widget.ui
Labels: game: Metroid Prime 1, feature: GUI

#4928 AM2R: fix some small logic issues
  randovania/games/am2r/json_data/Industrial Complex.json
  randovania/games/am2r/json_data/Industrial Complex.txt
  randovania/games/am2r/json_data/header.json
  randovania/games/am2r/json_data/header.txt
Labels: feature: Database, game: AM2R

#4932 AM2R: rename an incorrect pickup name in tower
  randovania/games/am2r/json_data/The Tower.json
  randovania/games/am2r/json_data/The Tower.txt
  test/test_files/log_files/am2r/door_lock.rdvgame
  test/test_files/log_files/am2r/starter_preset.rdvgame
Labels: feature: Database, game: AM2R

#4940 AM2R: add uuid of game to exported json
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/starter_preset.json
Labels: game: AM2R
