Repository randovania/randovania, pull requests merged in 2024-10, with the labels that each got.

#7283 Revert am2r_yams back to 2.8.0
  randovania/__main__.py
  requirements.txt
Labels: dependencies, game: AM2R

#7279 AQA Clean up
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7264 Prime: document Tallon Canyon and Gully
  CHANGELOG.md
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#7290 more ARC stuff
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7278 Introduce Equipment Manipulation resource
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7294 AM2R: fix instances of certain resources not being used together
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#7299 AM2R: fix hideout<->bubble lair pipes being on wrong layer
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
Labels: feature: Database, game: AM2R

#7298 Fusion: use better templates for freezing enemies
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  test/games/fusion/test_fusion.py
Labels: feature: Database, game: Metroid Fusion

#7308 fix Garry
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7309 Prime: add combat visor to essence
  CHANGELOG.md
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
Labels: feature: Database, game: Metroid Prime 1

#7314 Fusion: arachnus health
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7315 Fusion: tweak zazabi health
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7312 Fusion: tweak etank weight
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: game: Metroid Fusion

#7310 Fusion: misc logic tweaks
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7307 S1: tweaks due to changed hornoad housing
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7291 Prime 1: rename long name of "room rando" to "entrance rando"
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 1

#7313 Allow tweaking multipliers for ammo
  randovania/game_description/pickup/ammo_pickup.py
  randovania/generator/pickup_pool/pickup_creator.py
Labels: feature: Generator

#7323 Gen order tab filter case insensitive
  CHANGELOG.md
  randovania/gui/game_details/generation_order_widget.py
Labels: feature: GUI

#7324 Fusion: revise box logic
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7325 Fusion: fix file path bug
  randovania/games/fusion/gui/dialog/game_export_dialog.py
  test/games/fusion/gui/test_fusion_game_export_dialog.py
Labels: game: Metroid Fusion

#7326 Fusion: tweak more generator stuff
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: feature: Database, game: Metroid Fusion

#7328 Prime: add furnace bsj and spider standable documentation for PAL
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#7317 finish ARCold runs
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7292 start ARCold runs
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7329 fusion: sector6: Document some tricks.
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7261 Add logic node visualization for prime 1
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/End of Game.json
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/gui/data_editor.py
Labels: feature: Database, game: Metroid Prime 1

#7302 Doc: document standard pickup definition
  randovania/game_description/pickup/standard_pickup.py
Labels: documentation

#7284 Generator: make indices/event/hint multiplier game overwritable
  randovania/game/generator.py
  randovania/games/am2r/game_data.py
  randovania/games/blank/game_data.py
  randovania/games/cave_story/game_data.py
  randovania/games/dread/game_data.py
  randovania/games/factorio/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/planets_zebeth/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/prime3/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/games/super_metroid/game_data.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weights.py
Labels: feature: Generator

#6899 Resolver: Fix wrong additional requirement when rolling back progress…
  CHANGELOG.md
  randovania/resolver/resolver.py
Labels: feature: Generator

#7070 Put progress bar into a status bar.
  CHANGELOG.md
  randovania/gui/game_details/game_details_window.py
  randovania/gui/lib/theme.py
  randovania/gui/main_window.py
  randovania/gui/ui_files/game_details_window.ui
  randovania/gui/ui_files/main_window.ui
Labels: feature: GUI

#7350 Fusion: Varia core x rework
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7357 Sector 6: tweak more logic
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7361 Data visualizer: dont draw polygon in black
  randovania/gui/lib/data_editor_canvas.py
Labels: feature: Database, feature: GUI

#7362 Fusion: slight template cleanup
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7381 Fusion: fix door id in box arena
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: game: Metroid Fusion

#7382 Fusion: fix door id in s2 central shaft
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: game: Metroid Fusion

#7388 More SRX stuff
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7389 More PYR stuff
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7394 Fusion: add missing room ID for operations maintenance shaft
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: game: Metroid Fusion

#7344 MP3: reverse hillside vista for real
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
  randovania/games/prime3/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7400 Dread: make gui game page consistent
  randovania/games/dread/gui/ui_files/games_tab_dread_widget.ui
Labels: game: Metroid Dread, feature: GUI

#7401 Dread: be slightly stricter for input romfs
  CHANGELOG.md
  randovania/games/dread/gui/dialog/game_export_dialog.py
  test/games/dread/gui/test_dread_game_export_dialog.py
Labels: game: Metroid Dread

#7402 AM2R: more typing
  pyproject.toml
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/am2r/game_data.py
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/am2r_game_tab.py
  randovania/games/am2r/gui/dialog/game_export_dialog.py
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_chaos_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_dock_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_gameplay_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_goal_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_hints_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_room_design_tab.py
  randovania/games/am2r/layout/am2r_cosmetic_patches.py
  test/games/am2r/exporter/test_am2r_game_exporter.py
Labels: game: AM2R

#7408 Fusion: More S1 Cleanup
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7407 Fusion: tweak more main deck things
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7409 Fusion: Sector 3 Cleanup
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7412 Forgot to update speed booster
  CHANGELOG.md
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread, game: Metroid: Samus Returns

#7411 Echoes: update tournament winners scan
  CHANGELOG.md
  randovania/games/prime2/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/world_2.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/prime1_and_2_multi/world_2.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: game: Metroid Prime 2 Echoes

#7417 Move Dock from Surface West to "final-boss-not-ridley" layer
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7419 Fusion: add proper hint requirements
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.json
Labels: feature: Database, game: Metroid Fusion

#7380 Dread: Replace twitter video links in database
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#7423 Fusion: Small Sector 3 Tweaking
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7422 Fusion: Readjust kago freezing
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7436 Fusion: Sector 2 Documentation
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7439 Fusion: Add S2 data save xy
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7431 Fusion: Sector 1 Documentation
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7438 Fusion: Sector 2 cleanup
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7440 Fusion: Sector 6 cleanup
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7442 Fusion: sector 5 tweaks
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7441 Update ODR and OSRR
  CHANGELOG.md
  pyproject.toml
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/games/samus_returns/exporter/options.py
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/games/samus_returns/gui/dialog/msr_connector_prompt_dialog.py
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/games/samus_returns/gui/ui_files/msr_game_export_dialog.ui
  randovania/gui/widgets/game_connection_window.py
  randovania/interface_common/persisted_options.py
  requirements.txt
  test/games/dread/exporter/test_dread_patch_data_factory.py
  test/games/samus_returns/exporter/test_msr_game_exporter.py
  test/games/samus_returns/exporter/test_msr_options.py
  test/games/samus_returns/gui/dialog/test_msr_game_export_dialog.py
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
Labels: game: Metroid Dread, game: Metroid: Samus Returns

#7443 Randomprime v1.28.1
  CHANGELOG.md
  pyproject.toml
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  requirements.txt
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: dependencies, game: Metroid Prime 1

#7446 Fusion: Tweak Owtch Cache A
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7437 Visualizer: Save door overrides when editing node
  randovania/gui/dialog/node_details_popup.py
Labels: feature: Database

#7418 Prime: weighting changes
  CHANGELOG.md
  randovania/games/prime1/generator/pickup_pool/artifacts.py
  randovania/games/prime1/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1

#7462 Fusion: revise nettori requirements
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7463 Fixed connection for auto tracker
  randovania/games/prime1/logic_database/header.json
Labels: game: Metroid Prime 1, feature: Multiworld

#7454 Fusion: add minimum logic
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7448 Fusion: Sector 6 Documentation
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7452 Fusion: Sector 4 Cleanup
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7476 Revert "Randomprime v1.28.1"
  CHANGELOG.md
  pyproject.toml
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  requirements.txt
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: dependencies, game: Metroid Prime 1
