Repository randovania/randovania, pull requests merged in 2024-09, with the labels that each got.

#7157 Add SWJ to Habitation Ventillation
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7158 MSR - Fix inverted sound sliders
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#7161 MSR - Fix Spider Ball Chamber spawn point
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7162 Bump am2r_yams to 2.8.1
  pyproject.toml
  requirements.txt
Labels: dependencies, game: AM2R

#7153 Fusion: screw shaft revision
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7163 Fusion: Add Miscellaneous Resources
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7154 Few fixes for Planets
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/logic_database/Ridley.json
  randovania/games/planets_zebeth/logic_database/Ridley.txt
  randovania/games/planets_zebeth/pickup_database/item_data.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Labels: game: Metroid Planets

#7152 some ARC stuff
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7167 Fusion: initial PDF
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/logic_database/header.json
  test/games/test_log_file_export.py
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7183 Fusion: correct pdf for schema, add sound settings
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/logic_database/header.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7149 Sector 3: clean some notes
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7187 Fusion: add unexplored map option
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  test/games/fusion/gui/test_fusion_cosmetic_patches_dialog.py
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: GUI, game: Metroid Fusion

#7188 Fusion: add save stations button to starting area tab
  randovania/games/fusion/gui/preset_settings/__init__.py
Labels: feature: GUI, game: Metroid Fusion

#7176 A whole lot more ARC stuff
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7190 AM2R: add+fix joke hint
  CHANGELOG.md
  randovania/games/am2r/exporter/joke_hints.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: game: AM2R

#7132 MSR - Add option to change final boss
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/gui/ui_files/preset_msr_goal.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_patches.ui
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/layout/preset_migration.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/games/test_log_file_export.py
  test/test_files/log_files/samus_returns/custom_final_boss_free_placement_dna.rdvgame
  test/test_files/patcher_data/samus_returns/samus_returns/custom_final_boss_free_placement_dna/world_1.json
Labels: feature: Database, feature: Configuration, game: Metroid: Samus Returns

#7191 Readme: Mention to uncheck "copy main branch only" on fork
  README.md
Labels: documentation

#7069 AM2R: add ER extra data to a few areas
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
Labels: feature: Database, game: AM2R

#7073 Dread/emmi zone spinner logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#7185 Fusion TRO stuff
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7201 Fusion: add anti softlock and pb without bombs options
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/presets/starter_preset.rdvpreset
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid Fusion

#7202 Fusion: enforce two way doors
  randovania/games/fusion/logic_database/header.json
Labels: game: Metroid Fusion

#7205 Fusion: fix starting category for ammo data
  randovania/games/fusion/logic_database/header.json
Labels: game: Metroid Fusion

#7210 Add SRX video documentation
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7212 fix JBJ for gerbus gully
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7215 Rename eye door to gadora
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7216 Fusion: fix door id in arctic containment
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: game: Metroid Fusion

#7145 Fusion: more heat run data for most of s3
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7200 Rename `Can Climb High Jump Wall` to `Have Any Jump Upgrade`
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7218 Fix door id for TRO - central shaft
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7222 Fusion: hack very dangerous ponrs
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7225 Fusion: shuffle locks in starter preset
  randovania/games/fusion/presets/starter_preset.rdvpreset
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid Fusion

#7227 Fusion: adjust mega-x-related connection based on newly acquired information
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7226 Fusion: make clearer that animals is a current hack
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7237 Add gate bulbs for Database pictures
  randovania/games/fusion/assets/maps/Main Deck52.png
  randovania/games/fusion/assets/maps/Main Deck69.png
  randovania/games/fusion/assets/maps/Sector 114.png
  randovania/games/fusion/assets/maps/Sector 128.png
  randovania/games/fusion/assets/maps/Sector 133.png
  randovania/games/fusion/assets/maps/Sector 257.png
  randovania/games/fusion/assets/maps/Sector 319.png
  randovania/games/fusion/assets/maps/Sector 35.png
  randovania/games/fusion/assets/maps/Sector 436.png
  randovania/games/fusion/assets/maps/Sector 535.png
  randovania/games/fusion/assets/maps/Sector 536.png
  randovania/games/fusion/assets/maps/Sector 58.png
  randovania/games/fusion/assets/maps/Sector 618.png
  randovania/games/fusion/assets/maps/Sector 622.png
Labels: feature: Database, game: Metroid Fusion

#7234 Fusion: s3 box arena door id
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: game: Metroid Fusion

#7221 AQA DAMAGE RUN LOGIC
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7211 a whole lot more PYR stuff
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7242 PYR clean up
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7244 fusion: document sector 1 southwest stabilizer video
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7246 fusion: rename internal long names for atmospheric stabilizers
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7245 Bump OSRR to 2.6.0
  CHANGELOG.md
  pyproject.toml
  randovania/data/gui_assets/tracker/samus-returns-game-progressive.json
  randovania/data/gui_assets/tracker/samus-returns-game.json
  randovania/games/samus_returns/assets/lua/bootstrap_part_1.lua
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
  requirements.txt
  test/test_files/patcher_data/samus_returns/samus_returns/custom_final_boss_free_placement_dna/world_1.json
Labels: feature: Database, dependencies, feature: Configuration, game: Metroid: Samus Returns

#7194 Extra video documentation for the Corruption DB, as well as a few suggestions
  randovania/games/prime3/logic_database/Bryyo - Fire.json
  randovania/games/prime3/logic_database/Bryyo - Fire.txt
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
  randovania/games/prime3/logic_database/GFS Valhalla.json
  randovania/games/prime3/logic_database/GFS Valhalla.txt
  randovania/games/prime3/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7239 Fusion: Exporter GUI
  randovania/games/fusion/exporter/options.py
  randovania/games/fusion/gui/dialog/game_export_dialog.py
  randovania/games/fusion/gui/ui_files/fusion_game_export_dialog.ui
  test/games/fusion/gui/test_fusion_game_export_dialog.py
Labels: feature: GUI, game: Metroid Fusion

#7247 Bump am2r_yams to 2.9.1-rc1
  requirements.txt
  tools/create_release.py
Labels: dependencies, game: AM2R

#7255 Fusion: change _base_output_name
  randovania/games/fusion/gui/dialog/game_export_dialog.py
  test/games/fusion/gui/test_fusion_game_export_dialog.py
Labels: game: Metroid Fusion

#7263 fusion: ignore some tricks
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7270 Bump OSRR to v2.6.1
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#7275 fix ripper maze connection
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7243 TRO clean up
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion
