Repository randovania/randovania, pull requests merged in 2024-12, with the labels that each got.

#7570 Fusion: update Nightmare reqs
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7556 Properly introduce PickupIndex age v2
  randovania/game_description/pickup/ammo_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/game_description/pickup/standard_pickup.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/retcon.py
  randovania/generator/pickup_pool/pickup_creator.py
  test/generator/pickup_pool/test_pickup_creator.py
Labels: feature: Generator

#7573 Fusion: missing electric dmg reqs in deep s4 speedboost
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7575 Fusion: yakuza changes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7581 NOC fixes
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7582 AM2R: better connection warnings
  randovania/game_connection/connector/am2r_remote_connector.py
Labels: feature: Multiworld, game: AM2R

#7228 Support for: When all weights are 0, try possible unsafe resources
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/runner.py
  test/generator/filler/test_player_state.py
  test/generator/test_retcon_filler_integration.py
Labels: feature: Generator

#7590 Fusion: adjust fiery storage shinespark for DLR
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7591 bump caver
  CHANGELOG.md
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/cave_story/logic_database/Grasstown.json
  randovania/games/cave_story/logic_database/Grasstown.txt
  randovania/games/cave_story/patcher/caver_music_shuffle.py
  requirements.txt
  test/test_files/caver_expected_data/arthur.json
  test/test_files/caver_expected_data/camp.json
  test/test_files/caver_expected_data/chaos.json
  test/test_files/caver_expected_data/random.json
  test/test_files/caver_expected_data/shuffle.json
  test/test_files/caver_expected_data/start.json
  test/test_files/caver_expected_data/starting.json
  test/test_files/patcher_data/cave_story/cs_echoes_multi_1/world_1.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2+msr/world_5.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/cave_story/multi-cs+dread+prime1+prime2/world_1.json
Labels: feature: Multiworld, game: Cave Story

#7490 Implement Co-op support for Multiworlds
  randovania/exporter/pickup_exporter.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/gui/lib/multiplayer_session_api.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/ui_files/multiplayer_session.ui
  randovania/gui/widgets/multiplayer_session_users_widget.py
  randovania/interface_common/players_configuration.py
  randovania/network_common/admin_actions.py
  randovania/network_common/game_connection_status.py
  randovania/network_common/multiplayer_session.py
  randovania/server/multiplayer/session_admin.py
  randovania/server/multiplayer/world_api.py
  test/games/dread/exporter/test_dread_patch_data_factory.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/games/test_log_file_export.py
  test/gui/lib/test_multiplayer_session_api.py
  test/gui/test_multiplayer_session_window.py
  test/gui/widgets/test_multiplayer_session_users_widget.py
  test/server/multiplayer/conftest.py
  test/server/multiplayer/test_session_admin.py
  test/test_files/log_files/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr.rdvgame
  test/test_files/patcher_data/am2r/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_2.json
  test/test_files/patcher_data/blank/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_1.json
  test/test_files/patcher_data/cave_story/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_3.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
  test/test_files/patcher_data/samus_returns/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_7.json
Labels: feature: Multiworld, feature: Server, feature: GUI

#7597 Clarify to not create releases manually
  docs/Release Process.md
Labels: documentation

#7600 Revert "Fixes needed for running with Python 3.13"
  pyproject.toml
  randovania/bitpacking/construct_pack.py
  randovania/cli/commands/export_game.py
  randovania/interface_common/options.py
  randovania/interface_common/update_checker.py
  randovania/server/client_check.py
  requirements.txt
  test/interface_common/test_update_checker.py
  test/server/test_client_check.py
Labels: bug

#7611 Prime: Send input version as a tag to sentry
  randovania/games/prime1/exporter/game_exporter.py
  test/games/prime1/exporter/test_prime_game_exporter.py
Labels: game: Metroid Prime 1

#7614 Fusion: change name locks to keycards
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/fusion/presets/starter_preset.rdvpreset
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Database, game: Metroid Fusion

#7618 MSR - A2 Dam Exterior - Spike Ravine Logic Update
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7617 Preset option to place all majors/pickups logically
  CHANGELOG.md
  randovania/games/blank/pickup_database/pickup-database.json
  randovania/generator/generator.py
  randovania/gui/preset_settings/generation_tab.py
  randovania/gui/ui_files/preset_generation.ui
  randovania/layout/base/base_configuration.py
  randovania/layout/base/logical_pickup_placement_configuration.py
  randovania/layout/preset_describer.py
  randovania/layout/preset_migration.py
  test/conftest.py
  test/generator/test_generator.py
  test/gui/preset_settings/test_generation_tab.py
  test/layout/test_echoes_configuration.py
  test/layout/test_generator_parameters.py
Labels: feature: Generator, feature: Configuration, feature: GUI

#7632 Ensure that inventory only contains ints and no floats
  randovania/game_connection/connector/mercury_remote_connector.py
  test/game_connection/connector/test_msr_remote_connector.py
Labels: game: Metroid: Samus Returns

#7635 Web api: provide link for preset download
  randovania/server/multiplayer/web_api.py
Labels: feature: Server

#7638 Echoes: Fixed div by 0 error with 0 beam expansions
  CHANGELOG.md
  randovania/gui/preset_settings/split_ammo_widget.py
Labels: game: Metroid Prime 2 Echoes, feature: GUI

#7634 Prime: remove refill ammo explanation text
  CHANGELOG.md
  randovania/games/prime1/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1, feature: GUI

#7599 AM2R MW: Strip last element if empty
  randovania/game_connection/connector/am2r_remote_connector.py
  test/game_connection/connector/test_am2r_remote_connector.py
Labels: feature: Multiworld, game: AM2R

#6421 fix CS mypy errors
  pyproject.toml
  randovania/bitpacking/construct_pack.py
  randovania/cli/commands/benchmark.py
  randovania/game_description/data_reader.py
  randovania/game_description/hint.py
  randovania/games/cave_story/exporter/game_exporter.py
  randovania/games/cave_story/exporter/hint_namer.py
  randovania/games/cave_story/exporter/options.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/cave_story/game_data.py
  randovania/games/cave_story/generator/hint_distributor.py
  randovania/games/cave_story/gui/cs_game_tab.py
  randovania/games/cave_story/gui/dialog/game_export_dialog.py
  randovania/games/cave_story/gui/hint_details_tab.py
  randovania/games/cave_story/gui/preset_settings/__init__.py
  randovania/games/cave_story/gui/preset_settings/cs_generation_tab.py
  randovania/games/cave_story/gui/preset_settings/cs_goal_tab.py
  randovania/games/cave_story/gui/preset_settings/cs_hp_tab.py
  randovania/games/cave_story/gui/preset_settings/cs_item_pool_tab.py
  randovania/games/cave_story/gui/preset_settings/cs_starting_area_tab.py
  randovania/games/cave_story/layout/cs_cosmetic_patches.py
  randovania/games/cave_story/layout/preset_describer.py
  randovania/games/cave_story/layout/progressive_items.py
  randovania/games/cave_story/patcher/caver_music_shuffle.py
  randovania/games/prime3/gui/preset_settings/corruption_starting_area_tab.py
  randovania/gui/preset_settings/starting_area_tab.py
  randovania/interface_common/options.py
  randovania/layout/base/cosmetic_patches.py
  randovania/lib/json_lib.py
  requirements.txt
  test/games/cave_story/generator/test_cs_bootstrap.py
  test/games/cave_story/gui/test_cs_game_export_dialog.py
  test/test_files/caver_expected_data/arthur.json
  test/test_files/caver_expected_data/camp.json
  test/test_files/caver_expected_data/chaos.json
  test/test_files/caver_expected_data/random.json
  test/test_files/caver_expected_data/shuffle.json
  test/test_files/caver_expected_data/start.json
  test/test_files/caver_expected_data/starting.json
  test/test_files/patcher_data/cave_story/cs_echoes_multi_1/world_1.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2+msr/world_5.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/cave_story/multi-cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/cave_story/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_3.json
Labels: game: Cave Story

#7640 Don't open the map tracker if opening it was cancelled
  CHANGELOG.md
  randovania/gui/main_window.py
  randovania/gui/tracker_window.py
Labels: feature: GUI

#7621 Add pickup index and provider uuid to remote pickups
  randovania/game_connection/connector/am2r_remote_connector.py
  randovania/game_connection/connector/corruption_remote_connector.py
  randovania/game_connection/connector/cs_remote_connector.py
  randovania/game_connection/connector/debug_remote_connector.py
  randovania/game_connection/connector/dread_remote_connector.py
  randovania/game_connection/connector/mercury_remote_connector.py
  randovania/game_connection/connector/msr_remote_connector.py
  randovania/game_connection/connector/prime_remote_connector.py
  randovania/game_connection/connector/remote_connector.py
  randovania/network_client/network_client.py
  randovania/network_common/__init__.py
  randovania/network_common/multiplayer_session.py
  randovania/network_common/remote_pickup.py
  randovania/server/multiplayer/world_api.py
  test/game_connection/connector/test_am2r_remote_connector.py
  test/game_connection/connector/test_cs_remote_connector.py
  test/game_connection/connector/test_dread_remote_connector.py
  test/game_connection/connector/test_echoes_remote_connector.py
  test/game_connection/connector/test_msr_remote_connector.py
  test/game_connection/connector/test_prime1_remote_connector.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_world_api.py
Labels: feature: Multiworld, feature: Server

#7665 Prime: Fix Artifact Temple Teleport to now expect Ridley to be defeated first
  CHANGELOG.md
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#7669 Fix: Generator now has proper starting energy based on items that increase it.
  randovania/resolver/bootstrap.py
Labels: feature: Generator

#7674 MSR - Fix Screw Attack Chamber Spawn
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns
