Repository randovania/randovania, pull requests merged in 2024-06, with the labels that each got.

#6668 MP3: hangar access a fix
  randovania/games/prime3/logic_database/GFS Valhalla.json
  randovania/games/prime3/logic_database/GFS Valhalla.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6670 GUI: fix 2 warnings for ui where multiple objects have the same name
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/gui/ui_files/preset_patcher_energy.ui
Labels: feature: GUI

#6666 Try event harder to avoid sending user paths
  randovania/monitoring/__init__.py
Labels: enhancement, feature: Core

#6667 Add game-specific to generator log
  randovania/generator/filler/retcon.py
Labels: enhancement, feature: Generator

#6615 Support games with no cosmetic patches dialog
  randovania/games/factorio/game_data.py
  randovania/games/factorio/gui/__init__.py
  randovania/games/factorio/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/game.py
  randovania/gui/game_details/game_details_window.py
  test/games/test_game.py
Labels: feature: GUI, feature: Core

#6679 Optimize decoding the binary layout description
  CHANGELOG.md
  randovania/games/binary_data.py
  randovania/layout/layout_description.py
  randovania/layout/versioned_preset.py
  randovania/lib/construct_lib.py
  randovania/server/database.py
  test/games/test_prime_binary_decoder.py
  test/layout/test_layout_description.py
  test/server/multiplayer/test_session_admin.py
  test/test_files/prime_data_as_binary.bin
Labels: enhancement, feature: Core

#6684 Slightly optimize add_ammo_pickups
  randovania/generator/pickup_pool/ammo_pickup.py
  test/generator/pickup_pool/test_ammo.py
Labels: feature: Generator

#6685 The Receiver/Provider world selector in the History tab is now sorted
  CHANGELOG.md
  randovania/gui/multiplayer_session_window.py
Labels: feature: GUI

#6688 Fix MSR<->am2r offworld model
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: feature: Multiworld, game: Metroid: Samus Returns, game: AM2R

#6694 Mention in credits if an item was given as a random starting item
  CHANGELOG.md
  randovania/exporter/hints/credits_spoiler.py
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
Labels: enhancement, feature: Core

#6649 Support pickups with multiple original locations
  CHANGELOG.md
  randovania/game_description/pickup/migrations.py
  randovania/game_description/pickup/standard_pickup.py
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/blank/pickup_database/pickup-database.json
  randovania/games/cave_story/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/prime3/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/super_metroid/pickup_database/pickup-database.json
  randovania/generator/pickup_pool/standard_pickup.py
  randovania/gui/preset_settings/standard_pickup_widget.py
  randovania/layout/base/standard_pickup_state.py
  randovania/layout/preset_describer.py
  test/generator/pickup_pool/test_pickup_creator.py
  test/layout/test_standard_pickup_state.py
Labels: feature: Configuration

#6699 Offworld Models updates for AM2R <-> MSR and Dread <-> MSR
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread, game: Metroid: Samus Returns, game: AM2R

#6704 MSR - Update changelog for 2.0.0 stuff
  CHANGELOG.md
Labels: game: Metroid: Samus Returns

#6706 AM2R: Add liquid info as extra data
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#6707 Rename test_py_version so pytest doesn't load it
  tools/check_py_version.py
  tools/prepare_virtual_env.bat
Labels: enhancement

#6709 Move Corruption's Layout Editor to Corruption
  randovania/games/prime3/gui/corruption_help_widget.py
  randovania/games/prime3/gui/corruption_layout_editor.py
  test/games/prime3/gui/test_corruption_layout_editor.py
Labels: game: Metroid Prime 3 Corruption

#6686 Change CLI to allow better creating crossgame permalinks
  randovania/cli/commands/permalink.py
  test/cli/commands/test_generate_cli.py
Labels: enhancement

#6711 Extra safety in broswer dialog
  randovania/gui/dialog/multiplayer_session_browser_dialog.py
Labels: enhancement

#6716 Fix bulk generation for ci
  tools/bulk_generate_for_discord.py
Labels: bug

#6719 Fix typo in Prime <-> MSR Gravity Offworld Model
  randovania/games/prime1/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1, game: Metroid: Samus Returns

#6710 Refactor how PDFs call pickup_exporter.export_all_indices
  randovania/exporter/patch_data_factory.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/super_metroid/exporter/patch_data_factory.py
Labels: enhancement, game: Metroid Prime 1, game: Metroid Dread, game: Super Metroid, feature: Core, game: Metroid: Samus Returns, game: AM2R, game: Factorio

#6720 Bump am2r_yams to 2.6.0
  requirements.txt
Labels: dependencies, game: AM2R

#6721 Fix issues preventing Python 3.13 from working
  randovania/bitpacking/json_dataclass.py
  randovania/lib/type_lib.py
Labels: feature: Core

#6703 Warn about permanently locked doors and DLR Types
  CHANGELOG.md
  randovania/layout/base/dock_rando_configuration.py
  test/games/prime1/exporter/test_prime_dangerous_settings.py
  test/test_files/log_files/prime1_crazy_seed.rdvgame
Labels: feature: GUI

#6726 MSR - Add A2 Entryway custom door to PostAlpha group
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
Labels: feature: Database, game: Metroid: Samus Returns

#6728 Remove redundant definition of executor to connector signals
  randovania/game_connection/executor/am2r_executor.py
  randovania/game_connection/executor/dread_executor.py
  randovania/game_connection/executor/executor_to_connector_signals.py
  randovania/game_connection/executor/msr_executor.py
  test/game_connection/builder/test_am2r_connector_builder.py
  test/game_connection/builder/test_dread_connector_builder.py
  test/game_connection/builder/test_msr_connector_builder.py
  test/game_connection/connector/test_am2r_remote_connector.py
  test/game_connection/connector/test_dread_remote_connector.py
  test/game_connection/connector/test_msr_remote_connector.py
Labels: game: Metroid Dread, game: Metroid: Samus Returns, game: AM2R

#6724 Add requirement_to_collect to ResourceNode
  randovania/game_description/data_reader.py
  randovania/game_description/data_writer.py
  randovania/game_description/db/dock_lock_node.py
  randovania/game_description/db/event_node.py
  randovania/game_description/db/event_pickup.py
  randovania/game_description/db/hint_node.py
  randovania/game_description/db/pickup_node.py
  randovania/game_description/db/resource_node.py
  randovania/game_description/db/teleporter_network_node.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/generator/filler/filler_library.py
  randovania/generator/filler/retcon.py
  randovania/generator/hint_distributor.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/tracker_window.py
  randovania/resolver/resolver_reach.py
  randovania/resolver/state.py
  test/game_description/test_node.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/generator/filler/test_player_state.py
  test/generator/filler/test_runner.py
  test/resolver/test_resolver_reach.py
Labels: feature: Generator

#6713 Display destination on Ghavoran Flipper transport
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
Labels: Patcher, game: Metroid Dread

#6731 Bump OSRR to 2.1.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6734 MSR - Change cosmetic export to mention solo seeds
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6737 Add delete session to admin ui
  randovania/server/multiplayer/web_api.py
  test/server/multiplayer/test_web_api.py
Labels: feature: Server

#6747 Fix DLR Types multiworld check for dock types not enabled for DLR
  randovania/layout/base/dock_rando_configuration.py
Labels: bug

#6746 Reach top of bubble lair shinespark cave from shinespark cave west with only a morph glide and walljumps
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
Labels: feature: Database, game: AM2R

#6752 AM2R: fix some misc DB stuff
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
Labels: feature: Database, game: AM2R

#6757 Am2R: add more videos
  CHANGELOG.md
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R

#6759 Dread: Fix Moving Magnet Walls (Tall) logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#6758 AM2R: Fix Dread widebeam showing up as spazer
  CHANGELOG.md
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread, game: AM2R

#6742 Prime: Fix incorrect area spawn in Overgrown Cavern
  CHANGELOG.md
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#6760 Bump yams to 2.6.2
  requirements.txt
Labels: dependencies, game: AM2R

#6763 Remove identifier_for_node
  randovania/game_description/db/node_provider.py
  randovania/game_description/integrity_check.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/dread_teleporters_tab.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/gui/preset_settings/prime_teleporters_tab.py
  randovania/games/prime2/exporter/hints.py
  randovania/games/prime2/gui/preset_settings/echoes_teleporters_tab.py
  randovania/games/prime2/gui/preset_settings/echoes_translators_tab.py
  randovania/games/prime2/layout/translator_configuration.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/generator/filler/player_state.py
  randovania/generator/hint_distributor.py
  randovania/generator/teleporter_distributor.py
  randovania/gui/dialog/node_details_popup.py
  randovania/gui/tracker_window.py
  randovania/layout/lib/teleporters.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/generator/filler/test_runner.py
Labels: enhancement

#6766 Fix offworld for Progressive Suit in Dread <-> MSR
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: game: Metroid Dread, game: Metroid: Samus Returns

#6764 MSR - Support changing environmental damage
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_energy_tab.py
  randovania/games/samus_returns/gui/ui_files/preset_msr_energy.ui
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/multiworld-starter-preset.rdvpreset
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/layout/preset_migration.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/multi-am2r+cs+dread+prime1+prime2+msr.rdvgame
  test/test_files/log_files/samus_returns/door_lock.rdvgame
  test/test_files/log_files/samus_returns/door_lock_access_open.rdvgame
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Configuration, feature: GUI, game: Metroid: Samus Returns

#6765 Move game specific zebeth ui
  pyuic.json
  randovania/games/planets_zebeth/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/planets_zebeth/gui/generated/.gitignore
  randovania/games/planets_zebeth/gui/generated/__init__.py
  randovania/games/planets_zebeth/gui/planets_zebeth_game_tab.py
  randovania/games/planets_zebeth/gui/preset_settings/planets_zebeth_goal_tab.py
  randovania/games/planets_zebeth/gui/ui_files/games_tab_planets_zebeth_widget.ui
  randovania/games/planets_zebeth/gui/ui_files/planets_zebeth_cosmetic_patches_dialog.ui
  randovania/games/planets_zebeth/gui/ui_files/preset_planets_zebeth_goal.ui
  randovania/gui/ui_files/planets_zebeth_game_export_dialog.ui
  randovania/gui/ui_files/preset_planets_zebeth_hints.ui
  randovania/gui/ui_files/preset_planets_zebeth_patches.ui
Labels: game: Metroid Planets

#6767 Disable export button if exheader is required but not set
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  test/games/samus_returns/gui/dialog/test_msr_game_export_dialog.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6771 Send to Sentry if we're genning with a bultin preset
  randovania/interface_common/generator_frontend.py
Labels: feature: Core

#6775 MSR - Fix A5 Tower Exterior + Offworld
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: feature: Database, game: Metroid: Samus Returns, game: AM2R

#6776 Move duplicate Pickup Index detection to integrity check
  randovania/game_description/data_writer.py
  randovania/game_description/integrity_check.py
  test/game_description/test_integrity_check.py
Labels: enhancement

#6727 Allow 'Open Map' cosmetic option for Prime to be enabled with Random Elevators (again)
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/cosmetic_2.json
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
Labels: game: Metroid Prime 1

#6735 Dread: Exclude door to Orange EMMI from Door Lock Rando
  CHANGELOG.md
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
Labels: feature: Database, game: Metroid Dread

#6768 AM2R: underwater zips require morph
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
Labels: feature: Database, game: AM2R

#6784 SelectPresetWidget: don't show placeholder text on start.
  CHANGELOG.md
  randovania/gui/widgets/select_preset_widget.py
Labels: feature: GUI

#6786 AM2R: Override light and liquid info with default levels in export
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: game: AM2R

#6787 Support OPR 0.13.0
  pyproject.toml
  randovania/games/prime2/exporter/patch_data_factory.py
  requirements.txt
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
Labels: game: Metroid Prime 2 Echoes

#6769 AM2R: Show chaos option in preset describer
  randovania/games/am2r/layout/preset_describer.py
  test/games/am2r/layout/test_am2r_describer.py
Labels: game: AM2R

#6789 Refactor how actions are sorted in resolver.py
  randovania/resolver/resolver.py
Labels: feature: Generator

#6798 Only notify failure outside of PR builds
  .github/workflows/build-test-publish.yml
Labels: enhancement

#6795 Bump OSRR to v2.2.0
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6800 Bump open-dread-rando from 2.11.0 to 2.12.1
  CHANGELOG.md
  randovania/games/dread/gui/ui_files/games_tab_dread_widget.ui
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/header.json
  requirements.txt
Labels: feature: Database, dependencies, game: Metroid Dread

#6801 Bump am2r_yams to 2.7.0
  pyproject.toml
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/blank/blank/issue-3717/world_1.json
Labels: dependencies, game: AM2R

#6802 MSR <-> AM2R/Dread Offworld Updates
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread, game: Metroid: Samus Returns, game: AM2R

#6813 Fix typo, add previous commit changelog
  CHANGELOG.md
  randovania/games/prime1/gui/ui_files/preset_prime_qol.ui
Labels: feature: GUI

#6821 Updated Template Names
  randovania/games/prime3/logic_database/Bryyo - Fire.txt
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
  randovania/games/prime3/logic_database/GFS Valhalla.txt
  randovania/games/prime3/logic_database/Norion.txt
  randovania/games/prime3/logic_database/Phaaze.txt
  randovania/games/prime3/logic_database/Pirate Homeworld - Command.txt
  randovania/games/prime3/logic_database/Pirate Homeworld - Mines.txt
  randovania/games/prime3/logic_database/Pirate Homeworld - Research.txt
  randovania/games/prime3/logic_database/Pirate Homeworld - Seed.txt
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.txt
  randovania/games/prime3/logic_database/SkyTown Elysia - Pod.txt
  randovania/games/prime3/logic_database/header.json
  randovania/games/prime3/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6823 Sentry: add metrics
  randovania/gui/game_details/game_details_window.py
  randovania/gui/lib/preset_tree_widget.py
  randovania/gui/main_window.py
  randovania/gui/widgets/generate_game_widget.py
  randovania/gui/widgets/randovania_help_widget.py
  randovania/gui/widgets/select_preset_widget.py
  randovania/monitoring/__init__.py
Labels: feature: Core

#6824 Gandrayda Logic Overhaul
  randovania/games/prime3/logic_database/Pirate Homeworld - Research.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Research.txt
  randovania/games/prime3/logic_database/header.json
  randovania/games/prime3/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6826 Bump am2r_yams to 2.7.1
  requirements.txt
Labels: dependencies, game: AM2R

#6829 Bump am2r_yams to 2.7.2
  requirements.txt
Labels: dependencies, game: AM2R

#6828 MSR <-> Prime 1/2 SJ for Offworld Progressive Jump
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: Metroid: Samus Returns

#6832 Update am2r_yams to 2.7.3
  requirements.txt
Labels: dependencies, game: AM2R

#6834 Bump OSRR to v2.2.2
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6836 Add MSR to racetime.gg browser
  CHANGELOG.md
  randovania/gui/dialog/racetime_browser_dialog.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6831 Pickup Database/Offworld Model Changes
  CHANGELOG.md
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: Metroid Dread, game: Metroid: Samus Returns

#6837 Bump am2r_yams to 2.7.4
  requirements.txt
Labels: dependencies, game: AM2R

#6835 MSR - Fix area name typos in Patches tab
  CHANGELOG.md
  randovania/games/samus_returns/gui/ui_files/preset_msr_patches.ui
Labels: feature: GUI, game: Metroid: Samus Returns
