Repository randovania/randovania, pull requests merged in 2024-01, with the labels that each got.

#5801 Bump yams to 1.1.3
  CHANGELOG.md
  requirements.txt
Labels: dependencies

#5802 AM2R: fix force blue doors options not working correctly.
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/generator/base_patches_factory.py
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  test/games/am2r/generator/test_am2r_base_patches.py
Labels: game: AM2R

#5806 AM2R: Wrap starting memo text
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#5807 Bump am2r-yams to 1.1.4
  CHANGELOG.md
  requirements.txt
Labels: dependencies

#5808 Rebrand the Randovania icon
  CHANGELOG.md
  randovania/data/icons/dark_temple_key.ico
  randovania/data/icons/sky_temple_key_NqN_icon.ico
  randovania/data/xdg_assets/io.github.randovania.Randovania.png
  tools/icons/dark_temple_key.png
  tools/icons/sky_temple_key.png
  tools/sky_temple_key.icns
Labels: feature: GUI, feature: Core

#5811 AM2R - Fix A2 EMP Slot Requirements
  CHANGELOG.md
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
Labels: feature: Database, game: AM2R

#5799 Diffusion Abuse from below for Wide Block in Cataris
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#5804 MSR - Add Missile Launcher
  pyproject.toml
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior East.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Area 4 - West.json
  randovania/games/samus_returns/logic_database/Area 4 - West.txt
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 5 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 5 - Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_patches.ui
  requirements.txt
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5813 AM2R: Fix offworld model
  randovania/games/am2r/pickup_database/pickup-database.json
Labels: game: AM2R

#5800 Echoes: Great Bridge Rolljump plus videos
  CHANGELOG.md
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#5812 Dread/white emmi introduction room logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#5814 AM2R: Add option for generic credits to not have players in colors
  randovania/exporter/hints/credits_spoiler.py
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: feature: Core

#5815 MSR - Support logical/offworld DNA anywhere
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_goal.ui
  test/games/samus_returns/generator/test_msr_bootstrap.py
  test/games/samus_returns/generator/test_msr_pool_creator.py
  test/games/samus_returns/gui/preset_settings/test_msr_goal_tab.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: game: Metroid: Samus Returns

#5817 MSR - Minor UI Updates
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/gui/ui_files/preset_msr_patches.ui
  test/games/samus_returns/layout/test_msr_describer.py
Labels: game: Metroid: Samus Returns

#5816 Refactor AM2R model data
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/am2r/pickup_database/text_data.json
  test/games/am2r/exporter/test_am2r_patch_data_factory.py
Labels: game: AM2R

#5826 Dread/ghavoran right entrance
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#5827 Add am2r models for prime offworld
  randovania/games/prime1/generator/pickup_pool/artifacts.py
  randovania/games/prime1/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1, feature: Multiworld, game: AM2R

#5831 Add am2r models for echoes offworld
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/prime2/generator/pickup_pool/dark_temple_keys.py
  randovania/games/prime2/generator/pickup_pool/sky_temple_keys.py
  randovania/games/prime2/pickup_database/pickup-database.json
Labels: game: Metroid Prime 2 Echoes, feature: Multiworld, game: AM2R

#5841 Add more am2r offworld models
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/generator/pool_creator.py
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
Labels: game: AM2R

#5819 Implement AM2R Multiworld
  randovania/game_connection/builder/am2r_connector_builder.py
  randovania/game_connection/builder/connector_builder_option.py
  randovania/game_connection/connector/am2r_remote_connector.py
  randovania/game_connection/connector/remote_connector.py
  randovania/game_connection/connector_builder_choice.py
  randovania/game_connection/executor/am2r_executor.py
  randovania/game_connection/executor/dread_executor.py
  randovania/games/am2r/game_data.py
  randovania/gui/widgets/game_connection_window.py
  test/conftest.py
  test/game_connection/builder/test_am2r_connector_builder.py
  test/game_connection/connector/test_am2r_remote_connector.py
  test/game_connection/executor/test_am2r_executor.py
Labels: feature: Multiworld, game: AM2R

#5849 Add missing animation speeds for models
  randovania/games/am2r/pickup_database/model_data.json
Labels: game: AM2R

#5850 Bump am2r_yams to 1.2.0
  pyproject.toml
  requirements.txt
Labels: dependencies, game: AM2R

#5852 Fix pickup filtering for items that start the same
  CHANGELOG.md
  randovania/gui/game_details/pickup_details_tab.py
Labels: feature: GUI

#5749 Prevent import via permalink or rdvgame of unsupported games in multiworld
  CHANGELOG.md
  randovania/gui/multiplayer_session_window.py
  randovania/server/multiplayer/session_admin.py
  test/gui/test_multiplayer_session_window.py
  test/server/multiplayer/test_session_admin.py
Labels: enhancement, feature: Core

#5856 AM2R: Main Caves logic updates
  CHANGELOG.md
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R

#5865 Make drop descriptions clearer
  randovania/games/am2r/pickup_database/text_data.json
  test/test_files/patcher_data/am2r/progressive_items.json
  test/test_files/patcher_data/am2r/starting_items.json
Labels: game: AM2R

#5864 Clarify am2r speedbooster upgrades
  randovania/games/am2r/pickup_database/pickup-database.json
Labels: game: AM2R

#5862 AM2R: Dual Gammas require gravity for trickless
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#5866 MSR - Fix wrong dock type in A2 Interior
  randovania/games/samus_returns/logic_database/Area 2 - Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Interior.txt
Labels: game: Metroid: Samus Returns

#5873 Bump am2r-yams to 1.2.2
  CHANGELOG.md
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/prime1/generator/pickup_pool/artifacts.py
  randovania/games/prime2/pickup_database/pickup-database.json
  requirements.txt
Labels: dependencies, game: AM2R

#5868 MSR - Updated Missile Requirements
  randovania/games/samus_returns/logic_database/Area 2 - Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.json
  randovania/games/samus_returns/logic_database/Area 3 - Interior West.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: game: Metroid: Samus Returns

#5870 AM2R: rename area "spazer beam" -> "spazer beam chamber"
  CHANGELOG.md
  randovania/games/am2r/assets/migration_data.json
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/layout/description_migration.py
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/progressive_items.json
  test/test_files/patcher_data/am2r/starter_preset.json
  test/test_files/patcher_data/am2r/starting_items.json
Labels: feature: Database, game: AM2R

#5410 Create more detailed tests for prime2
  test/games/prime2/patcher/test_patch_data_generator.py
  test/test_files/log_files/prime2_no_pbs.rdvgame
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: game: Metroid Prime 2 Echoes

#5881 AM2R: Clean up path requirements to go to Serris
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
Labels: feature: Database, game: AM2R

#5885 Delay SDM import
  randovania/games/super_metroid/exporter/game_exporter.py
Labels: game: Super Metroid

#5879 MSR - Add misc resource for Door Lock Rando
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.json
  randovania/games/samus_returns/logic_database/Area 2 - Entrance.txt
  randovania/games/samus_returns/logic_database/Area 4 - East.json
  randovania/games/samus_returns/logic_database/Area 4 - East.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: game: Metroid: Samus Returns

#5886 Fix auto tracker tooltip for non Windows
  CHANGELOG.md
  randovania/gui/lib/tracker_item_image.py
Labels: feature: GUI

#5891 Prime 1: Introduce a seperate required amount of artifacts
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/pickup_pool/artifacts.py
  randovania/games/prime1/generator/pickup_pool/pool_creator.py
  randovania/games/prime1/gui/preset_settings/prime_goal_tab.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/gui/ui_files/preset_prime_goal.ui
  randovania/layout/preset_migration.py
  test/games/prime1/layout/test_prime_configuration.py
  test/test_files/patcher_data/prime1/all_game_multi/world_2.json
  test/test_files/patcher_data/prime1/all_game_multi/world_6.json
  test/test_files/randomprime_expected_data.json
  test/test_files/randomprime_expected_data_crazy.json
  test/test_files/randomprime_expected_data_one_way_door.json
Labels: game: Metroid Prime 1, feature: Configuration

#5883 Dread: change SpeedBoster+FlashShift upgrades to be minor
  CHANGELOG.md
  randovania/games/dread/pickup_database/pickup-database.json
Labels: game: Metroid Dread

#5894 MSR: redo a1 temple room names
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5895 Bump am2r_yams to 1.2.3
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/generator/pickup_pool/artifacts.py
  requirements.txt
Labels: dependencies, game: AM2R

#5882 Resolver: Avoid dangerous requirements turning trivial when rolling back
  CHANGELOG.md
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
Labels: feature: Generator

#5901 Bump am2r yams to 1.2.4
  requirements.txt
Labels: dependencies, game: AM2R

#5888 Don't try to add duplicate entries to DB editor
  randovania/gui/docks/resource_database_editor.py
Labels: feature: GUI

#5905 Bump am2r_yams to 1.2.5
  requirements.txt
Labels: dependencies, game: AM2R

#5911 AM2R: bump a few shinesparking tricks to intermediate
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#5909 Dread: Implement cosmetic option for volume sliders
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/layout/dread_cosmetic_patches.py
  randovania/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/interface_common/persisted_options.py
  test/games/dread/gui/test_dread_cosmetic_patches_dialog.py
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: game: Metroid Dread, feature: GUI

#5890 Fix None templates wreaking havoc.
  randovania/gui/docks/resource_database_editor.py
Labels: feature: GUI

#5902 Dread: Remove pushing Wide Beam Blocks with Wave and no Wide
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: feature: Database, game: Metroid Dread

#5923 Adjust minimal logic for prime1/echoes/am2r
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime2/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: AM2R

#5922 Dread: Add Speed Booster Conservation in Purple EMMI Introduction
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#5269 Fix negative scan description for ammo
  CHANGELOG.md
  randovania/exporter/pickup_exporter.py
  test/games/prime/patcher_file_lib/test_pickup_exporter.py
Labels: feature: Core

#5935 Dread: Fix slight PB logic in Ferenia
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#5934 Fix locations with nested brackets not showing correctly.
  CHANGELOG.md
  randovania/gui/preset_settings/location_pool_tab.py
Labels: game: Cave Story, feature: Core
