Repository randovania/randovania, pull requests merged in 2024-02, with the labels that each got.

#5924 Echoes: Add more joke hints.
  CHANGELOG.md
  randovania/exporter/hints/joke_hints.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/test_files/patcher_data/prime2/all_game_multi/world_3.json
  test/test_files/patcher_data/prime2/all_game_multi/world_7.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: game: Metroid Prime 2 Echoes

#5920 Bump am2r_yams to 1.2.11
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/cave_story/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/am2r/door_lock.json
  test/test_files/patcher_data/am2r/progressive_items.json
  test/test_files/patcher_data/am2r/starter_preset.json
  test/test_files/patcher_data/am2r/starting_items.json
Labels: dependencies

#5957 MP3: Add Rundas Quick-Kill + Other Fight Logic
  randovania/games/prime3/logic_database/Bryyo - Fire.json
  randovania/games/prime3/logic_database/Bryyo - Fire.txt
  randovania/games/prime3/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 3 Corruption

#5958 MSR - Fix one-way logic loop in Area 5 Tower
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5956 echoes: remove badly displaying joke hint
  CHANGELOG.md
  randovania/exporter/hints/joke_hints.py
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/prime2/all_game_multi/world_3.json
  test/test_files/patcher_data/prime2/all_game_multi/world_7.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: game: Metroid Prime 2 Echoes

#5960 AM2R: In MW, dont set item room to title screen
  randovania/game_connection/connector/am2r_remote_connector.py
Labels: feature: Multiworld, game: AM2R

#5961 Bump am2r_yams to 1.2.12
  requirements.txt
Labels: dependencies, game: AM2R

#5959 AM2R: Fix FAQ and add hint pages
  CHANGELOG.md
  randovania/games/am2r/game_data.py
  randovania/gui/ui_files/games_tab_am2r_widget.ui
Labels: feature: GUI, game: AM2R

#5917 MSR - Rename Surface Rooms
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5963 MSR - Rename Area 1 Rooms
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5964 MSR - Rename Area 2 Rooms
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5986 MSR - Fix A6 Elevator Logic
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
Labels: feature: Database, game: Metroid: Samus Returns

#5984 MSR - Rename A4 Rooms
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5416 Workaround for images not working in built-in changelog widget
  CHANGELOG.md
  randovania/gui/widgets/changelog_widget.py
  test/gui/test_main_window.py
  test/gui/widgets/test_changelog_widget.py
Labels: feature: GUI

#5987 MW: refactor executors to use a common socket holder
  randovania/game_connection/executor/am2r_executor.py
  randovania/game_connection/executor/common_socket_holder.py
  randovania/game_connection/executor/cs_executor.py
  randovania/game_connection/executor/dread_executor.py
  randovania/game_connection/executor/nintendont_executor.py
  test/game_connection/executor/test_cs_executor.py
Labels: feature: Multiworld, feature: Core

#5988 Show warning before genning, if item pool is more than max items.
  CHANGELOG.md
  randovania/generator/base_patches_factory.py
  test/generator/filler/test_pickup_list.py
  test/generator/test_base_patches_factory.py
  test/generator/test_generator_reach.py
Labels: feature: Core

#5990 MSR - Rename A3 Rooms
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5992 MSR - Rename A6 Rooms
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: feature: Database, game: Metroid: Samus Returns

#5993 MSR - Rename A7 Rooms
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
Labels: feature: Database, game: Metroid: Samus Returns

#5994 MSR - Rename A8 Rooms
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#5997 Add offworld models for AM2R <-> MSR
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: game: Metroid: Samus Returns, game: AM2R

#6004 MSR - More room renames
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#6008 MSR - Remove unnecessary reqs from A3 MC Ascending Alleyway
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6009 MSR - Final room renames
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#6010 MSR: fix name of pickups, add vanilla test
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/log_files/samus_returns/vanilla_game.rdvgame
Labels: feature: Database, game: Metroid: Samus Returns

#6005 Dread/fix flip flopping additional requirements
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#6011 MSR - Rename all instances of Spiderspark to Spider Boost
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  test/generator/test_generator_reach.py
Labels: game: Metroid: Samus Returns

#6012 MSR - Update intro text with custom tip text
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#6013 Bump OSRR to 1.0.7
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#5950 MSR - Update `Differences` tab
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: game: Metroid: Samus Returns

#5933 MSR - Support Cosmetic Options
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/gui/ui_files/msr_cosmetic_patches_dialog.ui
  test/games/samus_returns/exporter/test_msr_patch_data_factory.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
  test/games/samus_returns/gui/dialog/test_msr_game_export_dialog.py
  test/games/samus_returns/gui/preset_settings/test_msr_aeion_tab.py
  test/games/samus_returns/layout/test_msr_cosmetic_patches.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5927 MSR - Add option to nerf PBs against Blob Throwers and Steel Orbs
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_patches.ui
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#5948 MSR - Add DNA hints
  randovania/games/samus_returns/exporter/hint_namer.py
  randovania/games/samus_returns/exporter/joke_hints.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_hints_tab.py
  randovania/games/samus_returns/layout/hint_configuration.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
  randovania/gui/ui_files/preset_msr_hints.ui
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
Labels: game: Metroid: Samus Returns

#6016 MSR - Fix Bootstrap and UI Text
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/gui/ui_files/preset_msr_patches.ui
Labels: game: Metroid: Samus Returns

#6017 MSR - Update Area 4 - Crystal Mines Map
  randovania/games/samus_returns/assets/maps/Area 4 - Crystal Mines.png
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  test/games/samus_returns/layout/test_msr_describer.py
Labels: game: Metroid: Samus Returns

#6018 MSR - Readd DNA Hints
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#6021 MSR - Bug Fix and UI Updates
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, feature: GUI, game: Metroid: Samus Returns

#6025 MSR - Fix wrong cc for A8 Hatchling Room
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: feature: Database, game: Metroid: Samus Returns

#6022 MSR - Fix incorrect name in Hints tab for A1 DNA Seal
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6026 Resolver: Ignore satisfied requirements in additionals
  CHANGELOG.md
  randovania/resolver/resolver.py
Labels: feature: Generator

#5996 added speedkeep for ghav spin tower
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#6031 MSR - Add tracker layouts
  randovania/data/gui_assets/tracker/game-images/samus_returns/Aeion Reserve Tank.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Baby.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Beam Burst.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Bomb.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Charge Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/DNA.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Energy Reserve Tank.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Grapple Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Gravity Suit.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/High Jump Boots.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Ice Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Lightning Armor.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Missile Launcher.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Missile Reserve Tank.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Morph Ball.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Phase Drift.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Plasma Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Power Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Power Bomb Launcher.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Scan Pulse.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Screw Attack.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Space Jump.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Spazer Beam.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Spider Ball.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Spring Ball.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Super Missile Launcher.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Varia Suit.png
  randovania/data/gui_assets/tracker/game-images/samus_returns/Wave Beam.png
  randovania/data/gui_assets/tracker/samus-returns-game-progressive.json
  randovania/data/gui_assets/tracker/samus-returns-game.json
  randovania/data/gui_assets/tracker/trackers.json
Labels: feature: GUI, game: Metroid: Samus Returns

#6038 MSR - Add description to starter_preset
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
Labels: game: Metroid: Samus Returns

#6049 MSR - UI Updates and Bumping OSRR to v1.0.8
  pyproject.toml
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
  requirements.txt
Labels: feature: GUI, game: Metroid: Samus Returns

#6059 Bump open-samus-returns-rando to 1.0.9
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#5995 add Missile Launcher and Super Missile Expansion offworld model for dread
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/super_metroid/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: game: Metroid Dread

#6062 Added Access Permanently Closed doors to dread
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/dialog/dread_cosmetic_patches_dialog.py
  randovania/games/dread/layout/dread_cosmetic_patches.py
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
  randovania/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/interface_common/persisted_options.py
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: Patcher, game: Metroid Dread

#5998 CS: Grasstown adjustments
  CHANGELOG.md
  randovania/games/cave_story/logic_database/Grasstown.json
  randovania/games/cave_story/logic_database/Grasstown.txt
  randovania/games/cave_story/logic_database/header.json
Labels: feature: Database, game: Cave Story

#5921 alphabetized & expanded the hash words for Prime 1
  CHANGELOG.md
  randovania/games/prime1/assets/hash_words.json
  test/games/prime1/exporter/test_prime_patcher_data_factory.py
  test/server/multiplayer/test_session_admin.py
  test/server/test_database.py
  test/test_files/randomprime_expected_data.json
  test/test_files/randomprime_expected_data_crazy.json
  test/test_files/randomprime_expected_data_one_way_door.json
Labels: game: Metroid Prime 1

#6067 MSR - Update hint placement to try to prevent hinting early items
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
Labels: game: Metroid: Samus Returns

#6064 Bump am2r_yams to 1.2.14
  CHANGELOG.md
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/dread/pickup_database/pickup-database.json
  requirements.txt
Labels: dependencies, game: AM2R

#6066 MSR - Some A3/A5 Logic Updates
  randovania/games/samus_returns/assets/maps/Area 5 - Tower Interior.png
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6061 AM2R: Fix speeed booster upgrade offwolrd model
  CHANGELOG.md
  randovania/games/am2r/pickup_database/pickup-database.json
Labels: feature: Multiworld, game: Metroid Dread, game: AM2R

#6075 MSR - Rename Walljump to Wall Jump
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6084 MSR - Update Surface Logic
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6003 Prime1: Logic Update
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 1

#6085 MSR - Rename `Shoot Through Walls` and add `Phase Clip` template
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6082 MSR - Improve A3 logic and add videos/comments
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns
