Repository randovania/randovania, pull requests merged in 2024-11, with the labels that each got.

#7470 Fusion: Fix 1st action giving items to unlock hints only
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7444 Fusion: credits
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7410 Dread/ferenia cold room requirements
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#7455 Support for Factorio 2.0
  pyproject.toml
  randovania/games/factorio/assets/recipes-raw.json
  randovania/games/factorio/assets/techs-raw.json
  randovania/games/factorio/data_importer/data_parser.py
  randovania/games/factorio/exporter/game_exporter.py
  randovania/games/factorio/exporter/options.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/gui/dialog/game_export_dialog.py
  randovania/games/factorio/gui/ui_files/factorio_game_export_dialog.ui
  randovania/games/factorio/logic_database/Tech.json
  randovania/games/factorio/logic_database/Tech.txt
  randovania/games/factorio/logic_database/header.json
  randovania/games/factorio/logic_database/header.txt
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/factorio/presets/starter_preset.rdvpreset
  requirements.txt
  test/games/factorio/exporter/test_factorio_game_exporter.py
  test/test_files/log_files/factorio/starter_preset.rdvgame
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
  tools/factorio/create_nodes.py
  tools/factorio/create_resources.py
  tools/factorio/util.py
Labels: game: Factorio

#7445 Fusion: Add damage reduction
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7480 Echoes: Fix copying Coin Chest to other paks
  CHANGELOG.md
  randovania/games/prime2/exporter/game_exporter.py
Labels: bug, game: Metroid Prime 2 Echoes

#7229 Door Lock Rando: Find either side of door
  CHANGELOG.md
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/preset_settings/generation_tab.py
  randovania/gui/ui_files/preset_generation.ui
  randovania/layout/base/base_configuration.py
  randovania/layout/preset_migration.py
  test/layout/test_echoes_configuration.py
  test/layout/test_generator_parameters.py
Labels: feature: Generator

#7485 Main Deck room name changes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7491 Cleanup paths in update_requirements.txt
  requirements-lint.txt
  requirements-setuptools.txt
  tools/update_requirements.py
Labels: feature: Core

#7094 Echoes: remove fewest changes preset
  CHANGELOG.md
  randovania/games/prime2/game_data.py
  randovania/games/prime2/presets/fewest_changes.rdvpreset
Labels: game: Metroid Prime 2 Echoes

#7449 Node Visualiser for Prime 3
  randovania/games/prime3/logic_database/Bryyo - Fire.json
  randovania/games/prime3/logic_database/Bryyo - Ice.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Seed.json
  randovania/games/prime3/logic_database/GFS Olympus.json
  randovania/games/prime3/logic_database/GFS Valhalla.json
  randovania/games/prime3/logic_database/Norion.json
  randovania/games/prime3/logic_database/Phaaze.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Command.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Mines.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Research.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Seed.json
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.json
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.txt
  randovania/games/prime3/logic_database/SkyTown Elysia - Pod.json
  randovania/games/prime3/logic_database/SkyTown Elysia - Seed.json
  randovania/gui/data_editor.py
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7504 MSR - Fix Arachnus causing impossible seeds if FB
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7513 Fix Seeker Door Overrides
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7509 Implemented the Remove Bars Feature
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/gui/preset_settings/prime_patches_qol.py
  randovania/games/prime1/gui/ui_files/preset_prime_qol.ui
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/layout/preset_migration.py
  test/test_files/log_files/prime1_refills.rdvgame
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: game: Metroid Prime 1, feature: Configuration

#7370 Support seed count for benchmarks
  randovania/cli/commands/benchmark.py
  test/cli/commands/test_benchmark.py
Labels: feature: Core

#7521 Dread/burenia lower tricks
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#7405 DB: Add method to allow game specific db integrity checks
  randovania/game/data.py
  randovania/game_description/integrity_check.py
  randovania/games/am2r/db_integrity.py
  randovania/games/am2r/game_data.py
  randovania/games/fusion/db_integrity.py
  randovania/games/fusion/game_data.py
  test/game_description/test_integrity_check.py
Labels: feature: Database

#7527 Fix multiworld generation complete alert
  randovania/gui/multiplayer_session_window.py
Labels: feature: GUI

#7536 Fusion: Fix db integrity check
  randovania/games/fusion/db_integrity.py
Labels: game: Metroid Fusion

#7494 Polish Factorio UX
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/games/factorio/game_data.py
  randovania/games/factorio/gui/dialog/game_export_dialog.py
  randovania/games/factorio/gui/preset_settings/__init__.py
  randovania/games/factorio/gui/ui_files/factorio_game_export_dialog.ui
  randovania/games/factorio/layout/__init__.py
  randovania/games/factorio/layout/factorio_preset_describer.py
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/factorio/presets/starter_preset.rdvpreset
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/game_export_dialog.py
  randovania/gui/tracker_window.py
  randovania/lib/windows_lib.py
  tools/factorio/create_resources.py
Labels: enhancement, game: Factorio

#7540 Revise New Game doc
  docs/New Game.md
Labels: documentation

#7543 AM2R: sort hints based on region
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
Labels: game: AM2R

#7459 Prime: Fix mismatching screen brightness
  CHANGELOG.md
  randovania/games/prime1/layout/prime_user_preferences.py
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: game: Metroid Prime 1, feature: GUI

#7510 Prompt for confirmation on closing window while having background processes
  CHANGELOG.md
  randovania/gui/main_window.py
  randovania/gui/multiplayer_session_window.py
  test/gui/test_multiplayer_session_window.py
Labels: feature: GUI

#7514 Fix future Data Validation for Bryyo, Valhalla, and Phaaze
  randovania/games/prime3/logic_database/Bryyo - Fire.json
  randovania/games/prime3/logic_database/Bryyo - Fire.txt
  randovania/games/prime3/logic_database/Bryyo - Ice.json
  randovania/games/prime3/logic_database/Bryyo - Ice.txt
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
  randovania/games/prime3/logic_database/Bryyo - Seed.json
  randovania/games/prime3/logic_database/Bryyo - Seed.txt
  randovania/games/prime3/logic_database/GFS Valhalla.json
  randovania/games/prime3/logic_database/GFS Valhalla.txt
  randovania/games/prime3/logic_database/Phaaze.json
  randovania/games/prime3/logic_database/Phaaze.txt
  randovania/games/prime3/logic_database/header.json
  randovania/games/prime3/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7551 Prime 1: use misc resource for vanilla heat reduction
  CHANGELOG.md
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#7549 Prime: add knowledge to reverse frigate
  CHANGELOG.md
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#7552 Fix importing presets via the menu action
  randovania/gui/lib/window_manager.py
  randovania/gui/widgets/select_preset_widget.py
  test/gui/widgets/test_select_preset_widget.py
Labels: bug, feature: GUI

#7479 When exporting fails, check if input hash is good
  CHANGELOG.md
  randovania/cli/commands/hash_input.py
  randovania/cli/development.py
  randovania/exporter/game_exporter.py
  randovania/games/common/prime_family/exporter/good_hashes.py
  randovania/games/prime1/exporter/game_exporter.py
  randovania/games/prime2/exporter/game_exporter.py
  randovania/gui/dialog/game_export_dialog.py
  randovania/gui/lib/async_dialog.py
  randovania/gui/ui_files/game_details_window.ui
  randovania/gui/ui_files/multiplayer_session.ui
  test/cli/commands/test_hash_input.py
  test/games/prime1/exporter/test_prime_game_exporter.py
  test/games/prime2/exporter/test_echoes_game_exporter.py
  test/games/prime2/gui/dialog/test_echoes_game_export_dialog.py
Labels: feature: GUI, feature: Core

#7550 Replace vanilla missiles blast shields with rp shields
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
  randovania/layout/preset_migration.py
  test/layout/test_dock_rando_configuration.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: feature: Database, game: Metroid Prime 1

#7526 Dread: Restructure and adjust Early Grapple Room
  CHANGELOG.md
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#7548 Prime 1: Be able to open morph doors with just morph
  CHANGELOG.md
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#7566 Fusion: misc db stuff
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7567 Fusion: fix zoro zig-zag climb with SA
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion
