Repository randovania/randovania, pull requests merged in 2024-03, with the labels that each got.

#6091 Add support for changing teleportal destinations in rdvgame
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: game: Metroid Dread

#5832 Support Cave Story: Tweaked exports
  CHANGELOG.md
  pyproject.toml
  randovania/games/cave_story/assets/mychar/2x/Chaco.bmp
  randovania/games/cave_story/assets/mychar/2x/Curly.bmp
  randovania/games/cave_story/assets/mychar/2x/Frog.bmp
  randovania/games/cave_story/assets/mychar/2x/Kanpachi.bmp
  randovania/games/cave_story/assets/mychar/2x/King.bmp
  randovania/games/cave_story/assets/mychar/2x/Misery.bmp
  randovania/games/cave_story/assets/mychar/2x/Quote.bmp
  randovania/games/cave_story/assets/mychar/2x/Sue.bmp
  randovania/games/cave_story/assets/mychar/2x/Toroko.bmp
  randovania/games/cave_story/exporter/game_exporter.py
  randovania/games/cave_story/exporter/options.py
  randovania/games/cave_story/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/cs_game_export_dialog.ui
  requirements.txt
  test/games/cave_story/gui/test_cs_game_export_dialog.py
  tools/update_requirements.py
Labels: game: Cave Story

#6096 MSR - Improve A6/A7 damage requirements
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6094 Add toggle for warp to start to Dread
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: game: Metroid Dread, feature: Configuration, waiting-next-release

#6108 MSR - Add minor missing logic to Area 3
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6104 Bump OSRR to v1.0.10
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6092 MSR - Rebalance hints to accommodate new seal
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/samus_returns/start_inventory.json
  test/test_files/patcher_data/samus_returns/starter_preset.json
Labels: game: Metroid: Samus Returns

#6112 MSR - Add Surface DNA Seal to Hints Page
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: game: Metroid: Samus Returns

#6101 Re-Do Add toggle for warp to start to Dread
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/dread/all_game_multi/world_4.json
  test/test_files/patcher_data/dread/all_game_multi/world_8.json
  test/test_files/patcher_data/dread/crazy_settings.json
  test/test_files/patcher_data/dread/custom_start.json
  test/test_files/patcher_data/dread/dread_dread_multiworld_expected.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld_expected.json
  test/test_files/patcher_data/dread/elevator_rando.json
  test/test_files/patcher_data/dread/starter_preset.json
Labels: waiting-next-release

#6060 Add command for quickly benchmarking
  randovania/cli/commands/benchmark.py
  randovania/cli/development.py
  test/cli/commands/test_benchmark.py
Labels: waiting-next-release

#6109 Add Knowledge trick for releasing X without Bombs
  CHANGELOG.md
  randovania/games/dread/logic_database/Elun.json
  randovania/games/dread/logic_database/Elun.txt
Labels: feature: Database, game: Metroid Dread

#6119 Adding additional combat requirements for several rooms.
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6120 Fix assign_pickups_resources not properly handling progressive pickups
  CHANGELOG.md
  randovania/resolver/state.py
Labels: feature: Core

#6122 MSR - Add trick to tank damage from hazards
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#5840 Update to Python 3.12
  .github/workflows/build-test-publish.yml
  .github/workflows/daily-generate.yml
  Dockerfile.server
  README.md
  pyproject.toml
  requirements-lint.txt
  requirements-setuptools.txt
  requirements.txt
  test/game_connection/executor/test_nintendont_executor.py
  tools/additional-pyinstaller-hooks/hook-randovania_lupa.py
  tools/prepare_virtual_env.bat
  tools/prepare_virtual_env.sh
  tools/test_py_version.py
Labels: feature: Core

#6121 Add Metroid Goal to Fusion
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/generator/pool_creator.py
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/fusion/gui/preset_settings/fusion_goal_tab.py
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/games/fusion/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_fusion_goal.ui
  test/conftest.py
  test/games/fusion/conftest.py
  test/games/fusion/generator/test_fusion_bootstrap.py
  test/games/fusion/generator/test_fusion_pool_creator.py
  test/games/fusion/gui/preset_settings/test_preset_fusion_goal.py
  test/games/fusion/test_fusion.py
Labels: feature: Database, feature: Configuration, feature: GUI, game: Metroid Fusion

#6129 Fusion: Don't hard require bombs for PBs
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#6124 Fusion: Add instant transitions to patch options
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_fusion_patches.ui
  test/games/fusion/gui/preset_settings/test_fusion_game_patches.py
Labels: feature: Configuration, feature: GUI, game: Metroid Fusion

#6138 Fusion: Add palette randomizer
  randovania/games/fusion/game_data.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  randovania/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  test/games/fusion/gui/test_fusion_cosmetic_patches_dialog.py
Labels: feature: GUI, game: Metroid Fusion

#6144 Fusion: All areas: route recharge rooms through the recharge pad node
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6151 Fusion: add audio options to cosmetics
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  randovania/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  test/games/fusion/gui/test_fusion_cosmetic_patches_dialog.py
Labels: feature: GUI, game: Metroid Fusion

#6156 Fusion: Add required and placed metroids to goal
  randovania/games/fusion/generator/pool_creator.py
  randovania/games/fusion/gui/preset_settings/fusion_goal_tab.py
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_fusion_goal.ui
  test/games/fusion/generator/test_fusion_bootstrap.py
  test/games/fusion/generator/test_fusion_pool_creator.py
  test/games/fusion/gui/preset_settings/test_preset_fusion_goal.py
  test/games/fusion/layout/test_fusion_configuration.py
Labels: feature: Configuration, feature: GUI, game: Metroid Fusion

#6159 bump yams to 1.2.15
  CHANGELOG.md
  requirements.txt
Labels: game: AM2R

#6162 bump caver
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: game: Cave Story

#6160 Fusion: higher resolution cover
  randovania/games/fusion/assets/cover.png
Labels: feature: GUI, game: Metroid Fusion

#6154 MF: Some Room Name Updates
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6171 MP3: Gel Refinery Site Z Axis (video provided)
  randovania/games/prime3/logic_database/Bryyo - Fire.json
  randovania/games/prime3/logic_database/Bryyo - Fire.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6181 MSR - Add template for defeating swarms
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6137 MP2: Training Chamber Reverse Air Underwater
  CHANGELOG.md
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6172 Fusion: S6: Big Shell 1: Resolve TODO comment with wall jump and single wall jump logic
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6128 FUSION: clear some todo's in TRO and PYR
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#6180 Some frozen enemy tech for SRX and PYR (videos provided)
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#6123 Dread: Add Cross Bomb Launch trick
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#6107 MSR - Update Area 2 Logic and add Comments/Videos
  randovania/games/samus_returns/assets/maps/Area 2 - Dam Entryway.png
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6191 Dread: Remove Yuzu from FAQ
  randovania/games/dread/game_data.py
Labels: game: Metroid Dread

#6190 Fusion: DLR gui and db updates
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, feature: Configuration, feature: GUI, game: Metroid Fusion

#6193 Update mp2hudcolor
  requirements.txt
Labels: dependencies, game: Metroid Prime 2 Echoes

#6173 Fusion: S1: Add damage values for lava rooms
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#6161 Fusion: logic-db: change 'High Jump' to 'Hi-Jump' in item resources
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#6200 Fusion: Fix data for Doors and Pickups
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: feature: Database, game: Metroid Fusion

#6192 Fusion: Add hint configuration
  randovania/games/fusion/exporter/hint_namer.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/generator/hint_distributor.py
  randovania/games/fusion/gui/__init__.py
  randovania/games/fusion/gui/hint_details_tab.py
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/fusion/gui/preset_settings/fusion_hints_tab.py
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/hint_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/games_tab_fusion_widget.ui
  randovania/gui/ui_files/preset_fusion_hints.ui
  test/conftest.py
  test/games/fusion/exporter/test_fusion_hint_namer.py
  test/games/fusion/layout/test_fusion_describer.py
Labels: feature: Configuration, feature: GUI, game: Metroid Fusion

#6195 Dread: Add spawn point nodes to rooms without any
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
Labels: enhancement, game: Metroid Dread

#6201 Dread: Simplify/clarify bomb logic
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Elun.json
  randovania/games/dread/logic_database/Elun.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: feature: Database, game: Metroid Dread

#6110 Use NodeContext in Requirements
  randovania/cli/database.py
  randovania/game_description/db/configurable_node.py
  randovania/game_description/db/dock_lock_node.py
  randovania/game_description/db/dock_node.py
  randovania/game_description/db/hint_node.py
  randovania/game_description/db/node.py
  randovania/game_description/db/node_provider.py
  randovania/game_description/db/pickup_node.py
  randovania/game_description/db/region_list.py
  randovania/game_description/db/teleporter_network_node.py
  randovania/game_description/game_description.py
  randovania/game_description/integrity_check.py
  randovania/game_description/requirements/array_base.py
  randovania/game_description/requirements/base.py
  randovania/game_description/requirements/fast_as_set.py
  randovania/game_description/requirements/requirement_and.py
  randovania/game_description/requirements/requirement_list.py
  randovania/game_description/requirements/requirement_or.py
  randovania/game_description/requirements/requirement_set.py
  randovania/game_description/requirements/requirement_template.py
  randovania/game_description/requirements/resource_requirement.py
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/pickup_list.py
  randovania/generator/filler/player_state.py
  randovania/generator/generator_reach.py
  randovania/generator/old_generator_reach.py
  randovania/gui/data_editor.py
  randovania/gui/dialog/trick_details_popup.py
  randovania/gui/dialog/trick_usage_popup.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  test/conftest.py
  test/game_description/test_game_description.py
  test/game_description/test_node.py
  test/game_description/test_requirements.py
  test/game_description/test_resources.py
  test/generator/filler/test_pickup_list.py
  test/gui/test_data_editor.py
  test/resolver/test_resolver_reach.py
Labels: feature: Core

#6205 Fix Silo Room Names
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#6214 Fusion: Add missing door ID in s3
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#6207 MSR - Fix logic error in A2
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6217 Fusion: Fix door ids, docking bay spawn, default game tab
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/games_tab_fusion_widget.ui
Labels: feature: Database, game: Metroid Fusion

#6218 Dread: update FAQ to mention supported emulator
  randovania/games/dread/game_data.py
Labels: game: Metroid Dread

#6212 Remove pre-placed indices from DNA locations
  CHANGELOG.md
  randovania/games/dread/generator/bootstrap.py
Labels: game: Metroid Dread

#6219 Dread: Merge SSC/ADC tricks into single Floor Clip trick
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
  randovania/layout/preset_migration.py
Labels: feature: Database, game: Metroid Dread

#6221 s5: fix door id and add check for dlr
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#6206 Fusion: S2: Data Hub: Create event for bomb block
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#6118 MSR - Update Area 4 with new logic, videos, and comments
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6179 MSR - A5 Lobby Logic Update
  randovania/games/samus_returns/assets/maps/Area 5 - Tower Lobby.png
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6211 MSR - Update Area 6 Logic and add videos/comments
  randovania/games/samus_returns/assets/maps/Area 6.png
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6228 MSR - Update Area 7 logic and add videos/comments
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6229 Fusion: safety rename of destructible block events
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#6170 MSR - Update Area 5 Logic and add videos/comments
  randovania/games/samus_returns/assets/maps/Area 5 - Tower Exterior.png
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6150 Update & refine README.md
  README.md
Labels: documentation

#6243 AM2R: Fix a few DB errors
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#6244 AM2R: fix small error with cutscene skips
  CHANGELOG.md
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R

#6247 MSR - Update Area 8 logic and add videos/comments
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6215 CS: refine ruined egg corridor logic
  CHANGELOG.md
  randovania/games/cave_story/logic_database/Ruined Egg Corridor.json
  randovania/games/cave_story/logic_database/Ruined Egg Corridor.txt
  randovania/games/cave_story/logic_database/header.json
Labels: feature: Database, game: Cave Story

#6204 Frigate Crash Site and Ruined Courtyard Beginner Logic Changes/Addtions
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#6225 Dread: Add Water Space Jump in Ghavoran - Energy Recharge Station
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#6237 Dread/assorted logic additions
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#6252 MF: bump TRO data hub speed trick
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#6256 MSR: a2 entryway DB revision
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6255 MSR: Surface west cleanup
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6254 MSR: flesh out surface east
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6261 MSR: smol fix
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6262 MSR - Improve Ridley Logic
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6260 MSR: revise a2
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6264 AM2R: Fix door lock rando bug with a2 exterior
  CHANGELOG.md
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
Labels: feature: Database, game: AM2R

#6265 MSR: add more save stations as valid starts
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6259 MSR: revise a1
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns
