Repository randovania/randovania, pull requests merged in 2024-07, with the labels that each got.

#6839 MP3: Fix Command Courtyard Logic Bug
  randovania/games/prime3/logic_database/Pirate Homeworld - Command.json
  randovania/games/prime3/logic_database/Pirate Homeworld - Command.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6842 Forgot to add update the MSR side for Aeion Tanks offworld in Echoes
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
Labels: game: Metroid Prime 2 Echoes, game: Metroid: Samus Returns

#6843 Bump am2r_yams to 2.7.5
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: AM2R

#6844 Prime: remove redundant Hive Totem connection
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#6851 MSR - Enable room names on HUD by default
  CHANGELOG.md
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/interface_common/persisted_options.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid: Samus Returns

#6846 Make vanilla progressives for am2r and MSR too
  CHANGELOG.md
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: game: Metroid: Samus Returns, game: AM2R

#6827 Resolver: Fix using the wrong state when finding the resources gained
  randovania/resolver/resolver.py
Labels: feature: Generator

#6853 MSR - Add more starting locations
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
Labels: feature: Database, feature: Configuration, game: Metroid: Samus Returns

#6862 MSR - Fix persisted_option for room name display
  randovania/interface_common/persisted_options.py
Labels: game: Metroid: Samus Returns

#6863 Bump ODR
  CHANGELOG.md
  requirements.txt
Labels: game: Metroid Dread

#6866 Bump OSRR to 2.2.3
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6870 Fix light level for tower dark maze
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: feature: Database, game: AM2R

#6852 AM2R: Fix several tower connecting rooms
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#6874 Bump am2r_yams to 2.8.0.dev3
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: AM2R

#6875 fix todo in am2r pdf
  randovania/games/am2r/exporter/patch_data_factory.py
Labels: game: AM2R

#6777 adding MP3 Pixel tracker
  randovania/data/gui_assets/tracker/pixel-icons/mp3/boost_ball.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/charge_beam.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/combat_visor.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/command_visor.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/energy_cell.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/energy_tank.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/grapple_lasso.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/grapple_swing.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/grapple_voltage.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/hazard_shield.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/hyper_ball.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/hyper_beam.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/hyper_grapple.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/hyper_missile.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/ice_missile.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/missile_launcher.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/missile_tank.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/morph_ball.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/morph_ball_bomb.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/nova_beam.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/plasma_beam.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/scan_visor.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/screw_attack.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/seeker_launcher.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/ship_grapple.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/ship_missile.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/space_jump_boots.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/spider_ball.png
  randovania/data/gui_assets/tracker/pixel-icons/mp3/x-ray_visor.png
  randovania/data/gui_assets/tracker/prime3-pixel.json
  randovania/data/gui_assets/tracker/trackers.json
Labels: game: Metroid Prime 3 Corruption, feature: GUI

#6881 Echoes: add Sanctuary Entrance FAQ
  CHANGELOG.md
  randovania/games/prime2/game_data.py
Labels: game: Metroid Prime 2 Echoes, feature: GUI

#6873 Am2r: Add tileset and background rotation
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/am2r/gui/ui_files/am2r_cosmetic_patches_dialog.ui
  randovania/games/am2r/layout/am2r_cosmetic_patches.py
  randovania/interface_common/persisted_options.py
  test/games/am2r/gui/test_am2r_cosmetic_patches_dialog.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: feature: GUI, game: AM2R

#6890 AM2R: add bosses as resources
  randovania/games/am2r/logic_database/header.json
Labels: feature: Database, game: AM2R

#6891 AM2R: add chaos settings check for MW
  CHANGELOG.md
  randovania/games/am2r/layout/am2r_configuration.py
Labels: feature: GUI, game: AM2R

#6892 Bump am2r_yams to dev4
  requirements.txt
Labels: dependencies, game: AM2R

#6897 Osrr 2.3.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/gui/ui_files/games_tab_samusreturns_widget.ui
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
Labels: feature: Database, dependencies, game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: Metroid Dread, feature: Configuration, game: Metroid: Samus Returns, game: AM2R

#6871 MSR - Add cosmetic option to shuffle music
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/interface_common/persisted_options.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/cosmetic_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#6900 Fusion: Rename confusing node
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#6901 Prime: Document non-ntsc ruined shrine NSJ
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#6904 Bump am2r_yams to 2.8.0-dev5
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: AM2R

#6903 AM2R: Add warning when using Queen Doors in MW
  CHANGELOG.md
  randovania/games/am2r/layout/am2r_configuration.py
Labels: game: AM2R

#6902 Fix compatibility with construct 2.10.70
  pyproject.toml
  randovania/bitpacking/construct_pack.py
  randovania/games/binary_data.py
  randovania/layout/layout_description.py
  randovania/layout/permalink.py
  randovania/layout/versioned_preset.py
  randovania/lib/construct_lib.py
  randovania/network_client/network_client.py
  randovania/network_common/remote_inventory.py
  requirements.txt
Labels: enhancement

#6907 MP3 - Fix Hidden Court Edge Case with the battery
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6887 Echoes: document GWC terminal fall to item
  CHANGELOG.md
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6917 Fix light level for Breeding Grounds Fly Stadium Access
  CHANGELOG.md
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: feature: Database, game: AM2R

#6922 Echoes: Fix No Gravity Boost connection missing Morph Ball
  CHANGELOG.md
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6924 AM2R: add 10 more joke hints
  CHANGELOG.md
  randovania/games/am2r/exporter/joke_hints.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: game: AM2R

#6864 Web API: handle if sessions don't exist
  randovania/server/database.py
  randovania/server/multiplayer/web_api.py
  test/server/multiplayer/test_web_api.py
Labels: enhancement

#6898 Dread: Upgrade fight requirements For Experiement Z-57
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#6938 Don't show unnecessary lines in DLR and Teleporter tabs
  CHANGELOG.md
  randovania/games/am2r/gui/preset_settings/am2r_teleporters_tab.py
  randovania/games/dread/gui/preset_settings/dread_teleporters_tab.py
  randovania/games/samus_returns/gui/preset_settings/msr_teleporters_tab.py
  randovania/gui/preset_settings/dock_rando_tab.py
Labels: enhancement, feature: GUI

#6939 Default InfiniteTimer to not strict
  randovania/lib/infinite_timer.py
Labels: bug

#6935 Reduce visual noise in main window
  CHANGELOG.md
  randovania/games/am2r/gui/ui_files/games_tab_am2r_widget.ui
  randovania/games/blank/gui/ui_files/games_tab_blank_widget.ui
  randovania/games/cave_story/gui/ui_files/games_tab_cavestory_widget.ui
  randovania/games/dread/gui/ui_files/games_tab_dread_widget.ui
  randovania/games/factorio/gui/ui_files/games_tab_factorio_widget.ui
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
  randovania/games/planets_zebeth/gui/ui_files/games_tab_planets_zebeth_widget.ui
  randovania/games/prime1/gui/ui_files/games_tab_prime_widget.ui
  randovania/games/prime2/gui/ui_files/games_tab_echoes_widget.ui
  randovania/games/prime3/gui/ui_files/games_tab_corruption_widget.ui
  randovania/games/samus_returns/gui/ui_files/games_tab_samusreturns_widget.ui
  randovania/games/super_metroid/gui/ui_files/games_tab_supermetroid_widget.ui
  randovania/gui/ui_files/customize_preset_dialog.ui
  randovania/gui/widgets/games_help_widget.py
Labels: feature: GUI

#6816 Add documentation on how we make a new release
  docs/Release Process.md
Labels: documentation

#6933 AM2R: change screw priority to be low
  CHANGELOG.md
  randovania/games/am2r/presets/starter_preset.rdvpreset
Labels: game: AM2R

#6918 AM2R: Custom Damage Reduction
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_energy_tab.py
  randovania/games/am2r/gui/ui_files/preset_am2r_energy.ui
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/layout/preset_describer.py
  randovania/games/am2r/presets/starter_preset.rdvpreset
  randovania/layout/preset_migration.py
  test/conftest.py
  test/games/am2r/generator/test_am2r_bootstrap.py
  test/games/am2r/gui/preset_settings/test_preset_am2r_energy.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: feature: Configuration, feature: GUI, game: AM2R

#6941 Bump am2r_yams to 2.8.0rc3
  CHANGELOG.md
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
Labels: dependencies, game: AM2R

#6944 MSR - Update trick documentation requirements for most tricks
  randovania/games/samus_returns/logic_database/header.json
Labels: game: Metroid: Samus Returns

#6158 Prime: Implement refills to the item pool.
  randovania/game_connection/connector/prime1_remote_connector.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/layout/preset_migration.py
  test/games/test_log_file_export.py
  test/test_files/log_files/prime1_refills.rdvgame
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: game: Metroid Prime 1, feature: Configuration

#6927 AM2R: slightly change joke hints
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: game: AM2R

#6967 Bump open-dread-rando to 2.12.3
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: Metroid Dread

#6968 Bump OSRR to 2.4.0
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6954 AM2R: add options to flip gameplay
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/gui/preset_settings/am2r_chaos_tab.py
  randovania/games/am2r/gui/ui_files/preset_am2r_chaos.ui
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/layout/preset_describer.py
  randovania/layout/preset_migration.py
  test/games/am2r/gui/preset_settings/test_am2r_chaos_tab.py
  test/games/am2r/layout/test_am2r_configuration.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: feature: Configuration, feature: GUI, game: AM2R

#6975 randomprime v1.25.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: game: Metroid Prime 1

#6651 More factorio improvements
  pyproject.toml
  randovania/games/factorio/assets/techs-raw.json
  randovania/games/factorio/data_importer/data_parser.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/generator/base_patches_factory.py
  randovania/games/factorio/generator/complexity.py
  randovania/games/factorio/generator/item_cost.py
  randovania/games/factorio/generator/recipes.py
  randovania/games/factorio/logic_database/Tech.json
  randovania/games/factorio/logic_database/Tech.txt
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/factorio/presets/starter_preset.rdvpreset
  randovania/generator/pickup_pool/__init__.py
  randovania/lib/pyeasyga.py
  requirements.txt
  test/test_files/log_files/factorio/starter_preset.rdvgame
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
  tools/factorio/create_nodes.py
  tools/factorio/create_resources.py
  tools/factorio/recipe_log_report.py
  tools/factorio/util.py
Labels: game: Factorio

#6979 Dread: Early Gravity logic fix
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#6980 randomprime v1.26.0
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid Prime 1

#6981 MSR - Move `boss_go` and `boss_mae_32` to the correct type in PDF
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#6993 Prime: re-add Mines Security Station barrier item reqs
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
Labels: feature: Database, game: Metroid Prime 1

#7014 Small GUI text fixes
  CHANGELOG.md
  randovania/games/dread/gui/preset_settings/dread_teleporters_tab.py
  randovania/games/dread/gui/ui_files/preset_dread_patches.ui
  randovania/games/prime1/gui/preset_settings/prime_teleporters_tab.py
  randovania/games/prime2/gui/preset_settings/echoes_teleporters_tab.py
  randovania/games/samus_returns/gui/preset_settings/msr_teleporters_tab.py
Labels: feature: GUI

#7019 Bump OSRR to 2.4.1
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#7026 Bump OSRR to 2.4.2
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#7024 MSR - Fix A1 Broken Logic in Inner Temple West Hall
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7022 Fix MW tab selection
  CHANGELOG.md
  randovania/gui/lib/generation_failure_handling.py
Labels: feature: GUI
