Repository randovania/randovania, pull requests merged in 2024-05, with the labels that each got.

#6436 Show proper layer for a node in details popup
  randovania/gui/dialog/node_details_popup.py
Labels: feature: GUI

#6326 MSR Door lock
  CHANGELOG.md
  randovania/games/samus_returns/assets/migration_data.json
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/layout/preset_migration.py
  test/games/test_log_file_export.py
  test/test_files/log_files/samus_returns/door_lock.rdvgame
  test/test_files/log_files/samus_returns/vanilla_game.rdvgame
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid: Samus Returns

#6431 Dread - Darion Powered Sections Updates
  CHANGELOG.md
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: feature: Database, game: Metroid Dread

#6472 Scrub breadcrumbs from home username
  randovania/monitoring/__init__.py
Labels: feature: Core

#6482 Dread: remove ryujinx legacy option.
  CHANGELOG.md
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/dread_game_export_dialog.ui
Labels: game: Metroid Dread

#6481 Fusion: remove export accept button
  randovania/gui/ui_files/fusion_game_export_dialog.ui
Labels: feature: GUI, game: Metroid Fusion

#6479 am2r: rephrase music in cosmetic option
  randovania/gui/ui_files/am2r_cosmetic_patches_dialog.ui
Labels: feature: GUI, game: AM2R

#6478 Sentry: add more tags
  randovania/games/cave_story/exporter/game_exporter.py
  randovania/games/dread/exporter/game_exporter.py
  randovania/games/prime1/exporter/game_exporter.py
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/gui/main_window.py
  randovania/interface_common/generator_frontend.py
  randovania/monitoring/__init__.py
Labels: feature: Core

#6484 Fix wrong init / visual for NTSC when no settings are in user folder
  CHANGELOG.md
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6493 MSR - Fix Grouping Logic Bug in Area 1
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6486 Dread: Add trick requirements when using Flash Shift in Main Hub Tower Top
  CHANGELOG.md
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
Labels: feature: Database, game: Metroid Dread

#6502 reword magmoor nonheated rooms FAQ
  randovania/games/prime1/game_data.py
Labels: game: Metroid Prime 1

#6507 Remove Door as start location
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6485 Dread: Add usage of Ice Missiles in Dairon - Big Hub
  CHANGELOG.md
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#6509 AM2R: Small intermediate adjustment
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#6515 Ignore derived nodes for documentation
  randovania/game_description/trick_documentation.py
Labels: feature: Core

#6513 AM2R: add waterfalls hypermode trick
  CHANGELOG.md
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
Labels: feature: Database, game: AM2R

#6514 AM2R: Expose Queen locked doors
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: game: AM2R

#6519 Add SR to mypy files
  pyproject.toml
  randovania/games/samus_returns/exporter/game_exporter.py
  randovania/games/samus_returns/exporter/hint_namer.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/gui/msr_game_tab.py
  randovania/games/samus_returns/gui/preset_settings/msr_patches_tab.py
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/games/samus_returns/pickup_database/progressive_items.py
Labels: enhancement, game: Metroid: Samus Returns

#6480 Dont hardcode prime 3 export message
  randovania/games/prime3/exporter/options.py
  randovania/games/prime3/exporter/patch_data_factory.py
  randovania/games/prime3/game_data.py
  randovania/games/prime3/gui/dialog/game_export_dialog.py
  randovania/gui/game_details/game_details_window.py
  randovania/gui/ui_files/corruption_game_export_dialog.ui
  test/gui/test_game_details_window.py
Labels: game: Metroid Prime 3 Corruption, feature: Configuration, feature: GUI

#6512 MSR: small export window niceties
  CHANGELOG.md
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/msr_game_export_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6518 AM2R: fix a2 door extra
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
Labels: feature: Database, game: AM2R

#6523 make Queen door work with patcher, add previous changelog entries
  CHANGELOG.md
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#6492 Add Offworld Models for MSR <-> other games
  randovania/games/am2r/generator/pool_creator.py
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/pickup_database/pickup-database.json
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: Metroid Dread, game: Metroid: Samus Returns, game: AM2R

#6524 Bump am2r_yams to 2.1.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  requirements.txt
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: dependencies, game: AM2R

#6526 Add 1 shinespark tricks to ARC
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#6529 Bump am2r_yams to 2.1.1
  pyproject.toml
  requirements.txt
Labels: dependencies, game: AM2R

#6384 MSR - Implement Elevator Randomizer
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/generator/base_patches_factory.py
  randovania/games/samus_returns/gui/__init__.py
  randovania/games/samus_returns/gui/msr_teleporter_details_tab.py
  randovania/games/samus_returns/gui/preset_settings/__init__.py
  randovania/games/samus_returns/gui/preset_settings/msr_teleporters_tab.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/msr_teleporters.py
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_teleporters_msr.ui
  randovania/layout/preset_migration.py
  test/test_files/log_files/samus_returns/door_lock.rdvgame
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#6530 Bump am2r_yams to 2.1.2
  requirements.txt
Labels: dependencies, game: AM2R

#6538 Fix EventPickupNode.requirement_to_leave
  CHANGELOG.md
  randovania/game_description/db/event_pickup.py
Labels: feature: Generator

#6537 Properly account for starting health in _unsatisfied_item_requirements_in_list
  CHANGELOG.md
  randovania/generator/filler/pickup_list.py
  test/generator/filler/test_pickup_list.py
Labels: feature: Generator

#6535 Main deck: comment and trick (video) pass
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#6536 am2r: increase door resolver attempts
  randovania/games/am2r/logic_database/header.json
Labels: feature: Generator, game: AM2R

#6541 MSR - Add Custom Door Locks
  CHANGELOG.md
  pyproject.toml
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
  requirements.txt
  test/test_files/log_files/samus_returns/door_lock.rdvgame
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#6542 Fusion: S4 trick documentation
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#6546 AM2R: exclude permanently locked doors for tower
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#6547 Am2R: gt alpha climb vid
  CHANGELOG.md
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
Labels: feature: Database, game: AM2R

#6548 MSR - Softlocks and bug fixes
  CHANGELOG.md
  pyproject.toml
  randovania/games/samus_returns/exporter/hint_namer.py
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  requirements.txt
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid: Samus Returns

#6549 AM2R: fix logic for shuffled open hatches
  CHANGELOG.md
  randovania/games/am2r/generator/bootstrap.py
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/header.json
Labels: feature: Database, game: AM2R

#6544 Fusion: S6 trick documentation
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6552 Improve UX for configuring ammo
  CHANGELOG.md
  randovania/game_description/pickup/ammo_pickup.py
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/cave_story/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/super_metroid/pickup_database/pickup-database.json
  randovania/gui/preset_settings/item_pool_tab.py
  randovania/gui/preset_settings/split_ammo_widget.py
  randovania/gui/preset_settings/standard_pickup_widget.py
  randovania/gui/ui_files/standard_pickup_widget.ui
Labels: feature: GUI

#6555 Am2R: remove some open transition requirements
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
Labels: feature: Database, game: AM2R

#6558 Make preset_generation.ui game-neutral
  CHANGELOG.md
  randovania/gui/ui_files/preset_generation.ui
Labels: feature: GUI

#6554 AM2R: Add IBJ, WJ and Long Beam as unavailable items
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/layout/preset_migration.py
Labels: feature: Database, feature: Configuration, game: AM2R

#6553 Fusion: S5 trick documentation
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#6560 Bump am2r yams to 2.2.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/exporter/hint_namer.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/pickup_database/text_data.json
  randovania/games/am2r/presets/starter_preset.rdvpreset
  requirements.txt
  test/games/am2r/layout/test_am2r_describer.py
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
Labels: dependencies, feature: Configuration, game: AM2R

#6559 MSR - Fix Laser Aim Cosmetic Export Window
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/interface_common/persisted_options.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/cosmetic_1.json
Labels: feature: GUI, game: Metroid: Samus Returns

#6522 Dread/slope climb
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#6566 AM2R: long beam logic adjustments
  CHANGELOG.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#6571 acount for new patcher changes in waterway
  randovania/games/fusion/assets/maps/Sector 428.png
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#6572 MSR - A3 Metroid Caverns Logic Fix
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6578 MSR: exclude a3 mc door from being wave
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6577 Dolphin connector: nicer error messages
  CHANGELOG.md
  randovania/game_connection/executor/dolphin_executor.py
  test/game_connection/executor/test_dolphin_executor.py
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, feature: Multiworld

#6579 Bump MEDS + OSRR
  pyproject.toml
  randovania/games/samus_returns/exporter/game_exporter.py
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6581 MSR - UI Fixes
  randovania/games/samus_returns/gui/preset_settings/msr_teleporters_tab.py
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6584 Randomprime v1.23.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid Prime 1

#6589 Dread: slightly improve export window
  CHANGELOG.md
  randovania/gui/ui_files/dread_game_export_dialog.ui
Labels: game: Metroid Dread, feature: GUI

#6593 fix typo in energy configuration
  CHANGELOG.md
  randovania/gui/ui_files/preset_patcher_energy.ui
Labels: game: Metroid Prime 2 Echoes, feature: GUI

#6462 Prime: Logic Fixes and Root Cave Additions
  CHANGELOG.md
  randovania/games/prime1/logic_database/Impact Crater.json
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#6565 metroid fusion: Sector 1 trick documentation
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#6588 Implement "Additive" suit damage reduction option
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/bootstrap.py
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/gui/preset_settings/patcher_energy_tab.py
  randovania/gui/ui_files/preset_patcher_energy.ui
  randovania/layout/preset_migration.py
  test/games/prime1/generator/test_prime_bootstrap.py
  test/games/prime1/layout/test_preset_describer.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
Labels: game: Metroid Prime 1, feature: Configuration

#6539 Blank Dev Game: Add room with contraption for progressive items
  randovania/cli/commands/new_game.py
  randovania/games/blank/game_data.py
  randovania/games/blank/logic_database/Intro.json
  randovania/games/blank/logic_database/Intro.txt
  randovania/games/blank/logic_database/header.json
  randovania/games/blank/logic_database/header.txt
  randovania/games/blank/pickup_database/pickup-database.json
  randovania/games/blank/pickup_database/progressive_items.py
  randovania/games/blank/presets/starter_preset.rdvpreset
  test/generator/filler/test_player_state.py
  test/generator/test_dock_weakness_distributor.py
  test/gui/preset_settings/test_item_pool_tab.py
Labels: feature: Database

#6602 Hide playthrough tab for minimal logic
  CHANGELOG.md
  randovania/gui/game_details/game_details_window.py
Labels: feature: GUI

#6592 Bump am2r_yams to 2.4.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/pickup_database/text_data.json
  randovania/layout/preset_migration.py
  requirements.txt
Labels: dependencies, feature: Configuration, game: AM2R

#6600 AM2R: Check for long beam for EMP zone
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
Labels: feature: Database, game: AM2R

#6611 Fix new pickup index logging with wrong world name
  randovania/generator/filler/filler_logging.py
Labels: feature: Generator

#6126 Added .vscode configs + how to use section in README
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
Labels: documentation

#6609 Fix elevator two-way shuffle (for MSR)
  CHANGELOG.md
  randovania/generator/teleporter_distributor.py
Labels: bug, feature: Core

#6610 Locked door: check if you can escape back
  CHANGELOG.md
  randovania/generator/dock_weakness_distributor.py
Labels: feature: Generator, feature: Core

#6378 Updated Echoes database for new patcher integration
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Great Temple.json
  randovania/games/prime2/logic_database/Great Temple.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6580 Dread: Improve wording of text under environmental damage in preset energy tab
  CHANGELOG.md
  randovania/games/dread/gui/ui_files/preset_dread_energy.ui
Labels: game: Metroid Dread, feature: GUI

#6614 Readd games as DEVELOPMENT status
  README.md
  randovania/cli/commands/new_game.py
  randovania/games/fusion/game_data.py
  randovania/games/game.py
  randovania/games/prime3/game_data.py
  randovania/games/super_metroid/game_data.py
Labels: feature: GUI

#6622 AM2R: adjust missile-less metroid requirements without long beam
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#6623 Bump am2r_yams to 2.5.0
  CHANGELOG.md
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  requirements.txt
Labels: feature: Database, dependencies, game: AM2R

#6625 Dread: Add missing changelog status and sort entries based on status
  CHANGELOG.md
Labels: game: Metroid Dread

#6626 update rdv terminology in changelog
  CHANGELOG.md
Labels: game: Metroid Prime 1

#6624 Bump CSR to 2.4.0
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: Cave Story

#6629 MP3: starter preset enables progressive beams and missiles
  randovania/games/prime3/presets/starter_preset.rdvpreset
Labels: game: Metroid Prime 3 Corruption

#6628 MP3: fix duplicate progressive item message in preset describer
  randovania/games/prime3/layout/preset_describer.py
Labels: game: Metroid Prime 3 Corruption

#6630 MP3: remove spring ball trick for skytown aurora chamber
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.json
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#6637 Factorio: Bump to 0.3.2
  requirements.txt
Labels: game: Factorio

#6638 Update Root Cave NSJ climb in Changelog
  CHANGELOG.md
Labels: game: Metroid Prime 1

#6639 Fix lock/open override being ignored when looking for uses
  CHANGELOG.md
  randovania/game_description/game_description.py
  randovania/game_description/pretty_print.py
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
  randovania/gui/data_editor.py
  randovania/gui/dialog/trick_details_popup.py
Labels: feature: GUI

#6641 Factorio Updates
  pyproject.toml
  randovania/games/factorio/assets/recipes-raw.json
  randovania/games/factorio/assets/techs-raw.json
  randovania/games/factorio/data_importer/data_parser.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/generator/base_patches_factory.py
  randovania/games/factorio/generator/bootstrap.py
  randovania/games/factorio/generator/complexity.py
  randovania/games/factorio/generator/recipes.py
  randovania/games/factorio/logic_database/Tech.json
  randovania/games/factorio/logic_database/Tech.txt
  randovania/games/factorio/logic_database/header.json
  randovania/games/factorio/logic_database/header.txt
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/factorio/presets/starter_preset.rdvpreset
  requirements.txt
  test/test_files/log_files/factorio/starter_preset.rdvgame
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
  tools/factorio/create_nodes.py
  tools/factorio/create_resources.py
  tools/factorio/util.py
Labels: game: Factorio

#6650 Update CHANGELOG.md
  CHANGELOG.md
Labels: game: Metroid Prime 1

#6656 Add more monitoring
  randovania/games/am2r/exporter/game_exporter.py
  randovania/games/prime1/exporter/game_exporter.py
  randovania/lib/ftp_uploader.py
Labels: feature: Core
