Repository randovania/randovania, pull requests merged in 2024-04, with the labels that each got.

#6275 MSR: use templates over direct resources
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6276 SM: Fix a HBJ
  randovania/games/super_metroid/logic_database/Wrecked Ship.json
  randovania/games/super_metroid/logic_database/Wrecked Ship.txt
Labels: feature: Database, game: Super Metroid

#6274 Fusion: explicitly use freezing template as well for screw shaft
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#6273 AM2R: Don't expect to IBJ with PBs
  CHANGELOG.md
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
Labels: feature: Database, game: AM2R

#6269 Resolver: Remove filter on interesting resources
  CHANGELOG.md
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
Labels: feature: Generator

#6266 Fix #5520
  CHANGELOG.md
  randovania/gui/main_window.py
Labels: feature: GUI

#6283 MSR - Rebalance Ridley to be better
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6268 Dread MW: fix mypy errors
  randovania/game_connection/builder/dread_connector_builder.py
  randovania/game_connection/connector/dread_remote_connector.py
  randovania/game_connection/executor/dread_executor.py
Labels: game: Metroid Dread

#6281 MSR: A3 interior
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6263 Cave Story: make explosive vanilla on bad ending
  CHANGELOG.md
  randovania/games/cave_story/gui/preset_settings/cs_item_pool_tab.py
Labels: game: Cave Story

#6292 MSR: A4 CC
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6277 MF: Zoro zig zag rework
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#6296 MSR: a5 interior
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6278 msr: a2 exterior
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6280 msr: a3 ext
  randovania/games/samus_returns/assets/maps/Area 3 - Factory Exterior.png
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6291 MSR: a3 MC
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6295 MSR: A4 CM
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6297 MSR: A5 lobby
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6300 MSR: a8
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6235 MF: clear todos
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#5092 SM: Allow negative ammo
  randovania/games/super_metroid/pickup_database/pickup-database.json
Labels: game: Super Metroid, feature: GUI

#6302 MSR: A7
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6303 MSR: A5 exterior
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6304 MSR: A6
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6307 MSR: add more joke hint
  randovania/games/samus_returns/exporter/joke_hints.py
Labels: game: Metroid: Samus Returns

#6294 Add field in rdvgames that overrides Patch Data Factory output
  pyproject.toml
  randovania/exporter/patch_data_factory.py
  randovania/game_description/game_patches.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/blank/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime3/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/super_metroid/exporter/patch_data_factory.py
  randovania/layout/game_patches_serializer.py
  requirements.txt
  test/games/test_log_file_export.py
  test/test_files/log_files/dread/custom_patcher_data.rdvgame
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
Labels: dependencies, feature: Configuration, feature: Core

#6305 MSR - Rename misspelled A4 room
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Database, game: Metroid: Samus Returns

#6308 MSR: fix spider boost hint
  randovania/games/samus_returns/exporter/joke_hints.py
Labels: game: Metroid: Samus Returns

#6310 MSR: revise templates
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6311 MSR: revise some UI
  randovania/games/samus_returns/game_data.py
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6312 MSR - Fix todos a1-a3
  randovania/games/samus_returns/assets/maps/Area 3 - Metroid Caverns.png
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 - Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 - Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6315 MSR - Rename Freeze Template
  randovania/games/samus_returns/assets/maps/Area 4 - Central Caves.png
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 - Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 - Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 - Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Surface - East.txt
  randovania/games/samus_returns/logic_database/Surface - West.json
  randovania/games/samus_returns/logic_database/Surface - West.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6316 MSR: revise trick descriptions
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6314 MSR: more ui changes
  randovania/games/samus_returns/layout/preset_describer.py
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  randovania/gui/ui_files/preset_msr_goal.ui
  randovania/gui/ui_files/preset_msr_patches.ui
  test/games/samus_returns/layout/test_msr_describer.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6317 MSR: remove export tooltip
  randovania/gui/ui_files/msr_game_export_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6318 MSR: fix color boxes not resetting to default
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6319 MSR: charge door -> charge beam door
  randovania/games/samus_returns/layout/preset_describer.py
  test/games/samus_returns/layout/test_msr_describer.py
Labels: feature: GUI, game: Metroid: Samus Returns

#6320 MSR - Todo fixes a4-a7
  randovania/games/samus_returns/assets/maps/Area 4 - Crystal Mines.png
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 - Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6321 MSR: rename 2 pickup nodes
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/log_files/samus_returns/vanilla_game.rdvgame
Labels: feature: Database, game: Metroid: Samus Returns

#6322 MSR - FIx Todos a5, a8, surface
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 - Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface - East.json
  randovania/games/samus_returns/logic_database/Surface - East.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6323 MSR: toggle grapple option.
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  test/games/samus_returns/layout/test_msr_describer.py
Labels: feature: Configuration, game: Metroid: Samus Returns

#6324 MSR - Remove hyphen from region names
  randovania/games/samus_returns/assets/maps/Area 2 Dam Entryway.png
  randovania/games/samus_returns/assets/maps/Area 2 Dam Exterior.png
  randovania/games/samus_returns/assets/maps/Area 2 Dam Interior.png
  randovania/games/samus_returns/assets/maps/Area 3 Factory Exterior.png
  randovania/games/samus_returns/assets/maps/Area 3 Factory Interior.png
  randovania/games/samus_returns/assets/maps/Area 3 Metroid Caverns.png
  randovania/games/samus_returns/assets/maps/Area 4 Central Caves.png
  randovania/games/samus_returns/assets/maps/Area 4 Crystal Mines.png
  randovania/games/samus_returns/assets/maps/Area 5 Tower Exterior.png
  randovania/games/samus_returns/assets/maps/Area 5 Tower Interior.png
  randovania/games/samus_returns/assets/maps/Area 5 Tower Lobby.png
  randovania/games/samus_returns/assets/maps/Surface East.png
  randovania/games/samus_returns/assets/maps/Surface West.png
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/presets/starter_preset.rdvpreset
  test/games/samus_returns/layout/test_msr_describer.py
  test/test_files/log_files/samus_returns/start_inventory.rdvgame
  test/test_files/log_files/samus_returns/starter_preset.rdvgame
  test/test_files/log_files/samus_returns/vanilla_game.rdvgame
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Database, game: Metroid: Samus Returns

#6313 Bump osrr to 1.1.0
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6327 MSR: get rid of unnecessary templates
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/games/samus_returns/logic_database/header.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6334 MSR - Update Minimum Logic
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6337 MSR: fix full random models+text crashing, and future proof memo data
  randovania/games/samus_returns/exporter/patch_data_factory.py
Labels: game: Metroid: Samus Returns

#6338 MSR - Support Negative Ammo
  randovania/games/samus_returns/exporter/joke_hints.py
  randovania/games/samus_returns/pickup_database/pickup-database.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#6333 Map Tracker: always show accessible nodes
  CHANGELOG.md
  randovania/gui/tracker_window.py
Labels: feature: GUI

#6340 Update trick_details_popup.ui to allow Trick Details window to be resized freely
  randovania/gui/ui_files/trick_details_popup.ui
Labels: feature: GUI

#6336 Update the Hints Location text for MSR and Dread to not reference Echoes
  CHANGELOG.md
  randovania/gui/ui_files/games_tab_dread_widget.ui
  randovania/gui/ui_files/games_tab_samusreturns_widget.ui
Labels: game: Metroid Dread, feature: GUI, game: Metroid: Samus Returns

#6330 Better cases to show fallback when trying to open directory on Unix
  CHANGELOG.md
  randovania/gui/lib/common_qt_lib.py
Labels: feature: GUI

#6346 MSR - More A3 TODOs
  randovania/games/samus_returns/assets/maps/Area 3 Metroid Caverns.png
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6347 MSR - Actually fix the joke hints
  randovania/games/samus_returns/exporter/joke_hints.py
Labels: game: Metroid: Samus Returns

#6352 Remove wrong Dread FAQ entry
  CHANGELOG.md
  randovania/games/dread/game_data.py
Labels: game: Metroid Dread

#6350 Make it possible to highlight node in map tracker
  CHANGELOG.md
  randovania/gui/tracker_window.py
Labels: feature: GUI

#6354 Move hashes into GameData
  randovania/games/am2r/game_data.py
  randovania/games/am2r/hash_words.py
  randovania/games/blank/game_data.py
  randovania/games/blank/hash_words.py
  randovania/games/cave_story/game_data.py
  randovania/games/cave_story/hash_words.py
  randovania/games/dread/game_data.py
  randovania/games/dread/hash_words.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/hash_words.py
  randovania/games/game.py
  randovania/games/prime1/assets/hash_words.json
  randovania/games/prime1/game_data.py
  randovania/games/prime1/hash_words.py
  randovania/games/prime2/game_data.py
  randovania/games/prime2/hash_words.py
  randovania/games/prime3/game_data.py
  randovania/games/samus_returns/assets/hash_words.json
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/hash_words.py
  randovania/games/super_metroid/game_data.py
  test/games/test_hashes.py
Labels: feature: Core

#6329 MF: More room renames
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6360 MSR - Minor TODOs for A1 and A2
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6285 Update Prime FAQ with non-Superheated Rooms in Magmoor info
  CHANGELOG.md
  randovania/games/prime1/game_data.py
Labels: game: Metroid Prime 1

#6369 MSR: use knowlege intermediate for some triggers
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6363 Kago Room rework
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#6335 Add MSR to stable
  CHANGELOG.md
  README.md
  randovania/games/samus_returns/game_data.py
Labels: game: Metroid: Samus Returns

#6368 MSR: diggernaut PB faq
  randovania/games/samus_returns/game_data.py
Labels: game: Metroid: Samus Returns

#6353 CS: Fix king's third ear
  CHANGELOG.md
  randovania/games/cave_story/assets/mychar/King.bmp
Labels: game: Cave Story

#6376 MSR: some small comments to A7 Teleporter West
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6374 MSR: slightly clean up diggernaut
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6351 AM2R: rename expansions to tanks
  CHANGELOG.md
  pyproject.toml
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/am2r/layout/preset_describer.py
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/pickup_database/text_data.json
  randovania/layout/description_migration.py
  randovania/layout/preset_migration.py
  requirements.txt
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/shiny_pickups_dict_from_starter_preset.json
Labels: feature: Configuration, game: AM2R

#6370 MP1: add wall boost method for Biotech Research Area 2
  CHANGELOG.md
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
Labels: feature: Database, game: Metroid Prime 1

#6392 AM2R: Fix tank rename in MW
  randovania/game_connection/connector/am2r_remote_connector.py
  test/game_connection/connector/test_am2r_remote_connector.py
Labels: feature: Multiworld, game: AM2R

#6383 Prime: Main Plaza adjustment
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#6393 AM2R: Fix tank rename migration for MW games
  randovania/layout/description_migration.py
  test/games/test_log_file_export.py
  test/layout/test_layout_description.py
  test/test_files/log_files/multi-am2r+cs+dread+prime1+prime2.rdvgame
  test/test_files/log_files/multi-cs+dread+prime1+prime2.rdvgame
  test/test_files/log_files/multi-oldechoes.rdvgame
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/blank/multi-am2r+cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/blank/multi-am2r+cs+dread+prime1+prime2/world_5.json
  test/test_files/patcher_data/blank/multi-cs+dread+prime1+prime2/world_5.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/cave_story/multi-am2r+cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/cave_story/multi-cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
Labels: game: AM2R

#6381 Fusion: powamp palace dmg run
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#6394 Require Missiles fireable for dmg templates
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#6389 MP1: add in two sloped R-Jumps
  CHANGELOG.md
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#6397 Bump OSRR
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6396 MF: serris escape rework
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#6401 MSR - Even More DB TODOs
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6402 MSR - Add even more joke hints
  randovania/games/samus_returns/exporter/joke_hints.py
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid: Samus Returns

#6403 MSR - Clean up Freeze Template Usages
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6404 MSR - DB TODOs Final
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#6250 Replace configurable_node in GamePatches with game_specific
  randovania/cli/commands/new_game.py
  randovania/game_description/assignment.py
  randovania/game_description/db/configurable_node.py
  randovania/game_description/db/node_provider.py
  randovania/game_description/db/region_list.py
  randovania/game_description/game_patches.py
  randovania/games/dread/generator/base_patches_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/prime2/generator/base_patches_factory.py
  randovania/games/prime2/generator/bootstrap.py
  randovania/games/prime2/gui/translator_gate_details_tab.py
  randovania/generator/base_patches_factory.py
  randovania/gui/tracker_window.py
  randovania/layout/description_migration.py
  randovania/layout/game_patches_serializer.py
  randovania/resolver/bootstrap.py
  test/games/prime2/generator/test_echoes_base_patches_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/generator/test_base_patches_factory.py
  test/generator/test_generator_reach.py
  test/gui/test_tracker_window.py
  test/layout/test_game_patches_serializer.py
  test/resolver/test_bootstrap.py
  test/server/multiplayer/test_session_admin.py
  test/server/test_database.py
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: feature: Core

#6407 AM2R: Zip via Missiles is expert.
  CHANGELOG.md
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#6406 AM2R: fix inner alpha nest south missile logic
  CHANGELOG.md
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
Labels: feature: Database, game: AM2R

#6409 Dread: Fix DNA slider
  CHANGELOG.md
  randovania/games/dread/gui/preset_settings/dread_goal_tab.py
Labels: game: Metroid Dread, feature: GUI

#6410 MSR: clarify cosmetic aim colors
  randovania/gui/ui_files/msr_cosmetic_patches_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6411 MSR: Bump HJ jump in a5 interior save
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6224 Prime: Add power beam only doors to DLR
  CHANGELOG.md
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#6380 Cave Story: Revise Sand Zone
  CHANGELOG.md
  randovania/games/cave_story/logic_database/Sand Zone.json
  randovania/games/cave_story/logic_database/Sand Zone.txt
Labels: feature: Database, game: Cave Story

#6416 Improve Cave Story documentation
  randovania/games/cave_story/logic_database/Grasstown.json
  randovania/games/cave_story/logic_database/Grasstown.txt
  randovania/games/cave_story/logic_database/Last Cave.json
  randovania/games/cave_story/logic_database/Last Cave.txt
  randovania/games/cave_story/logic_database/Plantation.json
  randovania/games/cave_story/logic_database/Plantation.txt
  randovania/games/cave_story/logic_database/Ruined Egg Corridor.json
  randovania/games/cave_story/logic_database/Ruined Egg Corridor.txt
  randovania/games/cave_story/logic_database/Sand Zone.json
  randovania/games/cave_story/logic_database/Sand Zone.txt
  randovania/games/cave_story/logic_database/header.json
Labels: feature: Database, game: Cave Story

#6372 Prime 2: Normal Door Requirements
  CHANGELOG.md
  randovania/games/prime2/logic_database/header.json
  randovania/games/prime2/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6358 Prime 2: Central Mining Station logic adjustment
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6427 Bump OSRR to v1.2.0
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#6422 Dread: Add Pseudo Wave Beam to break Blob above Blue teleportal in Cataris
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#6428 Dread: Add missing heat room requirements to pseudo at blue teleport
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#6418 Dread: Add ryujinx export to linux and macos
  CHANGELOG.md
  randovania/games/dread/exporter/game_exporter.py
  randovania/games/dread/exporter/options.py
  randovania/games/dread/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/dread_game_export_dialog.ui
  randovania/interface_common/persisted_options.py
  test/games/dread/gui/test_dread_game_export_dialog.py
Labels: game: Metroid Dread, feature: GUI

#6434 Bump open-dread-rando from 2.9.0 to 2.10.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid Dread

#6435 Prime3: Add Landing Site quick fill option
  randovania/games/prime3/gui/preset_settings/__init__.py
  randovania/games/prime3/gui/preset_settings/corruption_starting_area_tab.py
  randovania/games/prime3/logic_database/Norion.json
  randovania/games/prime3/logic_database/Norion.txt
Labels: game: Metroid Prime 3 Corruption, feature: GUI

#6432 Echoes - Add missing requirements to MSB connection
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#6446 MSR: show reminder to enable game patching on 3ds
  randovania/games/samus_returns/gui/dialog/game_export_dialog.py
  randovania/gui/ui_files/msr_game_export_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6447 Dread: fix drive letter typo
  CHANGELOG.md
  randovania/gui/ui_files/dread_game_export_dialog.ui
Labels: game: Metroid Dread, feature: GUI

#6433 Sector Connection tweaks
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6448 add HJ to AQA security access
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#6449 MF: Remove logical redundancy in NOC entrance lobby
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#6460 MSR - Improve text on export window and fix spacing
  randovania/gui/ui_files/msr_game_export_dialog.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#6461 MSR - Lower Damage Boost trick in Crystal Mines to Advanced
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
Labels: feature: Database, game: Metroid: Samus Returns

#6455 CS: remove health reqs for omega and curly
  CHANGELOG.md
  randovania/games/cave_story/logic_database/Sand Zone.json
  randovania/games/cave_story/logic_database/Sand Zone.txt
Labels: feature: Database, game: Cave Story

#6464 Update OSRR to 1.2.2
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns
