Repository randovania/randovania, pull requests merged in 2024-08, with the labels that each got.

#7028 Fix frigate orpheon ship being immedately usable
  CHANGELOG.md
  randovania/games/prime1/logic_database/Frigate Orpheon.json
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 1

#6940 Pure asyncio timers for InfiniteTimer
  randovania/lib/infinite_timer.py
  test/lib/test_infinite_timer.py
Labels: enhancement

#7005 Item Position Rando Fixes
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
Labels: game: Metroid Prime 1

#7037 Dread: Use lock override on door in Artaria with both Super and Charge
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#7038 MSR - A6 Crumbling Stairwell Door Exclusion
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7048 AM2R: DB changes for future region rando
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#7064 Dread: Revise connection to Missile Tank in Space Jump Room
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#7080 MSR: make GUI stuff more consistent
  randovania/games/samus_returns/gui/ui_files/preset_msr_aeion.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_energy.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_goal.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_hints.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_patches.ui
  randovania/games/samus_returns/gui/ui_files/preset_msr_reserves.ui
  randovania/games/samus_returns/gui/ui_files/preset_teleporters_msr.ui
Labels: feature: GUI, game: Metroid: Samus Returns

#7081 AM2R: make spacing consistent
  randovania/games/am2r/gui/ui_files/preset_am2r_chaos.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_energy.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_goal.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_hints.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_patches.ui
  randovania/games/am2r/gui/ui_files/preset_teleporters_am2r.ui
Labels: feature: GUI, game: AM2R

#7071 Align "last activity" on MW session window
  CHANGELOG.md
  randovania/gui/widgets/multiplayer_session_users_widget.py
Labels: feature: GUI

#7086 Adjust documentation need for prime/echoes
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime2/logic_database/header.json
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes

#7057 [DREAD] Freesink game modification
  CHANGELOG.md
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/dread_patches_chaos.py
  randovania/games/dread/gui/ui_files/preset_dread_chaos.ui
  randovania/games/dread/layout/dread_configuration.py
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
Labels: game: Metroid Dread

#7108 MSR - Area 3 MC Gravitt Garden Fix
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7110 AM2R: fix DR for more suits than vanilla
  CHANGELOG.md
  randovania/games/am2r/generator/bootstrap.py
Labels: feature: Configuration, game: AM2R

#7111 Reorganize AM2Rs preset tabs
  CHANGELOG.md
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_chaos_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_dock_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_gameplay_tab.py
  randovania/games/am2r/gui/preset_settings/am2r_room_design_tab.py
  randovania/games/am2r/gui/ui_files/preset_am2r_chaos.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_gameplay.ui
  randovania/games/am2r/gui/ui_files/preset_am2r_room_design.ui
  randovania/games/am2r/layout/am2r_configuration.py
  test/games/am2r/gui/preset_settings/test_am2r_chaos_tab.py
  test/games/am2r/gui/preset_settings/test_preset_am2r_energy.py
  test/games/am2r/gui/preset_settings/test_preset_am2r_gameplay.py
  test/games/am2r/gui/preset_settings/test_preset_am2r_room_design.py
  test/games/am2r/layout/test_am2r_configuration.py
Labels: feature: GUI, game: AM2R

#7117 Bump OSRR to 2.5.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#7068 Planets (Zebeth): Implemented patch data factory
  randovania/games/planets_zebeth/exporter/hint_namer.py
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/logic_database/Kraid.json
  randovania/games/planets_zebeth/logic_database/Kraid.txt
  randovania/games/planets_zebeth/pickup_database/item_data.json
  test/games/test_log_file_export.py
  test/test_files/log_files/planets_zebeth/starter_preset.rdvgame
  test/test_files/log_files/planets_zebeth/starter_preset_shuffle_keys.rdvgame
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset/world_1.json
  test/test_files/patcher_data/planets_zebeth/planets_zebeth/starter_preset_shuffle_keys/world_1.json
Labels: game: Metroid Planets

#7119 MSR: Add cosmetic option to change volume of music and ambience
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/interface_common/persisted_options.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/custom_required_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/cosmetic_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: GUI, game: Metroid: Samus Returns

#7121 Randomprime v1.27.0
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid Prime 1

#7122 fusion: Add trick documentation and logic
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7123 fusion: Document tricks and logic in Sector 2
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7124 Fusion: a few main deck changes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7126 Dread: Logic changes about the blob above blue tp in cataris
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#7133 Bump am2r_yams to 2.8.0-rc4
  CHANGELOG.md
  requirements.txt
Labels: dependencies, game: AM2R

#7136 AM2R: address preset feedback
  randovania/games/am2r/gui/preset_settings/__init__.py
  randovania/games/am2r/gui/preset_settings/am2r_room_design_tab.py
Labels: feature: GUI, game: AM2R

#7137 Cave Story: remove mention of 100% objective
  CHANGELOG.md
  randovania/games/cave_story/gui/ui_files/preset_cs_objective.ui
Labels: game: Cave Story, feature: GUI

#7142 fusion: Add sector 3 trick documentation
  randovania/games/fusion/assets/maps/Sector 35.png
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7146 start clearing AQA notes
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7144 Lava lake: consolidate damage run requirements
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7143 Main deck: Add missing damage boost to a pirate
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7150 More AQA fixes
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7148 Fusion: Slightly better reqs for zebesian zig/zag
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7151 Fusion: Revise Ripper Maze
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion
