Repository randovania/randovania, pull requests merged in 2025-02, with the labels that each got.

#7788 Fusion Main Deck: Get rid of last todos
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7800 Fusion: knowledge for making hatch gone
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7799 fix grand court path
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.json
  randovania/games/prime3/logic_database/Bryyo - Reptilicus.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7789 MSR - Add missing Area 8 theme to music shuffle list
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
Labels: game: Metroid: Samus Returns

#7795 Fusion: Add new destroyed door type
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7794 Fusion: revamp S1 and fix todos
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7810 MSR - Fix incorrect spawn in A5 Exterior Zeta Area Access
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7804 Dread: Make events in Screw Attack Room non dangerous
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#7815 Echoes: Add area features
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Great Temple.json
  randovania/games/prime2/logic_database/Great Temple.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7816 Fusion: Final Main Deck Changes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7821 Fusion: Sector 3 revamp
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7822 small fixes to echoes features
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7819 fusion: sector 2 video documentation and logic update
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7831 Reorder fusion goal bosses
  randovania/games/fusion/gui/ui_files/preset_fusion_goal.ui
Labels: feature: GUI, game: Metroid Fusion

#7837 Fusion: Bump habitation entrance NHJ trick
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7840 fix dread hints being able to point to DNA
  randovania/games/dread/generator/hint_distributor.py
Labels: game: Metroid Dread

#7839 Rebalances keybearer hints
  CHANGELOG.md
  randovania/cli/commands/new_game.py
  randovania/exporter/hints/hint_exporter.py
  randovania/exporter/hints/hint_namer.py
  randovania/exporter/hints/pickup_hint.py
  randovania/game_description/hint.py
  randovania/game_description/hint_features.py
  randovania/game_description/pickup/pickup_database.py
  randovania/game_description/pickup/pickup_definition/base_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/game_description/pickup/pickup_migration.py
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/blank/pickup_database/pickup-database.json
  randovania/games/cave_story/assets/migration_data.json
  randovania/games/cave_story/generator/hint_distributor.py
  randovania/games/cave_story/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/planets_zebeth/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/generator/hint_distributor.py
  randovania/games/prime2/gui/ui_files/games_tab_echoes_widget.ui
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/prime3/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/games/super_metroid/pickup_database/pickup-database.json
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/generator/pickup_pool/pickup_creator.py
  randovania/gui/preset_settings/item_pool_tab.py
  randovania/layout/base/standard_pickup_configuration.py
  randovania/layout/description_migration.py
  randovania/network_common/pickup_serializer.py
  test/conftest.py
  test/games/prime/patcher_file_lib/test_item_hints.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/generator/filler/test_runner.py
  test/generator/pickup_pool/test_pickup_creator.py
  test/generator/test_generator.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_world_api.py
Labels: game: Metroid Prime 2 Echoes

#7843 Fusion: Add s3 videos
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7846 add Light Beam Transport hint feature
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Great Temple.json
  randovania/games/prime2/logic_database/Great Temple.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7850 add Screw Attack Wall hint feature
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7851 Fusion: Support custom room names
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7854 fix a couple keybearer hints
  randovania/games/prime2/pickup_database/pickup-database.json
  test/games/prime2/generator/test_echoes_hint_distributor.py
Labels: game: Metroid Prime 2 Echoes

#7857 Fix MSR hints pointing to DNA
  randovania/games/samus_returns/generator/hint_distributor.py
Labels: game: Metroid: Samus Returns

#7842 Fusion: update a few images
  randovania/games/fusion/assets/maps/Sector 232.png
  randovania/games/fusion/assets/maps/Sector 438.png
  randovania/games/fusion/assets/maps/Sector 616.png
Labels: feature: Database, game: Metroid Fusion

#7849 Fusion: Sector 6 revisit
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7861 Fusion: Sector 5 revamp
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7866 MSR - Add DNA Chozo Seals to the maps
  randovania/games/samus_returns/assets/maps/Area 1.png
  randovania/games/samus_returns/assets/maps/Area 2 Dam Exterior.png
  randovania/games/samus_returns/assets/maps/Area 3 Metroid Caverns.png
  randovania/games/samus_returns/assets/maps/Area 4 Crystal Mines.png
  randovania/games/samus_returns/assets/maps/Area 5 Tower Exterior.png
  randovania/games/samus_returns/assets/maps/Area 6.png
  randovania/games/samus_returns/assets/maps/Area 7.png
  randovania/games/samus_returns/assets/maps/Area 8.png
  randovania/games/samus_returns/assets/maps/Surface West.png
Labels: feature: GUI, game: Metroid: Samus Returns

#7878 MSR - Update game_data.py to reference using decrypted copy
  randovania/games/samus_returns/game_data.py
Labels: game: Metroid: Samus Returns

#7868 Fix for spaces in path on windows, fix for linux commands, add necessary step to readme
  .vscode/tasks.json
  README.md
Labels: bug, documentation

#7863 A couple quick fixes to hint distribution
  randovania/generator/filler/player_state.py
  randovania/generator/hint_distributor.py
  test/generator/filler/test_runner.py
Labels: feature: Generator

#7883 MSR - Fix spawns in DB
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7867 Fusion: Fix mini fridge todo
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7885 Fusion: Sector 4 revamp
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7797 Slope jump for furnace a buddy of mine found
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#7895 Fusion: Sa-x revamp
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7897 Fusion: fix drain pipe
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7886 Fusion: revamp pump control
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7896 Main Deck Room Renames
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  test/test_files/log_files/fusion/short_intro.rdvgame
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Database, game: Metroid Fusion

#7870 Dread: Shinespark logic in Screw Attack Room
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#7912 Fix some logic involving heated rooms in Cataris
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
Labels: feature: Database, game: Metroid Dread

#7910 new joke hint
  randovania/exporter/hints/joke_hints.py
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/world_2.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
  test/test_files/patcher_data/prime2/prime1_and_2_multi/world_2.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
Labels: game: Metroid Prime 2 Echoes

#7914 Fusion: hide DLR tab
  randovania/games/fusion/gui/preset_settings/__init__.py
Labels: game: Metroid Fusion

#7903 prime: make artifacts less interesting
  randovania/games/prime1/hint_distributor.py
Labels: game: Metroid Prime 1

#7899 Dread/strengthen spin boost requirements
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
Labels: feature: Database, game: Metroid Dread

#7924 MSR - Force enable `enable_remote_lua` when exporting
  CHANGELOG.md
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/games/samus_returns/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/games/samus_returns/layout/msr_cosmetic_patches.py
  randovania/interface_common/persisted_options.py
  test/games/samus_returns/gui/dialog/test_msr_cosmetic_patches_dialog.py
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/cosmetic_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/queen_boss_custom_required_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Configuration, game: Metroid: Samus Returns

#7926 Echoes - Remove Echo Lock Feature from CATW
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7943 Fusion: starter preset 4 infant metroids
  randovania/games/fusion/presets/starter_preset.rdvpreset
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7920 Update Dread Starter Preset Description
  CHANGELOG.md
  randovania/games/dread/presets/starter_preset.rdvpreset
Labels: game: Metroid Dread

#7946 Move Co-Op into stable
  CHANGELOG.md
  randovania/gui/multiplayer_session_window.py
Labels: feature: Multiworld

#7778 MSR - Fix A5 Grapple Shuffler Logic
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
  randovania/games/samus_returns/logic_database/header.json
Labels: feature: Database, game: Metroid: Samus Returns

#7921 Update Database Format.md node image to match description
  docs/img/redundant_mesh.png
Labels: documentation

#7925 Dread - Fix GUI Formatting
  CHANGELOG.md
  randovania/games/dread/gui/ui_files/games_tab_dread_widget.ui
Labels: game: Metroid Dread, feature: GUI

#7949 Change "Light Beam Transport" to "Light Energy Transport"
  randovania/games/prime2/game_data.py
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Great Temple.json
  randovania/games/prime2/logic_database/Great Temple.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
Labels: game: Metroid Prime 2 Echoes

#7953 MSR - Make tanks less interesting to hint
  randovania/games/samus_returns/generator/hint_distributor.py
Labels: game: Metroid: Samus Returns

#7954 MSR - Rename/Fix Gamma Arena in Area 4 Crystal Mines
  CHANGELOG.md
  randovania/games/samus_returns/assets/migration_data.json
  randovania/games/samus_returns/generator/bootstrap.py
  randovania/games/samus_returns/generator/pool_creator.py
  randovania/games/samus_returns/gui/preset_settings/msr_goal_tab.py
  randovania/games/samus_returns/gui/ui_files/preset_msr_goal.ui
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/header.json
  randovania/layout/description_migration.py
  test/games/samus_returns/generator/test_msr_bootstrap.py
  test/games/samus_returns/generator/test_msr_pool_creator.py
  test/games/samus_returns/gui/preset_settings/test_msr_goal_tab.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_7.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/queen_boss_custom_required_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: feature: Database, game: Metroid: Samus Returns

#7956 Fix missing space after end of sentence
  randovania/games/cave_story/game_data.py
Labels: game: Cave Story

#7952 Echoes: phazon location feature update
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/header.json
Labels: game: Metroid Prime 2 Echoes

#7955 Fusion faqs/diff update
  randovania/games/fusion/game_data.py
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
Labels: game: Metroid Fusion

#7958 Fix prime hint migration
  randovania/games/prime1/assets/migration_data.json
Labels: game: Metroid Prime 1

#7965 fusion: add option to reveal hidden blocks
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#7967 fusion differences wording
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
Labels: feature: GUI, game: Metroid Fusion

#7970 Fusion: Merge Energy and Other into Gameplay tab
  randovania/games/fusion/gui/preset_settings/__init__.py
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
Labels: feature: GUI, game: Metroid Fusion

#7971 fusion: rename misc to keycard
  randovania/games/fusion/assets/migration_data.json
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: game: Metroid Fusion

#7972 Fusion: fix more gui issues
  randovania/games/fusion/gui/ui_files/preset_fusion_goal.ui
  randovania/games/fusion/gui/ui_files/preset_fusion_hints.ui
Labels: game: Metroid Fusion

#7974 Fusion: remove mention of main missiles option from faq
  randovania/games/fusion/game_data.py
Labels: game: Metroid Fusion

#7968 Fusion: add shinies
  randovania/games/fusion/exporter/patch_data_factory.py
  test/games/fusion/exporter/test_fusion_patch_data_factory.py
  test/test_files/patcher_data/fusion/shiny_pickups_dict_from_starter_preset.json
Labels: game: Metroid Fusion

#7979 Fusion: fix skultera typo
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7975 add experimental option to consider unsafe resources for action weights
  CHANGELOG.md
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/runner.py
  randovania/generator/generator_reach.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
  randovania/gui/preset_settings/generation_tab.py
  randovania/gui/ui_files/preset_generation.ui
  randovania/layout/base/base_configuration.py
  randovania/layout/preset_migration.py
  test/generator/conftest.py
  test/generator/filler/test_pickup_list.py
  test/generator/filler/test_player_state.py
  test/generator/test_generator_reach.py
  test/generator/test_retcon_filler_integration.py
  test/layout/test_echoes_configuration.py
  test/layout/test_generator_parameters.py
Labels: feature: Generator, feature: Configuration

#7987 echoes: increase hint action weight
  randovania/games/prime2/game_data.py
Labels: game: Metroid Prime 2 Echoes

#7995 Ignore ruamel for mypy, tweak track_window type hint
  pyproject.toml
  randovania/gui/lib/window_manager.py
Labels: enhancement

#7996 Dlr/fix locked door condition
  CHANGELOG.md
  randovania/generator/dock_weakness_distributor.py
  randovania/gui/main_window.py
Labels: feature: Generator

#8001 Fusion: update room names
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/log_files/fusion/all_hidden_with_nothing.rdvgame
  test/test_files/log_files/fusion/short_intro.rdvgame
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#8003 Revert "echoes: increase hint action weight"
  randovania/games/prime2/game_data.py
Labels: game: Metroid Prime 2 Echoes

#8006 Fusion: Room renames final part
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Database, game: Metroid Fusion

#8007 Fusion: Add some videos
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: feature: Database, game: Metroid Fusion

#8009 fix checkbox for consider unsafe resources not updating
  randovania/gui/preset_settings/generation_tab.py
Labels: feature: GUI

#8010 Fusion: Add more videos
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion
