Repository randovania/randovania, pull requests merged in 2025-01, with the labels that each got.

#7688 Add version to changelog
  CHANGELOG.md
Labels: documentation

#7686 GUI: Reword DLR stuff
  CHANGELOG.md
  randovania/gui/ui_files/preset_dock_rando.ui
  randovania/layout/base/dock_rando_configuration.py
Labels: feature: GUI

#7687 Co op: make clearer why check is disabled during/after gen
  randovania/gui/multiplayer_session_window.py
Labels: feature: Multiworld, feature: GUI

#7693 GUI: change default button in cosmetic dialogs
  CHANGELOG.md
  randovania/games/am2r/gui/ui_files/am2r_cosmetic_patches_dialog.ui
  randovania/games/blank/gui/ui_files/blank_cosmetic_patches_dialog.ui
  randovania/games/cave_story/gui/ui_files/cs_cosmetic_patches_dialog.ui
  randovania/games/dread/gui/ui_files/dread_cosmetic_patches_dialog.ui
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/planets_zebeth/gui/ui_files/planets_zebeth_cosmetic_patches_dialog.ui
  randovania/games/prime1/gui/ui_files/prime_cosmetic_patches_dialog.ui
  randovania/games/prime2/gui/ui_files/echoes_cosmetic_patches_dialog.ui
  randovania/games/prime3/gui/ui_files/corruption_cosmetic_patches_dialog.ui
  randovania/games/samus_returns/gui/ui_files/msr_cosmetic_patches_dialog.ui
  randovania/games/super_metroid/gui/ui_files/super_cosmetic_patches_dialog.ui
Labels: feature: GUI

#7694 GUI: allow focusing ClickableLabel with a keyboard
  CHANGELOG.md
  randovania/gui/lib/clickable_label.py
  randovania/gui/main_window.py
Labels: feature: GUI

#7695 Allow coop in dev builds
  randovania/gui/multiplayer_session_window.py
Labels: feature: Multiworld

#7676 Added oob logic for Area 4 Central Caves
  CHANGELOG.md
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7700 Spider method of crossing mining facility alpha nest access
  CHANGELOG.md
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: game: AM2R

#7701 Spider method of crossing mining facility gamma nest access
  CHANGELOG.md
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
Labels: feature: Database, game: AM2R

#7708 Fix typo in Dread logic database
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#7707 GUI: remove outermost tab border / spacing around it
  CHANGELOG.md
  randovania/gui/ui_files/main_window.ui
Labels: feature: GUI

#7713 Fix typo in echoes differences
  CHANGELOG.md
  randovania/games/prime2/gui/ui_files/games_tab_echoes_widget.ui
Labels: game: Metroid Prime 2 Echoes

#7715 add word wrap to data visualizer node info
  CHANGELOG.md
  randovania/gui/ui_files/data_editor.ui
Labels: feature: GUI

#7716 Echoes: change double dmg to beam category
  CHANGELOG.md
  randovania/games/prime2/pickup_database/pickup-database.json
Labels: feature: Database, game: Metroid Prime 2 Echoes, feature: Configuration

#7718 Fusion: add recharge stations to force unlock option
  randovania/games/fusion/generator/base_patches_factory.py
  randovania/games/fusion/gui/preset_settings/fusion_dock_tab.py
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/presets/starter_preset.rdvpreset
  test/test_files/log_files/fusion/starter_preset.rdvgame
Labels: feature: Database, feature: GUI, game: Metroid Fusion

#7724 Add data validation and single wall jumping
  randovania/games/fusion/db_integrity.py
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7717 Make Dairon Power Switch 2 non dangerous and keep various other event nodes accessible after the fact
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#7733 Fusion: 2 main deck tweaks
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7738 Fix option to check if base patches is beatable with all pickups
  CHANGELOG.md
  randovania/game_description/game_patches.py
  randovania/generator/generator.py
  randovania/gui/preset_settings/generation_tab.py
Labels: feature: Generator

#7736 Fusion: fix more things
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#7737 Fusion: Revise Omega Metroid
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7735 MSR: Add Database Integrity Checks
  randovania/games/samus_returns/db_integrity.py
  randovania/games/samus_returns/game_data.py
  randovania/games/samus_returns/logic_database/Area 1.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Entryway.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Exterior.txt
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.json
  randovania/games/samus_returns/logic_database/Area 2 Dam Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Exterior.txt
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.json
  randovania/games/samus_returns/logic_database/Area 3 Factory Interior.txt
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.json
  randovania/games/samus_returns/logic_database/Area 3 Metroid Caverns.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.json
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.json
  randovania/games/samus_returns/logic_database/Area 4 Crystal Mines.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Exterior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Interior.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.json
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.json
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Area 7.json
  randovania/games/samus_returns/logic_database/Area 7.txt
  randovania/games/samus_returns/logic_database/Area 8.json
  randovania/games/samus_returns/logic_database/Area 8.txt
  randovania/games/samus_returns/logic_database/Surface East.json
  randovania/games/samus_returns/logic_database/Surface East.txt
Labels: feature: Database, game: Metroid: Samus Returns

#7742 Fusion: properly handle starting energy tanks
  randovania/games/fusion/exporter/patch_data_factory.py
Labels: game: Metroid Fusion

#7752 New Door Type for Prime 3
  randovania/games/prime3/logic_database/GFS Olympus.json
  randovania/games/prime3/logic_database/GFS Olympus.txt
  randovania/games/prime3/logic_database/GFS Valhalla.json
  randovania/games/prime3/logic_database/GFS Valhalla.txt
  randovania/games/prime3/logic_database/Norion.json
  randovania/games/prime3/logic_database/Norion.txt
  randovania/games/prime3/logic_database/Phaaze.json
  randovania/games/prime3/logic_database/Phaaze.txt
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.json
  randovania/games/prime3/logic_database/SkyTown Elysia - Main.txt
  randovania/games/prime3/logic_database/header.json
  randovania/games/prime3/logic_database/header.txt
Labels: feature: Database, game: Metroid Prime 3 Corruption

#7746 Fusion: Ridley revision
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
Labels: feature: Database, game: Metroid Fusion

#7756 Fusion: small logic adjustments
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7757 Fusion: Sector 4 Cleanup part 1
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7767 Generator: Move check if beatable check to after assigning pool results
  randovania/generator/generator.py
Labels: feature: Generator

#7769 Dread/Artaria/White EMMI Introduction magnet grapple
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#7712 Add FAQ entry for energy controller transports
  CHANGELOG.md
  randovania/games/prime2/game_data.py
Labels: game: Metroid Prime 2 Echoes

#7770 Dread: Add preset option to remove all light sources in a region
  CHANGELOG.md
  pyproject.toml
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/dread/gui/preset_settings/__init__.py
  randovania/games/dread/gui/preset_settings/dread_lights_tab.py
  randovania/games/dread/gui/ui_files/preset_dread_lights.ui
  randovania/games/dread/layout/dread_configuration.py
  randovania/layout/preset_migration.py
  test/test_files/log_files/dread/all_settings.rdvgame
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/dread/custom_patcher_data/world_1.json
  test/test_files/patcher_data/dread/dread/custom_start/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_1.json
  test/test_files/patcher_data/dread/dread/dread_dread_multiworld/world_2.json
  test/test_files/patcher_data/dread/dread/elevator_rando/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/dread/starter_preset/world_1.json
  test/test_files/patcher_data/dread/dread_prime1_multiworld/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
Labels: dependencies, game: Metroid Dread, feature: Configuration

#7763 Echoes: Many logic changes
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7760 Echoes: Add Torvus Plaza without Spider/SA
  CHANGELOG.md
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#7764 Fusion: Sector 4 Logic part 2
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#7772 Fusion: Get rid of L0 unlocked event
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#7758 Rework Arachnus logic to remove Generator Workarounds
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7766 Fusion: more small main deck fixes
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#7678 Prime: world coordinates for main regions
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.json
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 1

#7781 Fusion: Rework sector 2 eastern shaft
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7783 Fusion: adds extra door id to smi
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#7785 Bump OSRR to 3.1.1
  CHANGELOG.md
  README.md
  pyproject.toml
  requirements.txt
Labels: dependencies, game: Metroid: Samus Returns

#7780 Add connection dessgeega dorm <-> shadow moses island
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/logic_database/header.txt
Labels: feature: Database, game: Metroid Fusion

#7786 Fusion: remove logic due to power bomb geron
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#7787 Fix incorrect changelog entry for new OSRR
  CHANGELOG.md
Labels: game: Metroid: Samus Returns
