Repository randovania/randovania, pull requests merged in 2025-05, with the labels that each got.

#8263 Fusion: Fixes to Powamp Shaft Logic
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: game: Metroid Fusion

#8255 Fusion: add multiple pickups hint feature
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
Labels: game: Metroid Fusion

#8281 Resolver: Fix resources from wrong node when rolling back dangerous items
  CHANGELOG.md
  randovania/resolver/resolver.py
Labels: feature: Generator

#8269 Hunters - Add Force Field Shuffle to UI
  randovania/games/prime_hunters/game_data.py
  randovania/games/prime_hunters/gui/preset_settings/__init__.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_force_fields_tab.py
  randovania/games/prime_hunters/gui/ui_files/preset_prime_hunters_force_fields.ui
  randovania/games/prime_hunters/layout/preset_describer.py
  test/games/prime_hunters/layout/test_prime_hunters_describer.py
  test/games/test_log_file_export.py
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
Labels: feature: Configuration, feature: GUI, game: Metroid Prime Hunters

#8272 Fix some issues with Logical Pickup Placement
  CHANGELOG.md
  randovania/generator/generator.py
  randovania/generator/pickup_pool/standard_pickup.py
  randovania/resolver/bootstrap.py
  test/generator/test_generator.py
  test/resolver/test_bootstrap.py
Labels: feature: Generator

#8293 Weighted Pre-Placement
  randovania/resolver/bootstrap.py
  test/games/am2r/generator/test_am2r_bootstrap.py
  test/games/fusion/generator/test_fusion_bootstrap.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/samus_returns/generator/test_msr_bootstrap.py
Labels: feature: Generator

#8283 Add Kind to Fusion JSON
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/shiny_pickups_dict_from_starter_preset.json
Labels: game: Metroid Fusion

#8297 Hunters intro text
  randovania/games/prime_hunters/gui/ui_files/games_tab_prime_hunters_widget.ui
Labels: feature: Core, game: Metroid Prime Hunters

#8270 Randomprime v1.29.0
  CHANGELOG.md
  pyproject.toml
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/generator/base_patches_factory.py
  randovania/games/prime1/gui/preset_settings/__init__.py
  randovania/games/prime1/gui/preset_settings/prime_dock_rando_tab.py
  randovania/games/prime1/gui/preset_settings/prime_patches_qol.py
  randovania/games/prime1/gui/ui_files/preset_prime_qol.ui
  randovania/games/prime1/layout/preset_describer.py
  randovania/games/prime1/layout/prime_configuration.py
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/layout/preset_migration.py
  test/games/prime1/layout/test_preset_describer.py
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
  uv.lock
Labels: Patcher, dependencies, game: Metroid Prime 1

#8303 AM2R: Add enemy extra data
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.json
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#8302 Fusion: DB Fix Aquairum Speedway and Kago Storage Requirements
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8286 Dread/adjust hard trick levels
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Burenia.json
  randovania/games/dread/logic_database/Burenia.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/Hanubia.json
  randovania/games/dread/logic_database/Hanubia.txt
  randovania/games/dread/logic_database/Itorash.json
  randovania/games/dread/logic_database/Itorash.txt
  randovania/games/dread/logic_database/header.json
  test/test_files/log_files/dread/crazy_settings.rdvgame
Labels: feature: Database, game: Metroid Dread

#8315 Hints: if specific locations are off, fill with joke hints
  CHANGELOG.md
  randovania/generator/hint_distributor.py
Labels: feature: Hints

#8320 Echoes/add halfpipe to wrg
  CHANGELOG.md
  randovania/games/prime2/logic_database/Sky Temple Grounds.json
  randovania/games/prime2/logic_database/Sky Temple Grounds.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#8307 Echoes: change etanks and mp pickups to interesting
  CHANGELOG.md
  randovania/games/prime2/generator/hint_distributor.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
Labels: game: Metroid Prime 2 Echoes, feature: Hints

#8321 Hunters - Add Starting Octoliths to PDF and Goal Tab
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/gui/preset_settings/__init__.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_goal_tab.py
  randovania/games/prime_hunters/gui/ui_files/preset_prime_hunters_goal.ui
  randovania/games/prime_hunters/layout/preset_describer.py
  test/games/prime_hunters/layout/test_prime_hunters_describer.py
  test/test_files/log_files/prime_hunters/starting_items_with_nothings.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
Labels: feature: Configuration, feature: GUI, game: Metroid Prime Hunters

#8298 Generator: Increase debug level to print reach
  randovania/cli/cli_lib.py
  randovania/generator/filler/filler_logging.py
Labels: feature: Generator, User Experience

#8318 Add button to gate in SRX i forgot
  randovania/games/fusion/assets/maps/Sector 136.png
Labels: feature: Database, game: Metroid Fusion

#8306 Fusion: New locations
  pyproject.toml
  randovania/games/fusion/assets/maps/Main Deck20.png
  randovania/games/fusion/assets/maps/Main Deck46.png
  randovania/games/fusion/assets/maps/Main Deck49.png
  randovania/games/fusion/assets/maps/Main Deck71.png
  randovania/games/fusion/assets/maps/Sector 132.png
  randovania/games/fusion/assets/maps/Sector 232.png
  randovania/games/fusion/assets/maps/Sector 627.png
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/game_data.py
  randovania/games/fusion/generator/bootstrap.py
  randovania/games/fusion/generator/pool_creator.py
  randovania/games/fusion/gui/preset_settings/fusion_goal_tab.py
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
  randovania/games/fusion/gui/ui_files/preset_fusion_goal.ui
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/layout/preset_describer.py
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
  test/games/fusion/generator/test_fusion_bootstrap.py
  test/games/fusion/generator/test_fusion_pool_creator.py
  test/games/fusion/gui/preset_settings/test_preset_fusion_goal.py
  test/games/fusion/layout/test_fusion_configuration.py
  test/games/fusion/layout/test_fusion_describer.py
  test/test_files/log_files/fusion/all_hidden_with_nothing.rdvgame
  test/test_files/log_files/fusion/short_intro.rdvgame
  test/test_files/log_files/fusion/starter_preset.rdvgame
  test/test_files/log_files/fusion/starting_items.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  test/test_files/patcher_data/fusion/shiny_pickups_dict_from_starter_preset.json
  uv.lock
Labels: feature: Database, game: Metroid Fusion

#8324 fusion daily generation to use OSH preset
  .github/workflows/daily-generate.yml
Labels: game: Metroid Fusion

#8325 Fusion: Fix Sub Zero Damage Run Logic
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
Labels: feature: Database, game: Metroid Fusion

#8333 Hunters - Hide requires main option for Missiles from GUI
  randovania/games/prime_hunters/pickup_database/pickup-database.json
Labels: feature: Configuration, feature: GUI, game: Metroid Prime Hunters
