Repository randovania/randovania, pull requests merged in 2025-06, with the labels that each got.

#8322 Add Metroid Lures
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/pickup_database/text_data.json
  randovania/layout/preset_migration.py
Labels: feature: Database, feature: Configuration, game: AM2R, waiting-next-release

#8332 Hunter - Small DB look over
  randovania/games/prime_hunters/logic_database/Alinos.json
  randovania/games/prime_hunters/logic_database/Alinos.txt
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
  randovania/games/prime_hunters/logic_database/Celestial Archives.json
  randovania/games/prime_hunters/logic_database/Celestial Archives.txt
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.json
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.txt
  randovania/games/prime_hunters/logic_database/header.json
  test/test_files/log_files/prime_hunters/shuffled_force_fields.rdvgame
  test/test_files/log_files/prime_hunters/starter_preset.rdvgame
  test/test_files/log_files/prime_hunters/starting_items_with_nothings.rdvgame
Labels: feature: Database, game: Metroid Prime Hunters

#8341 Echoes: Add Captain as a hash word
  CHANGELOG.md
  randovania/games/prime2/hash_words.py
  test/server/discord/test_preset_lookup.py
Labels: game: Metroid Prime 2 Echoes

#8304 Am2r/rename power beam
  randovania/games/am2r/db_integrity.py
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.json
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.json
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.json
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.json
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
  randovania/games/am2r/pickup_database/model_data.json
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/am2r/pickup_database/text_data.json
  randovania/layout/description_migration.py
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/custom_dna_required/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/am2r/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_2.json
Labels: feature: Database, game: AM2R

#8345 Fusion: Update Preset Item Pool Numbers
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
  test/games/fusion/layout/test_fusion_describer.py
Labels: game: Metroid Fusion

#8349 Fusion: force ripper tower and road to open
  randovania/games/fusion/generator/base_patches_factory.py
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: game: Metroid Fusion

#8351 Fusion: split metroid hint to operations
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/hint_distributor.py
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion

#8363 Fusion: Launcher Adjustments
  pyproject.toml
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/pickup_database/pickup-database.json
  test/test_files/log_files/fusion/starting_items.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Labels: Patcher, game: Metroid Fusion

#8362 Fusion mini map coords
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#8370 bump yams to 2.8.2
  pyproject.toml
  uv.lock
Labels: dependencies, game: AM2R
