Repository randovania/randovania, pull requests merged in 2025-04, with the labels that each got.

#8180 Async Race fixes
  randovania/gui/async_race_room_window.py
  randovania/gui/dialog/async_race_creation_dialog.py
  randovania/gui/dialog/async_race_room_browser_dialog.py
  randovania/gui/ui_files/async_race_creation_dialog.ui
  randovania/network_common/async_race_room.py
  randovania/server/async_race/room_api.py
  randovania/server/database.py
  test/gui/dialog/test_async_race_creation_dialog.py
  test/gui/dialog/test_async_race_room_browser_dialog.py
  test/gui/test_async_race_room_window.py
  test/server/async_race/test_room_api.py
Labels: feature: GUI

#8193 Fusion Change Keycards Order in GUI
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: feature: GUI, game: Metroid Fusion

#8185 Allow Discord login to be completed in more ways
  CHANGELOG.md
  pyproject.toml
  randovania/gui/dialog/login_prompt_dialog.py
  randovania/gui/lib/qt_network_client.py
  randovania/gui/ui_files/login_prompt_dialog.ui
  test/gui/lib/test_qt_network_client.py
  uv.lock
Labels: feature: GUI

#8208 Fusion More Joke Hints
  randovania/games/fusion/exporter/joke_hints.py
Labels: game: Metroid Fusion

#8215 add extra to pickupentry
  randovania/game_connection/connector/cs_remote_connector.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/generator/pickup_pool/pickup_creator.py
  test/conftest.py
Labels: feature: Core

#8212 Better UX for the discord login button
  randovania/gui/dialog/login_prompt_dialog.py
  randovania/gui/ui_files/login_prompt_dialog.ui
Labels: feature: GUI

#8218 Dread: Add Flash Shift as a means to bypass Artaria Water Device
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#8190 Fusion Traning Grounds Video and Clean Up Comments
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#8189 Fusion Cargo Hold Trick Videos
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8216 Fusion Hide Required Main Fixes
  randovania/game_description/pickup/pickup_definition/ammo_pickup.py
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/gui/preset_settings/item_pool_tab.py
Labels: game: Metroid Prime 1, game: Metroid Fusion

#8227 fusion(sector3): Add morph-ball checks in Alcove
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
Labels: feature: Database, game: Metroid Fusion

#8132 Fusion Reservoir West Room Fixes and Videos
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8229 Prime: Fix the Door Lock Rando misc resource being called Dock Rando
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/logic_database/header.json
Labels: feature: Database, game: Metroid Prime 1

#8239 Async Race: Make clearer that proof url is not required when submission notes were given
  CHANGELOG.md
  randovania/gui/dialog/async_race_proof_popup.py
Labels: feature: GUI

#8244 Generator: Avoid automatically collecting dangerous resources
  CHANGELOG.md
  randovania/generator/reach_lib.py
Labels: feature: Generator

#8247 Prime: Fix not always being able to trigger observatory
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
Labels: feature: Database, game: Metroid Prime 1

#8248 Prime: Rename chozo ruins nodes to not have "before" in their name
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
Labels: feature: Database, game: Metroid Prime 1

#8178 Initial Metroid Prime Hunters Support
  pyproject.toml
  pyuic.json
  randovania/game/game_enum.py
  randovania/games/prime_hunters/__init__.py
  randovania/games/prime_hunters/assets/cover.png
  randovania/games/prime_hunters/assets/migration_data.json
  randovania/games/prime_hunters/exporter/__init__.py
  randovania/games/prime_hunters/exporter/game_exporter.py
  randovania/games/prime_hunters/exporter/hint_namer.py
  randovania/games/prime_hunters/exporter/options.py
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  randovania/games/prime_hunters/game_data.py
  randovania/games/prime_hunters/generator/__init__.py
  randovania/games/prime_hunters/generator/base_patches_factory.py
  randovania/games/prime_hunters/generator/bootstrap.py
  randovania/games/prime_hunters/generator/hint_distributor.py
  randovania/games/prime_hunters/generator/pool_creator.py
  randovania/games/prime_hunters/gui/__init__.py
  randovania/games/prime_hunters/gui/dialog/__init__.py
  randovania/games/prime_hunters/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/prime_hunters/gui/dialog/game_export_dialog.py
  randovania/games/prime_hunters/gui/generated/.gitignore
  randovania/games/prime_hunters/gui/generated/__init__.py
  randovania/games/prime_hunters/gui/preset_settings/__init__.py
  randovania/games/prime_hunters/gui/preset_settings/prime_hunters_patches_tab.py
  randovania/games/prime_hunters/gui/prime_hunters_game_tab.py
  randovania/games/prime_hunters/gui/ui_files/.gitignore
  randovania/games/prime_hunters/gui/ui_files/games_tab_prime_hunters_widget.ui
  randovania/games/prime_hunters/gui/ui_files/prime_hunters_cosmetic_patches_dialog.ui
  randovania/games/prime_hunters/hash_words.py
  randovania/games/prime_hunters/layout/__init__.py
  randovania/games/prime_hunters/layout/force_field_configuration.py
  randovania/games/prime_hunters/layout/prime_hunters_configuration.py
  randovania/games/prime_hunters/layout/prime_hunters_cosmetic_patches.py
  randovania/games/prime_hunters/layout/progressive_items.py
  randovania/games/prime_hunters/logic_database/Alinos.json
  randovania/games/prime_hunters/logic_database/Alinos.txt
  randovania/games/prime_hunters/logic_database/Arcterra.json
  randovania/games/prime_hunters/logic_database/Arcterra.txt
  randovania/games/prime_hunters/logic_database/Celestial Archives.json
  randovania/games/prime_hunters/logic_database/Celestial Archives.txt
  randovania/games/prime_hunters/logic_database/Oubliette.json
  randovania/games/prime_hunters/logic_database/Oubliette.txt
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.json
  randovania/games/prime_hunters/logic_database/Vesper Defense Outpost.txt
  randovania/games/prime_hunters/logic_database/header.json
  randovania/games/prime_hunters/logic_database/header.txt
  randovania/games/prime_hunters/pickup_database/pickup-database.json
  randovania/games/prime_hunters/presets/starter_preset.rdvpreset
  test/games/prime_hunters/conftest.py
  test/games/prime_hunters/generator/test_prime_hunters_base_patches_factory.py
  test/games/prime_hunters/generator/test_prime_hunters_bootstrap.py
  test/games/prime_hunters/generator/test_prime_hunters_pool_creator.py
  test/games/prime_hunters/layout/test_force_field_configuration.py
  test/games/test_log_file_export.py
  test/test_files/log_files/prime_hunters/starter_preset.rdvgame
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
Labels: game: Metroid Prime Hunters

#8253 Fix Echoes split migration with dock weaknesses
  randovania/layout/description_migration.py
  test/games/test_log_file_export.py
  test/test_files/log_files/prime2/door_lock_rando.rdvgame
  test/test_files/patcher_data/prime2/prime2/door_lock_rando/world_1.json
Labels: game: Metroid Prime 2 Echoes

#8251 adjust width of data visualizer and area view
  CHANGELOG.md
  randovania/gui/ui_files/data_editor.ui
Labels: feature: GUI

#8246 Generator: Fix not accounting for dangerous resource when evaluating
  CHANGELOG.md
  randovania/generator/filler/retcon.py
  randovania/generator/old_generator_reach.py
  randovania/generator/reach_lib.py
Labels: feature: Generator

#8262 Update Fusion Patcher Version to 0.3.0
  pyproject.toml
  uv.lock
Labels: game: Metroid Fusion

#8264 Fusion: force infants as non-starting
  randovania/games/fusion/pickup_database/pickup-database.json
Labels: game: Metroid Fusion

#8265 Fix CSHintDistributor
  randovania/games/cave_story/generator/hint_distributor.py
  test/conftest.py
  test/games/cave_story/generator/test_cs_hint_distributor.py
Labels: game: Cave Story

#8209 Fix Speed Booster Upgrades being included as hintable items
  CHANGELOG.md
  randovania/games/dread/pickup_database/pickup-database.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/crazy_settings/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
Labels: game: Metroid Dread

#8274 Disallow multiple armor as recipe ingredient
  CHANGELOG.md
  randovania/games/factorio/generator/item_cost.py
  randovania/games/factorio/generator/recipes.py
Labels: bug, game: Factorio
