Repository randovania/randovania, pull requests merged in 2025-09, with the labels that each got.

#8482 Fusion: Fix unable to export game in weird edge case
  CHANGELOG.md
  randovania/games/fusion/gui/dialog/game_export_dialog.py
Labels: game: Metroid Fusion

#8483 Fusion: Show Seed Hash on title screen
  CHANGELOG.md
  randovania/games/fusion/exporter/game_exporter.py
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion

#8467 Reworked CU combat logic
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/Dairon.json
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: feature: Database, game: Metroid Dread

#8346 Dread: Connect back to release X event node after having the event
  CHANGELOG.md
  randovania/games/dread/logic_database/Elun.json
  randovania/games/dread/logic_database/Elun.txt
Labels: feature: Database, game: Metroid Dread

#8479 Fix log analyzer
  CHANGELOG.md
  randovania/cli/__init__.py
  randovania/cli/analyze.py
  randovania/log_analyzer/__init__.py
  randovania/log_analyzer/log_analyzer.py
  tools/bulk_generate_for_discord.py
Labels: feature: Core

#8496 Fusion: More joke hints + typo fix
  CHANGELOG.md
  randovania/games/fusion/exporter/joke_hints.py
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion

#8271 Prime: Various Logic Changes
  CHANGELOG.md
  randovania/games/prime1/logic_database/Chozo Ruins.json
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.json
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.json
  randovania/games/prime1/logic_database/Tallon Overworld.txt
Labels: feature: Database, game: Metroid Prime 1

#8507 MSR: Remove unnecessary before
  randovania/games/samus_returns/logic_database/Surface West.json
  randovania/games/samus_returns/logic_database/Surface West.txt
Labels: feature: Database, game: Metroid: Samus Returns

#8514 Multiworld Session Window GUI adjustments
  CHANGELOG.md
  randovania/gui/generated/game_details_window_ui.py
  randovania/gui/generated/main_window_ui.py
  randovania/gui/generated/multiplayer_session_ui.py
  randovania/gui/multiplayer_session_window.py
  randovania/gui/ui_files/game_details_window.ui
  randovania/gui/ui_files/main_window.ui
  randovania/gui/ui_files/multiplayer_session.ui
  randovania/gui/widgets/multiplayer_session_users_widget.py
  test/gui/test_multiplayer_session_window.py
Labels: feature: GUI

#8520 Status Bar: Increase message length before wrapping
  CHANGELOG.md
  randovania/gui/game_details/game_details_window.py
  randovania/gui/main_window.py
  randovania/gui/multiplayer_session_window.py
Labels: feature: GUI
