Repository randovania/randovania, pull requests merged in 2025-03, with the labels that each got.

#8011 Fusion: Sector 6 videos
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#7947 Change PickupIndexCollected to be emitted as soon as possible.
  randovania/game_connection/connector/prime_remote_connector.py
  test/game_connection/connector/test_echoes_remote_connector.py
  test/game_connection/connector/test_prime1_remote_connector.py
Labels: feature: Multiworld

#7977 Fusion: add exporter
  pyproject.toml
  randovania/games/fusion/exporter/game_exporter.py
  randovania/games/fusion/exporter/patch_data_factory.py
  requirements.txt
  test/games/fusion/exporter/test_fusion_game_exporter.py
Labels: game: Metroid Fusion

#8013 move fusion to staging
  randovania/games/fusion/game_data.py
Labels: game: Metroid Fusion

#8014 Fusion: more s5 videos
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#8020 Move select_weighted_action to random_lib
  randovania/generator/dock_weakness_distributor.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/weighted_locations.py
  randovania/lib/random_lib.py
  test/generator/filler/test_retcon.py
  test/lib/test_random_lib.py
Labels: enhancement, feature: Core

#7948 Only track object count for Echoes if the debug tracker is enabled
  randovania/data/gui_assets/tracker/prime2-debug.json
  randovania/game_connection/connector/echoes_remote_connector.py
  randovania/game_connection/connector/remote_connector.py
  randovania/gui/auto_tracker_window.py
  test/game_connection/connector/test_echoes_remote_connector.py
Labels: enhancement, game: Metroid Prime 2 Echoes, feature: GUI, feature: Core

#8008 Echoes: nsj sa logic adjustments
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
Labels: game: Metroid Prime 2 Echoes

#8030 place hints with no valid targets at the end instead of the start
  randovania/generator/hint_distributor.py
Labels: feature: Generator

#8033 add test for hint node order
  randovania/generator/hint_distributor.py
  test/generator/test_hint_distributor.py
Labels: feature: Generator

#8038 prevent translators from hinting themselves in echoes
  CHANGELOG.md
  randovania/games/am2r/generator/hint_distributor.py
  randovania/games/dread/generator/hint_distributor.py
  randovania/games/prime1/hint_distributor.py
  randovania/games/prime2/generator/hint_distributor.py
  randovania/games/samus_returns/generator/hint_distributor.py
  randovania/generator/hint_distributor.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/generator/filler/test_runner.py
Labels: game: Metroid Prime 2 Echoes, feature: Hints

#8039 increase DLR attempts for echoes
  CHANGELOG.md
  randovania/games/prime2/logic_database/header.json
  randovania/generator/dock_weakness_distributor.py
Labels: game: Metroid Prime 2 Echoes, feature: Generator

#8036 refactors for hints
  randovania/games/blank/exporter/hint_namer.py
  randovania/games/blank/exporter/patch_data_factory.py
  randovania/games/blank/game_data.py
  randovania/games/blank/generator/__init__.py
  randovania/games/blank/generator/hint_distributor.py
  randovania/games/cave_story/generator/hint_distributor.py
  randovania/games/prime2/generator/hint_distributor.py
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/player_state.py
  randovania/generator/filler/retcon.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  randovania/generator/hint_state.py
  test/generator/test_generator.py
  test/interface_common/test_generator_frontend.py
Labels: feature: Hints

#8040 Sector 2 Security Room Logic update`
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#8037 Adjust hint priorities
  CHANGELOG.md
  randovania/games/prime2/gui/ui_files/games_tab_echoes_widget.ui
  randovania/generator/filler/filler_configuration.py
  randovania/generator/filler/runner.py
  randovania/generator/generator.py
  randovania/generator/hint_distributor.py
  test/generator/filler/test_runner.py
  test/generator/test_generator.py
  test/interface_common/test_generator_frontend.py
Labels: feature: Hints

#8048 skip resolving in DLR for impossible to reach doors
  CHANGELOG.md
  randovania/generator/dock_weakness_distributor.py
Labels: feature: Generator

#8050 Resolver: Fix considering action safe when it worsens damage state
  CHANGELOG.md
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
Labels: feature: Generator

#8017 in individual DLR, use the resolver for hint placement
  CHANGELOG.md
  randovania/generator/hint_distributor.py
  randovania/layout/base/base_configuration.py
  randovania/layout/preset_migration.py
  randovania/resolver/hint_state.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  randovania/resolver/resolver_reach.py
  randovania/resolver/state.py
  test/layout/test_echoes_configuration.py
  test/layout/test_generator_parameters.py
Labels: feature: Generator, feature: Hints

#8051 Polishing UI/UX for Factorio
  pyproject.toml
  randovania/games/factorio/exporter/game_exporter.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/game_data.py
  randovania/games/factorio/layout/factorio_preset_describer.py
  randovania/gui/preset_settings/location_pool_tab.py
  requirements.txt
  test/games/factorio/exporter/test_factorio_game_exporter.py
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
Labels: enhancement, game: Factorio

#8054 fix benchmark job failing on merge queue
  .github/workflows/build-test-publish.yml
Labels: bug

#8034 Create new enum for starting items
  CHANGELOG.md
  randovania/game_description/pickup/pickup_definition/standard_pickup.py
  randovania/game_description/pickup/pickup_entry.py
  randovania/game_description/pickup/pickup_migration.py
  randovania/games/am2r/pickup_database/pickup-database.json
  randovania/games/blank/pickup_database/pickup-database.json
  randovania/games/cave_story/pickup_database/pickup-database.json
  randovania/games/dread/pickup_database/pickup-database.json
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/planets_zebeth/pickup_database/pickup-database.json
  randovania/games/prime1/pickup_database/pickup-database.json
  randovania/games/prime2/pickup_database/pickup-database.json
  randovania/games/samus_returns/pickup_database/pickup-database.json
  randovania/generator/filler/retcon.py
  randovania/generator/pickup_pool/pickup_creator.py
  randovania/gui/preset_settings/standard_pickup_widget.py
  randovania/layout/base/standard_pickup_state.py
  randovania/network_common/pickup_serializer.py
  test/games/prime2/generator/test_echoes_hint_distributor.py
  test/generator/filler/test_retcon.py
  test/generator/pickup_pool/test_pickup_creator.py
  test/gui/dialog/test_item_configuration_popup.py
  test/layout/test_standard_pickup_state.py
  test/network_client/test_network_client.py
  test/server/multiplayer/test_world_api.py
Labels: feature: Core

#8060 Update factorio-randovania-mod to 0.7.2
  pyproject.toml
  requirements.txt
  test/games/factorio/exporter/test_factorio_game_exporter.py
Labels: game: Factorio

#8059 Rename Hypermode to Ludicrous
  CHANGELOG.md
  docs/Database Format.md
  randovania/games/am2r/logic_database/Distribution Center.json
  randovania/games/am2r/logic_database/Distribution Center.txt
  randovania/games/am2r/logic_database/GFS Thoth.txt
  randovania/games/am2r/logic_database/Genetics Laboratory.txt
  randovania/games/am2r/logic_database/Golden Temple.txt
  randovania/games/am2r/logic_database/Hydro Station.txt
  randovania/games/am2r/logic_database/Industrial Complex.json
  randovania/games/am2r/logic_database/Industrial Complex.txt
  randovania/games/am2r/logic_database/Main Caves.json
  randovania/games/am2r/logic_database/Main Caves.txt
  randovania/games/am2r/logic_database/The Depths.txt
  randovania/games/am2r/logic_database/The Tower.txt
  randovania/games/am2r/logic_database/header.txt
  randovania/games/cave_story/logic_database/Grasstown.txt
  randovania/games/cave_story/logic_database/Plantation.txt
  randovania/games/cave_story/logic_database/Sand Zone.txt
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Dairon.txt
  randovania/games/dread/logic_database/Ferenia.txt
  randovania/games/dread/logic_database/Itorash.txt
  randovania/games/dread/logic_database/header.txt
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/prime1/logic_database/Chozo Ruins.txt
  randovania/games/prime1/logic_database/Frigate Orpheon.txt
  randovania/games/prime1/logic_database/Impact Crater.txt
  randovania/games/prime1/logic_database/Magmoor Caverns.txt
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/Phendrana Drifts.txt
  randovania/games/prime1/logic_database/Tallon Overworld.txt
  randovania/games/prime1/presets/april_fools_2022.rdvpreset
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Great Temple.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
  randovania/games/samus_returns/logic_database/Area 1.txt
  randovania/games/samus_returns/logic_database/Area 4 Central Caves.txt
  randovania/games/samus_returns/logic_database/Area 5 Tower Lobby.txt
  randovania/games/samus_returns/logic_database/Area 6.txt
  randovania/games/samus_returns/logic_database/Surface West.txt
  randovania/games/samus_returns/logic_database/header.txt
  randovania/interface_common/generator_frontend.py
  randovania/layout/base/trick_level.py
  randovania/layout/preset_migration.py
  test/games/cave_story/generator/test_cs_bootstrap.py
  test/games/dread/layout/test_dread_configuration.py
  test/gui/docks/test_connection_layer_widget.py
  test/layout/test_trick_level_configuration.py
  test/test_files/prime2_small.json
  test/test_files/prime2_small_v1.json
Labels: feature: Configuration

#8069 migrate impossible starting items
  randovania/layout/preset_migration.py
Labels: feature: Configuration

#8029 Logic Updates based on beta discoveries
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion

#8076 Give the playthrough tab a long-overdue makeover
  CHANGELOG.md
  pyproject.toml
  randovania/cli/commands/validate.py
  randovania/gui/game_details/game_details_window.py
  randovania/gui/ui_files/game_validator_widget.ui
  randovania/gui/widgets/game_validator_widget.py
  randovania/resolver/debug.py
  randovania/resolver/logic.py
  randovania/resolver/resolver.py
  test/gui/widgets/test_game_validator_widget.py
Labels: feature: GUI

#8081 only include collectable resource nodes in UncollectedState unsafe
  randovania/generator/filler/filler_library.py
Labels: feature: Generator

#8087 put fusion's SA weight in the pickup database instead of the preset
  randovania/games/fusion/pickup_database/pickup-database.json
  randovania/games/fusion/presets/starter_preset.rdvpreset
Labels: game: Metroid Fusion

#8094 sort DLR lists better in the preset tab
  CHANGELOG.md
  randovania/gui/preset_settings/dock_rando_tab.py
Labels: feature: GUI

#8096 Generic PatchDataFactory
  randovania/cli/commands/decribe_layout.py
  randovania/cli/commands/patcher_data.py
  randovania/cli/commands/validate.py
  randovania/exporter/patch_data_factory.py
  randovania/games/am2r/exporter/patch_data_factory.py
  randovania/games/blank/exporter/patch_data_factory.py
  randovania/games/cave_story/exporter/patch_data_factory.py
  randovania/games/dread/exporter/patch_data_factory.py
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/planets_zebeth/exporter/patch_data_factory.py
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime2/exporter/patch_data_factory.py
  randovania/games/samus_returns/exporter/patch_data_factory.py
  randovania/gui/widgets/game_validator_widget.py
  randovania/layout/layout_description.py
  test/games/dread/exporter/test_dread_patch_data_factory.py
  test/games/prime2/exporter/test_echoes_patch_data_factory.py
  test/games/prime2/patcher/test_patch_data_generator.py
  test/interface_common/test_generator_frontend.py
Labels: enhancement

#8088 Factorio improvements
  pyproject.toml
  randovania/games/factorio/assets/recipes-raw.json
  randovania/games/factorio/assets/techs-raw.json
  randovania/games/factorio/exporter/patch_data_factory.py
  randovania/games/factorio/generator/base_patches_factory.py
  randovania/games/factorio/gui/preset_settings/factorio_patches_tab.py
  randovania/games/factorio/gui/ui_files/games_tab_factorio_widget.ui
  randovania/games/factorio/gui/ui_files/preset_factorio_patches.ui
  randovania/games/factorio/importer_util.py
  randovania/games/factorio/layout/factorio_configuration.py
  randovania/games/factorio/layout/factorio_preset_describer.py
  randovania/games/factorio/logic_database/header.json
  randovania/games/factorio/pickup_database/pickup-database.json
  randovania/games/factorio/presets/starter_preset.rdvpreset
  requirements.txt
  test/test_files/log_files/factorio/starter_preset.rdvgame
  test/test_files/patcher_data/factorio/factorio/starter_preset/world_1.json
  tools/factorio/create_nodes.py
  tools/factorio/create_resources.py
Labels: enhancement, game: Factorio

#8098 Fusion Oasis Videos and Trick Updates
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#8093 split connections in geron's crossing
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#8067 Metroid Fusion - S4 - Powamp Playhouse videos updated
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8057 fusion: update underwater walljump logic in sector 4
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8103 Don't use typing extensions
  randovania/gui/main_online_interaction.py
  randovania/network_common/game_details.py
Labels: bug

#8105 add integrity checks for hint stuff
  randovania/game_description/integrity_check.py
  test/game_description/test_integrity_check.py
Labels: feature: Hints

#8106 Run mypy in entire Fusion, delay mars_patcher import
  pyproject.toml
  randovania/games/fusion/exporter/game_exporter.py
  randovania/games/fusion/exporter/patch_data_factory.py
  test/games/fusion/exporter/test_fusion_game_exporter.py
Labels: game: Metroid Fusion

#8083 Fusion: basic hints and hint features
  randovania/games/fusion/exporter/joke_hints.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/generator/hint_distributor.py
  randovania/games/fusion/gui/ui_files/games_tab_fusion_widget.ui
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 1 SRX.txt
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  randovania/games/fusion/logic_database/header.json
  randovania/games/fusion/pickup_database/pickup-database.json
  test/games/fusion/generator/test_fusion_hint_distributor.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion, feature: Hints

#8119 Dread: Increase difficulty of getting past fans with cross bombs
  CHANGELOG.md
  randovania/games/dread/logic_database/Elun.json
  randovania/games/dread/logic_database/Elun.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#8116 Echoes: Add missing features
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
Labels: game: Metroid Prime 2 Echoes, feature: Hints

#8121 fusion(sector6): Add alternate room id for Clogged Cavern
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#8123 Fusion Zazabi Speedway Trick Videos
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#8092 Fusion Updated Videos and Trick Logic for Reservoir Vault
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
Labels: feature: Database, game: Metroid Fusion

#8124 bump mars-patcher to 0.2.0
  pyproject.toml
  requirements.txt
Labels: game: Metroid Fusion

#8131 Show which user is unauthorized when trying to login
  randovania/network_common/error.py
  randovania/server/user_session.py
  test/gui/lib/test_multiplayer_session_api.py
  test/server/test_user_session.py
Labels: feature: Server

#8137 fix hint requirements in fusion
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Sector 1 SRX.json
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.json
Labels: game: Metroid Fusion, feature: Hints

#8138 Fusion: remove unused event nodes on security rooms
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 3 PYR.json
  randovania/games/fusion/logic_database/Sector 3 PYR.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
  randovania/games/fusion/logic_database/header.json
Labels: game: Metroid Fusion

#8117 Fusion Puyo Palace Trick and Video Updates
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
Labels: feature: Database, game: Metroid Fusion

#8152 add Flying Ing Cache hint feature
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/Temple Grounds.json
  randovania/games/prime2/logic_database/Temple Grounds.txt
  randovania/games/prime2/logic_database/Torvus Bog.json
  randovania/games/prime2/logic_database/Torvus Bog.txt
  randovania/games/prime2/logic_database/header.json
Labels: game: Metroid Prime 2 Echoes, feature: Hints

#8161 Dread: Add video showing Cross Bomb tech to get past the fans
  CHANGELOG.md
  randovania/games/dread/logic_database/Elun.json
  randovania/games/dread/logic_database/Elun.txt
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#8166 Resolver: Fix unmet damage requirement chain disregarded as additional
  CHANGELOG.md
  randovania/game_description/requirements/base.py
  randovania/game_description/requirements/node_requirement.py
  randovania/game_description/requirements/requirement_and.py
  randovania/game_description/requirements/requirement_or.py
  randovania/game_description/requirements/requirement_template.py
  randovania/game_description/requirements/resource_requirement.py
  randovania/resolver/resolver_reach.py
Labels: feature: Generator

#8177 Mark Factorio as a stable game.
  CHANGELOG.md
  randovania/games/factorio/game_data.py
Labels: game: Factorio

#8181 Fix dangerous settings being considered experimental setting
  randovania/gui/preset_settings/generation_tab.py
Labels: feature: GUI

#8182 Fix misplaced Echoes changelog entry
  CHANGELOG.md
Labels: documentation

#8170 Dread: Make Chain Reaction End event no longer dangerous
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#8058 Dread: Add Health requirements to Robot fights
  CHANGELOG.md
  randovania/games/dread/logic_database/header.json
  randovania/games/dread/logic_database/header.txt
Labels: feature: Database, game: Metroid Dread

#8068 Dread/make releasing x less dangerous
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#8130 Dread/test vanilla seed
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  test/resolver/test_resolver.py
  test/test_files/log_files/dread/vanilla.rdvgame
Labels: feature: Database, game: Metroid Dread

#8118 Dread: Arbitrary Enky Room simplifications
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#8187 Dread: Fix refering to wrong node in changelog entry
  CHANGELOG.md
Labels: game: Metroid Dread, documentation

#8154 Fusion Transmutation Trial Trick and Video Updates
  randovania/games/fusion/logic_database/Sector 5 ARC.json
  randovania/games/fusion/logic_database/Sector 5 ARC.txt
Labels: feature: Database, game: Metroid Fusion
