Repository randovania/randovania, pull requests merged in 2025-07, with the labels that each got.

#8372 Hunters - Add configuration_id to PDF
  randovania/games/prime_hunters/exporter/patch_data_factory.py
  test/test_files/patcher_data/prime_hunters/prime_hunters/shuffled_force_fields/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starter_preset/world_1.json
  test/test_files/patcher_data/prime_hunters/prime_hunters/starting_items_with_nothings/world_1.json
Labels: game: Metroid Prime Hunters

#8374 Fusion: even more joke hints
  randovania/games/fusion/exporter/joke_hints.py
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion

#8390 Fusion: fix exporting of nothings
  randovania/games/fusion/exporter/patch_data_factory.py
Labels: game: Metroid Fusion

#8377 Refactor TeleporterConfiguration
  randovania/games/am2r/layout/am2r_configuration.py
  randovania/games/am2r/layout/am2r_teleporters.py
  randovania/games/common/prime_family/layout/lib/prime_trilogy_teleporters.py
  randovania/games/dread/layout/dread_configuration.py
  randovania/games/dread/layout/dread_teleporters.py
  randovania/games/samus_returns/layout/msr_configuration.py
  randovania/games/samus_returns/layout/msr_teleporters.py
  randovania/layout/lib/teleporters.py
  test/layout/test_teleporters.py
Labels: game: Metroid Prime 1, game: Metroid Prime 2 Echoes, game: Metroid Dread, feature: Core, game: Metroid: Samus Returns, game: AM2R

#8394 Fusion Split Hints Operations having Bosses and Restricted having remaining
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion, feature: Hints

#8395 Fusion update mars patcher
  pyproject.toml
  uv.lock
Labels: Patcher, game: Metroid Fusion

#8358 Echoes: add instant morph to transport center
  CHANGELOG.md
  randovania/games/prime2/logic_database/Agon Wastes.json
  randovania/games/prime2/logic_database/Agon Wastes.txt
Labels: feature: Database, game: Metroid Prime 2 Echoes

#8402 MSR: add 10 more joke hints
  CHANGELOG.md
  randovania/games/samus_returns/exporter/joke_hints.py
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_7.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/non_required_mains/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid: Samus Returns

#8406 MW Session: rename "generate without spoiler" to "for race"
  CHANGELOG.md
  randovania/gui/multiplayer_session_window.py
Labels: feature: GUI

#8410 Fusion Fix Double Period on BSL starting text
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
Labels: game: Metroid Fusion

#8411 Fusion adjust vanilla preset description
  randovania/games/fusion/presets/vanilla_start.rdvpreset
Labels: game: Metroid Fusion

#8403 Fusion Hue Shift Override Cosmetic Option
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/gui/dialog/cosmetic_patches_dialog.py
  randovania/games/fusion/gui/ui_files/fusion_cosmetic_patches_dialog.ui
  randovania/games/fusion/layout/fusion_cosmetic_patches.py
  test/games/fusion/gui/test_fusion_cosmetic_patches_dialog.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: feature: GUI, game: Metroid Fusion

#8413 fusion: change hint settings
  randovania/games/fusion/presets/open_sector_hub.rdvpreset
  randovania/games/fusion/presets/vanilla_start.rdvpreset
Labels: game: Metroid Fusion

#8417 fusion: mark as stable
  CHANGELOG.md
  randovania/games/fusion/game_data.py
Labels: game: Metroid Fusion
