Repository randovania/randovania, pull requests merged in 2025-08, with the labels that each got.

#8427 Hotfix/one way anywhere
  CHANGELOG.md
  randovania/games/common/prime_family/layout/lib/prime_trilogy_teleporters.py
  test/layout/test_teleporters.py
Labels: feature: Core

#8432 Fusion: fix video on website
  CHANGELOG.md
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/header.json
Labels: feature: Database, game: Metroid Fusion

#8282 Dread: Small logic changes in Ghavoran Flipper Room
  CHANGELOG.md
  randovania/games/dread/logic_database/Ghavoran.json
  randovania/games/dread/logic_database/Ghavoran.txt
Labels: feature: Database, game: Metroid Dread

#8364 AM2R: Fix logic error in regards to opening doors
  randovania/games/am2r/logic_database/header.json
  randovania/games/am2r/logic_database/header.txt
Labels: feature: Database, game: AM2R

#8442 AM2R: Fix joke hints not always being surroudned in asterisk
  CHANGELOG.md
  randovania/games/am2r/exporter/joke_hints.py
  randovania/games/am2r/exporter/patch_data_factory.py
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/progressive_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/starter_preset/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/am2r/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_2.json
Labels: game: AM2R

#8458 Fusion: Small knowledge adjustments in S6 and MD
  CHANGELOG.md
  randovania/games/fusion/logic_database/Main Deck.json
  randovania/games/fusion/logic_database/Main Deck.txt
  randovania/games/fusion/logic_database/Sector 6 NOC.json
  randovania/games/fusion/logic_database/Sector 6 NOC.txt
Labels: feature: Database, game: Metroid Fusion

#8453 Space_Jump_Room_Logic_Update
  CHANGELOG.md
  randovania/games/dread/logic_database/Ferenia.json
  randovania/games/dread/logic_database/Ferenia.txt
Labels: feature: Database, game: Metroid Dread

#8454 Add more joke hints
  CHANGELOG.md
  randovania/exporter/hints/joke_hints.py
  randovania/games/am2r/exporter/joke_hints.py
  randovania/games/fusion/exporter/joke_hints.py
  randovania/games/prime2/exporter/joke_hints.py
  test/test_files/patcher_data/am2r/am2r/chaos_options/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock/world_1.json
  test/test_files/patcher_data/am2r/am2r/door_lock_open/world_1.json
  test/test_files/patcher_data/am2r/am2r/starting_items/world_1.json
  test/test_files/patcher_data/am2r/am2r/transport_pipe_shuffle/world_1.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2+msr/world_6.json
  test/test_files/patcher_data/am2r/multi-am2r+cs+dread+prime1+prime2/world_1.json
  test/test_files/patcher_data/am2r/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_2.json
  test/test_files/patcher_data/dread/dread/all_settings/world_1.json
  test/test_files/patcher_data/dread/dread/hide_all_with_nothing/world_1.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2+msr/world_4.json
  test/test_files/patcher_data/dread/multi-am2r+cs+dread+prime1+prime2/world_4.json
  test/test_files/patcher_data/dread/multi-cs+dread+prime1+prime2/world_8.json
  test/test_files/patcher_data/dread/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_4.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  test/test_files/patcher_data/prime2/cs_echoes_multi_1/world_2.json
  test/test_files/patcher_data/prime2/multi-am2r+cs+dread+prime1+prime2+msr/world_2.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_3.json
  test/test_files/patcher_data/prime2/multi-cs+dread+prime1+prime2/world_7.json
  test/test_files/patcher_data/prime2/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_6.json
  test/test_files/patcher_data/prime2/prime1_and_2_multi/world_2.json
  test/test_files/patcher_data/prime2/prime2/door_lock_rando/world_1.json
  test/test_files/patcher_data/prime2/prime2/starts_with_cannon_ball/world_1.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_new_patcher.json
  test/test_files/patcher_data/prime2/prime2_no_pbs_old_patcher.json
  test/test_files/patcher_data/prime2/seed_a_new_patcher.json
  test/test_files/patcher_data/prime2/seed_a_old_patcher.json
  test/test_files/patcher_data/samus_returns/multi-am2r+cs+dread+prime1+prime2+msr/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/arachnus_boss_start_inventory/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/diggernaut_boss_free_placement_dna/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/door_lock_access_open/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/non_required_mains/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/progressive_beams_and_suits/world_1.json
  test/test_files/patcher_data/samus_returns/samus_returns/starter_preset/world_1.json
Labels: game: Metroid Prime 2 Echoes, game: AM2R, game: Metroid Fusion

#8465 Dread: Fix oversight with ledge warping out of diffusion beam room
  CHANGELOG.md
  randovania/games/dread/logic_database/Cataris.json
  randovania/games/dread/logic_database/Cataris.txt
  randovania/games/dread/logic_database/header.json
Labels: feature: Database, game: Metroid Dread

#8473 Fusion: Bump to mars_patcher 0.7.0 (anti-softlock + title screen text)
  CHANGELOG.md
  pyproject.toml
  randovania/games/fusion/exporter/game_exporter.py
  randovania/games/fusion/exporter/patch_data_factory.py
  randovania/games/fusion/gui/generated/preset_fusion_patches_ui.py
  randovania/games/fusion/gui/preset_settings/fusion_patches_tab.py
  randovania/games/fusion/gui/ui_files/preset_fusion_patches.ui
  randovania/games/fusion/layout/fusion_configuration.py
  randovania/games/fusion/logic_database/Sector 2 TRO.json
  randovania/games/fusion/logic_database/Sector 2 TRO.txt
  randovania/games/fusion/logic_database/Sector 4 AQA.json
  randovania/games/fusion/logic_database/Sector 4 AQA.txt
  randovania/layout/preset_migration.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
  uv.lock
Labels: feature: Database, feature: Configuration, feature: GUI, game: Metroid Fusion

#8478 Fusion: Fix hide-with-random on nothings
  CHANGELOG.md
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/log_files/fusion/all_hidden_with_random.rdvgame
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion
