Repository randovania/randovania, pull requests merged in 2025-10, with the labels that each got.

#8549 Fusion: optimize blank line in credits
  randovania/games/fusion/exporter/patch_data_factory.py
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_nothing/world_1.json
  test/test_files/patcher_data/fusion/fusion/all_hidden_with_random/world_1.json
  test/test_files/patcher_data/fusion/fusion/short_intro/world_1.json
  test/test_files/patcher_data/fusion/fusion/starter_preset/world_1.json
  test/test_files/patcher_data/fusion/fusion/starting_items/world_1.json
Labels: game: Metroid Fusion

#8561 AM2R: rename tester node
  randovania/games/am2r/logic_database/The Tower.json
  randovania/games/am2r/logic_database/The Tower.txt
Labels: feature: Database, game: AM2R

#8566 Prime: fix MQA logic for barrier
  CHANGELOG.md
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
Labels: feature: Database, game: Metroid Prime 1

#8564 GUI: Clean up how Specific Pickup Hints are displayed
  CHANGELOG.md
  randovania/games/am2r/game_data.py
  randovania/games/fusion/game_data.py
  randovania/games/prime1/game_data.py
  randovania/games/prime2/game_data.py
  randovania/games/samus_returns/game_data.py
  randovania/gui/generated/preset_hints_ui.py
  randovania/gui/preset_settings/hints_tab.py
  randovania/gui/ui_files/preset_hints.ui
  randovania/layout/preset_describer.py
  test/games/am2r/layout/test_am2r_describer.py
  test/games/prime1/layout/test_preset_describer.py
  test/games/prime2/layout/test_echoes_preset_describer.py
  test/games/samus_returns/layout/test_msr_describer.py
  test/gui/preset_settings/test_hints_tab.py
Labels: feature: GUI

#8569 Add explicit categories for Trivial/Impossible in the ConnectionsEditor
  randovania/gui/dialog/connections_editor.py
Labels: enhancement, feature: GUI

#8567 Sanc Entrance: Turret now required being able to reload the room
  CHANGELOG.md
  randovania/games/prime2/logic_database/Sanctuary Fortress.json
  randovania/games/prime2/logic_database/Sanctuary Fortress.txt
  randovania/games/prime2/logic_database/header.json
Labels: bug, feature: Database, game: Metroid Prime 2 Echoes

#8573 Supply obfuscator secret via env var for the discord bot
  .github/workflows/build-test-publish.yml
  randovania/lib/obfuscator.py
  test/lib/test_obfuscator.py
  tools/deploy_server.py
  tools/server-docker/docker-compose.yml
Labels: enhancement, feature: Core

#8559 Dread: Add missing rotatable requirement on Screw Attack Room Spark
  CHANGELOG.md
  randovania/games/dread/logic_database/Artaria.json
  randovania/games/dread/logic_database/Artaria.txt
Labels: feature: Database, game: Metroid Dread

#8578 Prime: Move Elite Pirate in Dynamo Access to first pass
  CHANGELOG.md
  randovania/games/prime1/exporter/patch_data_factory.py
  randovania/games/prime1/logic_database/Phazon Mines.json
  randovania/games/prime1/logic_database/Phazon Mines.txt
  randovania/games/prime1/logic_database/header.json
  randovania/games/prime1/logic_database/header.txt
  test/test_files/patcher_data/prime1/dread_prime1_multiworld/world_2.json
  test/test_files/patcher_data/prime1/multi-am2r+cs+dread+prime1+prime2+msr/world_3.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_2.json
  test/test_files/patcher_data/prime1/multi-cs+dread+prime1+prime2/world_6.json
  test/test_files/patcher_data/prime1/multi_coop_am2r+bdg+cs+dread+prime1+echoes+msr/world_5.json
  test/test_files/patcher_data/prime1/prime1_and_2_multi/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed/world_1.json
  test/test_files/patcher_data/prime1/prime1_crazy_seed_one_way_door/world_1.json
  test/test_files/patcher_data/prime1/prime1_refills/world_1.json
Labels: feature: Database, game: Metroid Prime 1

#8584 Give the server's web API a facelift
  randovania/server/database.py
  randovania/server/multiplayer/web_api.py
  randovania/server/server_app.py
  randovania/server/static/favicon.ico
  randovania/server/static/style.css
  randovania/server/templates/basic_page.html.jinja
  randovania/server/templates/errors/http_error.html.jinja
  randovania/server/templates/errors/validation_error.html.jinja
  randovania/server/templates/layout.html.jinja
  randovania/server/templates/return_to_randovania.html
  randovania/server/templates/unable_to_login.html
  randovania/server/templates/user_session/me.html.jinja
  randovania/server/templates/user_session/return_to_randovania.html.jinja
  randovania/server/templates/user_session/token_created.html.jinja
  randovania/server/templates/user_session/unable_to_login.html.jinja
  randovania/server/templates/web_api/delete_session.html.jinja
  randovania/server/templates/web_api/session.html.jinja
  randovania/server/templates/web_api/session_list.html.jinja
  randovania/server/user_session.py
  test/server/multiplayer/test_web_api.py
  test/server/test_user_session.py
Labels: feature: Server
